<div class="cover-table cover-user site-shop-sidebar">
  <div class="cover-row">
    <div class="cover-img" backstretch="{src:'shop.photo.fg',load:'http://placehold.it/400x300&text=la boutique'}"></div>

    <!-- FOR ADMIN -->
    <div class="cover-actions-top" ng-show="user.isOwner(shop.name)" fade-on-hover=".site-shop-sidebar" >
        <input slide-on-click="#shop-edit" type="button"  value="Editer votre boutique" class=" btn btn-large btn-primary btn-block " />
        <a ng-show="shop.status!=true"  class="btn btn-primary btn-large btn-block {{waitingStatus() && 'disabled'}}" ng-click="publish()">Demander la publication de votre boutique</a>

    </div>

  </div>
  <div class="cover-row">
    <div class="cover-body">
      <div class="cover-body-inner">
        <span class="cover-avatar">
          <span><img src="{{shop.photo.owner | placehold:'160x160&text=l`équipe'}}"  ></span>
        </span>
        <h1 class="cover-title">{{shop.name}}</h1>
        <p class="cover-description" ng-bind-html-unsafe="shop.description"></p>
        <p class="text-center ">
          {{shop.location}} - <a ng-show="shop.url"  href="{{shop.url}}" >{{shop.url}}</a>
        </p>

        <div class="cover-actions" >
        </div>

      </div>
    </div>
  </div>
</div>



