<div class="cover-table cover-user cover-shop site-shop-sidebar">
  <div class="cover-row">
    <div class="cover-img" backstretch="{src:'shop.photo.fg',load:'http://placehold.it/400x300&text=la boutique'}">
    
    </div>

    <!-- MESSAGES -->
    <div class="shop-info-bar active success " ng-cloak 
         ng-show="shop.info.active">
      <p ng-bind="shop.info.comment"></p>
    </div>


    <div class="shop-info-bar active warning " ng-cloak 
         ng-show="shop.available.active">
      <p ng-bind="shop.available.comment" >        </p>
    </div>


    <!-- FOR ADMIN -->
    <div class="cover-actions-top" ng-show="user.isOwnerOrAdmin(shop.name)" fade-on-hover=".site-shop-sidebar" >
        <a href="/shop/{{shop.urlpath}}/products/create" ng-disabled="WaitText" class="btn btn-lg btn-primary btn-block ">Ajouter un produit</a>
        <a href="/shop/{{shop.urlpath}}/edit" class=" btn btn-lg btn-primary btn-block ">Editer votre boutique</a>
        <a href="/admin/orders" class=" btn btn-lg btn-primary btn-block ">Votre dashboard</a>
    </div>
    <div class="cover-actions-top" style="margin-top:-50px;">
        <a ng-show="shop.status!=true" ng-disabled="WaitText" class="btn btn-primary btn-lg btn-block {{waitingStatus() && 'disabled'}}" ng-click="publish()">Demander la publication de votre boutique</a>
    </div>



  </div>
  <div class="cover-row shop">
    <div class="cover-body ">
      <div class="cover-body-inner">
        <span class="cover-avatar">
          <span><img ng-src="{{shop.photo.owner | placehold:'160x160&text=l`équipe'}}"  ></span>
        </span>
        <h1 class="black cover-title">{{shop.name}}</h1>
        <p class="cover-description" ng-bind="shop.description"></p>

      </div>
    </div>
  </div>
</div>



