
<div tabindex="-1"  id="null" class="screen-content" ng-controller="ShopCtrl">
  

  <aside ng-include="getCover()" 
         class="cover cover-home img-loaded" ng-class="{'session':user.isAuthenticated()}">
  </aside>

<!--   <aside ng-include="'/partials/shop/cover.html'" class="cover cover-home img-loaded" >
  </aside>
 -->
   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">

        <!--                      -->
        <!-- EDITION              -->
        <!--                      -->



          <div>
            <form class="karibou" novalidate>
            <!-- <div class="modal-header">
              <h3 class="gray">Editer votre boutique</h3>
            </div> -->
            <div class="" style="margin-top:50px;">
              <div data-fade="1" bs-tabs>
                <div data-title="Information">

                    <div class="form-background clearfix">
                      <h4 class="article-group-title text-center">{{category.find({_id:shop.catalog}).name}} </h4> 
                      <p class="text-center">{{shop.name }}</p>
                      <!-- Description -->
                      <div class="form-group clearfix">
                        <label class="control-label">Description (max 300 caractères)</label>
                        <div class="">                     
                          <textarea name="description" required rows="4" ng-model="shop.description"  class="form-control" placeholder="Votre boutique..." >{{shop.description }}</textarea>
                        </div>
                        <p ng-show="form.description.$invalid && !form.description.$pristine" class="help-block">La description est obligatoire.</p>                        
                      </div>

                     <!-- URL -->
                      <div class="form-group clearfix">
                        <label class="control-label">Votre boutique sur Internet</label>
                        <div class="">
                          <input type="url" class="form-control input-lg" ng-model="shop.url"  placeholder="Votre site internet"/>                        
                          <p class="help-block">L'adresse Internet de votre boutique.</p>
                        </div>
                      </div>
                   
                      <hr/>
                     <!-- Photos -->
                      <div class="form-group clearfix ">
                          <label class="control-label">Photos de votre boutique</label>
                          <div class="">

                            <uploadcare-widget
                              ng-model="shop.photo.fg"
                              data-locale="fr"
                              data-tabs="file url facebook flickr"
                              data-images-only="true"
                              data-path-value="true"
                              data-preview-step="true"
                              data-clearable="true"
                              data-multiple="false"
                              data-crop="free"
                              data-max-size-hide="153600"
                              data-on-upload-error="uploadImageError(error)"
                              value="{{shop.photo.fg}}"
                             ></uploadcare-widget>

<!--                             <button type="input" class="btn btn-primary btn-lg btn-block" ng-click="uploadFgPhoto(shop)">photo de la boutique</button>
 -->                            <img ng-src="{{shop.photo.fg| placehold:'160x160&text=la boutique'}}" class="img-rounded shop">

                          </div>
                          <hr/>

                          <label class="control-label">Photos de l'équipe</label>
                          <div class="">
                            <uploadcare-widget
                              ng-model="shop.photo.owner"
                              data-locale="fr"
                              data-tabs="file url facebook flickr"
                              data-images-only="true"
                              data-path-value="true"
                              data-preview-step="true"
                              data-clearable="true"
                              data-multiple="false"
                              data-crop="free"
                              data-max-size-hide="153600"
                              value="{{shop.photo.owner}}"
                             ></uploadcare-widget>

<!--                             <button type="input" class="btn btn-primary btn-lg btn-block" ng-click="uploadOwnerPhoto(shop)">photo de l'équipe</button>
 -->                            <img ng-src="{{shop.photo.owner | placehold:'160x160&text=l`équipe'}}"  class="img-circle owner" style="height:120px;margin-top:10px"/>
                          <hr/>

                          </div>
                      </div> 
                      <hr/>
                      <div ng-if="false" class="form-group clearfix">
                        <div class="col-xs-6 nomargin" >
                          <div class="form-group">
                            <label class="control-label ">Catalogue </label> 
                            <div class="hide">
                              <select  ng-model="shop.catalog " class="form-control input-lg" required="true" >
                                <option ng-repeat="cat in category.findAll() | filter:{type:'Catalog'}" value="{{cat._id}}" 
                                ng-selected="shop.catalog._id==cat._id">{{cat.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <!-- Shop.details -->
                          <div class="form-group ">
                            <label class="control-label">Cette boutique offre</label>
                            <div class="">
                              <label class="checkbox">
                                <input type="checkbox" ng-model="shop.details.bio" value="des produits Bio">
                                des produits Bio
                              </label>
                              <!--
                              <label class="checkbox">
                                <input type="checkbox" ng-model="shop.details.gluten" value="des produits sans gluten">
                                des produits sans gluten
                              </label>
                              <label class="checkbox">
                                <input type="checkbox" ng-model="shop.details.lactose" value="des produits sans lactose">
                                des produits sans lactose
                              </label>
                              -->
                              <label class="checkbox">
                                <input type="checkbox" ng-model="shop.details.local" value="une production locale">
                                une production locale
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr/>


                    <!-- ADMIN BM -->
                    <div ng-if="!user.isAdmin()" class="form-group">
                      <div class="col-sm-5" >
                        <label class=" control-label">Statut publication: {{shop.status}}</label>
                        <p class="help-block">Boutique créée le {{shop.created}}</p>
                        <div  class="form-group ">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class=" control-label">Business model à {{shop.account.fees*100|number:2}}%</label>
                        <p class="help-block">validé le {{shop.account.updated}}</p>
                        <div class="form-group ">
                        </div>                          
                      </div>

                    </div>
                    <div ng-if="user.isAdmin()" class="admin-box form-group">
                      <div class="col-sm-5" >
                        <div  class="form-group ">
                          <label class=" control-label">Status</label>
                          <div class="">
                            <label class="checkbox">
                              <input type="checkbox" ng-model="shop.status" >
                              Publier la boutique 
                            </label>
                            <p class="help-block">créée le {{shop.created}}</p>

                          </div>
                        </div>                          
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group ">
                          <label class=" control-label">Business model</label>
                          <div class="">
                              <input type="float" name="type" ng-model="shop.account.fees" required />
                              <p class="help-block">validé le {{shop.account.updated}}</p>
                          </div>
                        </div>                          
                      </div>
                    </div>          
                    <!-- ADMIN BM -->

                    </div>
                 
                </div> <!-- TAB INFORMATION -->

                <div data-title="Logistique" class="clearfix  form-background">

                    <!-- ADDRESS -->
                    <div class="clearfix" ng-include="'/partials/shop/address.html'">
                    </div>
                    <!-- form address-->
                    <br/>
                    <hr/>
                    <div class="clearfix" ng-if="user.isAdmin()">
                      <h5 class="article-group-title black">Livraisons disponibles</h5>
                      <div class="list-group">
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(1)!==-1)}"
                            ng-click="toggleShipping(1)">Lundi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(2)!==-1)}"
                            ng-click="toggleShipping(2)">Mardi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(3)!==-1)}"
                            ng-click="toggleShipping(3)">Mercredi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(4)!==-1)}"
                            ng-click="toggleShipping(4)">Jeudi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(5)!==-1)}"
                            ng-click="toggleShipping(5)">Vendredi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(6)!==-1)}"
                            ng-click="toggleShipping(6)">Samedi
                          </a>
                      </div>                                                
                    </div>
                    <!-- real market place -->
                    <div class="clearfix">

                      <!-- Marketplace -->
                      <!--<div class="label-or" >ET</div>-->

                      <h5 class="article-group-title black">Vos produits seront collectés dans les lieux suivants</h5>

                      <div class="form-group">
                        <div class="col-sm-12">
                            <p class="help-block">
                              <ol>
                                <li>l'adresse mentionnée ci-dessus,</li>
                                <li>au marché,</li>
                                <li>dans une autre boutique.</li>
                              </ol>
                            </p>

                            <div class="list-group">
                              <a href="" class="list-group-item" 
                                  ng-repeat="l in config.shop.marketplace.list"
                                  ng-class="{'list-group-item-success':activeMarket(l.name)}"
                                  ng-click="toggleMarket(l.name)">{{l.name}}
                                  <span ng-show="activeMarket(l.name)" class="pull-right label label-success"><i class="fa fa-ok"></i></span>
                                </a>
                            </div>                          
                            <p class="help-block">Si votre produit est collecté au marché, précisez un nom de stand. Sinon, indiquez l'adresse d'une autre boutique.</b></p>
                            <div class="">
                                <input  ng-model="shop.address.depository"  type="text" class="form-control input-lg " 
                                        placeholder="ex. chez dédé/34 rue de Carouge/1205"  require>
                            </div>

                            <p class="help-block"><b>Les lieux de collectes sont prioritaires à l'adresse principale de votre commerce</b></p>

                        </div> 


                      </div> 
                    </div>  

                </div> <!-- TAB LOGISTIQUE -->    


                <div data-title="Ouverture" class="clearfix form-background">
                    <h4 class="article-group-title text-center">Informez vos clients</h4> 
                    <p class="">
                      Vous pouvez à tout moment fermer votre boutique et ainsi vos produits ne seront pas accessibles à la vente. 
                    </p>

                    <div class="form-group ">
                      <div>                        
                        <label class="control-label">Ma boutique est fermée
                          <input type="checkbox" ng-model="shop.available.active">
                        </label>
                      </div>
                      <div class="col-xs-12">                        
                        <input class="form-control input-lg" type="text" ng-model="shop.available.comment" ng-minlength="5" placeholder="Pour quelle raison"/>
                        <p class="help-block ">Tous les produits liés à votre boutique seront indisponibles le temps de la fermeture.</p>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control input-lg" ng-model="shop.available.from" placeholder="du jj/mm/aaaa" format-date="DD/MM/YYYY" required />
                        <p class="help-block ">La date de fermeture</p>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control input-lg" ng-model="shop.available.to" placeholder="au jj/mm/aaaa" format-date="DD/MM/YYYY" required />
                        <p class="help-block ">La date de ré-ouverture</p>
                      </div>
                    </div>

                    <hr/>
                    <!-- shop.info.active -->
                    <div class="form-group">                        
                      <label class="control-label">Laissez un message sur votre boutique
                        <input type="checkbox" ng-model="shop.info.active"></label>
                      <div class="">
                        
                        <input class="form-control input-lg " type="text" ng-model="shop.info.comment" ng-minlength="5" placeholder="Laissez un message sur votre boutique"/>
                        <p class="help-block">Proposez ici une offre spéciale, ou laissez un message à vos clients.</p>
                      </div>
                      <hr/>
                    </div>


                </div> <!-- TAB HORAIRE/OUVERTURE -->                          

                <div data-title="FAQ" class="clearfix  form-background">
                  <div class="form-group">
                    <h4 class="article-group-title text-center">Aidez vos clients avec cette FAQ </h4> 
                    <label class="control-label">Constituez votre liste des questions fréquemment posées.</label>
                    <div class="clearfix" ng-repeat="faq in shop.faq" style="border-bottom:1px dotted #ddd;margin-bottom:5px">
                      <div class="col-xs-11">
                        <input type="text" value="{{faq.q}}" ng-model="shop.faq[$index].q" placeholder="Une question fréquente" class="form-control input-lg col-md-10">
                        <p class="help-block"> </p>
                      </div>
                      <div class="col-xs-1">
                        <a class="pull-right btn btn-default btn-lg" href ng-click="shop.faq.splice($index, 1)"><i class="fa fa-remove"></i></a>
                      </div>           
                      <div class="col-xs-12">
                        <textarea  rows="4" class="form-control input-lg" ng-model="shop.faq[$index].a" placeholder="Votre commentaire">{{faq.a}}</textarea>
                        <p class="help-block"> </p>
                      </div>           
                    </div>
                    <div class="clearfix">
                      <button href ng-click="shop.faq.push({})" class="btn btn-primary btn-lg btn-block ">Ajouter <i class="fa fa-plus"></i></button>
                      <p class="help-block"> </p>
                    </div>

                  </div>
                </div> <!-- TAB -->  

                <div data-title="Aperçu" class="form-background">
                  <div  ng-include="'/partials/shop/shop.html'"  class="row"></div>

                </div> <!-- TAB -->    
                  
              </div>
            </div>
            <div class="modal-footer ">
              <input type="button"  confirm-delete="remove(user,shops,password)" title="depth delete for dev only" value="Supprimer" class="btn btn-lg btn-danger pull-left"/>
              <a href="/shop/{{shop.urlpath}}/products/create" ng-disabled="WaitText" class="btn btn-lg   ">Ajouter un produit</a>

              <a ng-disabled="form.$invalid||WaitText" href ng-click="save(shop);"  class="save btn btn-primary btn-lg">{{WaitText || 'Enregistrer'}}</a>
              <a href="/shop/{{shop.urlpath}}" class="undo btn btn-default btn-lg ">Annuler</a>
            </div>

            </form>
          </div>              

        <!--                      -->
        <!--                      -->
        </div>


        <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </section>
   </section>
</div>

