<div id="toolbar" class="fresheditor-toolbar">
  <div class="btn-toolbar">
    <div class="btn-group"><a command="bold" title="Bold (Ctrl+B)" class="btn toolbar-btn toolbar-cmd toolbar_bold" href="#"><span style="font-weight:bold;">B</span></a><a command="italic" title="Italic (Ctrl+I)" class="btn toolbar-btn toolbar-cmd toolbar_italic" href="#"><span style="font-style:italic;">I</span></a><a command="underline" title="Underline (Ctrl+U)" class="btn toolbar-btn toolbar-cmd toolbar_underline" href="#"><span style="text-decoration:underline!important;">U</span></a><a command="strikethrough" title="Strikethrough" class="btn toolbar-btn toolbar-cmd toolbar_strikethrough" href="#"><span style="text-shadow:none;text-decoration:line-through;">ABC</span></a></div>
    <div class="btn-group">
      <a data-toggle="dropdown" command="fontname" title="Select font name" class="btn toolbar-btn toolbar_fontname dropdown-toggle" href="#">F <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a style="font-family:Arial;" class="fontname-option" href="#">Arial</a></li>
        <li><a style="font-family:Arial Black;" class="fontname-option" href="#">Arial Black</a></li>
        <li><a style="font-family:Comic Sans MS;" class="fontname-option" href="#">Comic Sans MS</a></li>
        <li><a style="font-family:Courier New;" class="fontname-option" href="#">Courier New</a></li>
        <li><a style="font-family:Georgia;" class="fontname-option" href="#">Georgia</a></li>
        <li><a style="font-family:Helvetica;" class="fontname-option" href="#">Helvetica</a></li>
        <li><a style="font-family:Sans Serif;" class="fontname-option" href="#">Sans Serif</a></li>
        <li><a style="font-family:Tahoma;" class="fontname-option" href="#">Tahoma</a></li>
        <li><a style="font-family:Times New Roman;" class="fontname-option" href="#">Times New Roman</a></li>
        <li><a style="font-family:Trebuchet MS;" class="fontname-option" href="#">Trebuchet MS</a></li>
        <li><a style="font-family:Verdana;" class="fontname-option" href="#">Verdana</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <a data-toggle="dropdown" command="FontSize" title="Select font size" class="btn toolbar-btn toolbar_fontsize dropdown-toggle" href="#"><span style="font:bold 16px;">A</span><span style="font-size:8px;">A</span> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a 1'="" style="font-size:8px;fontsize=" class="font-option fontsize-option" href="#">1(8pt)</a></li>
        <li><a 2'="" style="font-size:10px;fontsize=" class="font-option fontsize-option" href="#">2(10pt)</a></li>
        <li><a 3'="" style="font-size:12px;fontsize=" class="font-option fontsize-option" href="#">3(12pt)</a></li>
        <li><a 4'="" style="font-size:14px;fontsize=" class="font-option fontsize-option" href="#">4(14pt)</a></li>
        <li><a 5'="" style="font-size:18px;fontsize=" class="font-option fontsize-option" href="#">5(18pt)</a></li>
        <li><a 6'="" style="font-size:24px;fontsize=" class="font-option fontsize-option" href="#">6(24pt)</a></li>
        <li><a 7'="" style="font-size:36px;fontsize=" class="font-option fontsize-option" href="#">7(36pt)</a></li>
      </ul>
    </div>
    <!-- COLOR SECTION
    <div class="btn-group">
      <a data-toggle="dropdown" command="forecolor" title="Select font color" class="btn toolbar-btn toolbar_forecolor dropdown-toggle" href="#">
        <div style="color:#ff0000;">A <span class="caret"></span></div>
      </a>
      <ul class="dropdown-menu colorpanel">
        <input type="text" value="#000000" id="forecolor-input">
        <div id="forecolor-picker">
          <div class="farbtastic">
            <div class="color" style="background-color: rgb(255, 0, 0);"></div>
            <div class="wheel"></div>
            <div class="overlay"></div>
            <div class="h-marker marker" style="left: 97px; top: 13px;"></div>
            <div class="sl-marker marker" style="left: 147px; top: 147px;"></div>
          </div>
        </div>
      </ul>
    </div>
    <div class="btn-group">
      <a data-toggle="dropdown" command="backcolor" title="Select background color" class="btn toolbar-btn toolbar_bgcolor dropdown-toggle" href="#">
        <div style="display:inline-block;margin:3px;width:15px;height:12px;background-color:#0000ff;"></div>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu colorpanel">
        <input type="text" value="#000000" id="bgcolor-input">
        <div id="bgcolor-picker">
          <div class="farbtastic">
            <div class="color" style="background-color: rgb(255, 0, 0);"></div>
            <div class="wheel"></div>
            <div class="overlay"></div>
            <div class="h-marker marker" style="left: 97px; top: 13px;"></div>
            <div class="sl-marker marker" style="left: 147px; top: 147px;"></div>
          </div>
        </div>
      </ul>
    </div>
    -->
    <div class="btn-group"><a command="justifyleft" title="Left justify" class="btn toolbar-btn toolbar-cmd toolbar_justifyleft" href="#"><i style="margin-top:2px;" class="icon-align-left"></i></a><a command="justifycenter" title="Center justify" class="btn toolbar-btn toolbar-cmd toolbar_justifycenter" href="#"><i style="margin-top:2px;" class="icon-align-center"></i></a><a command="justifyright" title="Right justify" class="btn toolbar-btn toolbar-cmd toolbar_justifyright" href="#"><i style="margin-top:2px;" class="icon-align-right"></i></a><a command="justifyfull" title="Full justify" class="btn toolbar-btn toolbar-cmd toolbar_justifyfull" href="#"><i style="margin-top:2px;" class="icon-align-justify"></i></a></div>
    <div class="btn-group"><a userinput="yes" command="createlink" title="Link to a web page (Ctrl+L)" class="btn toolbar-btn toolbar-cmd toolbar_link" href="#">@</a><a userinput="yes" command="insertimage" title="Insert an image (Ctrl+G)" class="btn toolbar-btn toolbar-cmd toolbar_image" href="#"><i class="icon-picture" style="margin-top:2px;"></i></a><a command="insertorderedlist" title="Insert ordered list" class="btn toolbar-btn toolbar-cmd toolbar_ol" href="#"><i style="margin-top:2px;" class="icon-list-alt"></i></a><a command="insertunorderedlist" title="Insert unordered list" class="btn toolbar-btn toolbar-cmd toolbar_ul" href="#"><i style="margin-top:2px;" class="icon-list"></i></a></div>
    <div class="btn-group"><a block="p" command="insertparagraph" title="Insert a paragraph (Ctrl+Alt+0)" class="btn toolbar-btn toolbar-cmd toolbar_p" href="#">P</a><a block="h1" command="insertheading1" title="Heading 1 (Ctrl+Alt+1)" class="btn toolbar-btn toolbar-cmd toolbar_h1" href="#">H1</a><a block="h2" command="insertheading2" title="Heading 2 (Ctrl+Alt+2)" class="btn toolbar-btn toolbar-cmd toolbar_h2" href="#">H2</a><a block="h3" command="insertheading3" title="Heading 3 (Ctrl+Alt+3)" class="btn toolbar-btn toolbar-cmd toolbar_h3" href="#">H3</a></div>
    <div class="btn-group"><a block="blockquote" command="blockquote" title="Blockquote (Ctrl+Q)" class="btn toolbar-btn toolbar-cmd toolbar_blockquote" href="#"><i class="icon-comment" style="margin-top:2px;"></i></a><a block="pre" command="code" title="Code (Ctrl+Alt+K)" class="btn toolbar-btn toolbar-cmd toolbar_code" href="#">{&nbsp;}</a><a command="superscript" title="Superscript" class="btn toolbar-btn toolbar-cmd toolbar_superscript" href="#">x<sup>2</sup></a><a command="subscript" title="Subscript" class="btn toolbar-btn toolbar-cmd toolbar_subscript" href="#">x<sub>2</sub></a></div>
  </div>
</div>
