<div tabindex="-1"  id="null" class="screen-content">
  <aside class="cover cover-home img-loaded" >
    <div class="cover-body">
        <!-- HOME -->
         <div  class="cover-body-inner black">
            <h1  class="cover-title">Kariboo</h1>
            <p class="cover-description ">Une meilleure place pour l'alimentation. <a href="/page/sharte" class="" title="Learn more about Medium">Learn more</a>. <br><br>Read our <a  href="/about" class="">les dernières nouvelles du mois</a>.
            </p>
            <div class="cover-actions "><a href="/signup" class="btn btn-primary btn-new-post"><span class="icons icons-new-post"></span>Sign up</a><span class="">ou <a href="login">Login</a></span></div>
         </div>
      </div>

  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">


        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title " >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Les produits</span> </a>
                  </h5>
                  <h5 class="bucket-title active">
                    <a href="/shops" title="Collections"><span class="bucket-header-title">Les boutiques</span> </a>
                  </h5>
               </nav>
            </div>
         </div>
        
        <!-- SHOPS -->
        <div ng-controller="HomeCtrl" class="row wrapheight" >

            <article  ng-repeat="(group, _shops) in shops" > 
              <h5 class="article-group-title ">
                {{group}}
                <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}} icon-large"></i>
              </h5>

              <div  style="width:100%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/shop/shop.html'"  ng-repeat="shop in _shops"></div>              
              </div>
            </article>
        </div>

        <footer class="wrapper-footer">
            <a class="wrapper-footer-link" title="View open job positions " href="/jobs">Travailler chez Kariboo</a>
            <a class="wrapper-footer-link" title="Lire la charte de Kariboo" href="/sharte">Charte</a>
            <a class="wrapper-footer-link" title="La FAQ de Kariboo" href="/help-center/faq">FAQ</a>
            <a href="" backend-url="href">API</a>
        </footer>
      </div>
   </section>
</div>
