<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="getCover()" class=" cover cover-home cover-category img-loaded" ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner wide">


        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title hidden-xs" >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Les produits</span> </a>
                  </h5>
                  <h5 class="bucket-title active hidden-xs">
                    <a href="/shops" title="Collections"><span class="bucket-header-title">Les boutiques</span> </a>
                  </h5>
               </nav>
            </div>
         </div>

        
        <!-- SHOPS -->
        <div ng-controller="HomeCtrl" 
             infinite-scroll='loadNextPage()'  
             infinite-scroll-distance='0' 
             class="row wrapheight " style="padding:0">

            <article  ng-repeat="(group, _shops) in shops" > 
              <h5 class="article-group-title ">
                {{group}}
                <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}} fa fa-large"></i>
              </h5>

              <div  style="width:100%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/shop/shop.html'"  ng-repeat="shop in _shops"></div>              
              </div>
            </article>
<!--             <article>              
              <div class=" layout-item c3 "  >
                <div style="position:relative;overflow:hidden;height:auto">          
                  <img ng-src="{{map.resolveStaticmap(addresses)}}" 
                  style="width:100%"/>
                </div>
                </div>
            </article>
 -->        </div>

        <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>
