
<div tabindex="-1"  id="null" class="screen-content" ng-controller="ShopCtrl">
  



  <aside ng-include="'/partials/shop/cover.html'" class="cover cover-home img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner wide">



        <!--                               -->
        <!-- TITLE -->
        <!--                               -->
        <!--                 
        <div  class="bucket post-bucket homepage-posts" app-affix="30">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="article-group-title black black" >
                    <span class="bucket-header-title">{{shop.name}}</span> 
                  </h5>
               </nav>
            </div>
        </div>
        -->

        <!-- <div ng-include="'/partials/shop/edit.html'"></div> -->


        <article  ng-repeat="(group, _products) in products"  > 
          <h4 class="article-group-title black ">
            {{group}}
            <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}}"></i>
          </h4>

          <div  style="width:100%;"><!-- MANSORY FIX -->
            <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in _products"></div>              
          </div>
        </article>
            

        <!-- DIALOG ASK -->
        <div class="modal fade" id="ask">
          <div class="modal-dialog">
            <div class="modal-content">        
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="white">Contactez: {{shop.name}}</h4>
              </div>
              <div class="modal-body">
                  <textarea   ng-model="askContent" rows=20 class="form-control input-lg " placeholder="Votre question..." ></textarea>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ask(askContent)">Envoyer</button>
              </div>
            </div>
          </div>
        </div>


        <!-- FAQ -->
        <section>
          <h3 class="article-group-title black">FAQ</h3>
          <p>Retrouver les questions les plus fréquentes à propos de la boutique <b>{{shop.name}}</b>
          </p>
          <ol>
            <li ng-repeat="faq in shop.faq">
              <h4><a href="#" slide-on-click="#faq-{{$index}}">{{faq.q}}</a></h4>
              <p style="display:none" id="faq-{{$index}}">{{faq.a}} <small>Posté le {{faq.updated}}</small></p>
            </li>
          </ol>
          <p>
            <br/>
            <button type="button" class="btn btn-lg  btn-info"  role="button" ng-click="modal('#ask')" >Vous avez une question?</button>
          </p>
        </section>      

        <!-- SHOP INFO -->
        <section class="module-hours module divider" ng-show="shop.address.geo">
                <h4 class="article-group-title black">Rendez-nous Visite</h4>
          <div class="col-sm-12 col-padleft-0" >
              <img ng-src="{{map.resolveStaticmap(shop.address,shop.address.name)}}" style="width:100%"/>
          </div>
          <hr/>
        </section>                        

         <section ng-show="shop.address.geo">
          <h4 class="article-group-title black">Contacts</h4>
          <address class="small">
              <b>{{shop.name}}</b>
              <br>
              {{shop.address.streetAdress}}
              <br>
              {{shop.address.postalCode}} / {{shop.address.region}}
              <br>
              <abbr title="Phone">T:</abbr> <a href="tel:{{shop.address.phone|clean}}">{{shop.address.phone}}</a>
              <p class=" " ng-show="shop.location||shop.url">
                <abbr title="www">www:</abbr> <a ng-show="shop.url"  href="{{shop.url}}" >{{shop.url}}</a>
              </p>

          </address>
        </section>

<!--         <section>
          <div class="col-sm-6 col-padleft-0" >
                  <h5 class="article-group-title black ">Heures d’ouverture</h5>
                  <dl class="hours small">
                        <dt class="hours-label">Lundi</dt>
                        <dd class="hours-open"><time><p>Fermé</p></time></dd>
                        <dt class="hours-label">Mardi</dt>
                        <dd class="hours-open"><time><p>Fermé</p></time></dd>
                        <dt class="hours-label">Mercredi</dt>
                        <dd class="hours-open"><time><p>Fermé</p></time></dd>
                        <dt class="hours-label">Jeudi</dt>
                        <dd class="hours-open"><time><p>Fermé</p></time></dd>
                        <dt class="hours-label">Vendredi</dt>
                        <dd class="hours-open"><time><p>4 PM – 8 PM</p></time></dd>
                        <dt class="hours-label">Samedi</dt>
                        <dd class="hours-open"><time><p>4 PM – 8 PM</p></time></dd>
                        <dt class="hours-label">Dimanche</dt>
                        <dd class="hours-open"><time><p>Fermé</p></time></dd>
                  </dl>
          </div>        
          <div class="col-sm-6 col-padleft-0 " >
                  <h5 class="article-group-title black">Contacts</h5>
                  <address class="small">
                      {{shop.address.streetAdress}}/ {{shop.address.postalCode}} / {{shop.address.region}}
                      <br>
                      <abbr title="Phone">{{shop.address.name}}</abbr> {{shop.address.phone}}
                  </address>
          </div>
        </section>
 -->      </div>


      <!-- FOOTER -->              
      <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
   </section>
</div>


