<div class="block layout-item {{getFormat($index)}} "  >
    <div class="body">
      <a href="/shop/{{shop.urlpath}}">
        <img ng-show="shop.photo.fg" src="{{shop.photo.fg}}/convert?w=420&h=300&fit=crop" >
        <img ng-hide="shop.photo.fg" src="{{false  | placehold:'420x300'}}" >
      </a>
      <div style="border-bottom:1px #eee solid;padding-bottom:5px" >
        <div  class=" elem">
  	        <h5>{{shop.name}}</h5>
  	        <p ng-bind-html-unsafe="shop.description"></p>
        </div>
      </div>
    </div>
    <ul class="unstyled small elem footer" style="display:none">                
        <li ng-show="shop.info.active" ><i class="icon-fire"></i> {{shop.info.comment}}</li>
  			<li><i class="icon-user"></i>&nbsp;{{shop.location}} <span ng-repeat="market in shop.marketplace"> - <i class="icon-map-marker"></i> <span class="-badge -badge-inverse">{{market}}</span>&nbsp;</span></li>
  			<li></li>
  	</ul>
</div>

