<div class="shop layout-item  "  >
      <div class="top">
        <a href="/shop/{{shop.urlpath}}" >
          <!-- STATUS -->
          <ul class="thumbnails"  style="position:absolute;left:0px;top:0px">
      			<li style="margin:0px;padding:5px" ng-hide="shop.status==true">
      			  <i class="icon-warning-sign -icon-2x green" title="Cette boutique n'est pas encore publique"></i>
      			</li>
          </ul>
          <img ng-show="shop.photo.fg" ng-src="{{shop.photo.fg}}" >
          <img ng-hide="shop.photo.fg" ng-src="{{false  | placehold:'470x400'}}" >
          
      


        </a>
      </div>
      <div class=" message" ng-if="shop.available.active">
        <span class="shadow white" ng-bind-html="shop.available.comment"></span>
      </div>

      <section class="footer" >
        <div  class=" elem">
  	        <h5>{{shop.name}}</h5>
  	        <p class="-hide" >{{shop.description|limitTo:300}}...</p>
        </div>
      </section>

</div>

