<div id="wysihtml5-editor-toolbar">
      <header>
        <ul class="commands">
          <li class="command" title="Make text bold (CTRL + B)" data-wysihtml5-command="bold" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Make text italic (CTRL + I)" data-wysihtml5-command="italic" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Insert an unordered list" data-wysihtml5-command="insertUnorderedList" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Insert an ordered list" data-wysihtml5-command="insertOrderedList" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Insert a link" data-wysihtml5-command="createLink" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Insert an image" data-wysihtml5-command="insertImage" href="javascript:;" unselectable="on"></li>
          <li class="command wysihtml5-command-active" title="Insert headline 1" data-wysihtml5-command-value="h1" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on"></li>
          <li class="command" title="Insert headline 2" data-wysihtml5-command-value="h2" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on"></li>
          <li title="Color the selected text" class="fore-color" data-wysihtml5-command-group="foreColor">
            <ul>
              <li data-wysihtml5-command-value="silver" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="gray" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="maroon" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="red" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="purple" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="green" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="olive" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="navy" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
              <li data-wysihtml5-command-value="blue" data-wysihtml5-command="foreColor" href="javascript:;" unselectable="on"></li>
            </ul>
          </li>
          <li class="command" title="Insert speech" data-wysihtml5-command="insertSpeech" href="javascript:;" unselectable="on" style="display: none;"></li>
          <li class="action" title="Show HTML" data-wysihtml5-action="change_view" href="javascript:;" unselectable="on"></li>
        </ul>
      </header>
      <div style="display: none;" data-wysihtml5-dialog="createLink">
        <label>
          Link:
          <input value="http://" data-wysihtml5-dialog-field="href">
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>

    
    </div>
    
