
.shipping-clockdown{
  color: #aaa;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  font-family: serif;  
  text-shadow:1px 1px 1px #FFFFFF;
}

.item-button-order{
	background-color: #333;
	left: 0;
	right: 0;
}
.item-button-clear{
	bottom: 0px;
	background-color: #333;
	left: 0;
	right: 0;
}

.panel .cart:first-child{
  border-right: 1px solid #ddd;
}

.panel .cart{
  font-size: 80%;
  padding: 15px;
  width: 57%;  
  display:table-cell;
}
.panel .cart span{
  color:#bbb;
  font-weight: 300;
}

.body-cart .cover{
  overflow-y: auto
}


.cover-resume.cart {    
    border: 0px;
    padding: 5px;
    -z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -5px;
    font-size: 100%;
    width: 100%;
    height: 100%;
}



.cover-resume.cart> div{
    margin: 0 -5px;
    visibility: hidden;
    text-align: left;
    -margin:0 auto;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 3px;
    display: none;
    -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
       -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
        -ms-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
         -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
            transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

.cover-user  .cover-resume.cart>div {    
  top:inherit;
  visibility: visible;
}
.products .cover-resume.cart>div {
    visibility: hidden;    
    display: none;
    height: 0px;
}

.cover-shop .cover-resume.cart>div, .cover-order .cover-resume.cart>div {
    visibility: hidden;    
    display: none;
    height: 0px;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {
  .cover-resume.cart>div {
    height: 100%!important;
    overflow-y:auto; 
    position: fixed;
    top:0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    visibility: hidden;

    width: 102%;
    max-width: 980px;
    background-color: rgba(50, 50, 50, 0.8);
    margin-top: 0px;
    padding: 60px 10px;    

  }

  .body-cart .cover{
    overflow-y: inherit
  }

  .cover-user  .cover-resume.cart>div {    
    top:inherit;
    visibility: hidden;
  }

  .cover-resume.cart .table{
    background-color: white;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  .cover-resume.cart> div{
  }  

}

/* Landscape phones
------------------------- */
@media (max-width: 550px) {

  .cover-resume.cart> div{

  }  

  .cover-resume.cart .table{
    background-color: white;
  }

}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





