
.shipping-clockdown{
  color: #aaa;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  -font-family: serif;  
  text-shadow:1px 1px 1px #FFFFFF;
}

.item-button-order{
	background-color: #333;
	left: 0;
	right: 0;
}
.item-button-clear{
	bottom: 0px;
	background-color: #333;
	left: 0;
	right: 0;
}

.panel .cart:first-child{
  border-right: 1px solid #ddd;
}

.panel .cart{
  font-size: 80%;
  padding: 15px;
  width: 57%;  
  display:table-cell;
}
.panel .cart span{
  color:#bbb;
  font-weight: 300;
}

.cart .table{
  background-color: white;
  margin-top: 10px;
}

.cart .table thead>tr{
}

.cart .table thead>tr>th{
  text-transform: uppercase;
  font-weight: bolder;
}

.cart .table .alert{
  padding: 30px 10px;
  position: relative;
  width: 150%;
  font-weight: bold;
  border-radius: 0px;  
  border: none;
}

.cart .table  td.cart-header,  {
  background-color: rgba(174, 192, 172, 0.08);
  color: #888;
  font-weight: 300;
  font-size:80%;
  padding:4px; 
}

.cart .table  .cart-header img{
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
}



select.cart{
  font-size: 23px;
}

.cover-resume.cart {    
    border: 0px;
    padding: 5px 0;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 100%;
    width: 62%;
    height: 100%;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
    box-shadow: 0px 0px 40px #444;
    background-color: rgba(62, 74, 63, 0.98);
    background-color: white;
    z-index: 9999;
    margin-top: 0;
}



.cover-resume.cart> div{
    margin: 38px 0px 0px;
    text-align: left;
    padding: 3px 0;
    height: 100%;
    right:-200%;
    left: 3px;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;


}

.cover-resume.cart> div>div.cart-content{
  max-height: 80%;
  overflow-y: auto;
  margin-top: 10px;
  background-color: #FFF;
  border-radius: 0px;
  margin-bottom: 4px;  
  position: relative;
}

.cover-resume.cart> div > div.cart-bottom{
  background-color: rgba(62, 74, 63, 0.98);
    background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 140px;
}

.cover-resume.cart> div > div.cart-bottom> .btn{
  margin: 4px 0;
  width: 100%;
  border-radius: 0;  
}

.cover-user  .cover-resume.cart>div {    
  top:inherit;
  visibility: visible;
}
.products .cover-resume.cart>div {
    right:-200%;
}

.cover-shop .cover-resume.cart>div, .cover-order .cover-resume.cart>div {
    right:-200%;
}

.display-cart .cover{
  -overflow-y: auto
}

.display-cart .cover-resume.cart{
  -z-index: 990;  
  -overflow-y: auto;
}

.display-cart .cover-resume.cart>div{
  opacity: 1;
  right: 0;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {
  .cover-resume.cart{
    width: 100%;
  }
  .cover-resume.cart>div {
    height: 100%!important;
    overflow-y:auto; 
    position: fixed;
    top:0;

    width: 100%;
    max-width: 980px;
    padding: 10px 10px;    

  }

  .display-cart .cover{
    overflow-y: inherit
  }

  .cover-user  .cover-resume.cart>div {    
    top:inherit;
    -visibility: hidden;
  }

  .cover-resume.cart .table{
    background-color: white;
  }
  
  .display-cart .cover-resume.cart{
    overflow-y:visible; 
  }

  .display-cart .cover-resume.cart>div{
    opacity: 1;
    visibilit-y: visible;
    display: block;
  }
  
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  .cover-resume.cart> div{
  }  

}

/* Landscape phones
------------------------- */
@media (max-width: 550px) {

  .cover-resume.cart> div{
    width: 100%;
  }  

  .cover-resume.cart .table{
    background-color: white;
  }

}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





