
.shipping-clockdown{
  color: #aaa;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
  -font-family: serif;  
  text-shadow:1px 1px 1px #FFFFFF;
}

.item-button-order{
	background-color: #333;
	left: 0;
	right: 0;
}
.item-button-clear{
	bottom: 0px;
	background-color: #333;
	left: 0;
	right: 0;
}


html.app-cart .cover-resume.cart{
  visibility: visible;
  right: 0;
  opacity: 1;
}

html.app-cart .cover-resume.cart>div{
  opacity: 1;
  right: 0;
}


.cover-resume.cart {    
  opacity: 0;
    border: 0px;
    padding: 0;
    position: fixed;
    right: -103%;
    top: 0;
    font-size: 100%;
    width: 600px;
    height: 100%;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
    box-shadow: 0px 0px 400px #444;
    background-color: rgba(62, 74, 63, 0.98);
    background-color: white;
    z-index: 9999;
    margin-top: 0;
}


.cover-resume.cart> div.header{
    padding: 18px;
    background-color: #00a79d;
    font-size: 90%;
}

.cover-resume.cart> div.cart-content{
  max-height: calc(100% - 170px);
  overflow-y: auto;
  margin-top: 0px;
  background-color: #FFF;
  border-radius: 0px;
  margin-bottom: 4px;  
  position: relative;
  float: left;
  width: 100%;
}


.cart .table{
  background-color: white;
  border-top: none;
}



.cart .table .alert{
  padding: 30px 10px;
  position: relative;
  width: 150%;
  font-weight: bold;
  border-radius: 0px;  
  border: none;
}

.cart .table  td.cart-header  {
  background-color: rgba(196, 177, 156, 0.26);
  color: black;
  font-weight: 800;
  font-size: 90%;
  padding: 10px;
  border-top: none!important;
  padding-left: 10px;
}

.cart .table  .cart-header img{
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
  height: 40px;
}



.cover-resume.cart> div.cart-bottom{
  background-color: rgb(202, 228, 215);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 140px;
  padding:4px; 
  padding-top: 0;
  border:2px solid #ddd;
}

.cover-resume.cart> div.cart-bottom> .btn{
  margin: 4px 0;
  width: 100%;
}

.cover-resume.cart> div.cart-bottom> .cart-info{
  padding: 0;
  text-align: center;
  height: 30px;
}
.cover-resume.cart> div.cart-bottom> .cart-info >div{
  padding: 6px;
}
.cover-resume.cart> div.cart-bottom> .cart-info >div:first-child{
  border-right: 1px solid #eee;
}


.cart-info-quantity{
  text-align: center;
  padding: 5px;
  font-size: 18px;
  width: 35px;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
  border-radius:25px;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {

  html.app-cart .cover-resume.cart>div{
    opacity: 1;
    visibility: visible;
    display: block;
  }
  
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  .cover-resume.cart{
    width: 100%;
  }  


  .cover-resume.cart> div.cart-bottom> .cart-info >div:first-child{
    border:none;
  }


}

/* Landscape phones
------------------------- */
@media (max-width: 550px) {


}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





