/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Global add-ons
 */

.dashboard .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}

.dashboard .discount{
  border: 1px solid red;
  border-radius: 3px;  
}

.dashboard .progress-container{
  border: 1px solid rgb(221, 221, 221);
  padding: 0px;
  margin-top: 0px;  
}

.dashboard .progress-bar-info {
  background-color: rgba(91, 192, 222, 0.09);
  color: inherit;
  box-shadow: none;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.dashboard .progress-bar-danger {
  background-color: rgba(217, 83, 79, 0.14);
  color: inherit;
  box-shadow: none;
}

.dashboard .bag-l-1{
  width: 36px;
  color: white;
  text-align: center;
  padding-top: 18px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 120%;
  font-weight: 900;  
}
.dashboard .bag-l-1::after{
  margin-left: 40px;
}
.dashboard .bag-1{
  position: absolute;
  right: 10px;
  top: 10px;
}
.dashboard .bag-1.bag-margin{
  right: 69px;
}

.dashboard .bag-1.customer{
  padding: 4px;
  top: 0px;
}

.dashboard .bag-2{
  position: absolute;
  right: 10px;
  bottom: 12px;  
}

.dashboard .input-group-validate{
    float: left;
    max-width: 70px;
    box-shadow: none;
    margin: 0px 3px;
    position: absolute;
    right: 120px;
    margin-top: 7px;  
}
.dashboard .input-group-validate  input{
  font-size: 140%;
  border: 1px solid #e7e7e7;
}

.dashboard .input-group-addon{
  padding: 3px 12px;
}

.dashboard .label-title{
  background-color: white;
  color: gray;
  font-size: 60%;
  font-family: sans-serif;
  font-weight: 300;  
  vertical-align:middle;
}

.dashboard form {
}

.dashboard form .btn{
  margin: 0 5px 5px ;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.dashboard .panel-dashboard{
  background-color:transparent;
}

.dashboard .panel-default{
  position: fixed;
  top:55px;
  left: 0;
  right: 0;
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 10px;  
  z-index: 1048;
}

.dashboard .panel-heading{
  padding:0;
}


.dashboard .container-content{
  -position: absolute;
  top: 130px;
  bottom: 0px;
  left: 0px;
  right: 0px;  
  margin-top: 60px;
}




.dashboard .menu-off {
  margin-left: -66.5%;
}

@media (min-width: 768px) {
}


@media (min-width: 768px) {
  .dashboard .main {
  }
}

.dashboard .main .page-header {
  margin-top: 10px;
  color: #888;
  padding-bottom: 10px;
}


/*
 * Placeholder dashboard ideas
 */

.dashboard .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.dashboard .placeholders h4 {
  margin-bottom: 0;
}
.dashboard .placeholder {
  margin-bottom: 20px;
}
.dashboard .placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.dashboard .repport{
  border: 1px solid #ddd;
  background-color: white;
  padding:20px 50px; 
  font-size: 85%;
}

.dashboard .repport address{
  margin-left: 60%;
  margin-bottom: 100px;
}

.dashboard .repport address.karibou{
  margin-left: 0px;
  vertical-align: middle;
}

.dashboard .repport address.karibou img{
  width: 27px;
}

.dashboard .repport table.resume{
  margin-top: 50px;
  margin-bottom: 80px;
}

.dashboard .repport p{
}

.dashboard .repport table.items{
  font-size: 80%;
}

.dashboard .repport table .repport-last{
  border-top: 2px solid black;
}

.dashboard .repport table .repport-separator{
  border-top: 2px solid #aaa;
}

.dashboard .repport h4{
  margin-top: 50px;
}

@media print {
  .dashboard .repport{
    border: none;
    padding:5px; 
    font-size: xx-small;
  }
}

