
/* Body and structure
-------------------------------------------------- */

body {
	padding-top: 0px;
	padding-bottom: 0px;
  background-color: #fafafa;
  background-image-: url("/img/light_toast.png");
  background:url("/img/paper.jpg") repeat scroll 0 0 #F7F5F5;
  font-family-: 'ProximaNova','helvetica neue',helvetica,arial,sans-serif;
  font-family: 'Source Sans','helvetica neue',helvetica,arial,sans-serif;
  font-size:16px;
  height: 100%;
}

html{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}



#disqus_thread{
  font-size:80%;
  padding:30px;
}
   
.dsq-comment {
  font-size:80%;
}   
/* global popup (inspired from pinterest) 
-------------------------------------------------- */

.backfader{
  background-color: rgba(240, 240, 240, 0.83);
  -display: none;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
   position: fixed;
  right: 0;
  top: 0;
  cursor:-Moz-Zoom-Out;
  z-index: 9999;
}


.popupcontent{
  min-height:550px;
  margin:20px auto;
  -padding:8px;
  -padding: 20px 30px 0;
  -border:solid 2px #ddd;
  background: #fefefe;
  position: static;
  z-index: 4000;
  /*display: none;*/
  box-shadow: 0 3px 18px rgba(34, 25, 25, 0.4);
  font-size: 13px;
  top: 80px !important;
  width: 750px; 
  position:relative;
}

.popupcontent>h3, .popupcontent>div.content, .popupcontent>div>div>img,.popupcontent>div.shop{
  padding-left: 40px;
}

.popupcontent>div.content{
  border-bottom:solid 2px #ddd;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:16px;  
  padding-bottom:10px;
}
.popupcontent>div.shop{
  padding-top:20px;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:16px;  
  position:relative;
}
.popupcontent>div.shop a{
  margin-top:15px;
  display:block;
}


.alert-frame{
  position:fixed;
  top: 70px;
  left: 30%;
  right: 30%;
  z-index:60000;
  zoom:1.3;
}
.alert-frame>div{
}


/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
  }
}


/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

}



@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
}

