
/* Body and structure
-------------------------------------------------- */

body {
	padding-top: 0px;
	padding-bottom: 0px;
  background-color: #fff;
  background-image-: url("/img/light_toast.png");
  background-:url("/img/paper.jpg") repeat scroll 0 0 #F7F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  height: 100%;
}

html{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.browser-support {
  margin: 0;
  background-color: #a94d59;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  line-height: 1.6em;
}
