
/**
 * FONTS
 */

.wf-sans-n4,.wf-sans-i4,.wf-sans-n7,.wf-sans-i7 {
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif}

.wf-serif-n4,.wf-serif-i4,.wf-serif-n7,.wf-serif-i7 {
    font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif}

.wf-sans-n4,.wf-sans-i4,.wf-serif-n4,.wf-serif-i4 {
    font-weight:400}

.wf-sans-n7,.wf-sans-i7,.wf-serif-n7,.wf-serif-i7 {
    font-weight:700}

.wf-sans-i4,.wf-sans-i7,.wf-serif-i4,.wf-serif-i7 {
    font-style:italic}

html,body,.main {
    height:100%;
    padding-right:0;
    padding-left:0;
    padding:0;
}

.surface {
    top:0;
    width:100%}

.body-scroll,.body-scroll body,.body-scroll .surface {
    height:auto}


.kb-card-info{
    background-color: #FFF;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.17);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:88%;
    padding-bottom: 30px;
    color: #726658;
}

.kb-card-info.first-child {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.kb-card-info.last-child{
    border-radius: 0px 0px 5px 5px ;
    margin-bottom: 20px;
}


.kb-card-info .kb-card-image {
    padding: 6px 0;
}
.kb-card-info .kb-card-image img{
    width: 70%;
}

.kb-card-info .kb-card-content{
    padding: 10px 0px 0px 15px;
    color: inherit;
    font-family: inherit;
}
.kb-card-info .kb-card-content small{
    max-width: 140px;
    float: right;
    color: #8dc63f;
    font-family: inherit;
    text-align: right;
    font-weight: bold;
}
.kb-card-info h5,.kb-card-info h4{
    font-family: inherit;
    font-weight: 600
}
.kb-card-info .kb-card-content form{
    padding-top: 15px;
}

.kb-card-info .kb-card-content p{
    color: rgba(128, 128, 128, 0.73);
    padding: 10px 0;
    margin: 0;    
}

.kb-card-info  .kb-card-action{
    padding-top: 20px;
}
.kb-card-info  .kb-card-action a{
    -text-transform:uppercase;
}

.wrapper {
    outline:0;
    position:relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
    -background-color:#F2F4F2;
    -webkit-overflow-scrolling:touch;
    -overflow-y:auto;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 30%;
}
.wrapper.shop{
    margin-left: 40%;
    background-color:transparent;
}

.wrapper.paysage{
    left: 30px;
}

.display-info .wrapper-inner{
    margin-top: 40px;
}

.wrapper-inner {
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    max-width:1024px;
    padding:0px 80px;
    margin-top: 5px
}
.wrapper.paysage .wrapper-inner{
    padding:0px 0 0 80px;
    max-width: 98%;
}

.wrapper-inner.wide{
    padding:0px; 
    margin-top:0;   
}

.wrapper-inner.markdown{
    margin:0; 
    background-color: white;
    padding: 60px 60px;
}


.wrapper-inner.wide>div:nth-child(odd),
.wrapper-inner.wide article:nth-child(odd),
.wrapper-inner.wide>section:nth-child(even),
.wrapper-inner.wide>footer:nth-child(odd)
{
    padding:15px 80px;
    -background-color: #fff;
    float: left;
    width: 100%;
}
.wrapper-inner.wide>div:nth-child(even),
.wrapper-inner.wide article:nth-child(even),
.wrapper-inner.wide>section:nth-child(odd),
.wrapper-inner.wide>footer:nth-child(even)
{
    background-color: #fdfdfd;
    padding:15px 80px;
    float: left;
    width: 100%;
    -background: -webkit-linear-gradient(#ffffff,#fafbfa); /*Safari 5.1-6*/
    -background:       o-linear-gradient(#ffffff,#fafbfa); /*Opera 11.1-12*/
    -background:     moz-linear-gradient(#ffffff,#fafbfa); /*Fx 3.6-15*/    
    -background:         linear-gradient(#ffffff,#fafbfa)    
}

.main {
    -webkit-transition:-webkit-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    -moz-transition:-moz-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    -o-transition:-o-transform .2s cubic-bezier(0.2,0.3,0.25,0.9);
    transition:transform .2s cubic-bezier(0.2,0.3,0.25,0.9)}

.screen-content {
    outline:0}

@media not print {
    .screen-scroll,.screen-scroll>body,.screen-scroll .main {
    overflow:auto}

}

@media all and (max-width:992px) {
    .wrapper {
        margin-left:0;
        position:relative;
    }

    .wrapper-inner {
        padding:0px 88px;
        max-width:100%;
        margin-top: 5px
    }
    .wrapper.shop{
        margin-left: 0;
    }


}

@media all and (max-width:550px) {
    .wrapper-inner {
        padding:3px 2% 0 4%;
    }
    .wrapper-inner.wide>div:nth-child(odd),
    .wrapper-inner.wide article:nth-child(odd),
    .wrapper-inner.wide>section:nth-child(even),
    .wrapper-inner.wide>footer:nth-child(odd)
    {
        padding:15px 10px;
        -background-color: #fff;
        float: left;
        width: 100%;
    }
    .wrapper-inner.wide>div:nth-child(even),
    .wrapper-inner.wide article:nth-child(even),
    .wrapper-inner.wide>section:nth-child(odd),
    .wrapper-inner.wide>footer:nth-child(even)
    {
        background-color: #fafafa;
        padding:15px 10px;
        float: left;
        width: 100%;
        -background: -webkit-linear-gradient(#ffffff,#fafbfa); /*Safari 5.1-6*/
        -background:       o-linear-gradient(#ffffff,#fafbfa); /*Opera 11.1-12*/
        -background:     moz-linear-gradient(#ffffff,#fafbfa); /*Fx 3.6-15*/    
        -background:         linear-gradient(#ffffff,#fafbfa)    
    }

    .wrapper-inner.markdown {
        padding: 5px;
    }
}

@media all and (min-width:1666px) {
    .wrapper {
    width: 75%;
    margin-left:0;
    left:25%;
    }
    .wrapper.shop{
    width: 60%;
    margin-left:0;
    left:40%;
    }


.wrapper-inner {
    max-width:1024px}

.system-page .wrapper-inner {
    padding-left:85px;
    max-width:810px}

}

body {
    -webkit-font-smoothing:antialiased;
    color:#333332;
}

.chrome body {
    text-rendering:optimizeLegibility;
}

.main {
    background:#fff
}

h1,h2,h3,h4,h5 {
    font-family:"Halant",Serif;
    font-family: 'Gentium Book Basic', serif;
    font-weight:500;
    padding-bottom: 10px;
}

p {
    margin-bottom:31px}

h1 {
    letter-spacing:-1px}

a {
    -color:#000;
    text-decoration:none}

@media screen and (max-device-width:992px) {
    html {
    -webkit-text-size-adjust:none}

}

.error-message .icons-logo:before,.icons-error:before {
    width:150px;
    height:150px;
    display:block;
    font-size:301px;
    color:#fff;
    line-height:100px}



/**
 * TOP MENU-SELECTION
 */

.bucket {
    position:relative;
    padding-bottom:25px;
    padding-top:10px;
    *zoom:1;
}

.bucket:before,.bucket:after {
    display:table;
    content:" "}

.bucket:after {
    clear:both}

.bucket:last-child {
    margin-bottom:55px}

.bucket-header {
    height:40px;
    border-top:1px solid #dededc;
    border-bottom:1px solid #dededc;
    font-size:14px;
    color:#b3b3b1;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700}

.bucket-header-chevron {
    float:right}

.bucket-header-list {
    border-top:0}

.bucket-title {
    display:inline-block;
    padding:0;
    width:100%}

.bucket-sub-title{
    color: #aaa;
    font-style: italic;
    margin-top: 10px;
    text-align: left;
    font-family: serif;
    float: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;    
}

.bucket-header-list .bucket-title {
    width:auto;
    margin-right:20px}

.bucket-title a,.bucket-title .no-link {
    display:block;
    padding-bottom:12px;
    padding-top:12px;
    font-size:28px;
    -letter-spacing:2px;
    -text-transform:uppercase;
    color:#b3b3b1;
    -webkit-transition:color .1s linear;
    -moz-transition:color .1s linear;
    -ms-transition:color .1s linear;
    -o-transition:color .1s linear;
    transition:color .1s linear;
    text-decoration: inherit;
    font-family: 'Halant',Serif;
    font-family: 'Gentium Book Basic', serif;
}

.bucket-title:hover a {
    color:#666665}

.bucket-grid {
    padding-top:20px}

.bucket-sort .active {
    -border-bottom:1px solid #333332
}

.bucket-sort .active a {
    color:#333332}








.empty-bucket a:not(.btn) {
    color:#b3b3b1;
    text-decoration:underline}

.empty-bucket a:hover:not(.btn) {
    text-decoration:underline}

.wf-loading .bucket,.wf-loading .bucket-title,.wf-loading .empty-bucket {
    visibility:hidden}

@media all and (max-width:992px) {
    .bucket-title a,.bucket-title .no-link {
    font-size:20px;
    padding-bottom:11px}


.empty-bucket {
    margin-top:40px}

.empty-bucket-title {
    font-size:18px}

}

@media all and (max-width:500px) {

    .bucket-header {
    margin-bottom:30px}

.bucket-title a,.bucket-title .no-link {
    font-size:20px;
    padding-bottom:5px}

.bucket-header-title {
    line-height:20px;
    max-width:420px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis}

.jumbo-bucket-title {
    position:absolute;
    padding-left:56px;
    height:65px;
    line-height:62px;
    top:0;
    left:10px;
    right:10px;
    font-size:20px;
    text-align:left;
    border-bottom:1px solid #f2f2f0}

.jumbo-bucket-title:after {
    display:none}



.bucket-header+.post-item-grid {
    padding-top:0}

.ordered-posts .bucket .post-item-small {
    padding-left:30px}

.ordered-posts .bucket .post-item-small:before {
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700;
    font-size:18px;
    position:absolute;
    left:0;
    top:27px}


}

.show-subtitles-variant.post-item {
    padding:35px 0}

.show-subtitles-variant .post-item-title {
    padding-bottom:6px;
    line-height:1.1}

.show-subtitles-variant .post-item-meta {
    padding-top:2px}

.show-subtitles-variant .post-item-snippet {
    font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight:400;
    padding-bottom:6px;
    font-size:18px}

@media all and (max-width:992px) {
    .show-subtitles-variant .post-item-snippet {
    font-size:18px}

}


@media all and (max-width:500px) {
    .show-subtitles-variant.bucket-header {
    margin-bottom:0}

.show-subtitles-variant.post-item {
    padding:30px 0}

.ordered-posts .show-subtitles-variant.post-item-small:before {
    top:28px}

.show-subtitles-variant.post-item-grid {
    padding-bottom:0}



}

.wf-loading .btn,.wf-loading .btn-toggle {
    visibility:hidden}

.butter-bar {
    position:fixed;
    top:-100px;
    width:58%;
    max-width:640px;
    margin-left:30%;
    z-index:1998000;
    text-align:center;
    -webkit-transition:top .7s,opacity .7s;
    -moz-transition:top .7s,opacity .7s;
    -ms-transition:top .7s,opacity .7s;
    -o-transition:top .7s,opacity .7s;
    transition:top .7s,opacity .7s;
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0}

.butter-bar.active {
    top:0;
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1}

.butter-bar.back{
    z-index:700;
}

.butter-bar-message {
    display:inline-block;
    background:#b3b3b1;
    color:#fff;
    padding:12px 25px;
    margin-bottom:0;
    font-size:15px;
    -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow:0 2px 0 rgba(0,0,0,0.1);
    box-shadow:0 2px 0 rgba(0,0,0,0.1);
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:400}


/**
 * FLASH MESSAGE
 */


.butter-bar-dismiss {
    margin-left:20px;
    color:rgba(255,255,255,0.7)}

.butter-bar-dismiss:hover {
    color:#fff}

.butter-bar-message .butter-bar-link {
    color:#fff;
    text-decoration:underline}

.butter-bar-actions,.butter-bar-action {
    color:rgba(255,255,255,0.5)}

.butter-bar-action:hover {
    color:#fff}

.butter-bar.success .butter-bar-message {
    background:#57ad68}

.butter-bar.info .butter-bar-message {
    background:#FCF8E3;color:#8A6D3B;}

.butter-bar.error .butter-bar-message {
    background:#ad5768}
    

@media all and (max-width:992px) {
    .template-flex-article .butter-bar,.butter-bar {
    left:0;
    margin-left:10%;
    width:80%;
    max-width:none}

}

@media all and (max-width:500px) {
    .butter-bar {
    margin-left:5%;
    width:90%}

}

@media all and (min-width:1666px) {
    .butter-bar {
    margin-left:685px}

.butter-bar-center {
    margin-left:-320px}

}

.loading-bar {
    position:fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    height:2px;
    z-index:800;
    background:#60d778;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%)}

.image-picker img[src] {
    display:block}


.image-picker-wrap .cancel-button:hover {
    color:#fff}



.list-choice-item:hover {
    background-color:#f2f2f0}


/**
 * SITE NAVIGATION
 */


.nav-tabs {
    *zoom:1}

.nav-tabs:before,.nav-tabs:after {
    display:table;
    content:" "}

.nav-tabs:after {
    clear:both}

.nav-tabs button:hover {
    color:#b3b3b1}

.nav-tabs .active,.nav-tabs .active:hover {
    border-bottom:1px solid rgba(0,0,0,0)}

.nav-tabs li:first-child button {
    border-left:rgba(0,0,0,0)}


.nav-page-btn.disabled,.nav-page-btn:disabled {
    color:#b3b3b1}

.nav-page-btn:focus .btn-label,.nav-page-btn:hover .btn-label {
    text-decoration:underline}

.nav-page-btn.disabled:hover .btn-label {
    text-decoration:none;
    cursor:default}

@media screen and (max-width:992px) {
    .nav-page {
    margin-top:0;
    text-align:left}

.nav-page-btn {
    width:50%;
    padding:10px 0;
    border-top:1px solid #fff}

.nav-page-btn:hover,.nav-page-btn:focus {
    text-decoration:none;
    background:#f2f2f0}

.nav-page-vertical-divider {
    display:none}

}

.site-nav {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    outline:0;
    background-color:#232322;
    z-index: 1000;
}

.site-nav-logo {
    position:fixed;
    top:10px;
    left:10px;
    padding-left:9px;
    padding-right: 0px;
    width:95px;
    height:38px;
    z-index:99801;
    background-color:#333332;
    text-align:center;
    border:0;
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1;
    -webkit-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -moz-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -ms-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -o-transition:top .2s linear,left .2s linear,opacity .2s linear;
    transition:top .2s linear,left .2s linear,opacity .2s linear;

    color: white;
    text-transform: uppercase;
    font-size: 13px;
    vertical-align: top;
    font-weight: 700;
    outline: 0;
}

.site-nav-logo-cart {
    position:fixed;
    top:10px;
    right:30px;
    padding-left:9px;
    padding-right: 5px;
    width:220px;
    height:38px;
    z-index:99801;
    background-color:#333332;
    text-align:center;
    border:0;
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1;
    -webkit-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -moz-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -ms-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -o-transition:top .2s linear,left .2s linear,opacity .2s linear;
    transition:top .2s linear,left .2s linear,opacity .2s linear;
    -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
       -moz-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
         -o-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
    text-align: left;
    color: rgb(188, 185, 185);
    font-size: 90%; 
    font-weight: 300;   
    outline: 0;     
}


.site-nav-logo.large{
    -width:153px;    
    -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
       -moz-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
         -o-box-shadow: 0 0px 8px 0 rgba(0,0,0,.23);
}

.site-nav-logo .icons {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.site-nav-logo.transition {
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;  
}

.site-nav-logo:hover {
  -width: 200px;
}
.site-nav-overlay {
    display:none;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:600}

.site-nav-scrollable-container {
    display:none;
    -webkit-overflow-scrolling:touch;
    overflow-y:none!important;
    height:100%;
    -webkit-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);
    box-shadow:inset -1px 0 3px rgba(0,0,0,0.3)}

.site-nav-scrollable-container::-webkit-scrollbar {
    display:none}

.site-nav-list {
    position:relative;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:400;
    overflow-y: auto;
}

.site-nav-list-item {
    position:relative;
    -border-bottom: 1px solid #333;
    padding: 2px 0px;    
}

.site-nav-list-item.divider {
    border-bottom:1px solid #333333;
}

.site-nav-list-item.site-nav-list-item-home {
    margin-top:10px 0}

.site-nav-list-item:last-child {
    margin-bottom:10px}

.site-nav-list-item .btn{
    margin: 5px;
}

.site-nav-list-item-btn {
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700;
    display:block;
    padding:0 10px 0 32px;
    height:36px;
    line-height:36px;
    font-size:16px;
    border:0;
    background:rgba(0,0,0,0);
    text-align:left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.site-nav-list-item-btn.pull-right{
    position: absolute;
    right: 10px;
    top: 10px;    
}

.site-nav-list-item-btn.active{
    background-color: #5bc0de;
    color: white;
}

.site-nav-list-item-btn,.site-nav-list-item-btn .icons:before {
    color:#b3b3b1}

.site-nav-list-item-btn:focus {
    outline:0}

.site-nav-list-item-btn .icons {
    font-size:18px;
    display:block;
    position:absolute;
    left:16px;
    top:0;
    width:20px;
    text-align:center}

.site-nav-list-item-btn-secondary {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px 10px 0 6px;
}
.site-nav-list-item-btn-bootstrap{
    margin-left: 30px!important;
}

.site-nav-list-item-text {
    height:43px;
    line-height:43px;
    border:0;
    background:rgba(0,0,0,0);
    text-align:left;
    white-space: nowrap;
    margin:10px 0;
    padding:0 10px 0 12px;
}

.site-nav-list-item-content {
    display:block;
    padding:0 10px 0 12px;
    height:43px;
    line-height:33px;
    font-size:16px;
    border:0;
    background:rgba(0,0,0,0);
    text-align:left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-nav-list-item-cart {
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700;
    display:block;
    padding:0 10px 0 12px;
    height:46px;
    -line-height:33px;
    font-size:14px;
    border:0;
    background:rgba(0,0,0,0);
    text-align:left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.site-nav-list-item-cart span{
    display: block;
    font-size: 10px;
}

.site-nav-list-item.basket-top {
    background-color: whitesmoke;
    border-bottom: rgb(226, 238, 231) 1px solid;
    border-top: 20px rgb(67, 180, 90) solid;
}
.site-nav-list-item.basket-bottom {
    background-color: whitesmoke;
    height: 200px;
}

.site-nav-list-item.basket {
    background-color: white;
    border-bottom: rgb(226, 238, 231) 1px solid;
    border-right: rgb(226, 238, 231) 1px solid;
}

.site-nav-transition .site-nav-scrollable-container {
    display:block;
    width:340px;
    overflow: hidden;
    overflow-y:auto; 
}

.site-nav-transition .site-nav-logo {
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity-:0;
    top-:0}

.site-nav-drawer-open .site-nav-overlay,.site-nav:focus~.site-nav-overlay {
    left:340px;
    z-index:900}

.site-nav-transition #container {
    left:0;
    position:fixed;
    overflow-y:auto;
    width:100%;
    height:100%;
    z-index:800}

.site-nav-drawer-open #container {
    -webkit-transform:translate3d(340px,0,0);
    -moz-transform:translate3d(340px,0,0);
    -o-transform:translate3d(340px,0,0);
    transform:translate3d(340px,0,0)}

.site-nav-drawer-open .site-nav-logo {
    display:none}

.site-nav-drawer-open .site-nav-overlay {
    display:block}

@media screen and (min-device-width:992px) {
    .site-nav-list-item-active .site-nav-list-item-btn,.site-nav-list-item-active .notifications-list-item-btn,.site-nav-list-item-active .site-nav-list-item-btn .icons:before,.site-nav-list-item-btn:hover,.site-nav-list-item-btn:hover .icons:before,.site-nav-list-item-btn-secondary:hover .icons:before,.notifications-list-item-btn:hover {
    color:#fff;
    outline:0}

}

@media screen and (max-width:992px) {
    .body-scroll .site-nav {
    position:absolute}

}

@media screen and (max-width:500px) {
    .site-nav-logo{
        top:10px;
        left: 10px;
    }
    .site-nav-logo-cart{
        right: 10px;
        top:10px;
        width: 180px;
    }

}

@media print {
    .site-nav {
    position:fixed}

}


/**
 * SITE-NAVIGATION SEARCH
 */


.site-nav-search-wrapper {
    height:0;
    -webkit-transition:height .2s ease-in-out;
    -moz-transition:height .2s ease-in-out;
    -ms-transition:height .2s ease-in-out;
    -o-transition:height .2s ease-in-out;
    transition:height .2s ease-in-out}

.site-nav-search-inner {
    text-align:right}


.site-nav-list-item-btn-secondary .icons-search:before {
    font-size:18px;
    margin-right:0}

.site-nav-search-collapse .icons-remove:before {
    color:#666665;
    font-size:18px}

.site-nav-search-nav-desktop,.site-nav-search-query,.site-nav-search-collapse .icons-remove {
    display:inline}

.site-nav-search-nav-mobile,.site-nav-search-clear,.site-nav-search-collapse .site-nav-search-remove-mobile {
    display:none}

.site-nav-search-collapse .icons-remove,.site-nav-search-open .site-nav-list-item-btn-secondary .icons-search {
    filter:alpha(opacity=0);
    -khtml-opacity:0;
    -moz-opacity:0;
    opacity:0}

.site-nav-search-open .site-nav-search-collapse .icons-remove,.site-nav-list-item-btn-secondary .icons-search {
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1}

.site-nav-search-fade-in-bg.site-nav-scrollable-container {
    overflow:hidden}

.site-nav-search {
    display:inline-block;
    position:relative;
    background:#f9f9f7;
    width:0;
    overflow:hidden;
    margin:12px 0 0 0;
    height:29px;
    -webkit-transition:width .2s ease-in-out;
    -moz-transition:width .2s ease-in-out;
    -ms-transition:width .2s ease-in-out;
    -o-transition:width .2s ease-in-out;
    transition:width .2s ease-in-out;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px}

.site-nav-search-wrapper-fade-in .site-nav-search {
    width:230px;
    color:#b3b3b1}

.site-nav-search-open .site-nav-search-wrapper,.site-nav-search-wrapper-fade-in.site-nav-search-wrapper {
    height:50px}

.site-nav-search .icons-search:focus {
    color:#f9f9f7}

.site-nav-search-collapse .icons-remove {
    line-height:29px;
    margin:9px 9px 0 12px}

.site-nav-search-collapse:hover .icons-remove:before {
    color:#fff}

.site-nav-search-input-trigger:focus,.site-nav-search-item .btn:focus {
    outline:0}

.site-nav-search-input-trigger:focus .icons:before,.site-nav-search-item .btn:focus .icons:before {
    color:#dededc}

.site-nav-search-result:focus,.site-nav-search-result:focus .icons-draft,.site-nav-search-result:hover,.site-nav-search-result:hover .icons-draft,.site-nav-search-result:hover a {
    color:#fff;
    cursor:pointer;
    outline:0}

.site-nav-search-result .icons-draft {
    display:inline-block;
    position:relative;
    top:-5px;
    padding-left:14px;
    font-size:28px;
    color:#666665;
    vertical-align:top}

.site-nav-search-result .icons-avatar-user {
    display:inline-block;
    margin:5px 4px 0 14px;
    vertical-align:top}

.site-nav-search-result .collection-icon {
    display:inline-block;
    width:20px;
    height:20px;
    margin:8px 4px 0 14px;
    vertical-align:top}

.site-nav-search-result-info {
    display:inline-block;
    padding-left:10px;
    width:200px}

.site-nav-search-result-title {
    font-size:16px;
    line-height:1.2;
    display:block;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700}

.site-nav-search-result-snippet {
    font-size:12px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight:400}

.site-nav-search-no-results {
    display:block;
    margin-top:8px}

.site-nav-search-no-results .site-nav-search-result-info {
    padding-left:15px;
    width:210px}

.site-nav-search-no-results .site-nav-search-no-results-icon {
    display:inline-block;
    color:#b3b3b1;
    padding-left:14px;
    font-size:24px;
    vertical-align:top;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:700}

.site-nav-search-no-results .site-nav-search-result-title,.site-nav-search-no-results .site-nav-search-result-snippet {
    color:#b3b3b1}

.site-nav-search-no-results a {
    color:#b3b3b1;
    padding-bottom:2px;
    text-decoration:underline}

.site-nav-search-no-results a:hover {
    color:#dededc}

@media screen and (max-width:500px) {
    .browser-android.site-nav-search-open #container {
    -webkit-transform:translate3d(100%,0,0);
    -moz-transform:translate3d(100%,0,0);
    -o-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0)}

.site-nav-search-open .site-nav {
    right:0}

.site-nav-search-open .site-nav-search-results,.site-nav-search-open .site-nav-scrollable-container {
    width:100%}

.site-nav-search-open .site-nav-overlay {
    left:100%;
    top:100px}

.site-nav-drawer-open.site-nav-search-open #container {
    -webkit-transform:translate3d(100%,0,0);
    -moz-transform:translate3d(100%,0,0);
    -o-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0);
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none}

.site-nav-search,.site-nav-search-input,.site-nav-search-wrapper,.site-nav-search-results {
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none}

.site-nav-search-collapse {
    margin:0;
    padding:19px 12px 0 10px;
    color:#dededc;
    font-size:12px;
    letter-spacing:.1em;
    text-transform:uppercase}

.site-nav-search-input-mobile {
    background:rgba(0,0,0,0);
    color:#666665;
    outline:0;
    border:0;
    position:absolute;
    top:10px;
    right:10px;
    left:248px;
    width:20px;
    height:20px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%}

.site-nav-search-open .site-nav-search-input {
    font-size:14px;
    top:-40px;
    left:30px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:400}

.site-nav-search-input-mobile-search-input-bg {
    position:absolute;
    top:8px;
    right:16px;
    color:#666665}

.site-nav-search-nav-desktop,.site-nav-search-input-desktop,.site-nav-search-query,.site-nav-search-collapse .icons-remove,.site-nav-search-collapse .site-nav-search-remove-mobile,.site-nav-search-open .site-nav-search-input-mobile-search-icon {
    display:none}

.site-nav-search-nav-mobile,.site-nav-search-clear,.site-nav-search-open .site-nav-search-remove-mobile,.site-nav-search-open .site-nav-search-remove-mobile {
    display:inline}

.site-nav-search-collapse:focus .site-nav-search-remove-mobile {
    color:#b3b3b1}

}

.wrapper-footer {
    margin:10px 0px;
    padding:10px 0 25px 5px;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
    border-top:1px solid #fafbfa;
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight:400;
    font-size:14px;
    float: left;
    clear: both;

}

.wrapper-footer.wide {
    padding: 20px 80px;
}

.wrapper-footer.bottom{
    position: absolute;
    bottom: 0;
    -left: 0;    
}

.wrapper-footer-link {
    color:#b3b3b1;
    margin-right:20px}

.wrapper-footer-link:hover {
    color:#666665}

[data-action="zoom"] {
    cursor:pointer;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in}

.zoom-img,.zoom-img-wrap {
    position:relative;
    z-index:900;
    -webkit-transition:all 300ms;
    -moz-transition:all 300ms;
    -ms-transition:all 300ms;
    -o-transition:all 300ms;
    transition:all 300ms}

.zoom-img {
    cursor:pointer;
    cursor:-webkit-zoom-out;
    cursor:-moz-zoom-out}






/**
 * SITE SECTION
 */


.body>section {
    position:relative}

.body>section+section:before {
    display:block;
    width:20%;
    margin:50px auto 40px auto;
    border:1px solid #dededc;
    content:''}

.section-sized>.section-inner {
    display:table-cell}

.section-sized.section-image-left,.section-sized.section-image-right {
    margin:0 -100px}

.section-sized.section-image-full>.section-inner {
    width:100%;
    color:#fff;
    z-index:50}

.section-sized.section-image-left>.section-inner,.section-sized.section-image-left>.section-background,.section-sized.section-image-right>.section-inner,.section-sized.section-image-right>.section-background {
    width:50%;
    display:table-cell;
    padding:0 5px}

.section-sized.section-image-left>.section-background,.section-sized.section-image-right>.section-background,.section-sized.section-middle-center>.section-inner {
    vertical-align:middle}

.section-sized.section-bottom-center>.section-inner {
    vertical-align:bottom}

.section-sized>.section-background {
    display:block}

.section-sized.section-image-full>.section-background {
    top:0;
    position:absolute}


body:not(.post-edit-mode) .post-page-wrapper-contain {
    padding-top:120px;
    margin-top:0}





.btn-replace-image:focus {
    outline:0}

.has-image .btn-replace-image {
    display:none}



@-webkit-keyframes throb {
    0% {
    color:#57ad68;
    text-shadow:0 0 5px rgba(150,50,32,0.2)}

50% {
    color:rgba(87,173,104,0.5);
    text-shadow:0 0 20px #cc5454}

100% {
    color:#57ad68;
    text-shadow:0 0 5px rgba(150,50,32,0.2)}

}


.background-size-full .upload-feedback:before,.background-size-full .upload-feedback:after {
    display:table;
    content:" "}

.background-size-full .upload-feedback:after {
    clear:both}


.welcome-footer-item {
    width:120px;
    height:120px;
    display:block;
    margin-bottom:20px}

.item-backdrop {
    display:block;
    position:absolute;
    top:0;
    left:40px;
    background-color:rgba(255,255,255,0.2);
    width:120px;
    height:120px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    -webkit-transition:-webkit-transform .1s;
    -moz-transition:-moz-transform .1s;
    -o-transition:-o-transform .1s;
    transition:transform .1s}

.welcome-footer-item:hover .item-backdrop {
    background-color:rgba(255,255,255,0.1);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2)}

.welcome-footer-item:hover .icons {
    color:#fff;
    -webkit-transform:scale(1.08);
    -moz-transform:scale(1.08);
    -o-transform:scale(1.08);
    transform:scale(1.08)}

.logged-out-section-link:hover {
    border-bottom:1px solid #b3b3b1}

@media screen and (max-width:992px) {
    .logged-out-sections {
    width:130%}

.logged-out-section {
    width:22%;
    margin:20px;
    font-size:16px;
    height:230px}

}

@media screen and (max-width:800px) {
    .logged-out-section {
    height:250px;
    margin-left:35px}

.logged-out-section-message {
    position:relative;
    left:20px}

}

@media screen and (max-width:500px) {
    .logged-out-sections {
    width:auto;
    margin:40px 20px 10px}

.logged-out-section {
    display:block;
    height:80px;
    width:auto;
    font-size:18px;
    margin:0 0 20px}

.welcome-footer-item {
    float:left;
    width:60px;
    height:60px;
    display:block;
    position:relative;
    top:5px}

.item-backdrop {
    top:0;
    left:0;
    width:60px;
    height:60px}

.welcome-footer-item .icons {
    font-size:36px;
    line-height:50px;
    position:relative;
    top:6px;
    left:1px}

.logged-out-section-message {
    font-size:16px;
    float:left;
    width:70%;
    position:relative;
    top:3px;
    left:20px}

.logged-out-branding-welcome {
    font-size:11px}

.logged-out-branding-name {
    font-size:42px}

}



@media all and (max-width:500px) {
  .welcome-wrapper {
    padding:35px 5px 5px
  }

  .loader-label {
    width:100%;
    font-size:16px
  }

}

