/* markdown layout
-------------------------------------------------- */

markdown img{
  max-width: 100%;
} 

markdown ul{
	list-style: inherit;
	padding-left: 40px;	
	margin-bottom: 15px;
}

markdown h1{
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;	
}
markdown h2{
  margin-bottom: 10px;	
}

markdown blockquote{
	margin-bottom: 20px;
	background-color: rgba(128,128,128,0.05);
}

markdown p{
	margin-bottom:8px;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 200px) and (max-width: 979px) {    

}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





