
.markdown-bundle{
  background-color:rgba(255, 255, 255, 0.72);
}
.markdown-bundle .text{
  font-family: "PT Serif",serif;
  color: #555;
  text-rendering: optimizelegibility;
  line-height: 1.8em;  
  font-size: 20px;
}

.markdown-bundle .container{
  max-width: 600px;
  margin: 0px auto;
}

.markdown-bundle .container-fluid{
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}


.markdown-bundle .container:last-child{
  padding-bottom: 100px;
}


.markdown-bundle .byline{
  color: #999;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}
.markdown-bundle .home-header{
  border-bottom: 1px solid #EEE;
  height: 300px;  
  position: relative;
  margin-bottom: 0;
}


.markdown-bundle img{
  max-width: 100%;
}

.markdown-bundle .home-header h1{
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.24em;
  font-size: 2.5em;
  line-height: 1.08em;  
  bottom:40px;
  width: 100%;
  color: white;
  text-shadow:0 0 1px rgba(0,0,0,1);
}
.markdown-bundle h2.header{
  color: #999;
}
.markdown-bundle  h2{
  font-weight: normal;
  font-style: italic;  
}

.markdown-bundle h1, .markdown-bundle.h1, .markdown-bundle h2, .markdown-bundle.h2, .markdown-bundle h3, .markdown-bundle.h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #00a79d;
}

.markdown-bundle p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown-bundle ul, .markdown-bundle ol{
  padding-left: 15px;
  list-style: inherit;
  margin-bottom: 20px;
}



.markdown-bundle blockquote{
  margin:50px -25px;
  font-style: italic;
  color: #888;  
  font-size: 1.3em;
}

.edit .markdown-bundle blockquote{
  margin:50px 0%;
}

@media (max-width: 767px) {

  .markdown-bundle blockquote{
    margin:50px 0%;
    padding-left: 0;
    border-left: 0;    
  }

}