
.markdown-recipe{
  background-color:rgba(255, 255, 255, 0.72);
}
.markdown-recipe .text{
  color: #555;
  text-rendering: optimizelegibility;
  font-size: 20px;
}

.markdown-recipe .container{
  max-width: 600px;
  margin: 0px auto;
}

.markdown-recipe .container-fluid{
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.markdown-recipe .container:last-child{
  padding-bottom: 100px;
}

.markdown-recipe .byline{
  color: #999;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}
.markdown-recipe .home-header{
  border-bottom: 1px solid #EEE;
  height: 300px;  
  position: relative;
  margin-bottom: 0;
}


.markdown-recipe img{
  max-width: 100%;
}

.markdown-recipe .home-header h1{
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.24em;
  font-size: 2.5em;
  line-height: 1.08em;  
  bottom:40px;
  width: 100%;
  color: white;
  text-shadow:0 0 1px rgba(0,0,0,1);
}
.markdown-recipe h2.header{
  color: #999;
  font-size: 1.5em;
  line-height: 1.3em;
  font-style:italic;
  font-weight: 400;
}
.markdown-recipe  h2{
  font-weight: normal;
  font-style: italic;  
}

.markdown-recipe h1, .markdown-recipe.h1, .markdown-recipe h2, .markdown-recipe.h2, .markdown-recipe h3, .markdown-recipe.h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #00a79d;
}

.markdown-recipe p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown-recipe ul, .markdown-recipe ol{
  padding-left: 15px;
  font-family: Graphik,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  letter-spacing: .2px;  
}

.markdown-recipe blockquote{
  margin:50px -25px;
  font-style: italic;
  color: #888;  
  font-size: 1.3em;
}

.edit .markdown-recipe blockquote{
  margin:50px 0%;
}

@media (max-width: 767px) {

  .markdown-recipe blockquote{
    margin:50px 0;
    padding-left: 0;
    border-left: 0;    
  }

}