
.cover.session .bucket{
    padding-top:0px;    
}

/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
}*/

.navbar {
  border-radius: 0px;
}

.navbar-fixed-abs{
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}