
/* global popup (inspired from pinterest) 
-------------------------------------------------- */

.backfader{
  background-color: rgba(240, 240, 240, 0.83);
  -display: none;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
   position: fixed;
  right: 0;
  top: 0;
  cursor:-Moz-Zoom-Out;
  z-index: 9999;
}

.popupcontent{
  top: 1%;
  right: 1%;
  left: 1%;
  bottom: auto;
  width: auto !important;
  height: auto !important;
  z-index: 4000;
  box-shadow: 0 3px 18px rgba(34, 25, 25, 0.4);
  background: #fefefe;
  max-width: 750px;   
  min-height:550px;
  margin:20px auto;
  border-radius: 5px;
  overflow:hidden;
  font-weight: 300;
}



.popupcontent>div.shop>ul>li.smart{
  width:70%;
}

.popupcontent>div.content{
  border-bottom:solid 2px #ddd;
  -font-family:Georgia,"Times New Roman",Times,serif;
  font-size:16px;  
  padding-bottom:10px;
}
.popupcontent>div.shop{
  border-top:dotted 2px #ddd;
  padding: 10px 20px;
  font-size:16px;  
  position:relative;
}



/* Desktop large
------------------------- */
@media (min-width: 1200px) {
}


/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
    padding-left:inherit;
    padding-right:inherit;
  }

  .popupcontent .content,.popupcontent>div.shop{
    padding-left: 10px;
  }

  .popupcontent>div>div>img{
    padding-left: 0px; 
  }

  .pattern-dark.row {
    margin-right: 0px;
    margin-left: 0px;
  }  
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
    padding-left:inherit;
    padding-right:inherit;
  }
  
  .popupcontent{
    margin:0px auto;
  }
  

  .popupcontent div.smart, .popupcontent .content, .popupcontent>div.shop{
    padding-left: 20px;
  }

  .popupcontent>div.shop>ul>li.smart{
    width:60%;
  }

  .popupcontent>div.content{
    font-size:14px;  
    padding-bottom:5px;
  }
  .popupcontent>div.shop{
    padding-top: 20px;
    font-size: 14px;
    border-top: 2px dotted #ddd;
    margin-top: 20px;
  }

  .pattern-dark.row {
    margin-right: 0px;
    margin-left: 0px;
  }  

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
    padding-left-:inherit;
    padding-right-:inherit;
    margin-right-: -20px;
  }

  .popupcontent>div>div>img{
    padding-left: 0px;
  }
  .popupcontent>div.shop>ul>li.smart{
    width:50%;
  }

}



@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
}