
/* products
-------------------------------------------------- */
.block{
  position:relative;
}

.products-row:nth-child(odd){
  background-color: #EEF2EA;
  background-color: #EFEFEF;
  border-bottom:1px solid #ccc;
  padding: 5px 0 30px 0;
}

.products-row:nth-child(even){
  border-bottom:1px solid #ddd;
  padding: 5px 0 30px 0;
}

.drop-photo{
  border-: 2px dashed #DDD;
  border-radius: 15px;
}
.drop-photo button{
  margin-left:10px;
  margin-right:10px;
}

.row-fluid [class*="layout-item"] {
    min-height: 30px;
}

.items-header h2{
    border-bottom: 1px solid #DEDEDE;
    margin: 0 5% 15px;
    text-align: center;
    padding:10px;
    color:#888;
}

.thumbnail-owner{
  border: 2px solid white;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.layout-item{
  float:left;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  border: 1px solid #eee;
  border-color:#EAE9E9 #D4D2D3 #B2B1B1;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  min-height: 20px;
  min-height:300px;
  position:relative;
  
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:14px;
  border-radius:4px;
}
.layout-item h1, .layout-item h2, .layout-item h3, .layout-item h4{
}

.layout-item .body{
  -padding: 4px 4px 0px 4px;  
}

.layout-item section.footer{
  padding:0px;
  padding-left: 4px;  
  background-color:#444;
  color:white;
  border-radius:0 0 4px 4px;
}

.layout-item.c1{
  width: 255px;
  min-height:200px;
  margin:0.338em 0.238em 0.338em 1.75em;
}

.shop-container .layout-item.c1{
	width: 240px; /* 305px */
}


.layout-item.c2{
  width: 345px;
  margin:0.338em 0.238em 0.338em 1.75em;
  -min-height:350px;
}

.layout-item.c2 div.elem{
  padding-left:10px;
  max-height: 120px;
  overflow: hidden;
}

.layout-item.c3{
  width: 722px;
  margin:0.338em 0.238em 0.338em 1.75em;
  -min-height:350px;
}
.layout-item.c3 img{
  width:100%;
}

.layout-item:hover{
  -box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) ;
}

.layout-item img{
  cursor:pointer;
  cursor:-Moz-Zoom-In;
  border-radius:3px 3px 0 0;
  overlay:hidden;
  min-height:190px;
}

.layout-item img.available, .backfader img.available{
  position:absolute;
  left:0;
  top:0;
  opacity:0.6;
  filter:alpha(opacity=60);
}

.layout-item .actions{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  top:10px;
  left:20px;
}
.layout-item .actions .btn{
  margin:5px;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {



	.layout-item.c1{
		width: 220px; /* 305px */
		-width: 30%; 
    border: 1px solid #E3E3E3;    margin:0.438em;
		margin-bottom: 0.938em; /* 15px */
		font-size:16px;
	}


	.layout-item.c2{
		width: 330px; /* 305px */
    border: 1px solid #E3E3E3;    margin:0.438em;
		margin-bottom: 0.938em; /* 15px */
		font-size:14px;
	}
  
  .layout-item.c3{
    width: 675px;
    border: 1px solid #E3E3E3;    margin:0.438em;
		margin-bottom: 0.938em; /* 15px */
		font-size:14px;
  }
  .layout-item.c3 img{
    width:100%;
  }  
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	.layout-item.c1{
		width: 210px; /* 305px */
  }
  
	.layout-item.c2{
		width: 46%; /* 305px */
    border: 1px solid #E3E3E3;    margin:0.438em;
		margin-bottom: 0.938em; /* 15px */
		font-size:14px;
	}

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
	.layout-item.c2, .layout-item.c3{
		width: 95%; /* 305px */
    border: 1px solid #E3E3E3;    margin:0.438em;
		margin-bottom: 0.938em; /* 15px */
		font-size:14px;
	}

	.layout-item.c1,{
		width: 100%;
	}

}



@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
}



