
/* products
-------------------------------------------------- */


article{
  transition: color .1s linear;
  height: auto;
  float:left;
  width:100%; 
}

article> h4{
  margin-bottom: 10px;
  font-weight: bold;
}

article> h4 a{
  float: right;
  margin-right: 45px;
}

.row [class*="layout-item"] {
    min-height: 30px;
}

.items-header h2{
    border-bottom: 1px solid #DEDEDE;
    margin: 0 5% 15px;
    text-align: center;
    padding:10px;
    color:#888;
}


/* display action buttons*/
.layout-item>.actions                                 {display: none;}
.layout-item.product-available.product-stock>.actions {display: block;}

/* display variant button*/
.layout-item>.actions>.action-variant                 {display: none;}
.layout-item.product-variant>.actions>.btn-cart-add   {display: none;}
.layout-item.product-variant>.actions>.action-variant {display: block;}


/* photo */
.layout-item>a>img.product-photo                      {display: none;}
.layout-item.product-photo>a>img.product-photo        {display: block;}

/* stock and available */
.layout-item>a>img.available                          {display: block;}
.layout-item>a>img.stock                              {display: block;}
.layout-item.product-available>a>img.available        {display: none;}
.layout-item.product-stock>a>img.stock                {display: none;}

/* product in cart */
.layout-item>.actions>.btn-cart-remove                {display: none;}
.layout-item>.actions>.cart-info-quantity             {display: none;}
.layout-item.product-cart>.actions>.btn-cart-remove   {display: inline-block;}
.layout-item.product-cart>.actions>.cart-info-quantity{display: inline-block;}

/* discount */
.layout-item>a>.price>.on-discount                    {display: none;}
.layout-item.product-discount>a>.price>.on-discount  {display: inline;}

.layout-item>a>.price>.off-discount                   {display: inline;}
.layout-item.product-discount>a>.price>.off-discount  {display: none;}

/* love */
.layout-item>.product-bottom .on-love                 {display: none;}
.layout-item>.product-bottom .off-love                {display: inline;}

.layout-item.product-love>.product-bottom .on-love    {display: inline;}
.layout-item.product-love>.product-bottom .off-love   {display: none;}

.layout-item.product-vendor-closed .product-show,
.layout-item.product-love .product-show,

/* vendor */
.layout-item .product-vendor .closed                        {display: none;}
.layout-item.product-vendor-closed .product-vendor .closed  {display: block;}


.layout-item{
  float:left;
  background-color: #fff;
  border: 0px solid #eee;
  border-color:#EAE9E9 #D4D2D3 #B2B1B1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  margin-bottom: 25px;
  min-height: 20px;
  min-height-:300px;
  position:relative;
  
  font-weight:300;
  font-size:13px;

  -border-radius:3px;
  overflow: visible;
  position: relative;
}

.layout-item img{
  cursor:pointer;
  -cursor:-Moz-Zoom-In;
  overlay:hidden;
  margin-top:auto;
  margin-bottom:auto;
  vertical-align:middle;
  display: block;
  -background: none repeat scroll 0 0 #A05A07;
  -background: linear-gradient(135deg, #70929c, #e6846e);
  
  background-size: cover;
  background-position:50% 50%;


  margin: -2px 0;
}
.layout-item.c1:nth-child(3n+3),.layout-item.c2:nth-child(3n+3) { 
  margin-right: 0; 
}

.layout-item.c1 img, .layout-item.c2 img{
  padding-bottom: 83%;
}

.ie .layout-item.c1 img, .ie .layout-item.c2 img{
  padding-bottom: 0%;
}

.layout-item a.link{
  display: block;
  vertical-align:middle;
  padding:0px;
  overflow:hidden;
  position:relative;
  background: linear-gradient(135deg, #70929c, #e6846e);;
  background: none repeat scroll 0 0 #A05A07;

  border:0px;
}

.layout-item img.stock,.layout-item img.available, .backfader img.available{

  left:0;
  top:0;
  opacity:0.6;
  filter:alpha(opacity=60);
  position: absolute;
}


.layout-item h1, .layout-item h2, .layout-item h3, .layout-item h4{
}



.layout-item .shop-owner{
  min-height:inherit;
  border-radius: 50%;
  float: left;
  height: 30px;
  margin: 5px 5px 0 -7px !important;
  padding: 0!important;
  width: 30px!important;    

}
.layout-item .shop-title-prefix{
  color:#bbb;
}
.layout-item .shop-title{
  color: #aaa;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:98%;
}

.layout-item .love{
    overflow: visible;
    position: absolute;
    right: 0px;
    bottom:3px;
    padding:5px;
    background-:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color:#ddd;
}

.layout-item .price{
    overflow: visible;
    position: absolute;
    right: 1px;
    bottom:0px;
    padding:5px;
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color:white;
    max-width: 40%;
    /* this is important to fix the display with strike */
    text-shadow:0 0 0 #000;
}


.layout-item .closed{
    overflow: visible;
    position: absolute;
    left: 1px;
    bottom: 0px;
    padding: 3px;
    background: none repeat scroll 0 0 rgba(200, 0, 0, 0.4);
    color: white;
    height: 32px;
    font-weight: bold;
    width: 30px;
    margin: 8px;
    border-radius: 20%;
}


.layout-item .title{
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, serif;
  font-size: 15px;
  padding: 8px 4px 1px 8px;
  height: 45px;
  line-height: 18px;
  vertical-align: text-bottom;
  color: inherit;
  display: block;
}

.layout-item .title:hover{
  text-decoration: inherit;
  color:#999;
}

.layout-item.c1, form .layout-item.c1{
  min-height:130px;
  width: 30%;
  margin:0 3% 3% 0;
}

.layout-item.c1 img{
  width: 100%;
  height: auto;
}






.layout-item .actions{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  left: 10px;
  width: 90%!important;
  z-index: 1;
}

.layout-item .actions.hidden-md .btn{
  margin: 5px;
}



.layout-item .btn-transparent.blue {
  border-color: rgba(53, 126, 189, 0.44);
  border-width: 1px;
  color: rgba(213, 211, 211, 0.15)!important;
  background-color: rgba(66, 139, 202, 0.41);
  text-shadow: 0px 0px 0px #D6DAD5;
}

.layout-item .btn-transparent.pink {
  border-color: rgba(53, 126, 189, 0.44);
  border-width: 0px;
  color: rgba(128, 3, 103, 0.74)!important;
  background-color: rgba(234, 227, 235, 0.41);
  text-shadow: 0px 0px 1px rgba(196, 78, 167, 0.66);
}

.layout-item .btn-transparent.green {
  border-width: 0px;
  color: rgba(14, 226, 56, 0.57)!important;
  background-color: rgba(234, 227, 235, 0.17);
  border-radius: 30%;
}


.layout-item ul.dropdown-menu{
  top: -55px;
  bottom: -10px;
  left: -12px;
  margin: -10px 0;
  border-radius: 0px;
  bottom: 0;
  clear: both;
  height: 250px;
  padding-top: 30px;
  padding-left: 0;
  background-color: rgba(255, 255, 255, 0.93);
}

.layout-item ul.dropdown-menu > li:first-child{
  margin-top: -15px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
  text-align: center;
}
.layout-item ul.dropdown-menu > li:first-child > span{
  font-weight: normal;
  color: #555;
}


.layout-item ul.dropdown-menu > li > a{
  color: #333;
  padding: 6px 10px;
}
.layout-item ul.dropdown-menu > li > a:hover{
  color: #81D829;
  background:rgba(0, 0, 0, 0.65) none repeat scroll 0px 0px; 
}

.layout-item.c1, form .layout-item.c1 {
    min-height: 130px;
    width: 22.5%;
    margin: 0px 2% 2% 0px;
}


/* Desktop large
------------------------- */
@media (min-width: 1300px) {
}


/* Tablet paysage (Ipad1)
------------------------- */
@media (min-width: 1024px) and (max-width: 1199px) {
  .layout-item .actions{
    width: 100%;
  }
}
/* Tablet portrait
------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  article> h4{
    margin-bottom: 10px;
  }

  article> h4 a{
    float: right;
    margin-right: 45px;
    font-size: 70%!important;  
  }


  .layout-item.c1{
    width: 30%; 
    margin:0 3% 3% 0;
  }



  .layout-item.c3{
    width: 440px;
    height:440px;
    margin:0 20px 20px 0;
  }

  
  .layout-item.c5, .layout-item.c2{
    margin:0.338em 0.238em 0.338em .76em;

    width: 270px;
    height:270px;
    margin:0 20px 20px 0;
    text-align:center;
    border-radius:0px 0px 2px 2px;

  }

  .layout-item a.link{
  }
  
  .layout-item .actions{
    width: 100%;
  }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  article> h4{
    margin-bottom: 10px;
  }

  article> h4 a{
    float: right;
    margin-right: 25px;
    font-size: 70%!important;  
  }

  .layout-item.c1{
    width: 49%;
    margin: 0 1% 1% 0;
  }

  .layout-item.c1{
    width: 48%;
    margin: 0 1% 1% 0%;
  }
  
  .layout-item.c1:nth-child(odd){

  }
  .layout-item.c1:nth-child(even){
    
  }
  
  .layout-item.c2, .layout-item.c3{
    width: 95%; /* 305px */
    height: inherit;
  }


  .layout-item a.link{
  }

  .layout-item .actions{
    width: 100%;
  }


}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  .layout-item.c1{
    width: 48%;
    margin: 0 1% 1% 0%;
  }

  .layout-item.c2, .layout-item.c3{
    width: 98%; /* 305px */
  }


  .layout-item{
    font-size:12px;
  }

  .layout-item .title{
    font-size: 14px;
  }  

  .layout-item .shop{
    font-size:10px;
    line-height:12px;
  }


  .layout-item.c1 img, .layout-item.c2 img{
    padding-bottom: 100%;
  }

}



@media (max-width: 280px) {
  .layout-item.c1, .layout-item.c2, .layout-item.c3{
    width: 98%; /* 305px */
  }

  .layout-item{
    font-size:13px;
  }

  .layout-item .shop{
    font-size:11px;
    line-height:15px;
  }

}



@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
}



