
/* products
-------------------------------------------------- */





article:nth-child(odd){

}

article:nth-child(even){
}

.row [class*="layout-item"] {
    min-height: 30px;
}

.items-header h2{
    border-bottom: 1px solid #DEDEDE;
    margin: 0 5% 15px;
    text-align: center;
    padding:10px;
    color:#888;
}


.layout-item{
  float:left;
  background-color: #fff;
  border: 0px solid #eee;
  border-color:#EAE9E9 #D4D2D3 #B2B1B1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  margin-bottom: 25px;
  min-height: 20px;
  min-height-:300px;
  position:relative;
  
  font-family:Merriweather,serif;
  font-weight:300;
  font-size:13px;

  border-radius:5px;
  overflow: hidden;
  position: relative;
}

.layout-item img{
  cursor:pointer;
  cursor:-Moz-Zoom-In;
  overlay:hidden;
  min-height:120px;
  margin-top:auto;
  margin-bottom:auto;
  vertical-align:middle;
  display: block;
  background: none repeat scroll 0 0 #A05A07;
  
  background-size: cover;
  background-position:50% 50%;

  -border-radius:4px;

  height: 145px;
  margin: -2px 0;
}

.layout-item a.link{
  min-height: 120px;
  display: block;
  vertical-align:middle;
  padding:0px;
  overflow:hidden;
  position:relative;
  background: none repeat scroll 0 0 #A05A07;

  border-radius:5px;
  border:0px;
}

.layout-item img.available, .backfader img.available{
  position:absolute;
  left:0;
  top:0;
  opacity:0.6;
  filter:alpha(opacity=60);
}


.layout-item h1, .layout-item h2, .layout-item h3, .layout-item h4{
}



.layout-item .shop-owner{
  min-height:inherit;
  border-radius: 3px 3px 3px 3px;
  float: left;
  height: 30px;
  margin-right: 5px;
  width: 30px;    
}
.layout-item .shop-title{
  color: #aaa;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:90%;
}

.layout-item .love{
    overflow: visible;
    position: absolute;
    right: 0px;
    bottom:3px;
    padding:5px;
    background-:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color:#ddd;
}

.layout-item .price{
    overflow: visible;
    position: absolute;
    right: 0px;
    bottom:0px;
    padding:5px;
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color:white;
}



.layout-item .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layout-item.c1, form .layout-item.c1{
  min-height:130px;
  width: 28%;
  max-width: 180px;
  margin:0 30px 30px 0;
}

.layout-item.c1 img, .layout-item.c2 img, .layout-item.c3 img{
  width: 100%;
}


.layout-item.c2{
  width: 420px;
  margin:0 30px 30px 0;
  text-align:center;
  border-radius:0px 0px 2px 2px;
}

.layout-item.c2 img{
  height: 210px
}


.layout-item.c2 div.elem{
  text-align: left;
  font-size: 14px;
  padding-left:10px;
  max-height: 130px;
}

.layout-item.c3{
  width: 470px;
  margin:0 30px 30px 0;
  text-align:center;
  overflow:hidden;
  border-radius:0px 0px 2px 2px;
}

.layout-item.c3 img{
  width: 471px;
}


.layout-item.c3 h5, .layout-item.c2 h5{
  margin:5px 0px;
  text-transform: capitalize;
  color:#222;
  font-weight:300;
  font-size:16px;
  line-height: 20px;
}





.layout-item .actions{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  top:0px;
  left:0px;
  width:50.8%;
  z-index:4;
}
.layout-item .actions.hidden-md .btn{
  margin: 5px;
}



.layout-item .btn-transparent.blue {
  border-color: rgba(53, 126, 189, 0.44);
  border-width: 1px;
  color: rgba(213, 211, 211, 0.15)!important;
  background-color: rgba(66, 139, 202, 0.41);
  text-shadow: 0px 0px 0px #D6DAD5;
}

.layout-item .btn-transparent.pink {
  border-color: rgba(53, 126, 189, 0.44);
  border-width: 0px;
  color: rgba(128, 3, 103, 0.74)!important;
  background-color: rgba(234, 227, 235, 0.41);
  text-shadow: 0px 0px 1px rgba(196, 78, 167, 0.66);
}

.layout-item .btn-transparent.green {
  border-width: 0px;
  color: rgba(14, 226, 56, 0.37)!important;
  background-color: rgba(234, 227, 235, 0.17);
}




/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .layout-item.c2{
    width: 43%;
  }
}


/* Tablet paysage (Ipad1)
------------------------- */
@media (min-width: 780px) and (max-width: 1124px) {
  .layout-item.c1{
    width: 47%;
    margin: 0 10% 8% 0;
  }
  .layout-item .actions{
    width: 100%;
  }

  .layout-item img{
    height:135px;
  }

}

/* Tablet portrait
------------------------- */
@media (min-width: 768px) and (max-width: 970px) {

  .layout-item img{
    height:135px;
  }

	.layout-item.c1{
		width: 30%; /* 305px */
    margin:0 3% 3% 0;
	}


  .layout-item.c3{
    width: 440px;
    height:440px;
    margin:0 20px 20px 0;
  }

  
  .layout-item.c5, .layout-item.c2{
    margin:0.338em 0.238em 0.338em .76em;

    width: 270px;
    height:270px;
    margin:0 20px 20px 0;
    text-align:center;
    border-radius:0px 0px 2px 2px;

  }

  .layout-item a.link{
    -min-height: 120px;
  }
  
  .layout-item .actions{
    width: 100%;
  }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	.layout-item.c1{
    width: 47%;
    margin: 0 2.5% 5% 0;
  }

  .layout-item.c1:nth-child(odd){

  }
  .layout-item.c1:nth-child(even){
    
  }
  
  .layout-item.c2, .layout-item.c3{
    width: 95%; /* 305px */
    height: inherit;
  }

  .layout-item a.link{
    min-height: 120px;
  }

  .layout-item .actions{
    width: 100%;
  }


}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  .layout-item.c1{
    margin: 0 2.5% 5% 0%;
  }

	.layout-item.c2, .layout-item.c3{
		width: 95%; /* 305px */
	}

  .layout-item img{
    height:130px;
  }


  .layout-item{
    font-size:12px;
  }

  .layout-item .shop{
    font-size:10px;
    line-height:12px;
  }

}



@media (max-width: 280px) {
	.layout-item.c1, .layout-item.c2, .layout-item.c3{
		width: 98%; /* 305px */
	}

  .layout-item{
    font-size:13px;
  }

  .layout-item .shop{
    font-size:11px;
    line-height:15px;
  }

}



@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
}



