/* Shop layout
-------------------------------------------------- */

.shop-page{
  margin-top:0px;
  padding-top:30px;
  height:100%;
  width:100%;
}

.shop-container{
  width:60%;
  position: absolute;
  min-height: 100%;
  right: 0;
  padding-bottom: 100px;
  border-left: 1px solid #c6c6c5;
  overflow: hidden;
  margin-right:-1px;
  top: 38px;
}



.shop-sidebar{
  width:40%;
  height:100%;
  top: 60px;
  bottom: 100px;  
  position:fixed;
  box-shadow:1px 1px 0px rgba(0, 0, 0, 0.5);
  float:left;
}

.shop-sidebar>div:nth-child(1){
  height:70%;
}
.shop-sidebar>div:nth-child(2){
  height:30%;
}
.shop-sidebar>section{
  height:100%;
  text-align:center;
  font-family:Georgia,'Times New Roman',Times,serif;
  font-size:18px;
}
.shop-sidebar fieldset.control-group{
  position:absolute;
  top:25%;
  left:15%;
  width:250px;
}

/* Shop details
-------------------------------------------------- */

.shop-title{
  padding:20px 0px 0px 20px;
  position: absolute;  
  bottom: 0px;
  left:0px;
  margin:0px!important;
  background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  min-height:100px;
}
.shop-home .shop-title{
  bottom: 17px;  
  left:3px;
  padding:4px;
}
.shop-home .shop-title h3{
  line-height:20px;
  margin-top:0px;
}
.shop-home .shop-title .small{
  font-size:80%;
}

.shop-home .shop-column{
  margin-left:60px!important;
}

.shop-home:nth-child(4n+1){
  background-color: #fff;
}

.shop-row{
  padding-top:20px;
  padding-bottom:60px;
}
.shop-row:nth-child(even){
  background-color: #EEF2EA;
  background-color: #EFEFEF;
  border-bottom:1px solid #ccc;
}

.shop-row:nth-child(odd){
  border-bottom:1px solid #ddd;
}

.shop-home:nth-child(4n){
  background-color: #fff;
}
.shop-home div.card{
  width: 500px;
}

.shop-label{
  position: absolute;  
  top: 10px;
  left:10px;
}
.shop-message{
  margin:0px!important;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
}
.shop-message.label-info{
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

.shop-rice-paper{
  background-image:url(/img/rice-paper.jpg);
}



/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

  .shop-page{
    margin-top:-60px;
    padding-top:0px;
    height:100%;
    width:100%;
  }

  .shop-container{
    width:100%;
    margin-left: inherit;
    float:inherit;
    position:relative;
  }


  .shop-sidebar{
    width:100%;
    margin-top:-10px;
    box-shadow:1px 1px 0px rgba(0, 0, 0, 0.5);
    float:left;
    position:relative;
  }
    
    
  .shop-sidebar section.headline{
    padding:40px 0px 40px 20px;
  }
  
  .shop-sidebar>div:nth-child(1){
    min-height:540px;
  }
  .shop-sidebar>section{  
    min-height:200px;
  }

  .shop-sidebar fieldset.control-group{
    left:20%;
  }
}
    

}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  .shop-row{
    padding-top:0px;
    padding-bottom:0px;
  }
}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





