
/* Shop
-------------------------------------------------- */

.shop-container{
  margin-top:0px;
  padding-top:40px;
}


.docs-container{
  margin-left: 40.5009%;
  float:left;
  width:59%;
}

.docs-sidebar{
  position:fixed;
  box-shadow:1px 1px 0px rgba(0, 0, 0, 0.5);
  float:left;
}
.docs-sidebar div#bgshop{
  height:68%;
}

.shop-title{
  padding:20px 0px 0px 20px;
  position: absolute;  
  bottom: 0px;
  left:0px;
  margin:0px!important;
  background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  min-height:100px;
}
.shop-home .shop-title{
  bottom: 17px;  
  left:3px;
  padding:4px;
}
.shop-home .shop-title h3{
  line-height:20px;
  margin-top:0px;
}
.shop-home .shop-title .small{
  font-size:80%;
}

.shop-home .shop-column{
  margin-left:60px!important;
}

.shop-home:nth-child(4n+1){
  background-color: #fff;
}

.shop-row{
  padding-top:20px;
  padding-bottom:60px;
}
.shop-row:nth-child(even){
  background-color: #eee;
  border-bottom:1px solid #ccc;
}

.shop-row:nth-child(odd){
  border-bottom:1px solid #ddd;
}

.shop-home:nth-child(4n){
  background-color: #fff;
}
.shop-home div.card{
  width: 500px;
}
.-shop-home div.card{
  position: relative;
  width: 600px;
  padding: 3px;
  background-color: white;
  border: 1px solid #AAA;
}

.shop-label{
  position: absolute;  
  top: 10px;
  left:10px;
}
.shop-message{
  margin:0px!important;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
}
.shop-message.label-info{
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

.shop-rice-paper{
  background-image:url(/img/rice-paper.jpg);
}



/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  .shop-container{
    margin-top:-20px;
    padding-top:0px;
  }
  
  .docs-container{
    width:100%;
    margin-left: inherit;
    float:inherit;
  }

  .docs-sidebar{
    margin-top:00px;
    box-shadow:1px 1px 0px rgba(0, 0, 0, 0.5);
    float:left;
    position:relative;
  }
  
  .docs-sidebar div#bgshop{
    min-height:500px;
  }
  .docs-sidebar.span5{
    width:100%;
  }
    

}

/* Tablet
------------------------- */
@media (max-width: 767px) {

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

}

 
@media only screen and ( max-width: 320px ) /* 320px */{


}





