article{
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	transition: color .1s linear;
	height: auto;
	float:left;
	width:100%;	
}
.article-group-title{
	padding-left: 0px;
	padding-bottom: 12px;
	padding-top: 12px;
	-font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #b3b3b1;
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-ms-transition: color .1s linear;
	-o-transition: color .1s linear;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.article-group-title.black{
	color: black;
}
.article-group-title.list{
	float:left;
	padding-right: 15px;
	
}

.hours {
	color: #959ba2;
	margin: 10px 0 -6px;
	overflow: hidden;
	font-weight: 300!important;
}

.hours-label {
	clear: both;
	float: left;
	width: 100px;
}

.hours-open {
	display: block;
	float: right;
	text-align: right;
	white-space: nowrap;
	width: -webkit-calc(100% - 100px);
	width: calc(100% - 100px);
}

.hours-open p{
	margin-bottom:5px;
}

.label-or{
	margin: -45px auto;
	border-radius: 25px;
	border: 1px solid #ddd;
	width: 50px;
	height: 50px;
	background-color: white;
	padding: 11px;
	z-index: 10;
	font-weight: bold;
	margin-bottom: 10px;	
}
