
/*
-------------------------------------------------- */
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  display: none!important;
}

[ng-view]{
  background-color: #f7f7f7;
}

.vertical-divider>div{
  padding:8px;
}
.vertical-divider.border{
  border-top:1px solid #eee;
}

.icon-7x {
  font-size: 8em;
}
.icon-7x.icon-border {
  border-width: 8px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.btn-transparent {
  background-color: transparent;
  border-color: #ccc;
}

.btn-split {
  display: block;
  width: 48%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 4px;
  float: left;
}

.separator{
  -webkit-box-shadow: 0 1px #fff;
     -moz-box-shadow: 0 1px #fff;
          box-shadow: 0 1px #fff;
  background: #fff;
  border: 1px solid #ddd;
  border-width: 1px 0;
  height: 1px;
  margin-top: -20px;
  margin-left: 10%;
  margin-right: 10%;
}

.animate, .fadein-setup, .fadeout-setup {
  -webkit-transition:all linear .2s;
  -moz-transition:all linear .2s;
  -ms-transition:all linear .2s;
  -o-transition:all linear .2s;
  transition:all linear .2s;
}

.nomargin{
  margin: 0px!important;
}

.nopadding{
  padding: 0px!important;
}

.fadein-setup{
  opacity:1;
}

.fadeout-setup{
  opacity:0;
}

.no-space[class*="span"] {
    margin-left: 0;
}

h1.sexy, h2.sexy, h3.sexy {
  color: rgba(20, 20, 20, 0.8);
  text-shadow:1px 2px 4px #E3E3E3,0 0 0 black,1px 2px 4px #E3E3E3,0 1px 0 white;
  -margin:15px 0px 25px 25px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;

	color: #666;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.15em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}

.round-corner{
  border-radius:5px;
}

.border-bottom{
  border-bottom:1px solid #eee;
}

.border-green{
  border:1px solid #0f0!important;
}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-left.padding{padding-left: 10px!important}
.text-right{text-align: right;}
.text-right.padding{padding-right: 10px!important}

.navbar-inner{
  min-height-:40px;
}

ul.nav li{
  line-height:30px;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top-: 13px;
}

.fill{
  height:100%;
}


.shadow{
  text-align: left;
  text-shadow: 0 0px 2px #444;
}

.box-shadow{
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25) ;
}


.noscroll {
    overflow: hidden !important;
}

.strike{
  text-decoration:line-through;
}

.bold{
  font-weight:bold;
}

.small {
  font-size: 88%;
}

.smallx {
  font-size: 78%;
}

.smallxx {
  font-size: 70%;
}

.lazy {
  -display: none;
}

.red{
  color:red!important;
}
.green{
  color:#6EB823!important;
}
.white{
  color:white!important;
}

.black{
  color:black!important;
}

.gray{
  color:#777!important;
}
.grayx{
  color:#aaa!important;
}

.pink{
  color:#ff0985!important;
}

.pink1{
  color:pink!important;
}

.bg-black{
  background-color:#111;
}

.headline{
  background:none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}

.padding10{
  padding:  10px;margin:  -10px;
}

.col-padleft-0 {
  padding-left: 0px!important;
}

.link{
  border-bottom: 1px dotted;
}

.stick-bl{
  position: absolute;
  right: 20px;
  bottom: 20px;
  -width: 80px;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.elem{
  padding: 4px;
}

.textshadow {
    text-shadow: 0 0px 5px rgba(200,200,200,.25);
}

address{
  font-weight: 300;
}

.well.white{
  background-color: white;
  color: inherit!important;
}
.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  -padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}

section > ul li {
  margin-bottom: 5px;
}

section.box{
  margin:0;
  margin-bottom: 30px;
  float:left;
  width:100%;
}

section.box blockquote{
  margin:0;
  float:left;
  width:100%;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.pattern-dark{
    background:url("/img/pattern-dark1.jpg") repeat scroll 0 0 #F7F5F5;
}

.opacity{
  opacity:0.3;
  filter:alpha(opacity=30);
}

/* Utility classes table
------------------------- */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}
