<div class="cover-table cover-user site-shop-sidebar">
  <div class="cover-row relative">
    <div class="cover-img" backstretch="{src:'document.model.photo.header',load:'//placehold.it/400x300'}">
    
    </div>



    <!-- FOR ADMIN -->
    <div class="cover-actions-top" ng-show="isOwnerOrAdmin(document.model)" fade-on-hover=".site-shop-sidebar" >
        <a ng-href="/content/{{document.model.slug}}/edit" class=" btn btn-lg btn-primary btn-block ">Editer votre document</a>
        <a ng-show="document.model.published!=true" ng-disabled="WaitText" class="btn btn-primary btn-lg btn-block {{waitingStatus() && 'disabled'}}" ng-click="publish()">Demander la publication de votre page</a>

    </div>



  </div>
  <div class="cover-row shop">
    <div class="cover-body ">
      <div class="cover-body-inner">
        <span class="cover-avatar">
          <span><img ng-src="/img/pattern-k.png"  ></span>
        </span>
        <h1 class="black cover-title">{{document.model.title}}</h1>
        <div class="cover-signature" >
          Par {{document.model.signature}}
        </div>
        <markdown class="cover-description" markdown-content="document.model.header"></markdown>

      </div>
    </div>
  </div>
</div>



