
<div tabindex="-1"  class="container" ng-controller="AccountCtrl">


  <section class="well white" tabindex="-1" ng-controller="DocumentCtrl">

      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->


      <h5 class="article-group-title " >
        <span class="bucket-header-title box">Mes publiations</span>
      </h5>
      <p>Retrouvez vos publications sur cette page. </p>

      <div ng-if="!user.documents.length && !WaitText" class="text-center grayx">
          <i class="fa fa-frown-o fa-7x "></i>
          <h4>La liste est vide</h4>
      </div>

      <table class="table ">
        <tr ng-repeat="doc in user.documents">
          <td><a ng-href="/content/{{doc.slug[0]}}" i18n-render="doc.title"></a></td>
          <td>{{doc.updated|dateMomentShort}}</td>
          <td>{{defaultLabel[doc.type]}}</td>
          <td><a ng-href="/content/{{doc.slug[0]}}/edit" class="btn btn-default btn-xs">edit</a></td>
        </tr>
      </table>

      <div>
        <h4>
        <a href="/content/create" class="btn btn-default">Ajouter une nouvelle publication</a>
        </h4>
      </div>
    </div>
  </section>
</div>
