
<div tabindex="-1"  class=" document" ng-controller="DocumentCtrl" ng-init="findOneDocument()">

  <div class="markdown-{{doc.model.type}}" >

    <div class="home-header text-center" backstretch="doc.model.photo.header" ng-if="doc.model.photo.header">
      <button class="btn btn-default btn-bundle" ng-click="buyBundle(doc)" >
        J'achète 1x 
        <span i18n-render="doc.model.title"></span> 
        <i class="fa fa-rocket "></i> 
      </button>
    </div>

    <div class="container ">


      <h3 class="byline">
        Published <time>{{doc.model.created|dateMomentShort}}</time> by <span class="author">{{doc.model.signature}} 
      </h3>
      <a ng-href="/content/{{doc.model.slug[0]}}/edit" 
         class="btn btn-info btn-md pull-right" 
         ng-show="user.isAdmin()" ><i class="fa fa-edit"></i> edit</a>


      <h1 i18n-render="doc.model.title"></h1> 
      <h2 i18n-render="doc.model.header" class="header" 
       parse-markdown="true"></h2>

      <div class="sidebar-block" ng-if="docs.length>1">
        <h4 translate="furthermore"></h4>
        <ol  class="list-unstyled">
          <li ng-repeat="other in docs|filter:{available:true, type:doc.model.type}|orderBy:'-title.fr'" ><a ng-href="/content/{{other.slug[0]}}" i18n-render="other.title"></a></li>
        </ol>   
      </div> 


    </div>    
    <div class="container-fluid" ng-if="doc.model.products.length">
      <article   style="width:103%">
        <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in doc.model.products|orderBy:['categories.weight','updated']"/>

      </article>
      
    </div>

    <div class="container">
      <div class=" text" 
           i18n-render="doc.model.content" 
           parse-markdown="true">
        
      </div>
      
    </div>

  </div>
</div>