<div class="shop-card col-xs-12 ">
  <!-- producers-list item -->
  <a class="" ng-href="/content/{{doc.slug}}">
    <div class="row-content">
      <div class="photo col-xs-12 col-md-6 ">
        <div alt="" class="img-responsive " bg-src="{{doc.photo.header}}"/>
        <div class="item-footer ">
          <div class="signature ">
            <i class="fa-user fa "></i>
            {{doc.signature}}
          </div>
        </div>
      </div>
      <div class="content-wrapper col-xs-12 col-md-6 ">
        <div class="item-header">
          <h3 class="title ">{{doc.title}}</h3>
        </div>
        <div class="item-content">
          <markdown class="" markdown-content="doc.content|cut:true:170"></markdown>
        </div>
      </div>
      <div class="item-closed hide" ng-if="!doc.published">
          <h4>Fermeture!</h4>
          <br/>
          <small>du </small>      
        
      </div>
    </div>
  </a>
</div>
