<div class="document-card">
  <!-- producers-list item -->
  <a class="" ng-href="/content/{{doc.slug[0]}}">
    <div class="photo " bg-src="{{doc.photo.header}}">
      <!-- TITLE -->
      <div class="item-title">
        <h3 class="title " i18n-render="doc.title"></h3>
        <div class="item-content hide" i18n-render="doc.header"></div>
      </div>

      <!-- SIGNATURE -->
      <div class="item-footer ">
        <div class="signature small">
          <i class="fa-user fa "></i>
          Préparé par {{doc.signature}}
        </div>
      </div>
    </div>
  </a>
</div>
