
<div tabindex="-1"  id="null" class="screen-content document" ng-controller="DocumentCtrl">
  <aside ng-include="'/partials/document/cover.html'"
         class="cover-shop cover cover-home img-loaded" >
  </aside>


  <section class="wrapper shop" tabindex="-1" ng-init="findOneDocument()">
    <div class="wrapper-inner markdown-{{document.model.type}}" >

      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->
      <h2 class="header" >{{document.model.header}}</h2>

      <markdown  class="text" markdown-content="document.model.content"></markdown>


      <article   style="width:103%"> 

        <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in document.model.products|orderBy:['categories.weight','updated']"/>
      </article>
      <button class="btn btn-success btn-lg btn-block hide" ng-click="cart.addList(products)" ng-disabled="!document.model.products.length">
        Commander la liste complète
      </button>          


    </div>
  <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
  </section>
</div>