<div class="dashboard" ng-controller="OrderRepportCtrl">


  <nav class="navbar navbar-default navbar-static-top hidden-print " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>

        <span class="navbar-text  " >Les rapports</span>


    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right hidden-xs">

    </ul>
  </nav>

  <!-- MAIN CONTENT -->
  <div class="clearfix " ng-init="findAllShopRepport()">
    <div class="dashboard-filters hidden-print " >
      <div class="panel-body bg-gray" id="order-filter" ng-class="{'hide':repport.shops}">
          <div class="col-xs-12 col-md-4 ">
            <div>Mois: </div>
            <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
          </div>
          <div class="col-xs-12 col-md-4 ">
            <span>Année: </span>
            <button class="btn btn-md btn-transparent btn-block" 
                    ng-repeat="year in years"
                    ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
            <br/>
          </div>
          <div class="col-xs-12  col-md-4" ng-if="user.isAdmin()">
            <span>Par boutique: </span>
            <select class="form-control " 
                    ng-change="findAllShopRepport()"
                    ng-model="filters.shops" 
                    ng-options="shop.urlpath as shop.name  for shop in shopsSelect| orderBy:'name'">
                    <option value=""  selected>-- Choisissez une boutique</option>
            </select>                        
          </div>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="dashboard-content">
    <div class=" repport">
      <address class="karibou small">
        <img src="/img/k-small.png"  />
        <span class="text-underline bold" >Karibou marketplace</span> | 
        <span class="text-capitalize">Olivier & Delphine Cluzel Evalet</span> | 
        <span >34 route de chêne | 1208 | Genève</span> 
      </address>

      <address>
        <!-- <strong class="text-capitalize">{{user.display()}}</strong><br> -->
        <span class="text-underline bold" >{{shopName()}}</span><br>
        <span >{{firstShop().address.streetAdress}}</span><br>
        <span >{{firstShop().address.postalCode}} / {{firstShop().address.region}}</span><br>
      </address>

      <h4 ng-if="repport.from">Relevé d'activité du {{repport.to|dateLabel}}</h4>
      <ul >
        <li>Date du relevé: {{today|dateLabel}}</li>
        <li>Boutique(s): {{shopName()}}</li>
        <li>Période comptable:  {{repport.from|dateLabel}} au {{repport.to|dateLabel}}</li>
        <li></li>
      </ul>

      <div  >
      <table class="table table-condensed resume">
        <thead>
          <tr>
            <th>Info</th>
            <th></th>
            <th>Transactions</th>  
            <th>CHF</th>
          </tr>
        </thead>
        <tbody ng-repeat="(slug, repportOneShop) in repport.shops" class="repport-separator">
          <tr><td colspan="2"></td><td>{{repportOneShop.items}} articles / {{repportOneShop.orders}} commandes</td><td>{{repportOneShop.amount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Participation aux frais de commandes</td><td>
          {{repportOneShop.discount|number:2}}
          </td></tr>
          <tr><td colspan="2"></td><td>Service Karibou  {{repportOneShop.contractFees[0]*100}}% </td><td>{{repportOneShop.fees|number:2}}</td></tr>
          <tr><td colspan="2"></td><td class="bold">Solde en faveur de {{repportOneShop.name}}</td><td class="bold">{{repportOneShop.amount-repportOneShop.fees|number:2}}</td></tr>
        </tbody>
        <tbody ng-if="multipleShops(repport)>1" class="repport-last">
          <tr><td colspan="2">TOTAL</td><td>{{repport.items}} articles / {{repport.orders}} commandes</td><td>{{repport.amount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Participation aux frais de commandes</td><td>{{repport.discount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Service Karibou à ce jour</td><td>{{repport.ca|number:2}}</td></tr>
          <tr><td colspan="2"></td><td class="bold">Solde en faveur des boutiques</td><td class="bold">{{repport.amount-repport.ca|number:2}}</td></tr>
        </tbody>

      </table>

      </div>

      <p>
        Avec nos meilleures salutations,<br/>
        L'équipe Karibou.ch
      </p>

      <div class="page-break"></div>
      <div  ng-include="'/partials/order/order-repport-shop.html'"></div>

      <!-- MAP -->
      <div ng-if="addresses" class="text-center">
        <img bg-src="{{map.resolveStaticmap(addresses)}}" class="img-cover" style="height:500px"/>
      </div>
      <hr/>
    </div>    
  </div>

</div>
