
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li ng-if="user.shops.length||user.isAdmin()">
            <a class="dropdown-header"><i class="fa fa-home fa-fw"></i> Boutique <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">                  
              <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'shop',active:true}|orderBy:'weight'" ng-if="menu.url">
                  <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
              </li>
           </ul>  
        </li>
        <li ng-if="user.hasRole('logistic')||user.isAdmin()">
          <a class="dropdown-header"><i class="fa fa-bicycle fa-fw"></i> Livraison <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">                  
            <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'shipping',active:true}|orderBy:'weight'" ng-if="menu.url">
                <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
            </li>
          </ul>
        </li>
        <li ng-if="user.isAdmin()">
          <a class="dropdown-header"><i class="fa fa-dashboard fa-fw"></i> Admin
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">                  
            <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'admin',active:true}|orderBy:'weight'" ng-if="menu.url">
                <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
            </li>
          </ul>
        </li>


    </ul>
</div>
<!-- /.sidebar-collapse -->
