<div class="dashboard" ng-controller="StatsCtrl" ng-init="loadStats()">

  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>


  <!-- MAIN CONTENT -->
  <div class="container-fluid ">
    <div class="row">

      <!-- LEFT MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs">

        <!-- FILTERS LOGISTIC -->
        <div class="panel panel-default" >
          <div class="panel-heading">
            <a href="" class="btn btn-transparent btn-md" toggle-on-click="#order-filter" > <i class="fa fa-chevron-down "></i> </a>
          </div>
          <div class="panel-body nopadding" id="order-filter" ng-class="{'hide':orders.length}">
              <div class="col-xs-12 col-md-3 ">
                <div>Mois: </div>
                <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
              </div>
              <div class="col-xs-12 col-md-3 ">
                <span>Année: </span>
                <button class="btn btn-md btn-transparent btn-block" 
                        ng-repeat="year in years"
                        ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
                <br/>
              </div>
          </div>
        </div>        
                    
          
        <form class="clearfix form-inline" >
            <div ng-show="false" class="col-xs-12 gray text-center ">
              <i class="fa fa-warning fa-1x"></i><br/> Pas de statistique à affichée 
            </div>
        </form>


        <!-- ORDERS -->
        <div ng-show="loading" class="text-center gray">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>


        <!-- ORDERS BY SHOP -->
        <div >
          <div class="col-xs-12 col-sm-8 ">
            <canvas id="ca-chart" width="400" height="800" style="width:100%;height:800px"></canvas>
          </div>
          <div class="col-xs-12 col-sm-4 ">
            <div class="list-group">
              <a ng-repeat="set in ca.data.datasets" 
                 class="list-group-item" 
                 href="#" 
                 ng-class="{'active':isHighlight(ca.Chart,set.label)}"
                 ng-click="highlight(ca.Chart,set.label)"
                 style="color:{{set.strokeColor}};padding:5px">{{set.label}}</a>
            </div>
          </div>
        </div>
        <div >
          <div class="col-xs-12 col-sm-12 ">
            <canvas id="sells-chart" width="400" height="400" style="width:100%;height:500px"></canvas>
          </div>
<!--           <div class="col-xs-12 col-sm-4 ">&nbsp;
          </div>
 -->        </div>
        <div class="col-xs-6">
          <table class="table table-condensed">
            <tr ng-repeat="user in oByUsers">
              <td>{{$index}}</td>
              <td><a hred="mailto:{{user._id}}">{{user._id}}</a></td>
              <td>{{user.name.familyName}} {{user.name.givenName}}</td>
              <td>{{user.last| date:'dd/MM/yyyy'}}</td>
              <td>{{user.count}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
