
<!-- FILTERS -->
  <div class="col-xs-12 date-picker">
    <table role="grid" class="dp-table" tabindex="0" style="margin:auto;width:280px">
      <thead>
        <tr class="tr-dpnav">
          <th>
            <button type="button" class="pull-left btn-dp" ng-click="prevYear(year)" tabindex="-1">
              <i class="zmdi zmdi-long-arrow-left"></i>
            </button>
          </th>
          <th>
            <button role="heading" aria-live="assertive" aria-atomic="true" type="button" ng-click="toggle({year:year})"
                    tabindex="-1" class="w-100 btn-dp">
                <div class="dp-title ">{{year}}</div>
            </button>
          </th>
          <th>
            <button type="button" class="pull-right btn-dp" ng-click="nextYear(year)" tabindex="-1">
              <i class="zmdi zmdi-long-arrow-right"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="" >
          <td class="text-center " role="gridcell" ng-repeat="month in months|limitTo:3">
            <button type="button" class="w-100 btn-dp btn-dpbody" ng-class="getToggleClass('month',month,'dp-active')"
                    ng-click="toggle({month:month})"  tabindex="-1" >
                    <span class="text-capitalize" >{{months_short[month-1]}}</span>
            </button>
          </td>                    
        </tr>                  
        <tr class="">
          <td class="text-center " role="gridcell" ng-repeat="month in months|limitTo:3:3">
            <button type="button" class="w-100 btn-dp btn-dpbody" 
                    ng-click="toggle({month:month})" ng-class="getToggleClass('month',month,'dp-active')" tabindex="-1">
                    <span class="text-capitalize" >{{months_short[month-1]}}</span>
            </button>
          </td>                    
        </tr>                  
        <tr class="">
          <td class="text-center " role="gridcell" ng-repeat="month in months|limitTo:3:6">
            <button type="button" class="w-100 btn-dp btn-dpbody" 
                    ng-click="toggle({month:month})" ng-class="getToggleClass('month',month,'dp-active')" tabindex="-1">
              <span class="text-capitalize" >{{months_short[month-1]}}</span>
            </button>
          </td>                    
        </tr>                  
        <tr class="">
          <!-- ngRepeat: dt in row track by dt.date -->
          <td class="text-center " role="gridcell" ng-repeat="month in months|limitTo:3:9">
            <button type="button" class="w-100 btn-dp btn-dpbody" 
                    ng-click="toggle({month:month})" ng-class="getToggleClass('month',month,'dp-active')" tabindex="-1">
              <span class="text-capitalize" >{{months_short[month-1]}}</span>
            </button>
          </td>                    
        </tr>        
                                    
      </tbody>
    </table> 
  </div>
