<div class="dashboard" ng-controller="OrderAdminCtrl">

  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <span class="navbar-text  " >Les factures ouvertes</span>


    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right hidden-xs">

    </ul>
  </nav>


  <!-- MAIN CONTENT -->
  <div class="container-fluid " ng-init="findAllOrders({fulfillments:'fulfilled',payment:'invoice'})">
    <div class="row">
      <!-- SIDEBAR MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs">
 
        <!-- INVOICES -->
        <div ng-show="loading&&!orders.length" class="text-center gray">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>

        <div ng-if="orders.length ">
          <div ng-include="'/partials/order/order-lists-invoice.html'"></div>

          <!-- MAP -->
<!--           <div ng-if="addresses" class="text-center">
            <img bg-src="{{map.resolveStaticmap(addresses)}}" class="img-cover" style="height:500px"/>
          </div>
 -->          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
