<div class="dashboard" ng-controller="OrderCommonCtrl">

  <!-- MENU -->
  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>

  <!-- MAIN CONTENT -->
  <div class="container-fluid " ng-controller="ConfigCtrl">
    <div class="row">

      <!-- LEFT MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>

      <div class="col-xs-12  nopadding-xs " ng-if="user.isAdmin()">
        <div class="stick-r pull-right">
          <button ng-disabled="WaitText"  ng-click="saveConfig();"  class="save btn btn-primary btn-lg"  >Enregistrer</button>
        </div>

        <h4 class="page-header">Gérer votre navigation principale </h4>
        <p class="help-block">
          Du menu principal l'on peut décliner les types de vue que vous allez utiliser lors de la création de document
        </p>
        <!-- PRIMARY MENU -->
        <div class="clearfix" 
             ng-repeat="menu in config.shop.home.views|orderBy:['group','weight']"
             ng-class="{'dirty':menu.dirty}">
          <form class="form-inline col-xs-11 nopadding">
            <div class="form-group " >
              <input type="text" class="form-control form-inline"  placeholder="Nom" ng-model="menu.name[locale()]">
              <input type="number" class="form-control "  placeholder="poid" ng-model="menu.weight" style="width:80px" min="0">
              <input type="text" class="form-control"  placeholder="url de la page" ng-model="menu.url">
            </div>
          </form>
          <div class="col-xs-1">
            <a class="pull-right btn btn-default btn-xs" href ng-click="menuSplice(config.shop.home.views,menu)"><i class="fa fa-remove"></i></a>
          </div>           
        </div>
        <hr/>
        <div class="clearfix">
          <button href ng-click="config.shop.home.views.push({})" class="btn btn-block btn-lg ">Ajouter un menu principal <i class="fa fa-plus"></i></button>
        </div>

        <h4 class="page-header">Gérer votre navigation secondaire </h4>
        <!-- SECONDARY MENU   -->
        <div class="clearfix" 
             ng-repeat="menu in config.shop.menu|orderBy:['group','weight']"
             ng-class="{'dirty':menu.dirty}">
          <form class="form-inline col-xs-11 nopadding">
            <div class="form-group " >
              <input type="text" class="form-control form-inline"  placeholder="Nom" ng-model="menu.name[locale()]">
              <input type="number" class="form-control "  placeholder="poid" ng-model="menu.weight" style="width:80px" min="0">
              <input type="text" class="form-control"  placeholder="url de la page" ng-model="menu.url">
              <input type="text" class="form-control"  placeholder="nom du groupe" ng-model="menu.group" style="width:160px">
              <input type="checkbox" class="form-control"   
                     ng-model="menu.active"
                     ng-class="{'ok':menu.active}">
            </div>
          </form>
          <div class="col-xs-1">
            <a class="pull-right btn btn-default btn-xs" href ng-click="menuSplice(config.shop.menu,menu)"><i class="fa fa-remove"></i></a>
          </div>           
        </div>
        <hr/>
        <div class="clearfix">
          <button href ng-click="config.shop.menu.push({dirty:true})" class="btn btn-block btn-lg ">Ajouter un menu <i class="fa fa-plus"></i></button>
        </div>


      </div>
    </div>
  </div>
</div>


