<div class="dashboard  relative container" ng-controller="OrderAdminCtrl">


  <!-- MAIN CONTENT -->
  <div class="clearfix " ng-init="loadAllProducts({available:true})">
    <div class="card">
        <div class="card-header navbar">
          <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>
          <span class="navbar-text  " >Les stocks <span ng-show="!_options.available">in</span>visibles ({{products.length||0}})</span>
        </div>
        <div class="card-header ch-alt m-b-20">
            <h2>
              La liste des produits
              <small>Appuyer sur réglages pour afficher les produits non disponibles</small>
            </h2>
            <ul class="actions ">
                <li>
                    <a href="" ng-click="loadAllProducts(_options)" ><i class="zmdi zmdi-refresh green"></i></a>
                </li>
            </ul>
            
            <a class="btn bgm-red btn-float waves-effect"
                    ng-href="/products/create"
                    ><i class="zmdi zmdi-plus"></i></a>
            
        </div>
        <div class="card-body card-padding hide clearfix " style="padding-top:0" id="order-filter">
          <form class="form-inline" ng-init="_options.available=true">
            <div class="form-group">
              <div class="col-xs-6 col-md-6" >
                <div ng-show="options.isAdmin" class="checkbox">
                  <label >
                    <input type="checkbox" class=""   ng-model="_options.home"> Home
                  </label>
                </div>
                <div class="checkbox">                  
                  <label>
                    <input type="checkbox" class=""   ng-model="_options.available"> Afficher les produits visible
                  </label>
                </div>

              </div>
              <div class="col-xs-6 col-md-6 select" >
                <select class="form-control pull-right" 
                        ng-change="loadAllProducts(_options)"
                        ng-model="filters.shops" 
                        ng-options="shop.urlpath as shop.name  for shop in shopsSelect| orderBy:'name'">
                        <option value=""  selected>-- Choisissez une boutique</option>
                </select>                        
              </div>
            </div>
          </form>
        </div>
    </div>
    

    <div class="dashboard-content" 
         ng-static-include="'/partials/order/order-lists-stocks.html'">      
    </div>
    <!-- WAIT -->
    <div ng-show="loading" class="text-center gray">
      <i class=" fa fa-clock-0 fa-3x fa-spin"></i>
    </div>

  </div>

</div>
