<div class="dashboard" ng-controller="OrderAdminCtrl">

  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>


  <!-- MAIN CONTENT -->
  <div class="container-fluid " ng-init="findAllOrders({groupby:'shop'})">
    <div class="row">

      <!-- LEFT MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="container-content">

        <!-- FILTERS LOGISTIC -->
        <div class="panel panel-default panel-dashboard" >
          <div class="panel-heading">
            <!-- NAV BAR -->
            <nav class="navbar navbar-default navbar-dashboard">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" 
                          data-toggle="collapse" 
                          data-target="#kb-navbar-shipping" ng-click="navbarShipping=!navbarShipping;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <button class="navbar-btn btn btn-md btn-transparent " title="Détails"
                          toggle-on-click="#order-filter" ><i class="fa fa-chevron-down"></i></button>

                </div>

                <div class="collapse navbar-collapse" ng-class="{'in':navbarShipping}" id="kb-navbar-shipping">
                  <p class="pink navbar-text navbar-right" ng-show="filters.s&&dates.length<4">{{filters.s}}</p>
                  <form class="navbar-form navbar-left" role="options">                


                    <!-- DISPLAY ITEMS BY USER -->

                  </form>
                  <ul class="nav navbar-nav">
                    <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                      <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
                    </li>
                  </ul>

                </div><!-- /.navbar-collapse -->
              </div>
            </nav>  
          </div>


          <div class="panel-body bg-gray nopadding" id="order-filter" ng-class="{'hide':orders.length}">
              <div class="col-xs-12 col-md-3 " ng-if="user.isAdmin()">
                <span>Filtrer les commandes: </span>                
                <button class="btn btn-md btn-transparent btn-block" ng-click="toggle({closed:true})" ng-class="getToggleClass('closed',true)">Toutes les fermées</button>
                <button class="btn btn-md btn-transparent btn-block" 
                        ng-click="toggle({fulfillments:'fulfilled'})" 
                        ng-class="getToggleClass('fulfillments','fulfilled')">Seulement les fulfilled</button>
              </div>
              <div ng-show="!dates.length" class="col-xs-12 col-md-3 gray text-center ">
                <i class="fa fa-warning fa-1x"></i><br/> Pas de commande à afficher pour {{months_long[filters.month-1]}}
              </div>
              <div ng-show="dates.length" class="col-xs-12 col-md-3 ">
                <div>Carte: </div>
                <a class="btn btn-md btn-transparent btn-block" ng-href="/admin/collect/map">
                  Voir la carte
                </a>

              </div>
              <div class="col-xs-12 col-md-3 ">
                <div>Mois: </div>
                <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
              </div>
              <div class="col-xs-12 col-md-3 ">
                <span>Année: </span>
                <button class="btn btn-md btn-transparent btn-block" 
                        ng-repeat="year in years"
                        ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
                <br/>
              </div>
          </div>
        </div>        


        <!-- ORDERS -->
        <div ng-show="loading" class="text-center gray">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>


        <!-- ORDERS BY SHOP -->
        <div ng-if="shops" class="col-md-6 col-xs-12 nopadding container-scroll">
          <div  ng-static-include="'/partials/order/order-collect-shop.html'"></div>
        </div>

        <div ng-if="selected.shop"
             ng-static-include="'/partials/order/order-lists-byshop.html'" 
             class="order-list-items col-md-6 col-xs-12 container-scroll">          
        </div>

      </div>
    </div>
  </div>
</div>
