<div class="dashboard" ng-controller="WalletCtrl">

  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>

        <span class="navbar-text"ng-show="gift">Les cartes cadeaux</span>
        <span class="navbar-text"ng-hide="gift">Les Wallets</span>

    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right hidden-xs">

        <!-- CUSTOM FORM -->

    </ul>

  </nav>

  <div class="clearfix" ng-init="findGiftWallets()">
    <div class="dashboard-filters " >
        <div class="panel-body bg-gray" id="order-filter" ng-class="{'hide':wallets.length}">

          <!-- OPTIONS -->
          <form class="form-inline col-xs-12  nopadding-xs">
            <div class="form-group">
              <input type="text" class="form-control form-inline"  placeholder="mail" ng-model="_options.email">
              <input type="text" class="form-control "  placeholder="> Amount" ng-model="_options.gt">
              <input type="text" class="form-control "  placeholder="< Amount" ng-model="_options.lt">

              <button type="button" class="btn btn-info btn-md" ng-click="findGiftWallets(_options)"><i class="fa fa-refresh"></i> Cartes cadeaux</button>
              <button type="button" class="btn btn-info btn-sm" ng-click="findOtherWallets(_options)"><i class="fa fa-refresh"></i> Wallets</button>

            </div>          

          </form>

        </div>
    </div>


    <div class="dashboard-content ">

      <!-- GIFTCARD -->
      <div class="col-xs-12  nopadding-xs">


        <!-- FORM -->
          <table class="table  table-responsive ">
            <thead>
              <tr>
                <th style="width:200px">id</th>
                <th>owner</th>
                <th>sold</th>
                <th>code</th>
                <th>expiry</th>
                <th>updated</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="wallet in wallets|orderBy:'-updated'">
                <td>
                  <a  ng-click="modalWalletDetails(wallet)"  bs-modal="'/partials/admin/wallet.modal.html'">
                    {{wallet.wid}}
                  </a>
                </td>
                <td class="small">
                    <a ng-href="mailto:{{wallet.email}}" title="{{wallet.id}}" class="link">
                      {{wallet.email}} ({{wallet.id}})
                    </a>
                </td>
                <td><b>{{wallet.balance/100}} fr</b></td>
                <td>{{wallet.card.number}}</td>
                <td>{{wallet.card.expiry|dateLabel}}</td>
                <td>{{wallet.updated|dateLabelShort}}</td>
              </tr>
            </tbody>
          </table>
      </div>


    </div>
  </div>
</div>
