<div class="dashboard" ng-controller="OrderAdminCtrl">

  <!-- MENU -->
  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>


  <!-- MAIN CONTENT -->
  <div class="container-fluid " ng-init="loadAllProducts()">
    <div class="row">

      <!-- LEFT MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs">
     
        <!-- VIEW STOCKS -->
        <div class="panel panel-dashboard" >
          <div class="panel-heading">
            <button class="btn btn-transparent btn-md" ng-click="loadAllProducts()">
              <i class="fa fa-refresh"></i>
            </button>
            Produits disponibles <span ng-show="products.length">({{products.length}})</span>  
            <a class="btn btn-transparent btn-md" ng-href="/products/create">
              <i class="fa fa-plus"></i> Ajouter un nouveau produit
            </a>            
          </div>
          <div class="panel-body nopadding"></div>
        </div>

        <div class="" ng-if="user.isAdmin()">
          <select class="form-control " 
                  ng-change="loadAllProducts()"
                  ng-model="filters.shops" 
                  ng-options="shop.urlpath as shop.name  for shop in shopsSelect| orderBy:'name'">
                  <option value=""  selected>-- Choisissez une boutique</option>
          </select>                        
        </div>



        <div class="clearfix" ng-include="'/partials/order/order-lists-stocks.html'"></div>

        <!-- WAIT -->
        <div ng-show="loading" class="text-center gray">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>

          


      </div>
    </div>
  </div>
</div>
