<div class="dashboard" ng-controller="OrderAdminCtrl">

  <!-- MENU -->
  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>


  <!-- MAIN CONTENT -->
  <div class="container-fluid " ng-init="findAllOrders()">
    <div class="row">

      <!-- LEFT MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs row-offcanvas _row-offcanvas-right " nclass="{'active':options.showWidget}">

        <!-- FILTERS LOGISTIC -->
        <div class="panel panel-default" >
          <div class="panel-heading"> 
            <a href="" class="btn btn-transparent btn-md" toggle-on-click="#order-filter" > <i class="fa fa-chevron-down "></i></a>

            <!-- TITLE -->
            <span id="ac-{{filters.s}}" >le {{shipping.currentDay|dateLabel}} pour {{filters.s}} </span>
            <!-- DISPLAY PAD FOR TOUCH UX -->
            &nbsp;
            <button class=" btn btn-md btn-transparent  " title="Afficher le PAD" 
                    ng-click="options.showWidget=!options.showWidget" 
                    ng-class="{'active':options.showWidget}"><i class="fa fa-calculator"></i> PAD</button>


          </div>
          <div class="panel-body  hide" id="order-filter" >
              <div class="col-xs-12  ">
                <button ng-click="informShopToOrders(filters.s,shipping.currentDay)" 
                        type="button" class="btn btn-md btn-transparent btn-block">Envoyer le détail par email</button>
                <button class="btn btn-md btn-transparent btn-block" 
                        ng-repeat="(shop, items) in shops"
                        ng-click="filters.s=shop" ng-class="{'active':isSelectedShop(shop)}">
                        {{shop}} 
                        ({{countItemValidated(shops[shop],filters.f)}}|
                        {{countItemAvailable(items,filters.f)}})
                </button> 
              </div>
          </div>
        </div>        
          

        <!-- ORDERS -->
        <div ng-show="loading" class="text-center gray">
          <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>


        <!-- ORDERS BY SHOP -->
        <div  ng-if="shops" 
              class=" nopadding" 
              ng-class="{'col-xs-4 col-md-6':options.showWidget,'col-xs-12':!options.showWidget}"
              ng-include="'/partials/order/order-lists-byshop.html'"></div>

        <!-- WIDGET -->
        <div ng-if="options.showWidget"  id="validate-widget"
             class="col-xs-8 col-md-6 " 
             ng-include="'/partials/order/order-validate-widget.html'"></div>


      </div>
    </div>
  </div>
</div>
