<div class="dashboard relative container" ng-controller="OrderAdminCtrl">


  <!-- MAIN CONTENT -->
  <div   ng-init="findAllOrders({month:'now'})" class="clearfix">
    <div class="card">
        <div class="card-header navbar">
          <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>
          <span class="navbar-text hidden-xs" >Les commandes</span>

          <ul class="nav navbar-top-links navbar-right ">

              <!-- CUSTOM FORM -->

              <!-- /.dropdown edit shop -->
              <li class="dropdown pull-right" ng-if="dates.length" style="margin-right:0">
                  <a class="dropdown-toggle green bold text-capitalize" data-toggle="dropdown" href="#" >
                      <i class="fa fa-calendar fa-fw"></i> {{filters.f|dateLabelShort}}  <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-tasks">
                    <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                      <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
                    </li>
                  </ul>
              </li>
          </ul>
          
        </div>
        <div class="card-header ch-alt m-b-20">
            <h2>
              Commandes affichées
              <small>Psst, en cas de soucis, contacter nous <span class="green"><i class="zmdi zmdi-phone"></i> <a href="tel:0041763797868" class="link green">076.379.78.68</a> </span></small>
            </h2>
            <ul class="actions hide">
                <li>
                    <a href="" toggle-on-click="#order-filter"><i class="zmdi zmdi-plus-circle-o"></i></a>
                </li>
                <li class="dropdown" uib-dropdown="">
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                        <i class="zmdi zmdi-calendar"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                        <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
                      </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="card-body card-padding hide clearfix " style="padding-top:0" id="order-filter">
            <div class="col-xs-12 col-md-4 ">
              <span>Filtrer les commandes: </span>                
              <button class="btn btn-md btn-transparent btn-block" ng-click="toggle({closed:true})" ng-class="getToggleClass('closed',true)">Les fermées</button>
              <button class="btn btn-md btn-transparent btn-block" ng-click="toggle({fulfillments:'fulfilled'})" ng-class="getToggleClass('fulfillments','fulfilled')">Les fulfilled</button>


            </div>
            <div ng-show="!dates.length" class="col-xs-12 col-md-4 gray text-center ">
              <i class="fa fa-warning fa-1x"></i><br/> Pas de commande à afficher pour {{months_long[filters.month-1]}}
            </div>
            <div class="col-xs-12 col-md-4 ">
              <div>Mois: </div>
              <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
            </div>
            <div class="col-xs-12 col-md-4 ">
              <em>Année: </em>
              <button class="btn btn-md btn-transparent btn-block" 
                      ng-repeat="year in years"
                      ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
              <br/>
            </div>
            <div class="col-xs-12" >
              <button ng-click="informShopToOrders(filters.s,filters.f,filters.fulfillments)" 
                      type="button" class=" btn btn-md btn-warning">
                      <span class="hidden-xs">Envoyer par</span> Email
              </button>                

              <!-- FILTER ITEMS BY SHOP --> 
              <select class="form-control pull-right " style="width:50%" 
                      ng-model="filters.s" 
                      ng-disabled="!isShopSelectionAvailable()"
                      ng-options="shop as shop for shop in orders|filterBy:['shipping.when']:filters.f|mapOrdersByShop track by shop">
                      <option value=""  selected>-- Toutes les boutiques</option>
              </select>                        
            </div>        </div>
    </div>



    <div class="dashboard-content " >





      <div ng-if="orders.length"
           ng-static-include="'/partials/order/order-lists.html'" 
           class="">
      </div>

      <!-- ORDER ITEMS -->
      <div ng-include="'/partials/order/order-lists-items.html'"
           ng-class="{'orders-show':selected.order&&!filters.print}" 
           class="order-list-items scroll-y" element-scroller="40">          
      </div>

      <!-- PRINT MODE
      <div ng-static-include="'/partials/order/order-lists-items-detailed.html'"
           ng-class="{'orders-show':selected.order&&filters.print}" 
           class="order-list-items"> 
      -->
      </div>

    </div>
  </div>
</div>
