<div class="dashboard" ng-controller="OrderAdminCtrl">


  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>

        <button class="pull-left navbar-btn btn btn-md btn-lang " title="Imprimer les commandes" 
                ng-click="filters.print=!filters.print" 
                ng-class="{'active':filters.print}"><i class="fa fa-print"></i></button>

        <span class="navbar-text hidden-xs" >Les commandes</span>

    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right hidden-xs">

        <!-- CUSTOM FORM -->


        <!-- /.dropdown edit shop -->
        <li class="dropdown" ng-if="user.shops.length">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
              <li ng-repeat="shop in user.shops">
                <a ng-href="/shop/{{shop.urlpath}}/edit">{{shop.name}} (edit)</a>
              </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>

        <!-- /.dropdown edit shop -->
        <li class="dropdown" ng-if="dates.length">
            <a class="dropdown-toggle green bold text-capitalize" data-toggle="dropdown" href="#">
                <i class="fa fa-calendar fa-fw"></i> {{filters.f|dateLabelShort}}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
              <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
              </li>
            </ul>
        </li>
    </ul>

<!--     <div class="navbar-default sidebar" role="navigation" ng-include="'/partials/dashboard/dashboard-sidebar.html'" />
 -->
  </nav>

  <!-- MAIN CONTENT -->
  <div   ng-init="findAllOrders()" class="clearfix">
    <div class="dashboard-filters " >
        <div class="panel-body bg-gray" id="order-filter" ng-class="{'hide':orders.length}">
            <div class="col-xs-12 col-md-4 ">
              <span>Filtrer les commandes: </span>                
              <button class="btn btn-md btn-transparent btn-block" ng-click="toggle({closed:true})" ng-class="getToggleClass('closed',true)">Les fermées</button>
              <button class="btn btn-md btn-transparent btn-block" ng-click="toggle({fulfillments:'fulfilled'})" ng-class="getToggleClass('fulfillments','fulfilled')">Les fulfilled</button>


            </div>
            <div ng-show="!dates.length" class="col-xs-12 col-md-4 gray text-center ">
              <i class="fa fa-warning fa-1x"></i><br/> Pas de commande à afficher pour {{months_long[filters.month-1]}}
            </div>
            <div class="col-xs-12 col-md-4 ">
              <div>Mois: </div>
              <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
            </div>
            <div class="col-xs-12 col-md-4 ">
              <em>Année: </em>
              <button class="btn btn-md btn-transparent btn-block" 
                      ng-repeat="year in years"
                      ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
              <br/>
            </div>
            <div class="col-xs-12" >
              <button ng-click="informShopToOrders(filters.s,filters.f,filters.fulfillments)" 
                      type="button" class=" btn btn-md btn-warning">
                      <span class="hidden-xs">Envoyer par</span> Email
              </button>                

              <!-- FILTER ITEMS BY SHOP --> 
              <select class="form-control pull-right " style="width:50%" 
                      ng-model="filters.s" 
                      ng-disabled="!isShopSelectionAvailable()"
                      ng-options="shop as shop for shop in orders|filterBy:['shipping.when']:filters.f|mapOrdersByShop track by shop">
                      <option value=""  selected>-- Toutes les boutiques</option>
              </select>                        
            </div>
        </div>
    </div>

    <div class="dashboard-content" element-scroller="100">



      <!-- WAIT -->
      <div ng-show="loading" class="text-center gray">
        <i class="fa fa-refresh fa-2x fa-spin"></i>
      </div>


      <div ng-if="orders.length" class="col-md-6 col-xs-12 nopadding scroll-y">
        <div ng-static-include="'/partials/order/order-lists.html'"></div>
      </div>

      <!-- ORDER ITEMS -->
      <div ng-static-include="'/partials/order/order-lists-items.html'" 
           ng-if="selected.order&&!filters.print"
           class="order-list-items col-md-6 col-xs-12 scroll-y">          
      </div>

      <div ng-static-include="'/partials/order/order-lists-items-detailed.html'"
           ng-if="selected.order&&filters.print" 
           class="order-list-items col-md-6 col-xs-12 scroll-y">
      </div>

    </div>
  </div>
</div>
