<!-- SIDEBAR MENU --> 
<ul class="nav nav-sidebar" ng-if="user.hasRole('logistic')||user.isAdmin()">
  <!-- boutique -->
  <li><a ng-href="/">les produits</a></li>
  <li><a ng-href="/shops">les boutiques</a></li>

  <!-- SHIPPING LINKS -->
  <li><h5>Logistique</h5></li>
  <li  ng-class="getClass('/admin/shipping')" >
    <a ng-href="/admin/shipping?payment=authorized">livraison</a>
  </li>

  <li   ng-class="getClass('/admin/collect')" >
    <a ng-href="/admin/collect">Collecte</a>
  </li>
</ul>
<ul class="nav nav-sidebar" ng-if="user.shops.length||user.isAdmin()">
  <li><h5>Commandes</h5></li>
  <li  ng-class="getClass('/admin/orders')"><a href="/admin/orders">Les commandes</a></li>
<!--   <li  ng-class="getClass('/admin/orders/print')"><a href="/admin/orders/print">Les commandes imprimables</a></li>
 -->
  <!-- REPPORT -->
  <li><h5>Rapport</h5></li>
  <li ng-class="getClass('/admin/repport/shop')"><a href="/admin/repport/shop">Rapport d'activité</a></li>
  <!--
  <li ng-if="user.isAdmin()" ng-class="getClass('/admin/repport/users')"><a href="/admin/repport/users">Users</a></li>
  -->

  <!-- PRODUCTS LINKS -->
  <li><h5>Produits</h5></li>
  <li ng-class="getClass('/admin/products')"><a href="/admin/products">Vos produits</a></li>

</ul>
  <!-- ADMIN LINKS -->
<ul class="nav nav-sidebar" ng-if="user.isAdmin()">
  <li ><h5>Admin</h5></li>
  <li ng-class="getClass('/admin/invoice')"><a href="/admin/invoice">Factures ouverte</a></li>
  <li ng-class="getClass('/admin/category')"><a href="/admin/category">Categories</a></li>
  <li ng-class="getClass('/admin/user')"><a href="/admin/user">Utilisateurs</a></li>
  <li ng-class="getClass('/admin/config')"><a href="/admin/config">Config</a></li>
  <li ng-class="getClass('/admin/activities')"><a href="/admin/activities">Activités</a></li>
  <li ng-class="getClass('/admin/stats')"><a href="/admin/stats">Statistiques</a></li>
  <li ng-class="getClass('/admin/wallets')"><a href="/admin/wallets">Wallets</a></li>
</ul>
