<div class="dashboard relative container" ng-controller="AccountCtrl">

  <div class="clearfix" ng-init="findAllUsers()">
    <div class="card">
        <div class="card-header navbar">
          <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i> Réglage <i class="fa fa-caret-down"></i></a>
          <ul class="nav navbar-top-links navbar-right">

              <!-- /.dropdown edit shop -->
              <li class="dropdown" ng-if="dates.length">
                  <a class="dropdown-toggle green bold text-capitalize" data-toggle="dropdown" href="#">
                      <i class="fa fa-calendar fa-fw"></i> {{filters.f|dateLabelShort}}  <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-tasks">
                    <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                      <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
                    </li>
                  </ul>
              </li>
          </ul>


        </div>
        <div class="card-header ch-alt m-b-20">
            <h2>
              Gestion des utilisateurs ({{users.length}})
            </h2>
            
            <a class="btn bgm-red btn-float waves-effect"
                     ng-click="findAllUsers(_user)"
                    ><i class="zmdi zmdi-refresh"></i></a>
            
        </div>
        <div class="card-body card-padding  clearfix "
             ng-class="{'hide':users.length}" 
             style="padding-top:0" 
             id="order-filter">
          <form class="form-inline">
            <div class="form-group">
              <label><input type="checkbox" class=""   ng-model="_user.reminder"> Reminder</label>
              <input type="text" class="form-control form-inline"  placeholder="Nom" ng-model="_user.name">
              <input type="text" class="form-control "  placeholder=">= orders count" ng-model="_user.orders">
              <input type="text" class="form-control"  placeholder=">= Wallet amount" ng-model="_user.amount">
              <input type="text" class="form-control"  placeholder=">= Giftcode count" ng-model="_user.gifts">

            </div>          
          </form>

        </div>
    </div>
    

    <table class="table  table-responsive ">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th><a ng-click="applyTableFilter('logged')">login</a></th>
          <th><a ng-click="applyTableFilter('updated')">update</a></th>
          <th><a ng-click="applyTableFilter('email')">validate</a></th>
          <th>address</th>
          <th>role</th>
          <th>shops</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="u in users|orderBy:options.orderByField:options.reverseSort|filterBy:['email.status']:options.filterByField|filter:options.filterTxt|limitTo:options.limitUserDisplay" ng-class="{'danger':u.status!==true}">
          <td class="small">{{::$index+1}}
              <a  ng-click="modalUserDetails(u)" title="{{u.getEmailStatus()}}"
                bs-modal="'/partials/admin/user.modal.html'">
                {{::u.id}}
              </a>
          </td>
          <td ng-class="{'danger':u.email.status!==true}">
              {{::u.displayName}}
          </td>
          <td>{{::u.logged|dateLabelShort}}</td>
          <td>{{::u.updated|dateLabelShort}}</td>
          <td ng-class="{'danger':u.email.status!==true}">{{::u.getEmailStatus()}}</td>
          <td>{{::u.hasPrimaryAddress()}}</td>
          <td>{{::u.roles}}</td>
          <td>{{::u.shops.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
