<div class="dashboard relative container" ng-controller="OrderRepportCtrl">


  <!-- MAIN CONTENT -->
  <div class="clearfix " ng-init="findAllShopRepport()">

    <div class="card hidden-print ">
        <div class="card-header navbar">
          <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>
        </div>
        <div class="card-header ch-alt m-b-20">
            <h2>
              Votre comptabilité du <span class="gray" ng-show="repport.from">{{repport.from|dateLabel}} au {{repport.to|dateLabel}}</span>
            </h2>
            
            <a class="btn bgm-red btn-float waves-effect"
                     onclick="javascript:window.print();"
                    ><i class="zmdi zmdi-print"></i></a>
            
        </div>
        <div class="card-body card-padding  clearfix "
             ng-class="{'hide':repportShops.length}" 
             style="padding-top:0" id="order-filter">
          <div class="col-xs-12 col-md-4 ">
            <p class="f-500 c-black m-b-15">Mois: </p>
            <span ng-repeat="month in months"><button class="btn btn-xs btn-transparent" ng-click="toggle({month:month})" ng-class="getToggleClass('month',month)">{{months_short[month-1]}}</button> </span>                
          </div>
          <div class="col-xs-12 col-md-4 ">
            <p class="f-500 c-black m-b-15">Année: </p>
            <button class="btn btn-md btn-transparent btn-block" 
                    ng-repeat="year in years"
                    ng-click="toggle({year:year})" ng-class="getToggleClass('year',year)">{{year}}</button>                 
            <br/>
          </div>
          <div class="col-xs-12  col-md-4 select" ng-if="options.isAdmin">
            <p class="f-500 c-black m-b-15">Par boutique: </p>
            <select class="form-control " 
                    ng-change="findAllShopRepport()"
                    ng-model="filters.shops" 
                    ng-options="shop.urlpath as shop.name  for shop in shopsSelect| orderBy:'name'">
                    <option value=""  selected>-- Choisissez une boutique</option>
            </select>                        
          </div>
        </div>
    </div>

  </div>

  <!-- MAIN CONTENT -->
  <div class="dashboard-content" ng-show="repportShops.length">
    <div class=" repport">
      <address class="karibou small">
        <img src="/img/k-small.png"  />
        <span class="text-underline bold" >Karibou marketplace</span> | 
        <span class="text-capitalize">Olivier & Delphine Cluzel Evalet</span> | 
        <span >34 route de chêne | 1208 | Genève</span> 
      </address>

      <address>
        <!-- <strong class="text-capitalize">{{user.display()}}</strong><br> -->
        <span class="text-underline bold" >{{shopName()}}</span><br>
        <span >{{firstShop().address.streetAdress}}</span><br>
        <span >{{firstShop().address.postalCode}} / {{firstShop().address.region}}</span><br>
      </address>

      <h4 ng-if="repport.from">Relevé d'activité du {{repport.to|dateLabel}}</h4>
      <ul >
        <li>Date du relevé: {{today|dateLabel}}</li>
        <li>Boutique(s): {{shopName()}}</li>
        <li>Période comptable:  {{repport.from|dateLabel}} au {{repport.to|dateLabel}}</li>
        <li></li>
      </ul>

      <div  >
      <table class="table table-condensed resume">
        <thead>
          <tr>
            <th>Info</th>
            <th></th>
            <th>Transactions</th>  
            <th>CHF</th>
          </tr>
        </thead>
        <tbody ng-repeat="(slug, repportOneShop) in repport.shops" class="repport-separator">
          <tr><td colspan="2"></td><td>CA {{repportOneShop.items}} articles / {{repportOneShop.orders.length}} commandes</td><td>{{repportOneShop.amount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Déduction liée à la participation aux frais des clients</td><td>
          {{repportOneShop.discount|number:2}}
          </td></tr>
          <tr><td colspan="2"></td><td>Déduction liée au service Karibou.ch  {{repportOneShop.contractFees[0]*100}}% </td><td>{{repportOneShop.fees|number:2}}</td></tr>
          <tr><td colspan="2"></td><td class="bold">Solde en faveur de {{repportOneShop.name}}</td><td class="bold">{{repportOneShop.amount-repportOneShop.discount-repportOneShop.fees|number:2}}</td></tr>
        </tbody>
        <tbody ng-if="multipleShops(repport)>1" class="repport-last">
          <tr><td colspan="2">TOTAL</td><td>{{repport.items}} articles / {{repport.orders.length}} commandes</td><td>{{repport.amount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Déduction liée à la participation aux frais des clients</td><td>{{repport.discount|number:2}}</td></tr>
          <tr><td colspan="2"></td><td>Déduction lié au service Karibou.ch </td><td>{{repport.ca|number:2}}</td></tr>
          <tr><td colspan="2"></td><td class="bold">Solde en faveur des boutiques</td><td class="bold">{{repport.amount-repport.discount-repport.ca|number:2}}</td></tr>
        </tbody>

      </table>

      </div>

      <p>
        Avec nos meilleures salutations,<br/>
        L'équipe Karibou.ch
      </p>

      <div class="page-break"></div>
      <div  ng-include="'/partials/order/order-repport-shop.html'"></div>

      <!-- MAP -->
      <div ng-if="addresses" class="text-center">
        <img bg-src="{{map.resolveStaticmap(addresses)}}" class="img-cover" style="height:500px"/>
      </div>
      <hr/>
    </div>    
  </div>

</div>
