<div class="dashboard relative container" ng-controller="OrderShopperCtrl">


  <div class="clearfix " ng-init="findAllOrdersForShipping()">
    <div class="card">
        <div class="card-header navbar">
          <a class="navbar-brand green" href="" toggle-on-click="#order-filter"><i class="fa fa-tasks fa-fw"></i>  Réglage <i class="fa fa-caret-down"></i></a>

          <ul class="nav navbar-top-links navbar-right">

              <!-- /.dropdown edit shop -->
              <li class="dropdown" ng-if="dates.length">
                  <a class="dropdown-toggle green bold text-capitalize" data-toggle="dropdown" href="#">
                      <i class="fa fa-calendar fa-fw"></i> {{filters.f|dateLabelShort}}  <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-tasks">
                    <li ng-class="{'active':isSelectedDate(date)}" ng-repeat="date in dates.slice().reverse()|limitTo:8">
                      <a  href="#" ng-click="filters.f=date" >{{date|dateLabelShort}}</a>
                    </li>
                  </ul>
              </li>
          </ul>

        </div>
        <div class="card-header ch-alt m-b-20">
            <h2>
              Livraisons du {{filters.f|dateLabelLong}}
            </h2>
            
            <a class="btn bgm-red btn-float waves-effect"
                     ng-click=""
                    ><i class="zmdi zmdi-pin"></i></a>
            
        </div>
        <div class="card-body card-padding  clearfix "
             ng-class="{'hide':orders.length}" 
             style="padding-top:0" 
             id="order-filter">

          <div ng-show="!dates.length" class="col-xs-12 gray text-center ">
            <h4>
              <i class="fa fa-warning fa-1x"></i>Pas de livraison à proposer pour {{months_long[filters.month-1]}}
            </h4>
          </div>

          <div  ng-include="'/partials/dashboard/dashboard-header.html'">
          </div>
          <table role="grid" class="dp-table" tabindex="0" style="margin:auto;width:280px">
            <!-- FILTER CLOSED ORDERS -->                  
            <tr class="">
              <td colspan="3" class="bg-gray p-t-10">
              <div class="toggle-switch" data-ts-color="green">
                  <label for="closed-order" class="ts-label">Les commandes réservées</label>
                  <input id="closed-order" type="checkbox" hidden="hidden"
                        ng-checked="isClosedOrder()">
                  <label for="closed-order" class="ts-helper" ng-click="toggle({payment:'authorized'})" ></label>
              </div>                      
              </td>
            </tr>    
          </table>


          <div class="col-xs-12 ">
            <p class="f-500 c-black m-b-15">Vos codes postaux: </p>

            <span ng-repeat="cp in user.logistic.postalCode|orderBy" >
              <span class="label label-karibou"> {{cp}} </span>&nbsp;
            </span>
            
          </div>

        </div>
    </div>
    
   <!-- TOP PANEL -->

    <!-- MAIN CONTENT -->
    <div class="dashboard-content" >
      <div ng-if="orders.length " ng-include="'/partials/order/order-lists-logistic.html'" ></div>
    </div>
  </div>
</div>
