  <div class="block layout-item c1  " >
      <div class="body">
        <div style="position:absolute;padding-left:0px" >
            <p style="padding:10px" class="actions hide">
              <a href="#" class="btn -btn-large"><i class="icon-star-empty"></i>&nbsp;J'aime</a> 
              <a href="#" class="btn -btn-large"><i class="icon-ok"></i>&nbsp;J'achète</a>
            </p>
        </div>
        <img src="/img/shop/new-noix.jpg" />
	      <div class="row-fluid " style="border-bottom:1px #eee solid;padding-bottom:5px">
	        <div class=" elem" style="text-align: center;">
    	        <b><span>Citrons</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/></b>
          	  <span class="small">Fr 1,60</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/> 
          	  <span class="small">3 pce</span>
	        </div>
	      </div>
	    </div>
      <ul class="unstyled small elem footer" >
    			<li><i class="icon-user"></i>&nbsp;Morrand fruits et légumes</li>
    			<li><i class="icon-map-marker"></i>&nbsp;Genève</li>
    			<li><i class="icon-tag"></i>&nbsp;BIO, sans gluten</li>
    	</ul>
  </div>
  <!-- ITEM -->
  <div class="block layout-item c1 "  style="min-height:210px">
      <div class="body">
        <div class="span12 shop-label" style="">
          <ul class="thumbnails">
      			<li><img n-g-show="product.details.bio" src="/img/shop/bio.png" style="width:16px;"/>&nbsp;
      			    <img n-g-show="product.details.gluten" src="/img/shop/gluten-free.png" style="width:16px;"/>
      			    <img n-g-show="product.details.lactose" src="/img/shop/lactose.png" style="width:16px;"/>
      			    <img n-g-show="product.details.local" src="/img/shop/local.png" style="width:16px;"/>
      			</li>
          </ul>
        </div>
        <a href="#">
          <img ng-show="product.photo" src="{{product.photo}}/convert?w=220&h=150&fit=crop" style="height:175px;">
          <img ng-hide="product.photo" src="{{false  | placehold:'220x150'}}" style="height:175px;">
        </a>
        <div class="row-fluid " style="padding:5px 0px 5px 0px">
          <div class=" elem" >
	            <span class="gray small">{{product.title}}titre</span>
          	  <span class=" pull-right green small"><div>Fr {{product.pricing.price}}2.50</div><div class="small em">{{product.pricing.part}}100gr</div></span>
          	  <div>{{product.urlshop}} </div>
          </div>
        </div>
      </div>

  </div>


  <! --ITEM -->            
  <div class="block layout-item c1  " >
      <div style="position:absolute;padding-left:0px" >
          <p style="padding:10px" class="actions hide">
            <a href="#" class="btn -btn-large"><i class="icon-star-empty"></i>&nbsp;J'aime</a> 
            <a href="#" class="btn -btn-large"><i class="icon-ok"></i>&nbsp;J'achète</a>
          </p>
      </div>
      <img src="/img/shop/new-pain-1.jpg" />
	    <div class="row-fluid " style="border-bottom:1px #eee solid;padding:5px 0px 5px 0px">
	      <div class=" elem" style="text-align: center;">
  	        <b><span>Pain paysan</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/></b>
        	  <span class="small">Fr 3,30</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/> 
        	  <span class="small">1 pce</span>
	      </div>
	    </div>
      <ul class="unstyled small elem" style="">
    			<li><i class="icon-user"></i>&nbsp;Boulangerie des Eaux-vives</li>
    			<li><i class="icon-map-marker"></i>&nbsp;Genève</li>
    			<li><i class="icon-tag"></i>&nbsp;BIO</li>
    	</ul>
  </div>

  <! --ITEM -->            
  <div class="block layout-item c1  " >
      <div style="position:absolute;padding-left:0px" >
          <div style="padding:10px" class="actions hide">
            <a href="#" class="btn -btn-large"><i class="icon-star-empty"></i>&nbsp;J'aime</a> 
            <div class="btn-group" style="overflow:visible">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-ok"></i>&nbsp;J'achète
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
              </ul>
            </div>      	            
          </div>
      </div>
      <img src="/img/shop/new-eggs.jpg" />
	    <div class="row-fluid " style="border-bottom:1px #eee solid;padding:5px 0px 5px 0px">
	      <div class=" elem" style="text-align: center;">
  	        <b><span>Entrecôte de boeuf ~300Gr</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/></b>
        	  <span class="small">Fr 28,30</span><i style="border-right: 1px solid #ddd; width: 3px; margin-right: 3px; padding: 3px;"/> 
        	  <span  class="small">7,9.-<sub>100gr</sub></span>
	      </div>
	    </div>

      <ul class="unstyled small elem" style="">
    			<li><i class="icon-user"></i>&nbsp;Boucherie des Eaux-vives</li>
    			<li><i class="icon-map-marker"></i>&nbsp;Suisse</li>
    			<li><i class="icon-tag"></i>&nbsp;BIO</li>
    	</ul>
  </div>

  <div class="block layout-item c1  ">
      <p class="elem">Cool, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
  </div>

  <div class="block layout-item c1  ">
      <p class="elem">Cool, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
  </div>

  <div class="block layout-item c1  ">
      <p class="elem">Cool, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
  </div>
  <div class="block layout-item c1  ">
      <p class="elem">Cool, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
  </div>

