  <div class="cover-img bg-black" backstretch="{src:'img/welcome.jpg'}"></div>

  <div class="cover-body ">
    <!-- HOME -->
     <div  class="cover-body-inner strong ">
        <h1  class="cover-title ">Kariboo</h1>
        <p class="cover-description ">Une meilleure place pour l'alimentation. Visitez et discutez avec les producteurs et les commercants.<br><br>Lisez la <a href="/about">présentation</a>.
        </p>
        <div class="cover-actions"><a href="/signup" class="btn btn-success btn-large btn-new-post"><span class="icons icons-new-post"></span>Sign up</a><span class="white">ou <a href="login" class="white">Login</a></span></div>
     </div>
  </div>
