  <div class="cover-img" backstretch="{src:'img/welcome.jpg'}"></div>

  <div class="cover-body">
    <!-- HOME -->
     <div  class="cover-body-inner strong">
        <h1  class="cover-title ">Kariboo</h1>
        <p class="cover-description ">Une meilleure place pour l'alimentation. <a href="/page/sharte" title="">Learn more</a>. <br><br>Read our <a  href="/about">les dernières nouvelles du mois</a>.
        </p>
        <div class="cover-actions"><a href="/signup" class="btn btn-success btn-large btn-new-post"><span class="icons icons-new-post"></span>Sign up</a><span class="white">ou <a href="login" class="white">Login</a></span></div>
     </div>
  </div>
