  <div class="cover-img bg-black" backstretch="cover">


  </div>

  <div class="cover-body " hide="cart.items.length">
    <!-- HOME -->
     <div  class="cover-body-inner strong " >
        <h1  class="cover-title ">Karibou</h1>
        <div class="cover-description ">La ville et la campagne se retrouvent.<br><br/>
          <ul class="cover-list" >
            <li>1 - Faites votre marché</li>
            <li>2 - Connectez vous</li>
            <li>3 - Nous livrons chez vous !</li>  
          </ul>

          <br>Lisez la <a href="http://karibou.ghost.io/">présentation</a> 
        </div>

        <div class="cover-actions"><a href="/signup" class="btn btn-success btn-lg btn-new-post"><span class="icons icons-new-post"></span>Inscrivez-vous</a><span class="white">ou <a href="/login" class="white">Login</a></span></div>
     </div>
  </div>


