<h4 class="article-group-title text-center black">Votre emplacement </h4>
<p class="">
  L'adresse ci-dessous précise l'emplacement de votre commerce. Cet emplacement peut être utilisé comme point de collecte s'il est dans la zone de logistique. Vous avez également la possibilité de déposer vos produits au marché ou dans une autre boutique (voir en bas de page).
</p>
<div class="form-group">                  
  <label class=" control-label">Nom complet</label>
  <div class="">
      <input   ng-model="shop.address.name" type="text" placeholder="Personne de contact "
      class="form-control input-lg " require >
      
  </div>
</div>

<!-- phone -->
<div class="form-group">                  
  <label class=" control-label">Téléphone</label>
  <div class="">
      <input   ng-model="shop.address.phone" type="text" placeholder="Indiquer un numéro où vous êtes facilement joignable"
      class="form-control input-lg " require>
      
  </div>
</div>

<!-- street & floor -->
<div class="form-group">
  <label class=" control-label">Rue, Numéro /étage</label>
  <div class="">
      <input  ng-model="shop.address.streetAdress"  ng-blur="updateMap(shop.address)"
              type="text"  placeholder="Indiquer la rue  " class="form-control input-lg inline" require>
      <input  ng-model="shop.address.floor" type="text" placeholder="et l'étage (ex: rez)" class="form-control input-lg inline" require>

  </div>
</div>


  <!-- postal -->
<div class="form-group">
  <label class=" control-label">Code Postal</label>
  <div class="">
      <input  ng-model="shop.address.postalCode" ng-blur="updateMap(shop.address)" type="text"  placeholder="ex. 1208" class="form-control input-lg inline" require>

      <span ng-hide="config.shop.user.location.list.indexOf(shop.address.postalCode)==-1" class="accout-field-valid"><i class="fa fa-ok green"></i></span>                        

  </div> 
</div>


<!-- REGION -->
<div class="form-group">
  <label class=" control-label">Region</label>
  <div class="">
      <select class="form-control input-lg" ng-model="shop.address.region"  
               data-ng-options="l for l in config.shop.region.list" 
               ng-change="updateMap(shop.address)">
          <option value="">-- Choisissez  --</option>
      </select>
  </div>
</div>

<!-- GEO MAP -->
<div class="form-group" ng-show="shop.address.geo">
  <label  class=" control-label">Position sur la carte</label>
  <div class="">
    <img ng-src="{{map.resolveStaticmap(shop.address,shop.address.name)}}" style="width:100%"/>
  </div>
</div>