
<div tabindex="-1"  class="container" ng-controller="ShopCtrl">
  


          <div>
            <form class="karibou" novalidate>
            <!-- <div class="modal-header">
              <h3 class="gray">Editer votre boutique</h3>
            </div> -->
            <div class="" style="margin-top:50px;">
              <div data-fade="1" bs-tabs>
                <div data-title="Information">

                    <div class="form-background clearfix">
                      <h4 class="article-group-title text-center">{{shop.name }} </h4> 
                      <!-- Description -->
                      <div class="form-group clearfix">
                        <label class="control-label">Description (max 300 caractères)</label>
                        <div class="">                     
                          <textarea name="description" required rows="4" ng-model="shop.description"  class="form-control" placeholder="Votre boutique..." >{{shop.description }}</textarea>
                        </div>
                        <p ng-show="form.description.$invalid && !form.description.$pristine" class="help-block">La description est obligatoire.</p>                        
                      </div>


                     <!-- URL -->
                      <div class="form-group clearfix">
                        <label class="control-label">Votre boutique sur Internet</label>
                        <div class="">
                          <input type="url" class="form-control input-lg" ng-model="shop.url"  placeholder="Votre site internet"/>                        
                          <p class="help-block">L'adresse Internet de votre boutique.</p>
                        </div>
                      </div>

                     <!-- URL -->
                      <div class="form-group clearfix">
                        <a class="pull-right small" ng-show="shop.photo.source" ng-href="{{shop.photo.source}}" target="_new">(votre galerie ici)</a>
                        <label class="control-label">Votre Gallerie photo</label>
                        <div class="">
                          <input type="url" class="form-control input-lg" ng-model="shop.photo.source"  placeholder="Votre gallerie"/>         
                        </div>
                      </div>
                   
                      <hr/>
                     <!-- Photos -->
                      <div class="form-group clearfix ">
                          <label class="control-label">Photos de votre boutique</label>
                          <div class="">
                            <uploadcare-widget
                              ng-model="shop.photo.fg"
                              data-locale="fr"
                              data-tabs="file url facebook flickr"
                              data-images-only="true"
                              data-path-value="true"
                              data-preview-step="true"
                              data-clearable="true"
                              data-multiple="false"
                              data-crop="free"
                              data-max-size-hide="153600"
                              data-on-upload-error="uploadImageError(error)"
                              value="{{shop.photo.fg}}"
                             ></uploadcare-widget>

                            <img ng-src="{{shop.photo.fg| placehold:'160x160&text=la boutique'}}" class="img-rounded shop">
                          </div>
                          <hr/>

                          <label class="control-label">Photos de l'équipe</label>
                          <div class="">
                            <uploadcare-widget
                              ng-model="shop.photo.owner"
                              data-locale="fr"
                              data-tabs="file url facebook flickr"
                              data-images-only="true"
                              data-path-value="true"
                              data-preview-step="true"
                              data-clearable="true"
                              data-multiple="false"
                              data-crop="free"
                              data-max-size-hide="153600"
                              value="{{shop.photo.owner}}"
                             ></uploadcare-widget>

                            <img ng-src="{{shop.photo.owner | placehold:'160x160&text=l`équipe'}}"  class="img-circle owner" style="height:120px;margin-top:10px"/>
                          <hr/>

                          <label class="control-label">Photos de votre logo </label>
                          <div class="">
                            <uploadcare-widget
                              ng-model="shop.photo.logo"
                              data-locale="fr"
                              data-tabs="file url facebook flickr"
                              data-images-only="true"
                              data-path-value="true"
                              data-preview-step="true"
                              data-clearable="true"
                              data-multiple="false"
                              data-crop="free"
                              data-max-size-hide="153600"
                              data-on-upload-error="uploadImageError(error)"
                              value="{{shop.photo.logo}}"
                             ></uploadcare-widget>

                            <img ng-src="{{shop.photo.logo}}" class="img-rounded shop">
                          </div>
                          <hr/>

                          </div>
                      </div> 
                      

                  </div>
                 
                </div> <!-- TAB INFORMATION -->
                <div data-title="Business" class="clearfix  form-background">
                    <!-- DISCOUNT -->
                    <div  class="form-group clearfix  ">
                      <h3 h3 class="article-group-title ">Invitez le client à commander chez vous</h3>
                      <div class="alert alert-warning">
                        Aujourd'hui lorsqu'un client passe une commande de 100 fr il paye <b>11.90 fr</b> de livraison et <b>3 fr</b> de carte de crédit. C'est <b>15%</b> de sa commande et c'est un frein. 
                      </div>

                      <p class="well well-sm">
                        Faire baisser ce coût, c'est une manière d'inviter le client à commander en ligne. Pour votre boutique, c'est aussi une manière de fidéliser le client.<br/> <u>Notre solution:</u> C'est vous qui choisissez à partir de quel seuil votre participation démarre. Et aussi de quel montant est votre prise en charge. <br/>
                        <b>Voici un exemple d'application:</b> 
                        un client commande pour 40 fr chez vous, vous prenez en charge, toujours pour l'example, 2.50 fr de livraison.<br/>
                      </p>
                      <div class="col-md-6 nopadding" >
                        <div class="form-group ">
                          <label class="control-label">Un client qui achete chez vous au moins (CHF)</label>
                          <div>
                            <input type="float" class="form-control input-lg" ng-model="shop.discount.threshold"  placeholder="Entrez un montant, ex. 20.00"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 nopadding">
                        <div class="form-group ">
                          <label class="control-label">Vous participez aux frais de livraison et de paiement (CHF)</label>
                          <div>
                            <input type="float" class="form-control input-lg" ng-model="shop.discount.amount"  placeholder="Entrez un montant, ex. 1.25"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 nopadding">
                        <label class="checkbox">
                          <input type="checkbox" ng-model="shop.discount.active" >
                          Activer le prise en charge des frais client.
                        </label>
                        <p class="help-block">Cochez cette option pour activer la prise en charge client.</p>

                      </div>

                    </div>
                    <hr/>
                    
                    <!-- TVA -->
                    <div class="form-group clearfix">
                      <h3 class="article-group-title ">Information TVA</h3>
                      <p class="help-block ">Pour l'instant nous ne sommes pas soumis à la TVA. Cependant il est parfois important d'informer votre numéro TVA à vos clients commerciaux.</p>                      
                      <div><label class="control-label">TVA</label></div>
                      <div class="col-xs-12 nopadding">
                        <div class="">
                          <input type="text" class="form-control input-lg" ng-model="shop.account.tva.number"  placeholder="numéro TVA"/>                        
                        </div>
                    
                      </div>
                      <div class="col-sm-6 nopadding hide">
                        <div class="">
                          <input type="text" class="form-control input-lg" ng-model="shop.account.tva.fees"  placeholder="si vous avez un forfait TVA"/>                        
                        </div>
                      </div>
                      <p class="help-block">Laissez ces champs vides si vous n'êtes pas soumis à la TVA</p>
                    </div>

                    <hr/>


                    <!-- ADMIN BM -->
                    <div ng-if="!user.isAdmin()" class="form-group">
                      <h3 class="article-group-title ">Votre contrat avec Karibou.ch</h3>
                      <div class="col-sm-5" >
                        <label class=" control-label">Statut publication: {{shop.status}}</label>
                        <p class="help-block">Boutique créée le {{shop.created}}</p>
                        <div  class="form-group ">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class=" control-label">Business model à {{shop.account.fees*100|number:2}}%</label>
                        <p class="help-block">validé le {{shop.account.updated}}</p>
                        <div class="form-group ">
                        </div>                          
                      </div>

                    </div>
                    <div ng-if="user.isAdmin()" class="admin-box form-group">
                      <h3 class="article-group-title ">Votre contrat avec Karibou.ch</h3>
                      <div class="col-sm-5" >
                        <div  class="form-group ">
                          <label class=" control-label">Status</label>
                          <div class="">
                            <label class="checkbox">
                              <input type="checkbox" ng-model="shop.status" >
                              Publier la boutique 
                            </label>
                            <p class="help-block">créée le {{shop.created}}</p>

                          </div>
                        </div>                          
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group ">
                          <label class=" control-label">Business model</label>
                          <div class="">
                              <input type="float" name="type" ng-model="shop.account.fees" required class="form-control input-lg" />
                              <p class="help-block">validé le {{shop.account.updated}}</p>
                          </div>
                        </div>                          
                      </div>
                    </div>          
                    <!-- ADMIN BM -->
                </div>

                <div data-title="Logistique" class="clearfix  form-background">

                    <!-- ADDRESS -->
                    <div class="clearfix" ng-include="'/partials/shop/address.html'">
                    </div>
                    <!-- form address-->
                    <br/>
                    <hr/>
                    <div class="clearfix" ng-if="user.isAdmin()">
                      <h5 class="article-group-title black">Livraisons disponibles</h5>
                      <div class="list-group">
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(1)!==-1)}"
                            ng-click="toggleShipping(1)">Lundi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(2)!==-1)}"
                            ng-click="toggleShipping(2)">Mardi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(3)!==-1)}"
                            ng-click="toggleShipping(3)">Mercredi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(4)!==-1)}"
                            ng-click="toggleShipping(4)">Jeudi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(5)!==-1)}"
                            ng-click="toggleShipping(5)">Vendredi
                          </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':(shop.available.weekdays.indexOf(6)!==-1)}"
                            ng-click="toggleShipping(6)">Samedi
                          </a>
                      </div>                                                
                    </div>

                    <!-- list products when prepare order -->
                    <div class="clearfix ">
                      <h5 class="article-group-title black">Recevoir les mails pour la préparation des commandes</h5>
                      <div class="list-group">
                        <a href="" class="list-group-item list-group-item-success" >
                          Recevoir un mail avec toute les commandes à préparer groupé par utilisateur (produits par utilisateur)
                        </a>
                        <a href="" class="list-group-item" 
                            ng-class="{'list-group-item-success':shop.info.detailledOrder}"
                            ng-click="shop.info.detailledOrder=!shop.info.detailledOrder;">
                          Ajouter la liste exhaustive des produits avec les quantités au mail de préparation des commandes
                        </a>
                      </div>

                    </div>

                    
                    <!-- real market place -->
                    <div class="clearfix hide">

                      <!-- Marketplace -->
                      <!--<div class="label-or" >ET</div>-->

                      <h5 class="article-group-title black">Vos produits seront collectés dans les lieux suivants</h5>

                      <div class="form-group">
                        <div class="col-sm-12">
                            <p class="help-block">
                              <ol>
                                <li>l'adresse mentionnée ci-dessus,</li>
                                <li>au marché,</li>
                                <li>dans une autre boutique.</li>
                              </ol>
                            </p>

                            <div class="list-group">
                              <a href="" class="list-group-item" 
                                  ng-repeat="l in config.shop.marketplace.list"
                                  ng-class="{'list-group-item-success':activeMarket(l.name)}"
                                  ng-click="toggleMarket(l.name)">{{l.name}}
                                  <span ng-show="activeMarket(l.name)" class="pull-right label label-success"><i class="fa fa-ok"></i></span>
                                </a>
                            </div>                          
                            <p class="help-block">Si votre produit est collecté au marché, précisez un nom de stand. Sinon, indiquez l'adresse d'une autre boutique.</b></p>
                            <div class="">
                                <input  ng-model="shop.address.depository"  type="text" class="form-control input-lg " 
                                        placeholder="ex. chez dédé/34 rue de Carouge/1205"  require>
                            </div>

                            <p class="help-block"><b>Les lieux de collectes sont prioritaires à l'adresse principale de votre commerce</b></p>

                        </div> 


                      </div> 
                    </div>  

                </div> <!-- TAB LOGISTIQUE -->    


                <div data-title="Ouverture" class="clearfix form-background">
                    <h4 class="article-group-title text-center">Informez vos clients</h4> 
                    <p class="">
                      Vous pouvez à tout moment fermer votre boutique et ainsi vos produits ne seront pas accessibles à la vente. 
                    </p>

                    <div class="form-group ">
                      <div>                        
                        <label class="control-label">Ma boutique est fermée
                          <input type="checkbox" ng-model="shop.available.active">
                        </label>
                      </div>
                      <div class="col-xs-12">                        
                        <input class="form-control input-lg" type="text" ng-model="shop.available.comment" ng-minlength="5" placeholder="Pour quelle raison"/>
                        <p class="help-block ">Tous les produits liés à votre boutique seront indisponibles le temps de la fermeture.</p>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control input-lg" ng-model="shop.available.from" placeholder="du jj/mm/aaaa" format-date="DD/MM/YYYY" required />
                        <p class="help-block ">La date de fermeture</p>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control input-lg" ng-model="shop.available.to" placeholder="au jj/mm/aaaa" format-date="DD/MM/YYYY" required />
                        <p class="help-block ">La date de ré-ouverture</p>
                      </div>
                    </div>

                    <hr/>
                    <!-- shop.info.active -->
                    <div class="form-group">                        
                      <label class="control-label">Laissez un message sur votre boutique
                        <input type="checkbox" ng-model="shop.info.active"></label>
                      <div class="">
                        
                        <input class="form-control input-lg " type="text" ng-model="shop.info.comment" ng-minlength="5" placeholder="Laissez un message sur votre boutique"/>
                        <p class="help-block">Proposez ici une offre spéciale, ou laissez un message à vos clients.</p>
                      </div>
                      <hr/>
                    </div>


                </div> <!-- TAB HORAIRE/OUVERTURE -->                          

                <div data-title="FAQ" class="clearfix  form-background">
                  <div class="form-group">
                    <h4 class="article-group-title text-center">Aidez vos clients avec cette FAQ </h4> 
                    <p class="col-xs-11 ">Constituez votre liste des questions fréquemment posées.</p>
                    <div class="clearfix" ng-repeat="faq in shop.faq" style="border-bottom:1px dotted #ddd;margin-bottom:5px">
                      <div class="col-xs-11">
                        <input type="text" value="{{faq.q}}" ng-model="shop.faq[$index].q" placeholder="Une question fréquente" class="form-control input-lg col-md-10">
                        <p class="help-block"> </p>
                      </div>
                      <div class="col-xs-1">
                        <a class="pull-right btn btn-default btn-lg" href ng-click="shop.faq.splice($index, 1)"><i class="fa fa-remove"></i></a>
                      </div>           
                      <div class="col-xs-12">
                        <textarea  rows="4" class="form-control input-lg" ng-model="shop.faq[$index].a" placeholder="Votre commentaire">{{faq.a}}</textarea>
                        <p class="help-block"> </p>
                      </div>           
                    </div>
                    <div class="clearfix">
                      <button href ng-click="shop.faq.push({})" class="btn btn-primary btn-lg btn-block ">Ajouter <i class="fa fa-plus"></i></button>
                      <p class="help-block"> </p>
                    </div>

                  </div>
                </div> <!-- TAB -->  

                <div data-title="Aperçu" class="form-background">
                  <div  ng-include="'/partials/shop/shop.html'"  class="row"></div>

                </div> <!-- TAB -->    
                  
              </div>
            </div>
            <div class="modal-footer ">
              <input type="button"  confirm-delete="remove(user,shops,password)" title="depth delete for dev only" value="Supprimer la boutique" class="btn btn-lg btn-danger pull-left"/>

              <a ng-disabled="form.$invalid||WaitText" href ng-click="save(shop);"  class="save btn btn-primary btn-lg">{{WaitText || 'Enregistrer'}}</a>
              <a href="/shop/{{shop.urlpath}}" class="undo btn btn-default btn-lg ">Annuler</a>
            </div>

            </form>
          </div>              

        <!--                      -->
        <!--                      -->
        </div>


</div>

