<div tabindex="-1"   class="container" ng-controller="HomeCtrl" >

  <div class="shop-header" 
       backstretch="config.shop.home.shop.image"
       ng-if="config.shop.home.shop.image">

      <h3 i18n-render="config.shop.home.shop.h"></h3>
      <p i18n-render="config.shop.home.shop.p"></p>    
  </div>


  <!-- SHOPS -->
  <div infinite-scroll='loadNextPage({shops:true})'  
       infinite-scroll-distance='1'
       class="" style="background-color:transparent">
    <div  class="nopadding col-sm-6 col-md-6 col-xs-12 " 
          style="background-color:transparent" 
          ng-include="'/partials/shop/shop.html'"  
          ng-repeat="shop in infinite" 
          ng-if="shop.name"></div>              
  </div>

</div>


