  <div class="cover-img bg-black" backstretch="cover">

  </div>

  <div class="cover-body " hide="cart.items.length">
    <!-- HOME -->
     <div  class="cover-body-inner strong " >
        <!-- <h4  class="cover-title ">Karibou,</h4> -->
        <h2  class="cover-title ">{{category.getCurrent().name}}</h2>


        <div class="cover-actions"><a href="/signup" class="btn btn-success btn-lg btn-new-post"><span class="icons icons-new-post"></span>Inscrivez-vous</a><span class="white">ou <a href="/login" class="white">Login</a></span></div>
     </div>
  </div>


