<div backfader="" class="backfader ">
  <div class="popupcontent" id="popup">
  <form class=" nomargin product-create "  id="popup"
        name="f_product" novalidate style="overflow:hidden">
    <div class="modal-header">
      <a href="{{computeUrl()}}" class="close on-close" >&times;</a>
      <h4 ng-show="product.sku">Modifier le produit {{product.sku}}</h4>
      <h4 ng-hide="product.sku">Ajouter un produit</h4>
    </div>
    <div class="modal-body">
          <div data-fade="1" bs-tabs style="min-height:450px">
            <div data-title="Informations du produit" class="form-background">

              <!-- 1 COLUMN -->

                  <!-- title-->
                  <!-- description -->
                  <div class="form-group">
                    <label class="control-label ">Titre et description </label> 
                    <div class="">
                      <input  type="text" placeholder="Titre du produit" class="input-lg  form-control" ng-model="product.title" required>
                      <p class="help-block"></p>
                      <textarea rows="3" class="form-control input-lg"  placeholder="Description du produit (max 300 caractères)" ng-model="product.details.description" required></textarea>

                    </div>

                  </div>

                  <div class="form-group">
                    <label class="control-label">Ingrédients </label> 
                    <div class="">
                      <textarea name="origin" rows="2" class="form-control input-lg"  placeholder="ex, olive(Grèce), pâte(Italie)... " ng-model="product.details.origin" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Détails </label> 
                    <div class="col-xs-12 " >
                      <label><input type="checkbox" name="details" value="BIO"    ng-model="product.details.bio">Certifié Bio </label>
                      <label><input type="checkbox" name="details" value="Locale" ng-model="product.details.local">Production Locale </label>
                      <label><input type="checkbox" name="details" value="Artisanale" ng-model="product.details.homemade">Fabrication artisanale</label> 
                      <label><input type="checkbox" name="details" value="Naturel" ng-model="product.details.natural">Sans chimie de synthèse </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 details">
                      <label><input type="checkbox" name="shelflife" ng-model="product.shelflife.display">Afficher l'information de péremption </label>
                      <input  type="text" placeholder="Se conserve 3 jours" 
                              class=" form-control" ng-model="product.shelflife.comment" ng-disabled="!product.shelflife.display">
                    </div>
                    <div class="col-xs-12 col-sm-6 details">

                      <label><input type="checkbox" name="quantity"     ng-model="product.quantity.display">Afficher l'information de quantité </label>
                      <input  type="text" placeholder="Convient pour 1-2 personnes" 
                              class=" form-control" ng-model="product.quantity.comment" ng-disabled="!product.quantity.display">

                      
                    </div>
                  </div>


                  <!-- details non alimentaire -->
                  <!--
                  <div class="form-group" >
                    <label class="control-label small">Non alimentaire</label>
                    <div class="">
                      <label class="checkbox inline" style="width:30%">
                        <input type="checkbox" name="details" value="biodégradable" ng-model="product.details.biodegradable">
                        100% dégradable
                      </label>
                    </div>
                  </div>
                  -->

                <!-- TWO COLUMNS -->
                <div class="clearfix details">  
                  <div class="col-xs-6 details">
                    <!-- shop -->
                    <!-- DISPLAY ONLY ON CREATION -->
                    <div class="form-group" ng-if="!product.sku">
                      <label class="control-label ">Boutique</label> 
                      <div ng-if="!user.isAdmin()">
                        <select  ng-model="product.urlshop" class="form-control " required>
                          <option ng-repeat="shop in user.shops" value="{{shop.urlpath}}">{{shop.name}}</option>
                        </select>
                      </div>
                      <div ng-if="user.isAdmin()">
                        <select  ng-model="product.urlshop" class="form-control " required>
                          <option ng-repeat="shop in shopsSelect" value="{{shop.urlpath}}">{{shop.name}}</option>
                        </select>
                      </div>
                    </div>


                    <!-- DISPLAY ONLY WHEN USER IS OWNER AND PRODUCT EXIST -->
                    <div class="form-group" ng-if="product.sku">
                      <label class="control-label ">Boutique</label> 
                      <!-- DISPLAY ONLY WHEN USER IS OWNER AND PRODUCT EXIST -->
                      <div ng-if="user.isOwner(product.vendor.name)">
                        <select  ng-model="product.vendor" 
                                 ng-options="i.name for i in user.shops track by i._id"
                                 class="form-control " required ></select>
                      </div>
                      <!-- DISPLAY ONLY WHEN USER IS ADMIN AND NOT OWNER -->
                      <div ng-if="!user.isOwner(product.vendor.name) && user.isAdmin()">
                        <select  ng-model="product.vendor" 
                                 ng-options="i.name for i in shopsSelect track by i._id"
                                 class="form-control " required ></select>
                      </div>
                    </div>

                  </div>
    
                  
                  <div class="col-xs-6 details">
                    <!-- category -->
                    <div class="form-group">
                      <label class="control-label ">Catégorie </label> 
                      <div class=" small">
                        <select  ng-model="product.categories " class="form-control " required >
                          <option ng-repeat="cat in category.findAll()| filter:{type:'Category'}" 
                                  ng-selected="(product.categories._id||product.categories)==cat._id" value="{{cat._id}}" >{{cat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END TWO COLUMNS -->
                
            </div>
            <div data-title="Prix et quantité" class="form-background karibou">
                <div class="clearfix">
                  <div class="col-xs-5">
                    <!-- prix-->
                    <div class="form-group">
                      <label class="control-label">Prix</label>
                      <div class=" ">                      
                        <input name="price" type="text" placeholder="exemple 10.50" class="input-lg form-control " ng-model="product.pricing.price" required >                      
                        <p class="help-block gray">Le prix en CHF</p>
                      </div>
                    </div>


                    <!-- stock-->
                    <div class="form-group">
                      <label class="control-label">Qte disponible</label>
                      <div class="">
                        <input  name="stock" type="text" placeholder="exemple 10" class="input-lg form-control" ng-model="product.pricing.stock" required>
                      </div>
                    </div>

                  </div>            
                  <div class="col-xs-7">
                    <!-- prix promo-->
                    <div class="form-group">
                      <label class="control-label" title="activer la promotion">Tarif promotion
                        <input type="checkbox" ng-model="product.attributes.discount">
                      </label>
                      <div class=" ">                      
                          <input  type="text" ng-model="product.pricing.discount"  placeholder="exemple 2.50" class="input-lg form-control red" >
                          <p class="help-block gray"> Le prix promotionnel</p>
                      </div>
                    </div>

                    <!-- portion -->
                    <div class="form-group">
                      <div class="">
                          <label class="control-label">
                            Une portion                            
                          </label>
                          <input name="part" type="text" placeholder="exemple ~180gr" pattern="~?([0-9]+pce|[0-9]+gr|[\d.]+kg|1botte|[0-9]+bottes|[\d.]+[\w])" class="input-lg form-control " ng-model="product.pricing.part" required>
                          <p class="help-block gray">
                            100gr/~180gr/1botte/0.75L/0.75litre/1pce<br/>
                          </p>
                          <div class="well well-sm small" ng-show="product.pricing.part">
                            Avec {{product.pricing.part}} le client recevra
                            <span ng-show="!product.hasFixedPortion()"> {{product.pricing.part|portion}}</span>
                            <span ng-show="product.hasFixedPortion()">{{product.pricing.part}}</span>
                          </div>                        
                          <div class="well well-sm small" ng-hide="product.pricing.part">
                            Avec <b>~180gr</b> le client recevra {{'~180gr'|portion}}
                          </div>
                        </div>                      
                      </div>                    
                    </div>        
                  </div>    
              </div>
              <div data-title="Photo et aperçu " class="form-background row">
                <div class="col-xs-12" style="margin-left:20%">
                  <!-- overview -->
                    <div class="" ng-include="'/partials/product/product.html'">
                    </div>
                </div>
                    

                <div class="col-xs-12" style="margin-left:20%">
                  <!-- Photo -->
                  <uploadcare-widget
                    ng-model="product.photo.url"
                    data-locale="fr"
                    data-tabs="file url facebook flickr"
                    data-images-only="true"
                    data-path-value="true"
                    data-preview-step="true"
                    data-clearable="true"
                    data-multiple="false"
                    data-crop="free"
                    data-max-size-hide="153600"
                    on-upload-error="uploadImageError(error)"
                    value="{{product.photo.url}}"
                   />
                </div>
                

              </div>
            </div><!-- TABS-->
      </div>
      <div class="modal-footer">
        <div class=" pull-left ">
          <!-- ENABLE PRODUCT -->
          <div class="text-left">
            <label class="checkbox inline  " style="text-align:left;width:400px">
               <input checked type="checkbox" name="attributes" value="indisponible" ng-model="product.attributes.available">
                <span ng-class="{true:'red'}[!product.attributes.available]">Ce produit est disponible</span>
            </label>
            <label class="" ng-if="user.isAdmin()">
              <input type="checkbox" ng-model="product.attributes.home" ng-if="user.isAdmin()">
              Ce produit fait parti de la sélection (home)
            </label>                        
            <label class="" ng-if="user.isAdmin()">
              <input type="checkbox" ng-model="product.attributes.comment" />
              Autoriser les commentaires pour ce produit
            </label>                        
          </div>

          <!-- ENABLE COMMENT -->
          <div class="text-left">
          </div>

        </div>
        <a id="close-product-editor"  class="btn  " href="{{computeUrl()}}">Fermer</a>
        <button type="submit" ng-show="product.sku" class="btn  btn-danger" confirm-delete="remove(product,password);">Supprimer</button>

        <button type="submit" ng-show="product.sku" ng-disabled="f_product.$invalid || WaitText" 
                class="btn  btn-primary" ng-click="save(product);">
                {{WaitText||'Enregistrer'}}
        </button>
        <button type="submit" ng-hide="product.sku" ng-disabled="f_product.$invalid || WaitText" 
                class="btn btn-primary" ng-click="create(product.urlshop,product);">
                {{WaitText||'Ajouter'}}
        </button>
      </div>
    </form>
  </div>
</div>