
<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="'/partials/cover.html'" class="cover cover-home img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">

        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title active" >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Les produits</span> </a>
                  </h5>
                  <h5 class="bucket-title" >
                    <a href="/shops" title="Collections"><span class="bucket-header-title">Les boutiques</span> </a>
                  </h5>
               </nav>
            </div>
         </div>

        <!-- PRODUCTS -->
        <div ng-controller="HomeCtrl" class="row wrapheight" >
     

            <article  ng-repeat="group in keys(products)"  ng-show="products[group].length"> 
              <h5 class="article-group-title ">
                {{group}}
                <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}}"></i>
              </h5>

              <div  style="width:98%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in products[group]"></div>              
              </div>
            </article>
          

        </div>
              

        <footer class="wrapper-footer">
            <a class="wrapper-footer-link" title="View open job positions " href="/jobs">Travailler chez Kariboo</a>
            <a class="wrapper-footer-link" title="Lire la charte de Kariboo" href="/sharte">Charte</a>
            <a class="wrapper-footer-link" title="La FAQ de Kariboo" href="/help-center/faq">FAQ</a>
        </footer>
      </div>
   </section>
</div>


