

    
    <!-- SHOPS -->
    <div ng-controller="HomeCtrl" class="row " lazyload="" style="position:relative">
        <!-- SPLIT -->
        <div class="shop-row">
          <div class="container" >
            <p class="lead"><br/>Prochaines livraisons les mercredi 34 mai et samedi 38 mai! </p>
          </div>
        </div>
        <div class="shop-row" ng-repeat="(group, _products) in products">          
          <div class="container" ng-show="_products.length">
            <h2 class=" sexy"><i class="{{category.constructor.find({_id:group}).image||''}} {{category.constructor.find({_id:group}).color||gray}}"></i>&nbsp;{{category.constructor.find({_id:group}).name}}</h2>
            <div masonry>
              <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in _products"></div>              
            </div>
          </div>
        </div>
      

    </div>

    <div class="" ng-include="'/footer.html'">
    </div>
      
