
<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="getCover()" 
         class="cover cover-home img-loaded" ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">

        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title active" >
                    <a href="/account/love" title="Mes produits"><span class="bucket-header-title"><i class="icon-heart pink"></i> Mes produits</span> </a>
                  </h5>
                  <h5 class="bucket-title" >
                    <a href="/products" title="Collections"><span class="bucket-header-title">Tous les produits</span> </a>
                  </h5>
               </nav>
            </div>
         </div>

        <!-- PRODUCTS -->
        <div ng-controller="HomeCtrl" class="row wrapheight" >
     

            <article>
              <div  style="width:100%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in products"></div>              
              </div>
            </article>
          

        </div>
              

        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>


