          <!-- POPUP CONTENT -->
          <!--
            <a href="#" class="btn btn-large btn-danger" popover-class="popover-form" bspopover title="Ajouter un producteur" selector="#manufacturer">Click to toggle popover</a>
          -->
          <form class="form-horizontal" id="manufacturer" style="display:none;">
            <fieldset>

              <!-- name -->
              <div class="control-group">
                  <input id="name" name="name" type="text" placeholder="Nom" class="input-xlarge" required="">
                  <p class="help-block"></p>
              </div>

              <!-- description -->
              <div class="control-group">
                  <div id="description" name="description" class="textarea ">
                    <textarea rows="4" class="col-md-12">Description 
  795 Folsom Ave, Suite 600
  San Francisco, CA 94107
  P: (123) 456-7890
                  </textarea>
                </div>
              </div>

              <!-- location -->
              <div class="control-group">
                  <select id="location" name="location" class="input-xlarge">
                    <option>Genève</option>
                    <option>Laussane</option>
                  </select>
              </div>

              <!-- Button (Double) -->
              <div class="control-group">
                  <button id="save" name="save" class="btn btn-success">save</button>
                  <button id="cancel" name="cancel" class="btn btn-danger">cancel</button>
              </div>
            </fieldset>
          </form>

