<div tabindex="-1"  id="null" class="screen-content" >
  <aside ng-include="getCover()" class="products  cover cover-home img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1" ng-controller="HomeCtrl">
      <div class="wrapper-inner">

        <!--                               -->
        <!-- TITLE -->
        <!--                               -->
                          
        <div  class="bucket post-bucket homepage-posts" app-affix="30">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="article-group-title list black" >
                    <span class="bucket-header-title">{{group}}</span> 
                  </h5>
                  <h5 class="bucket-title " >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Les produits</span> </a>
                  </h5>
               </nav>
            </div>
        </div>


        <!-- PRODUCTS -->
        <div  class="row wrapheight" >
     
            <article>
              <div  style="width:100%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in products"></div>              
              </div>
            </article>
          

        </div>
              

        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>

   