<div tabindex="-1"  id="null" class="screen-content" >
  <aside ng-include="getCover()" class="  cover cover-home cover-category img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1" ng-controller="HomeCtrl" ng-init="loadHome()">
      <div class="wrapper-inner">

        <!--                               -->
        <!-- TITLE -->
        <!--                               -->
                          
        <div  class="bucket post-bucket homepage-posts" >
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title active hidden-xs" >
                    <a><span class="bucket-header-title">{{category.getCurrent().name}}</span> </a>
                  </h5>
                  <h5 class="bucket-title hidden-xs" >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Les produits</span> </a>
                  </h5>
                  <h4 class="bucket-sub-title " clockdown="Prochaine livraison "></h4>

               </nav>
            </div>
        </div>


        <!-- PRODUCTS -->
        <div  class="row wrapheight" >
     
            <article>
              <div  style="width:100%;"><!-- MANSORY FIX -->
                <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in products|orderBy:['updated']"></div>              
              </div>
            </article>
          

        </div>
              

        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>

   