  <div class="block layout-item c1 "  id="product{{product.sku}}" ng-swipe-left="showActionOnSwipe('#product{{product.sku}}')">
      <!-- ACTION FOR THIS PRODUCT -->
      <div class="actions" style="position:absolute;top:10px;left:10px"
           fade-on-hover="#product{{product.sku}}"           
           ng-hide="!product.attributes.available||!product.pricing.stock" >
            <a class="btn btn-danger " ng-click="love(product)">
              <i class="icon-star-empty "></i>&nbsp;J'aime
            </a> 
            <a class="btn btn-primary " ng-click="cart.add(product)" ng-show="product.isAvailableForOrder()||!product.pricing.stock">
              <i class="icon-ok"></i>&nbsp;J'achète
            </a>
      </div>
      <!-- PRODUCT LINK -->
      <a  href="{{shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}" shop="/shop/{{product.vendor.urlpath}}" class="link">

          <!-- PHOTO -->
          <img ng-cloak ng-show="product.photo.url&&!product_edit" bn-lazy-src="{{product.photo.url}}/convert?w=275&h=215&fit=crop&cache=true" class="lazy">
          <img ng-cloak ng-show="product_edit" src="{{product.photo.url}}/convert?w=275&h=215&fit=crop&cache=true" >

          <!-- NOT AVAILABLE -->
          <img ng-cloak ng-hide="product.isAvailableForOrder()" ng-src="http://placehold.it/275x215/eeeeee/000000&text=indisponible" class="available">

          <!-- NOT IN STOCK -->
          <img ng-cloak ng-hide="product.pricing.stock" ng-src="http://placehold.it/275x215/eeeeee/000000&text=plus+en+stock" class="available">


          <!-- PRICE-->
          <div class="price" >
            <!-- REGULAR -->
            <span ng-hide="product.attributes.discount" class="small green bold ">Fr {{product.pricing.price| number:2}}</span>
            <!-- DISCOUNT -->
            <span ng-show="product.attributes.discount" >
              <span class="red bold strike"> {{product.pricing.price| number:2}}</span>
              <span class="green bold small">Fr {{product.pricing.discount| number:2}}</span>
            </span>                 
            <div class=" em" style="margin-top:-3px;">{{product.pricing.part}}</div>
          </div>
          <!-- PRICE-->          
        </a>

        <div class="vertical-divider" style="width:100%">
          <div class="title " >
            {{product.title}} <span ng-show="product.details.bio" class="green bold">(bio)</span>
          </div>
          <div >
            <a class="shop-title " href="/shop/{{product.vendor.urlpath}}">{{product.vendor.name}}</a>
            <i class=" love" ng-click="love(product)"
               ng-class="{true:'icon-heart pink1',false:'icon-heart-empty'}[user.hasLike(product)]"></i>
          </div>
        </div>       
  </div>

