<div backfader="" class="backfader ">
   <div class="popupcontent" id="popup">
      <div class="header"
          ng-swipe-right="showNextProduct(product.sku)"
          ng-swipe-left="showPreviousProduct(product.sku)" >
        <aside>
          <!-- DISPLAY PHOTO -->
          <img ng-cloak ng-if="product.photo.url" bg-src="{{product.photo.url}}" class="item-image" >

          <!-- DISPLAY DEFAULT PHOTO -->
          <img ng-cloak ng-if="!product.photo.url" ng-src="{{false|placehold:'400x320'}}" >

          <!-- NOT AVAILABLE -->
          <img ng-cloak ng-show="!product.isAvailableForOrder()" ng-src="//placehold.it/400x320/eeeeee/000000&text=indisponible" class="available" style="height:100%">

          <!-- NOT IN STOCK -->
          <img ng-cloak ng-hide="product.pricing.stock" ng-src="//placehold.it/400x320/eeeeee/000000&text=plus+en+stock" class="available" style="width:100%">

          <!-- CART QUANTITY -->
          <div class="sexy white product-qty" ng-show="cart.findBySku(product.sku).quantity" >
             {{cart.findBySku(product.sku).quantity}} article(s) dans votre panier</span>
          </div>


        </aside>
        <section>
          <!-- CLOSE-->
          <div>
          <a class="btn btn-transparent pull-right on-close"
                 href="{{computeUrl()}}"><i class="fa fa-remove fa fa-2x white"></i>&nbsp;</a>
          </div>

          <!-- PRICE-->
          <div class="price" >

            <!-- REGULAR -->
            <span ng-hide="product.attributes.discount" class="small green bold ">Fr {{product.pricing.price| number:2}}</span>
            <!-- DISCOUNT -->
            <span ng-show="product.attributes.discount" >
              <span class="red bold strike"> {{product.pricing.price| number:2}}</span>
              <span class="green bold small">Fr {{product.pricing.discount| number:2}}</span>
            </span>

            <!-- SHOULD BE INLINED IN PHONE -->
            <div class=" em" >{{product.pricing.part}}</div>
            <div class="part" ng-show="product.pricing.part[0]==='~'">{{product.pricing.part|portion}}</div>
            <div class="part" ng-show="product.pricing.part.indexOf('gr')!==-1">Fr {{product.pricing.part|portionBase:product.getPrice()}} / 100gr</div>
            <!-- ACTIONS -->
            <button class="btn btn-danger btn-lg " ng-click="love(product)">
              <i ng-class="{true:'fa fa-heart',false:'fa fa-heart-empty'}[user.hasLike(product)]"></i>&nbsp;J'aime
            </button>

            <button class="btn btn-primary btn-lg " ng-click="cart.add(product)" ng-hide="!product.isAvailableForOrder()||!product.pricing.stock">
              <i class="fa fa-ok"></i>&nbsp;J'achète
            </button>

          </div>


        </section>
      </div>

      <!-- ADMIN OR OWNER -->
      <div ng-show="user.isOwnerOrAdmin(product.vendor.name)" class="pull-right">
        <a href="{{rootProductPath}}/products/{{product.sku}}/edit" class="btn  btn-small"><i class="fa fa-edit"></i>&nbsp;Editer le produit</a>
      </div>

      <!-- TITLE -->
      <h2 class="" style="padding: 15px 20px;">
        {{product.title}}
      </h2>
      
      <!-- DESCRIPTION -->
      <div class="description">
        <markdown  markdown-content="product.details.description"></markdown>

        <span ng-show="product.details.origin" class="small">{{product.details.origin}}</span>
      </div>

      <!-- CERTIFIED -->
      <div class="certified">
        <ul class="info ">
          <li ng-show="product.quantity.display">{{product.quantity.comment}}</li>
          <li ng-show="product.shelflife.display">{{product.shelflife.comment}}</li>
        </ul>
        <div>
          <span ng-if="product.details.bio" class="label label-product">BIO</span>
          <span ng-if="product.details.natural" class="label label-product" title="Naturel">Sans chimie de synthèse</span>
          <span ng-if="product.details.homemade" class="label label-product">Artisanal</span>
          <span ng-if="product.details.local" class="label label-product">Local</span>
        </div>
      </div>

      <!-- AVAILABLE -->
      <div class="product-availability">
        <ul class="list-inline">
          <li>
            <div class="bold">Livraisons:</div>
            <div class="indicator">&nbsp;</div>
          </li>
          <li>
            <div>Lun.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(1)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Mar.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(2)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Mer.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(3)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Jeu.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(4)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
          <li>
            <div>Ven.</div>
            <div class="indicator"><span class="fa " ng-class="(product.vendor.available.weekdays.indexOf(5)!==-1)?'fa-circle':'fa-circle-o'"></span></div>
          </li>
        </ul>
      </div>
      
  	  <!-- VENDOR-->
      <div class="shop clearfix" >
            <img ng-show="product.vendor.photo.owner"
              ng-src="{{product.vendor.photo.owner | placehold:'160x160&text=l`équipe'}}"  align="left"
              alt="160x160" class="thumbnail-owner photo-owner" >
            <img ng-show="product.vendor.photo.fg&&!product.vendor.photo.owner" align="left"
              ng-src="{{product.vendor.photo.fg | placehold:'160x160&text=l`équipe'}}"
              alt="160x160" class="thumbnail-owner photo-owner">

            <strong>{{product.vendor.name}}</strong>&nbsp;|&nbsp;{{product.vendor.description}} <a  href="/shop/{{product.vendor.urlpath}}">Visiter la boutique</a>
      </div>
  	  <!-- VENDOR-->
      <div id="disqus_thread" ></div>
    </div>
  </div>
</div>
