  <div class="block layout-item c1 "  id="product-{{product.sku}}">
      <div class="body" >
        <div class="span12 shop-label" style="">
          <ul class="thumbnails" fade-on-hover="#product-{{product.sku}}">
      			<li><img ng-show="product.details.bio" src="/img/shop/bio.png" style="width:20px;"/>&nbsp;
      			    <img ng-show="product.details.gluten" src="/img/shop/gluten-free.png" style="width:20px;"/>
      			    <img ng-show="product.details.lactose" src="/img/shop/lactose.png" style="width:20px;"/>
      			    <img ng-show="product.details.local" src="/img/shop/local.png" style="width:20px;"/>
      			</li>
          </ul>
        </div>
        <a  href="{{shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}" shop="/shop/{{product.vendor.urlpath}}" ngclick_="openProductEditor('#editor',product)">
          <img ng-show="product.photo" src="{{product.photo}}/convert?w=275&h=205&fit=crop" >
          <img ng-hide="product.photo" src="{{false  | placehold:'275x205'}}" >
        </a>
        <div class="row-fluid " style="padding:3px 0px 0px 0px">
          <div class=" elem" >
	            <span class="small">{{product.title}}</span>
          	  <span class="pull-right green small"><div>Fr {{product.pricing.price| number:2}}</div><div class="small em">{{product.pricing.part}}</div></span>
          	  <div ng-show="product.urlshop" ><a class="gray small" href="/shop/{{product.urlshop}}">{{product.urlshop}}</a></div>
          	  <div ng-show="product.vendor" ><a class="gray small" href="/shop/{{product.vendor.urlpath}}">{{product.vendor.name}}</a></div>
          </div>
        </div>
      </div>
  </div>

