<div backfader="" nhow="product.sku" class="backfader ">
   <div class="popupcontent" id="popup">
      <div class="pattern-dark row">
        <div class="col-md-8 relative" style="overflow:hidden;padding:0px">
          <!-- DISPLAY PHOTO -->
          <img ng-cloak ng-show="product.photo.url" ng-src="{{product.photo.url}}/convert?w=400&h=320&fit=crop" class="item-image" style="width:100%">

          <!-- DISPLAY DEFAULT PHOTO -->
          <img ng-cloak ng-hide="product.photo.url" ng-src="{{false|placehold:'400x320'}}" >

          <!-- NOT AVAILABLE -->
          <img ng-cloak ng-show="!product.isAvailableForOrder()" ng-src="http://placehold.it/400x320/eeeeee/000000&text=indisponible" class="available" style="height:100%">

          <!-- NOT IN STOCK -->
          <img ng-cloak ng-hide="product.pricing.stock" ng-src="http://placehold.it/400x320/eeeeee/000000&text=plus+en+stock" class="available" style="height:100%">

        </div>
        <div class="col-md-4" style="padding:20px 5px;">
          <!-- PRICE-->
          <div class="price" 
               style="color:white;font-size:200%;font-weight:bold;padding-bottom:10px">

            <!-- REGULAR -->
            <span ng-hide="product.attributes.discount" class="small green bold ">Fr {{product.pricing.price| number:2}}</span>

            <!-- DISCOUNT -->
            <span ng-show="product.attributes.discount" >
              <span class="red bold strike"> {{product.pricing.price| number:2}}</span>
              <span class="green bold small">Fr {{product.pricing.discount| number:2}}</span>
            </span>                 

            <!-- SHOULD BE INLINED IN PHONE -->
            <div class=" em" style="margin-top:-3px;">{{product.pricing.part}}</div>

          </div>

          <!-- ACTIONS -->
          <button class="btn btn-danger btn-lg " ng-click="love(product)">
            <i class="icon-star-empty "></i>&nbsp;J'aime
          </button> 

          <button class="btn btn-primary btn-lg" ng-click="cart.add(product)" ng-hide="!product.isAvailableForOrder()||!product.pricing.stock">
            <i class="icon-ok"></i>&nbsp;J'achète
          </button>            

          <!-- CART QUANTITY -->
          <div class="sexy white " ng-show="cart.quantity" style="margin:10px 0;padding:5px">
             {{cart.quantity()}} articles dans votre panier</span>          
          </div>                
        </div>
      </div>

      <!-- ADMIN OR OWNER -->
      <div ng-show="user.isOwnerOrAdmin(product.vendor.name)" class="pull-right">
        <a href="{{shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}/edit" class="btn  btn-small"><i class="icon-edit"></i>&nbsp;Editer le produit</a>
      </div>                

      <!-- TITLE -->
      <h2 class="" style="padding: 15px 20px;">
        {{product.title}} <span class="green " ng-show="product.details.bio">(bio)</span>
      </h2>


      <!-- DESCRIPTION -->
      <blockquote >
        <p>{{product.details.description}}</p>
        <span ng-show="product.details.origin" ><small>{{product.details.origin}}</small></span>
      </blockquote>      
        
  	  <!-- VENDOR-->
      <div class="shop " >
            <img ng-show="product.vendor.photo.owner"
              src="{{product.vendor.photo.owner | placehold:'160x160&text=l`équipe'}}"  align="left"
              alt="160x160" class="thumbnail-owner photo-owner" >
            <img ng-show="product.vendor.photo.fg&&!product.vendor.photo.owner" align="left"
              src="{{product.vendor.photo.fg | placehold:'160x160&text=l`équipe'}}"  
              alt="160x160" class="thumbnail-owner photo-owner">

            <strong>{{product.vendor.name}}</strong>&nbsp;|&nbsp;{{product.vendor.description}} <a  href="/shop/{{product.vendor.urlpath}}">Visiter la boutique</a>
      </div>
  	  <!-- VENDOR-->
      <div id="disqus_thread" ></div>
    </div>
  </div>
</div>

