  <div id="product{{product.sku}}" class="block layout-item c1" >
      <!-- ACTION FOR THIS PRODUCT -->
      <div  class="actions hidden-xs hidden-sm hidden-md" style="position:absolute;top:10px;left:10px"
           fade-on-hover="#product{{product.sku}}"         
           ng-hide="!product.attributes.available||!product.pricing.stock" >
            <a class="btn btn-danger " ng-click="love(product)">
              <i ng-class="{true:'icon-heart',false:'icon-heart-empty'}[user.hasLike(product)]"></i>

              &nbsp;J'aime
            </a> 
            <a class="btn btn-primary " ng-click="cart.add(product)" ng-disabled="WaitText"
                ng-show="product.isAvailableForOrder()&& product.pricing.stock">
              <i ng-class="{'icon-ellipsis-horizontal':CartText, 'icon-ok ':!CartText}"></i>
              &nbsp;J'achète 
            </a>
      </div>
      <div class="actions hidden-lg" ng-show="product.isAvailableForOrder()&&product.pricing.stock">
          <a class="btn btn-transparent green" ng-click="cart.add(product)">
            <i ng-class="{'icon-ellipsis-horizontal icon-2x':CartText, 'icon-plus icon-2x ':!CartText}"></i>
          </a>
          <a class="btn btn-transparent green pull-right" ng-click="cart.remove(product)" 
              ng-show="cart.findBySku(product.sku).quantity">
            <i ng-class="{'icon-ellipsis-horizontal icon-2x':CartText, 'icon-minus icon-2x ':!CartText}"></i>
          </a>
      </div>

      <!-- PRODUCT LINK -->
      <a  ng-href="{{shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}" shop="/shop/{{product.vendor.urlpath}}" class="link"  start-progress>

          <!-- PHOTO -->
          <img ng-cloak ng-show="product.photo.url&&!product_edit" bn-lazy-src="{{product.photo.url}}" class="lazy ">
          <img ng-cloak ng-show="product_edit" src="{{product.photo.url}}" >

          <!-- NOT AVAILABLE http://placehold.it/275x230/eeeeee/000000&text=indisponible -->
          <img ng-cloak ng-hide="product.isAvailableForOrder()" ng-src="/img/product-not-available.gif" class="available">

          <!-- NOT IN STOCK http://placehold.it/275x230/eeeeee/000000&text=plus+en+stock-->
          <img ng-cloak ng-hide="product.pricing.stock" ng-src="/img/product-stock.gif" class="available">


          <!-- PRICE-->
          <div class="price" >
            <!-- REGULAR -->
            <span ng-hide="product.attributes.discount" class="small green bold ">Fr {{product.pricing.price| number:2}}</span>
            <!-- DISCOUNT -->
            <span ng-show="product.attributes.discount" >
              <span class="red bold strike"> {{product.pricing.price| number:2}}</span>
              <span class="green bold small">Fr {{product.pricing.discount| number:2}}</span>
            </span>                 
            <div class=" em" style="margin-top:-3px;">{{product.pricing.part}}</div>
          </div>
          <!-- PRICE-->          
        </a>

        <div class="vertical-divider" style="width:100%">
          <div class="title " >
            {{product.title}} <span ng-show="product.details.bio" class="green bold">(bio)</span>
          </div>
          <div >
            <a class="shop-title " ng-href="/shop/{{product.vendor.urlpath}}"  start-progress>{{product.vendor.name}}</a>
            <i class=" love" ng-click="love(product)"
               ng-class="{true:'icon-heart pink1',false:'icon-heart-empty'}[user.hasLike(product)]"></i>
          </div>
        </div>       
  </div>

