  <div class="cover-img " backstretch="cover">


  </div>
  <!-- DIPLAY CATEGORY -->
  <div class="cover-row">
    <div class="cover-body" style="top:0;background:none">
      <div class="cover-body-inner">
        <div class="cover-resume categories hidden-xs hidden-sm" >
          <ul>
              <li>
                <a class="site-nav-list-item  " title="Toutes les boutiques" 
                   ng-class="getClass('/shops')"
                   ng-href="/shops" tabindex="-1"><i class=""></i>&nbsp;Toutes les boutiques</a>
              </li>
              <li ng-if="config.shop.home.path&&bundle">
                <a class="site-nav-list-item  " 
                   href="/content/{{config.shop.home.path}}" tabindex="-1"><i class=""></i>&nbsp;{{bundle.title}}</a>
              </li>
              <li ng-if="!config.shop.home.path">
                <a class="site-nav-list-item  " title="Tous les produits" 
                   href="/" tabindex="-1"><i class=""></i>&nbsp;Tous les produits</a>
              </li>

              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category'}|orderBy:'weight'">
                <a class="site-nav-list-item  " title="{{category.name}}" 
                   ng-class="getClass('/products/category/{{category.slug}}')"
                   href="/products/category/{{category.slug}}" tabindex="-1"><i class=""></i>&nbsp;{{category.name}}</a>
              </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

  <div class="cover-body " hide="cart.items.length">

    <!-- HOME -->
     <div  class="cover-body-inner strong " >
        <img src="img/k-big.png" class="cover-logo " />
        <div class="cover-description visible-lg-block visible-lg- hide">
          <br/>
          <span>Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!</span>
         <br><a ng-href="/page/about" class="link">Comment ça marche?</a>
        </div>

        <div class="cover-actions"><a href="/signup" class="btn btn-success btn-lg btn-new-post"><span class="icons icons-new-post"></span>Inscrivez-vous</a><span class="white">ou <a href="/login" class="white">Login</a></span></div>
     </div>
  </div>


