  <div class="modal-dialog" >
    <div class="modal-content">
      <!-- START MODAL CONTENT -->
      <div class="modal-header text-center">
        <button type="button" class="close text-center" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>
          <a href="" ng-click="howtotab='howto'" ng-class="{'nolink':howtotab!=='why'}" class="bold " style="padding-right:30px;">Comment ça marche?</a>
          <a href="" ng-click="howtotab='why'" ng-class="{'nolink':howtotab==='why'}" class="bold link">Pourquoi acheter sur karibou.ch?</a>
        </h4>
      </div>
      <div class="modal-body clearfix">
        <div ng-show="howtotab==='why'">
          <ol class="modal-ul">
            <li ><b>Qualité!</b> Vous êtes attentif a ce que vous mangez et à votre santé. Vous souhaitez pouvoir choisir des produits naturels, diversifiés, aux goûts authentiques et super frais.</li>

            <li><b>Livraison!</b> Vous êtes livrés à votre porte tous les mardi et vendredi entre 16h00 et 18h00. La livraison est effectuée à vélo, sans achat minimum et ne coûte que 10 fr (et 7.50 fr à partir de 145fr).</li>

            <li><b>Pratique!</b> Plus besoin de faire la tournée de la ville pour faire ces courses. Notre technologie réinvente la relation entre vous et les acteurs de l’alimentation. En plus, les prix à la vente ne sont pas majorés.</li>

            <li><b>Service!</b> Chaque boutique ainsi que toute l’équipe karibou.ch est disponible avec un service client incroyable. Contactez-nous, faites-nous savoir ce que vous souhaitez ou ce qu’il faut améliorer! </li>

            <li><b>Éthique!</b> Notre charte est exigeante, nous avons choisi une <a href="http://www.confederationpaysanne.fr/sites/1/articles/documents/BDAP-HD.pdf" target="_blank">agriculture paysanne</a>, naturelle, humaine, et correctement rétribuée. Karibou.ch est constitué d'individus passionnés qui s'impliquent à 200 % dans leur activité.</li>
          </ol>
        </div>
        <img src="/img/k-howto-xs.jpg" width="100%" ng-show="howtotab!=='why'">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
