<div class="navbar-header hide">
	<span class="navbar-brand-txt hidden-xs hidden-md"><span>Le bon goût du marché en ligne</span></span>	
</div>
<div class="container relative">
  <div class="collapse navbar-collapse collapse-buttons">
    <ul class="nav navbar-nav" >
    <!-- PRODUCTS -->
			<li class="dropdown dropdown-large">
					<a href="#" class="dropdown-toggle btn-dropdown-category" data-toggle="dropdown">
						<i class="fa fa-tasks green-1"></i>
						<span  class="menu-filter" current-category="Produits"></span> 
						<i class="fa fa-chevron-down green-1"></i>
					</a>
					
					<ul class="dropdown-menu dropdown-menu-large row">
				    <!-- MOBILE HEADER -->
						<li class="nav-mobile-header visible-xs">
				      <button type="button" class="close pull-right" data-dismiss="dropdown" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    </li>    	
						<li class="col-xs-6 col-sm-6">
							<ul>
								<li><a href="/">Notre sélection</a></li>
								<li ng-show="user.isAuthenticated()"><a href="/account/love">Mes produits les plus achetés</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Alimentation</li>
	              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',active:true}|orderBy:'weight'" ng-if="!category.group">
	                <a ng-class="getClass('/products/category/{{category.slug}}')"
	                	 ga-send="{category:'navigation',action:'navigation-top'}"
	                   href="/products/category/{{category.slug}}" tabindex="-1">{{category.name}}</a>
	              </li>

<!-- 								<li class="divider"></li>
								<li><a href="#">...</a></li>
 -->							</ul>
						</li>
						<li class="col-xs-6 col-sm-6 nopadding">
							<ul>
								<li class="dropdown-header">Boissons</li>
	              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',group:'Boissons',active:true}|orderBy:'weight'">
	                <a ng-class="getClass('/products/category/{{category.slug}}')"
	                   href="/products/category/{{category.slug}}" tabindex="-1">{{category.name}}</a>
	              </li>
							</ul>
							<ul>
								<li class="divider"></li>
								<li class="dropdown-header">Autres</li>
	              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',group:'Autres',active:true}|orderBy:'weight'">
	                <a ng-class="getClass('/products/category/{{category.slug}}')"
	                   href="/products/category/{{category.slug}}" tabindex="-1">{{category.name}}</a>
	              </li>
	              <li>
	              	<a href="/wallet/create">Acheter une carte cadeau</a>
	              </li>
							</ul>
						</li>
						<li class="col-xs-6 col-sm-4 nopadding hide">
							<ul>
								<li class="dropdown-header">Sur cette page</li>
							</ul>
						</li>
					</ul>
			</li>
			<li class="dropdown dropdown-large ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
        	<span>Boutiques</span> <i class="fa fa-chevron-down green-1"></i></a>
        <ul class="dropdown-menu dropdown-menu-large row">
			    <!-- MOBILE HEADER -->
					<li class="nav-mobile-header visible-xs">
			      <button type="button" class="close pull-right" data-dismiss="dropdown" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </li>    	
					<li class="col-xs-12 col-sm-6 nopadding">
						<ul>
							<li ><a ng-href="/shops">Détail des boutiques</a></li>
              <li class="divider"></li>						
							<li ng-repeat="shop in shops|orderBy:'name'|limitTo:(shops.length/2+shops.length%2)" ng-if="shop.status">			
								<a ng-href="/shop/{{shop.urlpath}}" ng-class="{'grayx':shop.available.active}"> 
									{{::shop.name}} <i class="fa fa-info-circle grayx" ng-show="shop.available.active" title="{{shop.available.comment}}"></i>
									<span class="dropdown-menu-shop-shipping text-capitalize hidden-xs"> 
									<span ng-repeat="day in shop.available.weekdays">{{::daysweek[day]}}&nbsp;</span> 
									<i class="fa fa-circle green-2"></i> </span>
								</a> 
							</li>
						</ul>
					</li>
					<li class="col-xs-12 col-sm-6  nopadding">
						<ul>
							<li class="hidden-xs"><a ng-href="/shops">&nbsp;</a></li>
              <li class="divider hidden-xs"></li>						
							<li ng-repeat="shop in shops|orderBy:'name'|limitTo:(-shops.length/2)" ng-if="shop.status">
								<a ng-href="/shop/{{shop.urlpath}}" ng-class="{'grayx':shop.available.active}"> 
										{{::shop.name}} <i class="fa fa-info-circle grayx" ng-show="shop.available.active" title="{{shop.available.comment}}"></i>
										<span class="dropdown-menu-shop-shipping text-capitalize hidden-xs"> <span ng-repeat="day in shop.available.weekdays">{{::daysweek[day]}}&nbsp;</span>
										<i class="fa fa-circle green-2"></i></span>
							</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-large hidden-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
	        <span>K<span class="hidden-xs">aribou.ch</span></span> <i class="fa fa-chevron-down green-1"></i></a>
        <ul class="dropdown-menu dropdown-menu-large row">
			    <!-- MOBILE HEADER -->
					<li class="nav-mobile-header visible-xs">
			      <button type="button" class="close pull-right" data-dismiss="dropdown" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </li>    	
					<li class="col-xs-12 col-sm-3 nopadding">
						<ul>
							<li class="dropdown-header">Faire ces courses</li>
				      <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'karibou',active:true}|orderBy:'weight'" ng-if="menu.url">
					        <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
					    </li>
						</ul>
					</li>
					<li class="col-xs-12 col-sm-4 nopadding">
						<ul>
							<li class="dropdown-header">Notre philosophie </li>
				      <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'howto',active:true}|orderBy:'weight'" ng-if="menu.url">
					        <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
					    </li>								
						</ul>
					</li>					
					<li class="col-xs-12 col-sm-5 nopadding">
						<ul>
							<li class="dropdown-header">Besoin d'aide?</li>
				      <li ng-class="getClass(menu.url)" ng-repeat="menu in config.shop.menu|filter:{group:'links',active:true}|orderBy:'weight'" ng-if="menu.url">
					        <a  ng-href="{{menu.url}}" i18n-render="menu.name"></a>
					    </li>							
						</ul>
					</li>					
			  </ul>
		  </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">

			<li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
      		<i class="fa fa-calendar green-1"></i>
      		<span clockdown="<span class='hidden-xs'>Prochaine livraison </span>"></span>
      		&nbsp;<i class="fa fa-chevron-down green-1"></i>
      	</a>
        <ul class="dropdown-menu dropdown-menu-large">
			    <!-- MOBILE HEADER -->
					<li class="nav-mobile-header visible-xs">
			      <button type="button" class="close pull-right" data-dismiss="dropdown" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </li>    	
					<li class="dropdown-header">Choisissez votre jour de livraison</li>
					<li class="dropdown-info"><i class="fa fa-warning grayx"></i> Certaines boutiques ne livrent pas tous les jours</li>
        	<li ng-repeat="day in config.shop.shippingweek" ng-click="cart.setShippingDay($index)">
        		<a href="" class=""> <i class="fa  green-2" ng-class="$index===cart.config.shipping ? 'fa-circle':'fa-circle-o'"></i> Le marché du {{::day|dateMomentLong}} <span class="grayx pull-right">({{::day|dateMomentHuman}})</span></a>
        	</li>
        </ul>


    </ul>
    
  </div>
</div>
