  <div class="modal-dialog">
    <div class="modal-content">
      <!-- START MODAL CONTENT -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 ng-hide="modalCat.name.length">Add Category</h3>
        <h3 ng-show="modalCat.name.length">Edit category {{modalCat.name}}</h3>
      </div>
      <div class="modal-body">
        
        <form class="" validate>
          <div class="">
            <div class="info-icons" style="color:{{modalCat.color}}">
              <i class="{{modalCat.image}} fa-6"></i>&nbsp;&nbsp;
            </div>
            <h1 style="color:{{modalCat.color}}">
              {{modalCat.image}}
              <small>color:{{modalCat.color}}, sort weight:{{modalCat.weight}}</small>
              <span class="pull-right">
                <label>Active
                <input type="checkbox" ng-model="modalCat.active" class="form-control "  ></label>
              </span>
              <span class="pull-right">
                <label>Home
                <input type="checkbox" ng-model="modalCat.home" class="form-control "  ></label>
              </span>
            </h1>
          </div>

          <hr/>


          <div class="form-group ">
            <label class="control-label" for="i0">Specify the name</label>
            <input type="text" ng-model="modalCat.name" class="form-control " placeholder="Label" autofocus="autofocus"  required id="i0">
          </div>

          <div class="radio form-group">
            <label >
              <input type="radio" name="cattype" value="Category" ng-model="modalCat.type">{{modalCat.name}} is used to organise items
            </label>
          </div>            
          <div class="radio form-group">
            <label >
              <input type="radio" name="cattype" value="Catalog" ng-model="modalCat.type">{{modalCat.name}} is used to organise shops
            </label>          
          </div>

          

          <div class="form-group">
            <label class="control-label" for="i2">Specify a sort weight</label>
            <input type="text" class="form-control " id="i2" ng-model="modalCat.weight" placeholder="0..N">
          </div>
          <div class="form-group">
            <label class="control-label" for="i3">Specify a group</label>
            <input type="text" class="form-control " id="i3" ng-model="modalCat.group" >
          </div>

          <div class="form-group ">
            <label class="control-label" for="i3">Define an icon</label>
            <input type="text" class="form-control " id="i3" ng-model="modalCat.image" placeholder="one of the awesome icon">
            <p class="help-block">Complete list of icons here <a href="http://fortawesome.github.io/Font-Awesome/3.2.1/icons/" target="_new">fontawesome.io 3.2.1</a></p>
          </div>

          <div class="form-group ">
            <label class="control-label" >Define a cover</label>
            <div ng-show="modalCat.cover">
              <img ng-src="{{modalCat.cover}}" title="{{modalCat.cover}}" class="img-thumbnail" />
            </div>
            <!-- COVER -->
            <uploadcare-widget
              ng-model="modalCat.cover"
              data-locale="fr"
              data-tabs="file url facebook flickr"
              data-images-only="true"
              data-path-value="true"
              data-preview-step="true"
              data-clearable="true"
              data-multiple="false"
              data-crop="free"
              data-max-size-hide="153600"
              value="{{modalCat.cover}}"
             />

            <!-- <button ng-click="uploadCover(modal)" class="btn btn-block ">upload cover image for the {{modalCat.name}}</button> -->
            <button ng-show="modalCat.cover" ng-click="modalCat.cover=null" class="btn btn-block ">clear this cover image</button>
          </div>

          <div class="form-group ">
            <label class="control-label" for="i4">Define a color</label>
            <input type="text" class="form-control " id="i4" ng-model="modalCat.color" placeholder="color: #ddd, blue">
<!--             <span class="fa fa-ok form-control-feedback"></span>
 -->          </div>
      </form> 
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="modalCatDissmiss(dismiss())">Close</button>
        <button ng-show="modalCat.index" class="btn btn-primary" ng-click="modalCat.saved=true;modalCatSave(dismiss())" ng-disabled="!modalCat.name || !modalCat.type">
          Save changes
        </button>
        <button ng-hide="modalCat.index" class="btn btn-primary" ng-click="modalCat.saved=true;modalCatCreate(dismiss())" ng-disabled="!modalCat.name || !modalCat.type">
          Add item
        </button>
      </div>
      <!-- END MODAL CONTENT -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
