<div class="dashboard" ng-controller="AccountCtrl">

  <!-- MENU -->
  <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation"
        ng-include="'/partials/dashboard/dashboard-header.html'"></nav>


  <div class="container-fluid" ng-init="findAllUsers()">
    <div class="row">
      <!-- SIDEBAR MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs">
        <h1 class="page-header">Gestion des utilisateurs 
            <button class="btn btn-transparent btn-md" ng-click="findAllUsers(_user)"><i class="fa fa-refresh"></i></button>
        </h1>

        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control form-inline"  placeholder="Nom" ng-model="_user.name">
            <input type="text" class="form-control "  placeholder=">= orders count" ng-model="_user.orders">
            <input type="text" class="form-control"  placeholder=">= Wallet amount" ng-model="_user.amount">
            <input type="text" class="form-control"  placeholder=">= Giftcode count" ng-model="_user.gifts">
          </div>          
        </form>

        <!-- FORM -->
          <table class="table  table-responsive ">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th><a ng-click="applyTableFilter('logged')">login</a></th>
                <th><a ng-click="applyTableFilter('updated')">update</a></th>
                <th><a ng-click="applyTableFilter('email')">validate</a></th>
                <th>address</th>
                <th>role</th>
                <th>shops</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in users|orderBy:options.orderByField:options.reverseSort|filterBy:['email.status']:options.filterByField|filter:options.filterTxt|limitTo:80" ng-class="{'danger':u.status!==true}">
                <td class="small">{{$index+1}}
                    <a  ng-click="modalUserDetails(u)" title="{{u.getEmailStatus()}}"
                      bs-modal="'/partials/admin/user.modal.html'">
                      {{u.id}}
                    </a>
                </td>
                <td ng-class="{'danger':u.email.status!==true}">
                    {{u.displayName}}
                </td>
                <td>{{u.logged|dateLabelShort}}</td>
                <td>{{u.updated|dateLabelShort}}</td>
                <td ng-class="{'danger':u.email.status!==true}">{{u.getEmailStatus()}}</td>
                <td>{{u.hasPrimaryAddress()}}</td>
                <td>{{u.roles}}</td>
                <td>{{u.shops.length}}</td>
              </tr>
            </tbody>
          </table>


      <!-- FOOTER -->              
      </div>
    </div>
  </div>
</div>
