  <div class="modal-dialog">
    <div class="modal-content">
      <!-- START MODAL CONTENT -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{modal.name.givenName}} {{modal.name.familyName}}</h3>
      </div>
      <div class="modal-body" >
        <h5 class="article-group-title " >
          Données personnelles
        </h5>          
        <form ng-submit="save(modal);dismiss();">
          <ul>
            <li>{{modal.id}}</li>
            <li><b>{{modal.name.givenName}} {{modal.name.familyName}}</b></li>
            <li ng-repeat="phone in modal.phoneNumbers">{{phone.what}}: {{phone.number}}</li>
            <li class="col-xs-6 nopadding">
              <label>Email</label>
              <input  ng-model="modal.email.address" type="email"  class="form-control "/>
              <hr/>
            </li>
            <li class="col-xs-6 nopadding">
              <label>CC</label>
              <input  ng-model="modal.email.cc" type="email"  class="form-control "/>
              <hr/>
            </li>
            <li>
              <ul>
                <li ng-repeat="payment in modal.payments"> {{payment.name}} - {{payment.expiry}} - {{payment.issuer}} 
                <button  ng-show="hasMethod(modal,payment.issuer) "class="btn btn-danger btn-xs" ng-click="deletePaymentMethod(payment.alias,modal.id)">enlever </button>
                </li>
              </ul>
            </li>
          </ul>
          <hr/>
          <div>
            <div class="checkbox">
              <label><input type="checkbox" name="status" ng-click="updateStatus(modal.id,modal.status)"  ng-model="modal.status"/>utilisateur activé</label>
            </div>          

            <div class="checkbox">
              <label><input type="checkbox" name="status"  ng-model="modal.email.status"/>{{modal.email.address}} </label>
            </div>          
            <div class="checkbox">
              <label><input type="checkbox" name="status"  ng-model="modal.merchant"/>compte pro </label>
            </div>          
            <div class="clearfix">
              <div><label for="u_name">Available Shops</label></div>
              <ul>
                <li ng-repeat="shop in modal.shops"><a href="/shops/{{shop.urlpath}}" >{{shop.name}}</a>  </li>
              </ul>
              <hr/>
            </div>


            <!-- INVOICE -->
            <div class="clearfix " 
                  ng-show="!hasMethod(modal,'invoice')">
              <div><label for="u_name">Invoice for</label></div>
              <div class="col-xs-7 nopadding">
                <input type="text" class="form-control input-sm"  disabled="true" ng-model="invoice_name" placeholder="Nom prénom" >
              </div>
              <div class="col-xs-2 nopadding">
                <input type="text" class="form-control input-sm"  ng-model="invoice_expiry" placeholder="MM/YYYY" style="width:100px">
              </div>
              <div class="col-xs-3 nopadding">
                <button  class="btn btn-default btn-sm" ng-click="addInvoiceMethod(invoice_name,invoice_expiry, modal.id);dismiss()">+ paiement par facture</button>
              </div>
            </form>
            <div>
              
            </div>

          </div>
          <hr/>
          <div ng-repeat="address in modal.addresses" class="col-xs-12 clearfix nopadding">
            <strong>{{address.name}}, {{address.streetAdress}}/{{address.postalCode}}</strong>
            <div class="col-xs-12 col-sm-10 nopadding">
              <input  ng-model="address.streetAdress" type="text"  class="form-control"/>
            </div>
            <div class="col-xs-12 col-sm-2 nopadding">
              <input  ng-model="address.postalCode" type="text"  class="form-control "/>
            </div>
            <div class="clearfix">
            <div class="col-xs-12 col-sm-10 nopadding"><input  ng-model="address.note" type="text"  class="form-control "/></div>
            <div class="col-xs-12 col-sm-2 nopadding"><input  ng-model="address.floor" type="text"  class="form-control "/></div>
            </div>
            <hr/>
            <img ng-src="{{map.resolveStaticmap(address,address.note,13)}}" class="col-xs-12 nopadding"/>
            <hr/>
          </div>
        </form>
      </div>

      <div class="modal-footer" style="border-top:0px">
        <br/>
        <button class="btn btn-primary" ng-click="save(modal);dismiss();">
          Save
        </button>
        <button class="btn btn-danger" confirm-delete="remove(modal,password,dismiss)">
          Delete
        </button>
        <button class="btn" ng-click="modalDissmiss();dismiss();">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
