<div class="cart-content" ng-controller="OrderCommonCtrl">     
  <!-- MESSAGE -->
  <div ng-show="config.shop.maintenance.active" >
    <div class="alert alert-warning nomargin small">
    <i class="fa fa-info-circle"></i>&nbsp;<strong>Livraisons interrompues</strong><br/>
    {{config.shop.maintenance.reason}}                
    </div>
  </div>
  <div ng-show="!config.shop.maintenance.active" >
    <div class="alert alert-warning nomargin small text-center bold" 
         clockdown="Prochaine livraison "
         style="padding-left:10px"></div>
  </div>
  <!-- CONTENT -->             
  <table class="table " >
      <thead>
          <tr>
              <th>Produit</th>
              <th class="text-center">Qty</th>
              <th class="text-right padding">Total</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="item in cart.items|orderBy:['vendorName','weight']" 
            ng-show="groupByVendor(item.vendorName)" >
          <td colspan="4" class="cart-header"><div>
            <img  ng-src="{{item.vendorImage| placehold:'50x50&text=l`équipe'}}" style="">              
            {{item.vendorName}}</div>
          </td>
        </tr>                

        <tr  ng-repeat-end >
          <td class="col-md-8 small"><a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a>
            <span href="" class="link smallx hide" ng-if="item.vendorName" title="ajouter une note">
              <i class="fa fa-pencil-"></i> {{item.vendorName||''}}
            </span>
          </td>
          <td class="col-md-1 nopadding-lr" style="text-align: center">
            {{item.quantity}}
            <button type="button" class="btn btn-xs btn-default" ng-click="addCart(item, true)"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-xs btn-default" ng-click="removeCart(item,true)"><i class="fa fa-minus"></i></button>

          </td>
          <td class="col-md-2 text-right">{{item.price*item.quantity|number:2}} </td>
        </tr>
          <tr>
              <td class="text-right padding" colspan="2">
                <strong>Soustotal: </strong><br/>
                <strong>Livraison à vélo: </strong>
              <td class="text-right padding">
                <strong>{{cart.total()|number:2}} </strong></br>
                <strong><i class="fa fa-bicycle green bold"></i> {{cart.shipping()|number:2}} </strong>
              </td>
          </tr>

          <tr>
              <td>   </td>
              <td class="text-right"><h4><strong>Total: </strong></h4></td>
              <td class="text-right padding text-success"><h4><strong>{{cart.total()+cart.shipping()|number:2}} CHF</strong></h4></td>
          </tr>
          <tr ng-cloak ng-show="config.shop.maintenance.active" >
            <td  colspan="3">
            </td>
          </tr>

      </tbody>
  </table>
</div>  
<div class="cart-bottom">
  <a  href="/order" class="btn btn-success btn-lg btn-block" ng-class="{'disabled':config.shop.maintenance.active}">
    Continuer la commande
  </a>
  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="cart.empty();toggleCart();">
      Vider le panier
  </button>        
</div>
