<!-- ORDERS BY SHOPS -->
<div class="panel" ng-repeat="(shop, items) in shops" ng-if="shops" style="margin-top:40px">
  <h3 id="ac-{{shop}}">
    La boutique <a ng-href="/shop/{{shop}}">{{shop}} ({{items.length}}) </a>  
    <button ng-click="informShopToOrders(shop,shipping.currentDay)" ng-if="user.isAdmin()"
            type="button" class="btn btn-sm btn-transparent">Envoyer un mail</button>
  </h3>
    <table class="table  table-responsive ">
      <thead>
        <tr>
          <th>n</th>
          <th>oid</th>
          <th>user</th>
          <th>date</th>
          <th style="width:30%">article</th>
          <th>qté</th>
          <th>prix</th>
          <th style="width:100px">final</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items|filter:filterTxt" ng-class="getOrderItemStatusClass(item)">
          <td>{{item.rank}}</td>
          <td>{{item.oid}}</td>
          <td>
            <a class="link "
                    ng-click="modalUserDetails(item.oid)"
                    bs-modal="'/partials/order/order.user.modal.html'">
              {{item.customer.name.familyName}}
            </a>
          </td>
          <td>{{item.created|dateLabelShort}}</td>
          <td>  
            <a ng-href="/products/{{item.sku}}">{{item.title}} ({{item.part}})</a>
            <div ng-show="item.note" class="text-ellipsis smallx" style="max-width:300px">
            <i class="icon icon-pencil"></i> {{item.note||''}} 
            </div>
          </td>
          <td>{{item.quantity}}</td>
          <td>{{item.price*item.quantity|number:'2'}}CHF</td>
          <td><input type="text" type="number" pattern="^\d+(\.|\,)\d{2}$" ng-model="item.finalprice" class="col-xs-12" ng-disabled="getInputDisabled(item)"></td>
          <td>
            <button type="button" class="btn btn-primary btn"
                    ng-click="updateItem(item.oid,item,'fulfilled')"
                    ng-disabled="getInputDisabled(item)"><i class="icon-ok"></i> terminé</button>
            <button type="button" class="btn btn-default btn"
                    ng-click="updateItem(item.oid,item,'failure')"
                    ng-disabled="getInputDisabled(item)"><i class="icon-frown"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
</div>