<div class="butter-bar active success back" 
     ng-cloak ng-show="cart.hasError()" >
  <div class="butter-bar-message">
    Votre commande nécessite quelques modifications
  </div>
</div>

<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="'/partials/order/cover.html'" class="cover cover-home cover-order img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1" ng-controller="OrderNewCtrl">
      <div class="wrapper-inner wide"  >


        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
              <div class="stepwizard">
                  <div class="stepwizard-row small">
                      <div class="stepwizard-step">
                          <a href="/" class="btn btn-default btn-circle">1</a>
                          <p>Shopping</p>
                      </div>
                      <div class="stepwizard-step">
                          <a href="/order/identity"
                          ng-class="currentFlow(['identity','profile']) ? 'btn-primary':'btn-default'"
                          class="btn  btn-circle">2</a>
                          <p>Identité</p>
                      </div>
                      <div class="stepwizard-step">
                          <a href="/order/payment"
                          ng-class="currentFlow(['payment']) ? 'btn-primary':'btn-default'"
                          class="btn  btn-circle" >3</a>
                          <p>Paiement</p>
                      </div>
                      <div class="stepwizard-step">
                          <a href="/order/validation"
                          ng-class="currentFlow(['validation']) ? 'btn-primary':'btn-default'"
                          class="btn btn-circle" >4</a>
                          <p>Validation</p>
                      </div> 
                  </div>
              </div>

         </div>

         <!-- VALIDATE ORDER CART -->         
         <div ng-if="currentFlow(['validate'])">
           <div class="text-center">
                <h2 class="article-group-title">VOTRE COMMANDE</h2>
            </div>
            </span>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Qty</th>
                        <th class="text-center">Prix</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                  <tr  ng-repeat="item in cart.items" >                    
                    <td class="col-md-8"><em>
                      <a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a></em>
                      <div ng-show="item.error" class="alert alert-warning">{{item.error}}</div>
                      <div class="btn-group btn-group-xs pull-right hidden-xs">
                        <button type="button" class="btn btn-default" ng-click="cart.add(item, true)"><i class="icon-plus"></i></button>
                        <button type="button" class="btn btn-default" ng-click="cart.remove(item,true)"><i class="icon-minus"></i></button>
                        <button type="button" class="btn btn-default" ng-click="cart.clear(item)"><i class="icon-remove"></i></button>
                      </div>
                    </td>
                    <td class="col-md-1" style="text-align: center">{{item.quantity}}</td>
                    <td class="col-md-1 text-center">{{item.price|number:2}}</td>
                    <td class="col-md-2 text-center">{{item.price*item.quantity|number:2}}</td>
                  </tr>
                    <tr>
                        <td class="text-right" colspan="3">
                          <p><strong>Soustotal: </strong></p>
                          <p><strong>Paiement {{config.shop.order.gateway[cart.config.payment].label}}: {{cart.tax()*100|number:1}}% </strong>
                          </p>
                          <p><strong>Livraison: </strong></p>
                        </td>
                        <td class="text-center">
                          <p><strong>{{cart.total()|number:2}} </strong></p>
                          <p><strong>{{cart.tax()*cart.total()|number:2}} </strong></p>
                          <p><strong>{{cart.shipping()|number:2}} </strong></p>
                      </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td class="text-right"><h4><strong>Total: </strong></h4></td>
                        <td class="text-center text-danger"><h4><strong>{{cart.grandTotal()|number:2}} CHF</strong></h4></td>
                    </tr>
                </tbody>
            </table>
         </div>

         <!-- IDENTITY LOGIN -->
         <div ng-if="currentFlow(['identity'])" >
          <form class="wizard login" name="identity">
            <h3>Déjà enregistré ? </h3>
            <h4>Veuillez vous connecter ci-dessous</h4>
            <input type="email" class="form-control input-lg login stick"  autofocus 
                ng-class="{'border-red': identity.email.$invalid, 'border-green': form.email.$valid}"
                required ng-model="email" type="email" name="email" placeholder="Votre email">
            <input type="password" class="form-control input-lg login stick" required ng-minlength=6 ng-model="password" name="password" placeholder="Votre password">
              <a class="small" href="/recovery"  >Avez-vous oublié votre mot de passe? </a>
              <span class="clearfix"></span>  

            <br/>
            <button type="submit" ng-click="login(email, password)" 
                ng-disabled="identity.$invalid || WaitText" 
                ga-send="{category:'order',action:'login'}" 
                class="btn btn-lg btn-success">{{WaitText || 'Continuer'}}
            </button>


            <hr/>
            <a ng-href="/order/profile" class="link blue-king">Vous n'avez pas encore de compte?</a>

          </form>
         </div>

         <!-- IDENTITY PROFILE -->
         <div ng-if="currentFlow(['profile'])" >
            <form name="profile" class="wizard profile">
              <h3>Créer votre profil de livraison </h3>
              <!-- NAME FIRSTNAME -->        
              <div class="form-group required">
                <label class="collg2 control-label small">Prénom</label>
                <div class="collg10 ">
                    <input required ng-model="user.name.givenName" placeholder="Prénom" type="text" name="firstname" class="form-control input-lg"/>
                </div>                
              </div>
              <div class="form-group required">
                <label class="collg2 control-label small">Nom</label>
                <div class="collg10 ">
                    <input required ng-model="user.name.familyName" placeholder="Nom" type="text" name="lastname" class="form-control input-lg"/>
                </div>                
              </div>

              <div class="form-group required">
                <label class="collg2 control-label small">Email</label>
                <div class="collg10 ">
                    <input required ng-model="user.email.address" placeholder="Votre email" type="text"  class="form-control input-lg"/>
                </div>                
              </div>
              <!-- PASSWORD -->
              <div class="form-group required" ng-if="!user.isAuthenticated()">
                <label class="collg2 control-label small">Mot de passe (minimum 6 caractères)</label>
                <div class="collg10 ">
                  <input required ng-minlength=6 ng-model="user.password.new"  type="password" name="password" 
                  placeholder="Mot de passe"  class="form-control input-lg"/>
                  <span ng-hide="profile.password.$invalid" class="accout-field-valid"><i class="icon-ok green"></i></span>
                </div>                
              </div>
              <div class="form-group required" ng-if="!user.isAuthenticated()">
                <label class="collg2 control-label small">Confirmer mot de passe</label>
                <div class="collg10 ">
                  <input required ng-minlength=6 ng-model="user.password.copy"  type="password" name="copy" 
                  placeholder="Mot de passe"  class="form-control input-lg"/>
                  <span ng-hide="profile.copy.$invalid || user.password.copy!==user.password.new" 
                  class="accout-field-valid"><i class="icon-ok green"></i></span>
                </div>                
              </div>


              
              <!-- PHONES --> 
              <div class="form-group required">
                <label class="collg2 control-label small">Téléphone</label>
                <div class="collg10">
                  <div ng-repeat="phone in user.phoneNumbers" class="row nomargin">
                    <div class="col-xs-3 nopadding">
                      <input type="text"  ng-model="user.phoneNumbers[0].what" placeholder="mobile" value="mobile"
                      class="form-control input-lg ">
                    </div>
                    <div class="col-xs-9 nopadding">
                      <input type="text"  ng-model="user.phoneNumbers[0].number" placeholder="ex. 004178 000 55 55" 
                      class="form-control input-lg" required>
                    </div>

                  </div>
                </div>                
              </div>


              <!-- ADDRESS -->
              <!-- NOTE -->
              <div class="form-group  ">
                <label class="collg2 control-label small">Note au livreur</label>
                <div class="collg10">
                    <input id="full-name"  ng-model="user.addresses[0].note" type="text" placeholder="Note au livreur, code,..."
                    class="form-control input-lg" >
                </div>
              </div>

              <!-- RUE/N°/ETAGE -->
              <div class="form-group  required">
                <label class="collg2 control-label small">Rue, numéro et l'étage</label>
                <div class="">
                  <div class="col-xs-12 col-sm-9 col-md-8 nopadding">                
                    <input id="address-line1" ng-model="user.addresses[0].streetAdress"  type="text" placeholder="rue et numéro" class="form-control input-lg" required>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-4 nopadding">                
                    <input id="floor1" ng-model="user.addresses[0].floor" type="text" placeholder="Étage" class="form-control input-lg" required>
                  </div>

                </div>
              </div>

              <!-- POSTAL -->
              <div class="form-group  required">
                <label class="collg2 control-label small">Code Postal</label>
                <div class="collg10">
                    <select class="form-control input-lg" ng-model="user.addresses[0].postalCode"  
                             data-ng-options="l for l in config.shop.user.location.list"  required>
                        <option value="">-- Choisissez  --</option>
                    </select>
                    <!--<p class="help-block">
                      Votre code postal n'est peut être pas encore disponible pour le moment.
                    </p>-->

                </div>
              </div>

              <!-- REGION -->
              <div class="form-group required">
                <label class="collg2 control-label small">Region</label>
                <div class="collg10">
                    <select class="form-control input-lg" ng-model="user.addresses[0].region"  
                             data-ng-options="l for l in config.shop.user.region.list" required>
                        <option value="">-- Choisissez  --</option>
                    </select>
                </div>
              </div>

              <hr />
              <div class="clearfix" style="clear:both">
                 <div class="alert alert-warning" ng-cloak  ng-if="!user.isAuthenticated()">
                    Afin d'assurer une communication avec vous, nous avons besoin de valider votre adresse email. 
                    Une demande de confirmation va vous être envoyé à la suite de cet enregistrement.
                 </div>
                <div ng-if="user.isAuthenticated() && user.email.status !== true">
                   <div class="alert alert-warning" ng-cloak  >
                      <strong>Votre adresse mail n'a toujours pas été confirmée.</strong>
                      Une demande de confirmation vous a été envoyée par mail le {{user.email.status|dateLabel}}.
                      Si vous avez perdu ce mail, vous pouvez <a href="" ng-click="verify(user)">activer une nouvelle demande de confirmation</a>.
                   </div>
                </div>                 
              </div>
              <button class="btn btn-primary btn-lg  clearfix" 
                      ng-disabled="profile.$invalid || WaitText" 
                      ga-send="{category:'order',action:'profile'}" 
                      ng-click="saveIdentity(user)">
                Continuer
              </button> 

            </form>
         </div>
         <!-- PAYMENT -->
         <div ng-if="currentFlow(['payment'])" ng-init="showCreditCard=false;">
            <div>
              <h4 class="article-group-title black">Quelle méthode de paiement utiliser?</h4>
              <p class="help-block">Toutes les transactions sont effectuées via une connexion sécurisée.
              </p>
            </div>

            <div class="payment">     
              <div class="list-group clearfix">
                <!-- THE ONES SAVED -->
                <a href="" class="list-group-item "                             
                           ng-repeat="method in user.payments" 
                           ng-click="cart.config.payment=method;" 
                           ng-class="{'active':cart.config.payment.type===method.type}" >
                  <div class="col-xs-2 nopadding " >
                    <img src="/img/payments/{{pm[method.type]}}" class="img-thumbnail img-responsive" alt="" />
                  </div>
                  <div class="col-xs-10 " >
                    <h4 class="list-group-item-heading heading-center">{{method.number}} <span class="bold green" payments-date="{{method.expiry}}">{{method.expiry}}</span></h4>
                    <p class="list-group-item-text comment-text hide" >
                      <button class="btn btn-xs btn-transparent">modifier</button>
                      <button class="btn btn-xs btn-transparent"
                              ng-click="deletePaymentMethod(method.alias)">supprimer</button>
                    </p>
                  </div>
                </a>
              </div>
              <div ng-show="user.payments.length" style="padding:10px" class=" help-block">
                <a href="" ng-click="user.showMorePayment=true" >
                  Ajouter une autre méthode de paiement?
                </a>
              </div>

              <div class="list-group clearfix" ng-show="!user.payments.length || user.showMorePayment">
                <!-- VISA - MC -AE -->
                <a href="" class="list-group-item" 
                           ng-class="{'active':user.showCreditCard==='vma'}" 
                           ng-click="user.showCreditCard='vma';">
                  <div class="col-xs-2 nopadding">
                    <img src="/img/payments/vma.jpg" class="img-thumbnail img-responsive" alt="" />
                  </div>
                  <div class="col-xs-10 " >
                    <h5 class="list-group-item-heading heading-center">VISA - MasterCard - American Express</h5>
                  </div>
                </a>
                <!-- POSTFINANCE CARD -->
                <a href="" class="list-group-item" ng-class="{'active':user.showCreditCard=='pf'}" ng-click="user.showCreditCard='pf';">
                  <div class="col-xs-2 nopadding">
                    <img src="/img/payments/pfc.jpg" class="img-thumbnail img-responsive" alt="" /></div>
                  <div class="col-xs-10 ">
                    <h5 class="list-group-item-heading">Postfinance Card</h5>
                    <p class="list-group-item-text comment-text">
                      Nécessitera l'utilisation de votre lecteur de carte.
                    </p>

                  </div>

                </a>
              </div>

              <!-- new card -->
              <div ng-include="'/partials/order/card.html'" 
                   ng-show="user.showCreditCard=='vma'"></div>

            </div>

           <!-- SHIPPING PAYMENT --
           <div ng-class="{'has-error':!cart.config.payment}" >
             <h5 class="article-group-title ">Choisir le mode de payment</h5>
              <select class="form-control input-lg" ng-model="cart.config.payment" ng-change="updateGatewayFees()">
                <option value="">-- Sélection d'un mode de paiement --</option>
                <option value="{{$index}}" ng-repeat="gateway in config.shop.order.gateway">{{gateway.label}}</option>
              </select>           
           </div>
          -->

            <div class="row col-xs-12">
              <hr/>
              <a href="/order/validation" 
                  ng-disabled="!cart.config.payment || WaitText" 
                  ga-send="{category:'order',action:'payment'}" 
                  class=" btn btn-lg btn-success">{{WaitText || 'Continuer'}}
              </a>
            </div>

         </div>

         <!-- VALIDATION -->
         <div ng-if="currentFlow(['validation'])">
         <!-- ORDER CART -->         
         <div class="cart well well-sm white">
           <div class="text-center">
                <h2 class="article-group-title">VOTRE COMMANDE</h2>
            </div>
            </span>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Qty</th>
                        <th class="text-right padding">Prix</th>
                        <th class="text-right padding">Total</th>
                    </tr>
                </thead>
                <tbody>
                  <tr  ng-repeat="item in cart.items|orderBy:'vendorName'" >                    
                    <td class="col-md-8">
                      <a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a>
                      <div ng-show="item.error" class="alert alert-warning">{{item.error}}</div>
                      <div class="btn-group btn-group-xs pull-right hidden-xs">
                        <button type="button" class="btn btn-default" ng-click="cart.add(item, true)"><i class="icon-plus"></i></button>
                        <button type="button" class="btn btn-default" ng-click="cart.remove(item,true)"><i class="icon-minus"></i></button>
                        <button type="button" class="btn btn-default" ng-click="cart.clear(item)"><i class="icon-remove"></i></button>
                      </div>
                    </td>
                    <td class="col-md-1" style="text-align: center">{{item.quantity}}</td>
                    <td class="col-md-1 text-right padding">{{item.price|number:2}}</td>
                    <td class="col-md-2 text-right padding">{{item.price*item.quantity|number:2}}</td>
                  </tr>
                    <tr>
                        <td class="text-right" colspan="3">
                          <p><strong>Soustotal: </strong></p>
                          <p><strong>Paiement {{updateGatewayFees()}}: {{cart.tax()*100|number:1}}% </strong>
                          </p>
                          <p><strong>Livraison: </strong></p>
                        </td>
                        <td class="text-right padding">
                          <p><strong>{{cart.total()|number:2}} </strong></p>
                          <p><strong>{{cart.tax()*cart.total()|number:2}} </strong></p>
                          <p><strong><i class="icon icon-truck"></i>{{cart.shipping()|number:2}} </strong></p>
                      </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td class="text-right"><h4><strong>Total: </strong></h4></td>
                        <td class="text-right padding text-success"><h4><strong>{{cart.grandTotal()|number:2}} CHF</strong></h4></td>
                    </tr>
                </tbody>
            </table>
         </div>

           <!-- SHIPPING DATE -->         
           <div >
             <h5 class="article-group-title ">Choisir la date de livraison</h5>
              <select class="cart form-control input-lg" ng-model="cart.config.shipping" ng-options="date.id as date| dateLabel:'' for date in shippingDays">
              </select>
              <p class="help-block">En choisissant ce créneau horaire, vous confirmez être présent pour la réception de votre commande.</p>
           </div>

           <!-- SHIPPING ADDRESS  -->         
           <div ng-show="user.hasPrimaryAddress()">
             <h5 class="article-group-title ">Choisir l'adresse de livraison </h5>
              <select class="cart form-control input-lg" 
                      ng-init="cart.config.address = user.addresses[0]"
                      ng-model="cart.config.address"
                      ng-options="a.name +' - ' +a.streetAdress + ' ' + a.postalCode for a in user.addresses">
              </select>
           </div>

          <!-- ORDER -->
          <div  class="row wrapheight" >
            <div class="row">
                <br/>
                <label>
                  <input type="checkbox"  value="true" ng-model="cg">
                  J'ai lu et j'accepte les conditions générales de vente et de livraison.
                </label>
                <button type="button" class="btn btn-success btn-lg btn-block"
                        ng-disabled="!cg||!user.isReady()||!user.hasPrimaryAddress()||!cart.config.payment||!cart.items.length||WaitText"  
                        ng-click="terminateOrder()" >
                    <i ng-class="{'icon-gear':WaitText}"></i>
                    Aller à la caisse  
                </button>
            </div>
          </div>

         </div>

        <footer class="wrapper-footer wide">
          <a class="wrapper-footer-link" title="Qui sommes nous" href="/about">Qui sommes nous</a>
          <a class="wrapper-footer-link" title="Lire notre charte " href="/charte">Lire notre charte</a>
          <a class="wrapper-footer-link" title="La FAQ" href="/help-center/faq">FAQ</a>
          <a class="wrapper-footer-link" title="Developpeurs" href="" backend-url="href">API</a>
        </footer>
      </div>
   </section>
</div>
