
<!-- PRODUCTS FORM -->
<table class="table  table-responsive "
       ng-init="orderByField='vendor.urlpath';reverseSort=false">
  <thead>
    <tr>
      <th style="width:40%">#sku</th>
      <th>
        <a href="" ng-click="orderByField='vendor.urlpath';reverseSort=!reverseSort">
          boutique
        </a>
      </th>
      <th style="width:40px" title="Les produits disponibles à la vente">visible</th>
      <th style="width:80px">
        <a href="" ng-click="orderByField='weight';reverseSort=!reverseSort">poids</a>
      </th>
      <th style="width:80px">
        <a href="" ng-click="orderByField='pricing.stock';reverseSort=!reverseSort">stock</a>
      </th>
      <th style="width:100px">prix</th>
      <th style="width:110px" class="text-center small">prix promotion</th>
      <th style="width:40px"  class="text-center small" ng-if="user.isAdmin()">home</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="product in products|filter:options.filterTxt|orderBy:orderByField:reverseSort" >
    </tr>
    <tr ng-repeat-end  
        ng-class="{'info':isProductDirty(product),'warning':!product.attributes.available}">
      <td ng-init="initProductState(product)">
        <a ng-href="/products/{{product.sku}}">{{product.title}}</a>
      </td>
      <td>{{product.vendor.urlpath}}</td>

      <!-- DISPO -->
      <td>
        <input type="checkbox" ng-checked="product.attributes.available" ng-model="product.attributes.available" >        
      </td>

      <!-- WEIGTH -->
      <td>
        <input type="text" type="number"
        ng-model="product.pricing._weight"   class="form-control">
      </td>

      <!-- STOCK -->
      <td>
        <input type="text" type="number"
        ng-model="product.pricing._stock"   class="form-control">
      </td>
      <td>
        <input type="text" type="number"
        ng-model="product.pricing._price"  class="form-control">
      </td>
      <!-- DISCOUNT -->
      <td>
        <div class="input-group" ng-class="{'discount':product.attributes.discount}">
          <span class="input-group-addon">
            <input type="checkbox" ng-checked="product.attributes.discount" ng-model="product.attributes.discount">
          </span>
          <input type="text" class="form-control" type="number" ng-disabled="!product.attributes.discount" ng-model="product.pricing.discount">
        </div>      
      </td>
      <!-- HOME -->
      <td ng-if="user.isAdmin()" >
        <input type="checkbox" ng-checked="product.attributes.home" ng-model="product.attributes.home" >        
      </td>
      <td>
        <button type="button" ng-click="saveProduct(product);"
                class="btn btn-primary btn-xs"><i class="fa fa-save"></i></button>
      </td>
    </tr>
  </tbody>
</table>

