
  <div class="row clearfix postfinance payment" ng-init="ecommerceForm()">
    <ul class="hide">
      <li ng-repeat="(name,value) in user.ecommerceForm.body">{{name}}:{{value}}</li>

<!--     title:'Enregistrement de votre carte chez Postfinance',
    bgcolor:'#F2F4F2',
    tp:"http://localhost:4000/v1/psp/std"
 -->      
    </ul>
    <form action="https://e-payment.postfinance.ch/ncol/test/orderstandard.asp"
          method="post" enctype="UTF-8" 
          target="postfinance-ecommerce" class="hide" auto-submit>
      <input ng-repeat="(name,value) in user.ecommerceForm.body" type="hidden" value="{{value}}" name="{{name}}">
    </form>

    <iframe width="100%" name="postfinance-ecommerce"  
            style="overflow:hidden;height:530px;">
    </iframe>
    <div class="security clearfix">
      <div class="lock"><img src="/img/payments/lock.png" /></div>
      <div class="content"><p class="help-block">Les transactions et le stockage des cartes est effectué de façon sécurisée par Postfinance SA</p></div>
      <div class="logo"><img src="/img/payments/postfinance-lg.jpg" /></div>
    </div>

  </div>


