<div class="cover-table cover-user " backstretch="cover">
  <div class="cover-row">
    <div class="cover-body">
      <div class="cover-body-inner">
        <h1 class="cover-title">{{user.display()}}</h1>
        <div>
          <a href="/account/overview" class="btn  btn-profile btn btn-md btn-split">Mon profil</a>
          <a ng-if="!user.shops.length" href="/account/love" class="btn btn-profile btn btn-md btn-split">
            Mes coups de  <i class="fa fa-heart"></i></a>
          <a ng-if="user.shops.length" href="/admin/orders" class="btn btn-profile btn btn-md btn-split">
            Ma boutique  <i class="fa fa-home green"></i></a>
        </div>


        <div class="cover-resume categories hidden-xs hidden-sm" >
          <ul>
              <li>
                <a class="site-nav-list-item  " title="Tous les produits" 
                   href="/" tabindex="-1"><i class=""></i>&nbsp;Tous les produits</a>
              </li>
              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category'}|orderBy:'weight'">
                <a class="site-nav-list-item  " title="{{category.name}}" 
                   ng-class="getClass('/products/category/{{category.slug}}')"
                   href="/products/category/{{category.slug}}" tabindex="-1"><i class=""></i>&nbsp;{{category.name}}</a>
              </li>
          </ul>
        </div>

      </div>
    </div> <!-- cover body -->

  <div class="cover-row">
  </div>

  </div><!-- cover row -->



</div>



