<span></span>
<!--
  <li ng-class="getClass('/account/overview')"><a ng-href="/account/overview"></i>Aperçu</a></li>
  <li ng-class="getClass('/account/profile')"><a ng-href="/account/profile">Profile</a></li>
  <li ng-class="getClass('/account/password')"><a ng-href="/account/password">Sécurité</a></li>
  <li ng-class="getClass('/account/shop')"><a ng-href="/account/shop">Ouvrir une boutique</a></li>
</ul>


<!--
<div class="bucket-header bucket-header-list show-subtitles-variant">
   <nav class="bucket-sort" >
    <h5 class="bucket-title " ng-class="getClass('/account/overview')">
      <span class="bucket-header-title"><a ng-href="/account/overview"></i>Aperçu</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/account/profile')">
      <span class="bucket-header-title"><a ng-href="/account/profile">Profile</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/account/password')">
      <span class="bucket-header-title"><a ng-href="/account/password">Sécurité</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/account/shop')">
      <span class="bucket-header-title"><a ng-href="/account/shop">Ouvrir une boutique</a></span>
    </h5>
   </nav>
</div>

<br/>
-->
<!--
<div class="bucket-header bucket-header-list show-subtitles-variant">
   <nav class="bucket-sort" >
    <h5 class="bucket-title " ng-class="getClass('/logistic/collect')" ng-show="user.isAdmin()" >
      <span class="bucket-header-title"><a ng-href="/logistic/collect">Collecte</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/logistic/overview')" ng-show="user.isAdmin()" >
      <span class="bucket-header-title"><a ng-href="/logistic/overview">livraison</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/admin/category')" ng-show="user.isAdmin()" >
      <span class="bucket-header-title"><a ng-href="/admin/category">Categorie</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/admin/role')" ng-show="user.isAdmin()" >
      <span class="bucket-header-title"><a ng-href="/admin/role">Rôle</a></span>
    </h5>
    <h5 class="bucket-title " ng-class="getClass('/admin/user')" ng-show="user.isAdmin()" >
      <span class="bucket-header-title"><a ng-href="/admin/user">Utilisateurs</a></span>
    </h5>
   
   </nav>
</div>
-->


