

<div tabindex="-1"  class="container" ng-controller="AccountCtrl">
  <section class="" tabindex="-1" ng-controller="OrderCommonCtrl" >


    <h5 class="article-group-title " >
      <span class="bucket-header-title box">Statut de mes commandes</span>
    </h5>


    <ul class="timeline"  ng-show="orders.length"
        infinite-scroll='loadNextPage()'  
        infinite-scroll-disabled='scrollBusy'
        infinite-scroll-distance='1'>

        <li ng-repeat="order in infinite" ng-class="{'timeline-inverted':$odd}">
          <!-- timeline start -->
          <div class="timeline-badge "><i class="fa fa-shopping-cart green"></i></div>
          <div class="timeline-panel" ng-class="order.payment.status">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{::order.getTitle()}}</h4>
              <p><small class="text-muted"><i class="fa fa-time"></i>Créée {{::order.created|dateLabel}}, N° {{::order.oid}}</small>

              </p>
            </div>
            <div class="timeline-body" >
              <div ng-hide="order.fulfillments.status=='failure'||order.getProgress()===0">
                <h5 style="margin-bottom:5px" class="text-muted">Statut de la commande</h5>
                <div class="progress">
                  <div class="progress-bar  progress-bar-success" 
                       role="progressbar" order-progress="order">
                    <span class="sr-only-">{{::options.fulfillments[order.fulfillments.status]}}</span>
                  </div>
                </div>                
              </div>

              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading smallx"><a href="" toggle-on-click="#detail-{{::order.oid}}">Voir le détail</a></div>
                <div class="">
                  <div class="cart" ng-class="order.payment.status">
                    {{::options.payment[order.payment.status]}}<br/>
                    <span>{{::order.payment.issuer}}</span>
                  </div>
                  <div class="cart">
                    {{::order.getTotalPrice().toFixed(2)}} CHF<br/>
                    <span>total</span>
                  </div>

                  <!-- ACCOUNT -->
                  <div class="payment-bvr" ng-show="order.payment.issuer==='invoice'&&order.payment.status==='invoice'">
                    <div class="cart">
                      <span>Versement pour</span><br/>
                      Karibou Delphine Cluzel Evalet et Olivier Evalet,<br/> CH-1208
                    </div>
                    <div class="cart">
                      <div>
                        <span>compte</span>
                        <div>14-615643-8</div>
                      </div>
                      <div>
                        <span>Motif versement</span> 
                        <div>{{::order.customer.id}}{{order.oid}}</div>    
                      </div>
                    </div>



                  </div>
                </div>

                <!-- ITEMS DETAILS-->
                <table class="table table-condensed smallx hide" id="detail-{{::order.oid}}" style="">
                  <thead>
                    <tr><th>Produit</th><th>Qté</th><th>CHF</th></tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="i in order.items" ng-class="{'strike grayx':(i.fulfillment.status==='failure'||order.fulfillments.status==='failure')}">
                      <td title="{{::i.vendor}}">
                        <a ng-href="/products/{{::i.sku}}">{{::i.title}}</a>
                        <mark ng-if="i.variant.title" class="small gray">{{::i.variant.title}}</mark>
                      </td>
                      <td>{{::i.quantity}}</td>
                      <td>{{::i.finalprice|number:'2'}} CHF</td>
                    </tr>
                    <!-- info -->
                    <tr ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                      <td colspan="2">Sous-total</td><td >{{::order|orderTotal}}</td>
                    </tr>
                    <tr ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                      <td colspan="2">Livraison & Paiement</td><td >{{::order|orderFees:true}}</td>
                    </tr>
                    <tr class="bold" ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                      <td colspan="2">TOTAL</td><td >{{::order.getTotalPrice().toFixed(2)}} CHF</td>
                    </tr>
                    <tr ng-class="{'strike grayx':order.fulfillments.status==='failure'}"
                        ng-show="order.getTotalDiscount()>0" 
                        class="pink">
                      <td colspan="2">Rabais commerçants</td><td>-{{::order.getTotalDiscount().toFixed(2)}}</td>
                    </tr>

                  </tbody> 
                </table>
    
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-transparent btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cog"></i> actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-class="{'disabled':order.fulfillments.status!=='reserved'}">
                      <a href="#" ng-click="orderCancel(order,'customer')" 
                         title="il est possible d'annuler votre commande tant que la logistique n'a pas commencé">Annuler cette commande</a></li>
                  <li><a href="#" ng-click="copyOrder(order)">Copier cette commande dans le panier</a></li>
                  <li ng-class="{'disabled':order.payment.status!=='paid'}">
                      <a href="#" ng-click="orderInvoice(order)" >Recevoir la facture par e-mail</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- timeline end -->
        </li>
  </section>
</div>
