
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

 <!--  <div class="butter-bar active info back " ng-cloak ng-show="user.email.status !== true">
    <p class="butter-bar-message">
      <b>Psst!</b> N'oubliez pas de valider votre adresse e-mail! Recherchez dans votre boîte de reception le message que nous vous avons envoyé. <a href="/account/overview">Vous pouvez aussi demander à recevoir de nouveau l'e-mail</a>.
    </p>
  </div>
 -->

  <aside ng-include="'/partials/account/cover.html'" 
         class="cover cover-home img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          



      <!-- SHOPS ORDERS -->
      <div class="well well-small white  clearfix"  ng-if="user.shops.length||user.isAdmin()">
          <h5 class="article-group-title ">
            <span class="bucket-header-title"><i class="fa fa-line-chart gray"></i>&nbsp;Mon dashboard</span>
          </h5>
          <div class="list-group">
            <a class="list-group-item" href="/admin/orders">Mes commandes</a> 
            <a class="list-group-item" href="/admin/products">Mes stocks</a> 
            <a class="list-group-item" href="/admin/repport/shop">Mes rapports d'activités</a> 
            <a ng-if="user.isAdmin()" class="list-group-item" href="/admin/collect">La collecte</a> 
            <a ng-if="user.isAdmin()" class="list-group-item" href="/admin/stats">Les statistiques</a> 
            <a ng-if="user.isAdmin()" class="list-group-item" href="/admin/user">Les utilisateurs</a> 
          </div>
      </div>

      <div class="well well-small white  clearfix"  ng-if="user.hasRole('logistic')&&!user.isAdmin()">
          <h5 class="article-group-title ">
            <span class="bucket-header-title"><i class="fa fa-bicycle gray"></i>&nbsp;Mon dashboard</span>
          </h5>
          <div class="list-group">
            <a class="list-group-item" href="/admin/shipping">La gestion des livraisons</a> 
            <a ng-if="user.isAdmin()" class="list-group-item" href="/admin/collect">La collecte</a> 
          </div>
      </div>

      <!-- LAST ORDERS -->
      <div  class="well well-small white clearfix" >
        
        <h5  class="article-group-title " >
          <span class="bucket-header-title"><i class="fa fa-shopping-cart gray"></i>&nbsp;Mes dernières commandes</span> 
        </h5>
        <p>
          <a class="list-group-item" href="/account/orders"><i class="fa fa-angle-right"></i>&nbsp;L'historique de mes commandes</a>
        </p>
      </div>    

      <!-- LOVE -->
      <div  class="well well-small white clearfix hide" >
        <h5 class="article-group-title " ng-hide="user.likes.length">
          <span class="bucket-header-title">Je n'ai encore pas de produits préférés.</span>
        </h5>
        
        <h5 ng-show="user.likes.length" class="article-group-title " >
          <span class="bucket-header-title">Mes coups de coeur</span> 
        </h5>
        <p>
          <a class="list-group-item" href="/account/love"><i class="fa fa-angle-right"></i>&nbsp;Ma liste principale</a>
        </p>
      </div>          

      <!-- PROFILE -->
      <div class="well well-small white  clearfix" >
        <h5 class="article-group-title ">
          <span class="bucket-header-title"><i class="fa fa-edit gray"></i>&nbsp;Mon profil</span>
        </h5>

        <div class="alert alert-warning" ng-cloak  ng-show="user.email.status !== true">
          <strong>Votre adresse e-mail n'a pas été confirmée.</strong><br/>
          Afin d'assurer une communication avec vous, nous avons besoin de valider votre adresse email.
          Pour valider votre adresse, recherchez dans votre boîte de reception le message que nous vous avons envoyé. Vous pouvez <a href="" ng-click="verify(user)">aussi demander à recevoir un nouvel e-mail de confirmation.</a>.
        </div>


        <p>
          <a class="list-group-item" href="/account/profile"><i class="fa fa-angle-right"></i>&nbsp;Modifier mes données personnelles</a>
        </p>
      </div>
        
      <div class="well well-small white  clearfix" >
        <h5  class="article-group-title " >
          <span class="bucket-header-title"><i class="fa fa-lock gray"></i>&nbsp;Sécurité</span> 
        </h5>
        <div class="list-group">
          <a class="list-group-item" href="/account/password"><i class="fa fa-angle-right"></i>&nbsp;Modifier mon mot de passe</a>
          <a class="list-group-item" href="/account/payment"><i class="fa fa-angle-right"></i>&nbsp;Mes méthodes de paiement <i class="fa fa-credit-card"></i></a>
        </div>
      </div>          

    
      <!-- SHOP LIST -->
      <div class="well well-small white" style="width:100%;float:left;margin-bottom:100px">        
        <h5 class="article-group-title " ><i class="fa fa-coffee gray"></i>&nbsp;Mes boutiques 
          <a ng-href="/account/shop" ng-hide="(user.shops.length>2)&&!user.isAdmin()" class="pull-right small link">Ouvrir une boutique</a>
        </h5>

        <h5 class="article-group-title gray" ng-hide="user.shops.length">
          Je n'ai pas de boutique.
        </h5>

          <div class="list-group"  ng-show="user.shops.length" >
            <a class="list-group-item" href="/shop/{{shop.urlpath}}" ng-repeat="shop in user.shops">
              <i class="fa fa-fire"></i> {{shop.name}}
              <span ng-hide="shop.status == true" class="help-inline"><i class="fa fa-ok"></i>&nbsp;</span>
            </a>
          </div>
      </div>
 



      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>
