
  
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

<!--   <div class="butter-bar active error back " ng-cloak ng-hide="user.hash">
    <p class="butter-bar-message">
      Vous n'avez pas encore crée votre mot de passe. Créez votre mot de passe maintenant
      pour ne perdre l'accès à votre compte.
    </p>
  </div>
 -->

  <aside ng-include="'/partials/account/cover.html'" 
         class="cover cover-home img-loaded" ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          
      <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          

      <div class=" well white clearfix">
            <form name="form" novalidate="novalidate" class="" show="user.email.status==true">
                <h5 class="article-group-title " >
                  <span class="bucket-header-title box">Modifiez votre mot de passe</span> 
                </h5>

                <div class="form-group" ng-class="{'has-success has-feedback':form.email.$valid}">
                  <label class=" control-label">Email</label>
                  <div class="">
                    <input required disabled="true" ng-model="user.email.address" type="email" id="email" name="email" class="form-control input-lg"/>
                    <span class="fa fa-ok green form-control-feedback" ng-show="form.email.$valid"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class=" control-label">Mot de passe acctuel</label>
                  <div class="">
                    <input ng-model="user.password.current" type="password" id="current" class="form-control input-lg"/>
                    <p class="small"><a href="/recovery">Encore oublié?</a></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class=" control-label">Nouveau mot de passe (minimum 6 caractères)</label>
                  <div class="">
                    <input required pattern=".{6,31}" ng-model="user.password.new" type="password" id="new" class="form-control input-lg"/>
                  </div>
                </div>
                <div class="form-group ">
                  <button type="submit" ng-click="changePassword(user.email.address, user.password)" ng-disabled="form.$invalid || waitText"  class="btn btn-success btn-lg">{{waitText || 'Enregistrer'}}</button>
                </div>
            </form>
      </div>

      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>
