<div class="container"  ng-controller="AccountCtrl" >
  <form class="form-account mg-btm" novalidate name="form">
    <h3 class="heading-desc">
      Réinitialisez votre mot de passe.
    </h3>

    <div class="main-account">          
      <input type="email" class="form-control input-lg"  autofocus ng-class="{'border-red': form.email.$invalid, 'border-green': form.email.$valid}"
          required ng-model="email" type="email" name="email" placeholder="Email compte Karibou">
      <div class="help-block">
        <span class="fa fa-info-circle"></span> L'envoi peut prendre quelques minutes.
      </div>
    </div>

    <div class="account-footer">
      <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="left-section" ng-hide="user.isAuthenticated()">
              <a href="/signup">Créer un compte?</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 pull-right">
            <button type="submit" ng-disabled="form.$invalid||WaitText" 
              ng-click="recover(email)"  
              ga-send="{category:'account',action:'recover'}" 
              class="btn btn-lg btn-success pull-right  ">
              <i ng-class="{'fa fa-gear':WaitText}"></i>
              Submit
            </button>

        </div>
      </div>    
    </div>
  </form>
</div>    
