
  
<div tabindex="-1"   class="container" ng-controller="AccountCtrl">
  

  <!--                               -->
  <!-- CONTENT                       -->
  <!--                               -->                          

  <h5 class="article-group-title " >
    <span class="bucket-header-title box">Ajouter une nouvelle boutique</span> 
  </h5>

  <div class="well  white clearfix"  >
      <b>Vous trouverez ici <a href="#">les règles</a> complètes pour participer à notre place de marché. En voici les éléments fondateurs.</b>
      <ol>
        <li>Vous êtes producteur d'aliment
        <p>
         Votre production est si possible biologique mais dans tous les cas respectueuse de l'environnement, de la nature et de l'animal. 
        </p>
        </li>
        <li>Vous êtes revendeur d'aliment
        <p>
         Vous êtes un petit commerce qui proposez des produits de haute qualité. Les provenances et les ingrédients utilisés sont indiqués clairement.
        </p>
        </li>
        <li>Vous êtes un artisan
        <p>
          Vous fabriquez manuellement vos préparations et vous n'utilisez pas d'additifs de synthèse. Les ingrédients utilisés sont indiqués clairement.
        </p>
      </li>
      </ol>
      <small>Karibou </small>
  </div>        
  <form name="form" class="well  white clearfix" ng-init="shop={}">
    <fieldset>
      <!-- catalog -->
      <div class="form-group">
        <label class="control-label ">Votre boutique figure dans le catalogue </label> 
        <div class=" small">
          <select  ng-model="shop.catalog " 
                   class="form-control input-lg" required="true" >
            <option ng-repeat="cat in category.findAll() | filter:{type:'Catalog'}" value="{{cat._id}}">{{cat.name}}</option>
          </select>
        </div>
      </div>

      <!-- SHOP NAME -->
      <div class="form-group">
        <label for="name" class="control-label">Le nom de votre boutique</label>
        <div class="">
            <input  ng-model="shop.name" type="text" required="true"  class="form-control input-lg" placeholder="ex. Les bons gâteaux de chez dédé"/>
            <p class="help-block ">Le nom de votre boutique est définitif et ne pas être modifié par la suite.<br/></p>          
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label class="control-label">Description</label>
        <div class="">                     
          <textarea name="description" required rows="4" ng-model="shop.description"  class="form-control" placeholder="C'est le texte qui décrit votre boutique. (~6 lignes)" >{{shop.description }}</textarea>
        </div>
        <p class="help-block">La description est obligatoire. Le nombre de caractère est limité à 300.</p>                        
      </div>

      <!-- ADDRESS -->
      <div class="clearfix" ng-include="'/partials/shop/address.html'">
      </div>
      <p class="help-block">Vous pourrez préciser d'autres points de collecte après la création de votre boutique.</p>                        
      <br/>
      <hr/>

      <!-- ACCEPT -->
      <div class="form-group">
        <div class=" ">
            <p class="control-label">
              <label for="cc" >J'ai lu et j'accepte les conditions générales.
              <input id="cc" name="cc" type="checkbox" required="true"  ng-model="checked" class="btn"/></label>
            </p>
            <p class="small" ng-hide="user.email.status == true ">Pour créer une boutique vous devez avoir une <a href="/account/profile">adresse email valide</a>.</p>
        </div>
      </div>

      <!-- ACTIONS -->          
      <div class="form-group">
        <button  ng-disabled="form.$error.required || !checked || WaitText" ng-click="createShop(shop)"   
                class="btn btn-primary btn-lg">
          <i ng-class="{'fa fa-gear':WaitText}"></i> Créer votre boutique
        </button>
      </div>              
    </fieldset>
  </form>


</div>

