
<div tabindex="-1"  id="email-validation" class="container" ng-controller="AccountCtrl">
   <section class="" tabindex="-1" ng-init="validateEmail()">



    <!--                               -->
    <!-- NAVIGATION -->
    <!--                               -->                          
    <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


    <!--                               -->
    <!-- CONTENT                       -->
    <!--                               -->                          



    <!-- THANKS VALIDATE -->
    <br/>
    <div class="alert alert-success" role="alert">
      <strong>Merci d'avoir validé votre adresse email chez Karibou!</strong> <br/>
      Vous pouvez fermer cette fenêtre et poursuivre vos achats</a>.
    </div>

    <div class="text-center">
      <i class="fa fa-heart-o fa-4x grayx"></i>
    </div>


    <!-- FOOTER -->              
<!--     <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
 -->
   </section>
</div>
