<div tabindex="-1"   class="container" ng-controller="AccountCtrl" style="margin-top:50px;">
  

  <aside ng-include="'/partials/account/cover.html'" 
         class="cover cover-home img-loaded hide" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>

  <section class="" tabindex="-1" ng-controller="WalletCtrl">
      <div class="row"  ng-init="loadMyWallet();">
        <!--                               -->
        <!-- WALLET                        -->
        <!--                               -->

        <div>
          <h4 class="article-group-title black">Offrez de l'alimentation de qualité</h4>
          <p class="help-block ">
            Offrez une carte-cadeau et devenez un ambassadeur de Karibou. 
          </p>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3 nopadding text-center">
          <img src="/img/payments/giftcode.png" style="max-width:190px;width:100%;margin-top:20px">
        </div>
        <div class="col-xs-12 col-md-8 col-lg-8 ">
          <br/>
          <form>
            <div class="form-group well ">
              <div class="text-center-">Offrez karibou!
              Offrez du vin, des légumes BIO, du fromage, un tiramisu et bien plus encore avec la Carte Cadeau Karibou.
              Cette Carte Cadeau, dont vous pouvez choisir le montant, peut être utilisée pour l’achat de n’importe quel article chez Karibou.
              </div>
            </div>


            <div class="form-group" ng-show="user.isAuthenticated()">

              <label >Votre adresse email</label>
              <input type="email" class="form-control"  ng-model="user.email.address" disabled="true">
            </div>

            <div class="form-group" >
              <label>La carte cadeau vous sera envoyée par e-mail au moment de l'achat. Vous pourrez ensuite l'offrir au destinataire de votre choix.</label>
              <input type="email" class="form-control hide"  placeholder="Email destinataire" ng-model="giftcode.dest">
              <p class="help-block hide">Cette entrée n'est pas obligatoire</p>
            </div>

            <!-- MORE OPTIONS -->
            <div class="form-group ">
              <div class="checkbox">
                <label>
                  <input type="checkbox"  ng-model="giftcode.print">
                  Impression  - Je souhaite recevoir par poste une version imprimée que je peux offrir. (+ 1 fr)
                </label>
              </div>              
            </div>

            <!-- ANONYMOUS -->
            <div class="form-group" ng-show="!user.isAuthenticated()">
              <div class="alert alert-info" role="alert">
                <i class="fa fa-info-circle"></i> Pour acheter une carte vous devez <a ng-click="referrer='/wallet/create'" href="/login">ouvrir une session.</a>
              </div>
            </div>

            <div ng-if="user.isAuthenticated()">
            <div class="form-group hide" ng-show="giftcode.dest">
              <input type="text" class="form-control"  placeholder="Le nom du destinataire" ng-model="giftcode.name">
              <textarea class="form-control" rows="3" 
                        placeholder="Message à envoyé" ng-model="giftcode.msg"></textarea>              
              <div class="help-block">
                <i class="fa fa-info-circle"></i> La taille du message est limitée à quelques mots.
              </div>
            </div>
            <div class="form-group">
              <label >Choisir le montant (CHF)</label>
              <select class="form-control" ng-model="giftcode.amount" >
                <option>50</option>
                <option>70</option>
                <option>100</option>
                <option>150</option>
                <option>200</option>
                <option>300</option>
                <option>600</option>
              </select>
            </div>

            <div class="form-group" >
              <label >Choisir le mode de paiement</label>
              <select class="form-control" 
                      ng-model="giftcode.payment"
                      ng-options="(payment.issuer+' '+payment.name) for payment in user.payments|reverse|filter:{issuer:'!invoice'}">
              </select>
            </div>

            <div class="form-group" ng-if="!hasMethod(user,'visa mastercard american express paypal ')">
              <a ng-click="options.showCreditCard=!options.showCreditCard" class="" href="#">
                <i class="fa fa-info-circle red"></i> Vous n'avez pas de carte de crédit. Ajouter une carte de crédit.
              </a>
              <div ng-include="'/partials/order/payment-card.html'" 
                   ng-if="options.showCreditCard">
              </div>
            </div>

            <div ng-show="giftcode.amount&&giftcode.payment" class="form-group well">
              Vous êtes sur le point d'acheter une carte cadeau d'une valeur de <b>{{giftcode.amount}} fr</b> <span class="elm">(total {{giftcode|giftCodeTotal:true}} avec les frais de transaction <span ng-show="giftcode.print"> et l'envoi de la carte imprimée</span>)</span>.
            </div>


            <div class="form-group">
              <input type="checkbox"  value="true" ng-model="giftcode.cg">
              J'ai lu et j'accepte <a ng-href="/page/conditions-generales">les conditions générales de vente.</a>
            </div>

            <button ng-click="createGiftcode(giftcode)" 
                    class="btn btn-default btn-block btn-info btn-lg"
                    ng-disabled="!giftcode.cg||!giftcode.payment||!giftcode.amount||!user.isReady()||WaitText">
              <i class="fa fa-gear" ng-class="{'fa-spin':WaitText}"></i> C'est parti!
            </button>
            </div>
          </form>
          
        </div>




        <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>
