<div tabindex="-1" class="screen-content" ng-controller="AccountCtrl">
  

  <section class="wrapper" tabindex="-1" ng-controller="WalletCtrl">
      <div class="wrapper-inner"  ng-init="loadMyWallet()">

        <!--                               -->
        <!-- WALLET                        -->
        <!--                               -->

        <div>
          <h4 class="article-group-title black">L'état de votre compte commercial</h4>
        </div>

        <div class="">
          <label class="control-label bold ">&nbsp;Votre compte privé</label>
          <table class="table table-condensed">
            <tr><td>Solde</td><td class="text-right">{{wallet.balance/100|number:2}} Fr</td></tr>
            <tr><td>Création</td><td class="text-right text-muted">{{wallet.created|dateMomentShort}}</td></tr>
            <tr><td>Modification</td><td class="text-right text-muted">{{wallet.updated|dateMomentShort}}</td></tr>
          </table>

          <!-- TRANSACTIONS -->
          <label class="control-label bold">&nbsp;Les transactions</label>
          <table class="table table-condensed small">
            <tr ng-show="!wallet.transactions.length">
              <td class="text-muted" colspan="2">aucune à ce jour</td>
            </tr>
            <tr class="text-muted" ng-repeat="tr in wallet.transactions"><td colspan="2">{{tr.logs[tr.logs.length-1]}}</td></tr>
          </table>


          <!-- TRANSFERS -->
          <label class="control-label bold " >&nbsp;Les transferts</label>
          <table class="table table-condensed small" >
            <tr class="hide"><td >Transfert en attente</td><td class="text-right">0 Fr</td></tr>
            <tr ng-show="!wallet.transfers.length">
                <td class="text-muted" colspan="2">aucun à ce jour</td>
            </tr>
            <tr class="text-muted" ng-repeat="tr in wallet.transfers"><td colspan="2">{{tr.logs[0]}}</td></tr>
          </table>

          <!-- GIFTCARD -->
          <label class="control-label bold " >&nbsp;Vos cartes cadeaux</label>
          <table class="table table-condensed small" ng-init="loadMyGiftcards()">
            <tr ng-show="!giftcards.length">
                <td class="text-muted" colspan="2">aucune à ce jour</td>
            </tr>
            <tr ng-repeat="gc in giftcards|reverse"><td>
            <span ng-show="gc.card.registeredTo" class="text-strike grayx">{{gc.card.number||gc.card.last4}} (utilisée)</span>
            <span ng-hide="gc.card.registeredTo">{{gc.card.number||gc.card.last4}} (ouverte - {{(gc.balance/100).toFixed(2)}} fr)</span>
            </td><td class="text-right">{{gc.card.expiry|formatExpiry}}</td></tr>
          </table>

          <hr/>
          <div class="well">
            <h4>Recharger votre compte</h4>
            <ul class="">
              <li><i class="fa fa-caret-right"></i> <a class="" href="/account/payment?gift=%20 " >Ajouter une carte cadeau sur votre compte</a> </li>
              <li class="hide"><i class="fa fa-caret-right"></i> Avoir <a href="/page/how-to-create-value"> une activité reconnue comme étant de «valeur» par les utilisateurs</a> de karibou.ch </li>
              <li><i class="fa fa-caret-right"></i> Effectuer un virement bancaire sur le compte karibou.ch (*)</li>
            </ul>
          
          </div>
  
          <hr/>
          <div  class="clearfix">
            <div class="well well-sm payment-bvr col-xs-12 " >
              <div class="cart col-xs-12 col-sm-8" >
                <h4>Compte bancaire de karibou.ch</h4>
                Karibou Delphine et Olivier Evalet,<br/>
                34 route de Chêne<br/>
                CH-1208<br/>
                CH7609000000146156438
              </div>
              <div class="cart col-xs-6 col-sm-4">
                <div>
                  <span>compte</span>
                  <div>14-615643-8</div>
                </div>
                <div>
                  <span>Motif versement <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Cette information est importante pour automatiser le transfert"></i></span> 
                  <div>{{user.bvr}}</div>    
                </div>
              </div>
              <hr/>
            </div>
          </div>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <b>[*]</b> Veuiller nous confirmer le transfert bancaire par <a href="mailto:hello@karibou.ch">mail</a> pour accelérer la mise à jour de votre porte monnaie, merci!
          </div>
        </div>



        <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>
