
<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="getCover()" class=" cover cover-home cover-category img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1" ng-controller="HomeCtrl">
      <div class="wrapper-inner" >

        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts ">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title active hidden-sm" >
                    <a href="/products" title="Les produits"><span class="bucket-header-title">Le marché</span> </a>
                  </h5>
                  <h4 class="bucket-sub-title " clockdown="Prochaine livraison "></h4>

               </nav>
            </div>
         </div>






        <!-- ONE RANDOM SHOPS -->
        <div  class="nopadding col-xs-12  " style="background-color:transparent" 
              ng-static-include="'/partials/shop/shop.html'"  
              ng-repeat="shop in shops|randomFilter:1" 
              ng-if="shop.name">
        </div>              

        <!-- MAILING EVENT -->
        <div class="col-xs-12 col-lg-12 form-inline kb-card-info last-child " >
            <div class=" kb-card-content text-center">
              <span>Ensemble ils construisent un marché en ligne!</span><br/>
              Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte! <a href="/shops">Découvrez leur boutiques</a>!
            </div>
        </div>

        <div class="tagline col-xs-12 text-center">
          <img src="/img/tagline-k.png" style="width:250px" />
        </div>

        <!-- CAMPAIGN -->
        <div class="col-xs-12 col-lg-12 nopadding hidden-xs" >
            <div class=" text-center" style="margin:50px 0;">
              <div><i class="fa fa-gift pink"></i> Notre campagne de fin d'année, <b>100 promesses d'achats!</b></div>
              <a href="/wallet/create">Offrez des cartes cadeaux à votre famille, à vos amis, a vos collègues, et même à vous!</a>


              <div class="progress" style="border-radius:8px;width:98%;background-color:#dbd0c3;height:10px">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{campaign.quatity}}%;">
                </div>
              </div>                


            </div>
        </div>

        <!-- LOVES & POPULAR -->
        <article  ng-if="loves.length&&config.shop.home.love" style="width:103%"> 
          <h5 class="article-group-title ">
            <span class="gray">Mes produits préférés</span>
            <a ng-href="/account/love" class="btn btn btn-category green-1">Voir Plus &nbsp;<i class="fa fa-angle-right"></i></a>
          </h5>
          <p class="bucket-sub-title" style="margin-top:-15px">Produits les plus achetés et mes «J'aime»</p>

          <div  ng-static-include="'/partials/product/product.html'"  
                ng-repeat="product in loves|leanProducts:8|orderBy:['categories.weight','-updated']"/>
        </article>

        <!-- CHRISTMAS OR SELECTION -->
        <article  ng-if="config.shop.home.path" style="width:103%" ng-init="displayBundle()"> 
          <h5 class="article-group-title ">
            <span class="gray">{{bundle.title}}</span>
            <a ng-href="/content/{{config.shop.home.path}}" class="btn btn btn-category bold green-1">Voir Plus &nbsp;<i class="fa fa-angle-right"></i></a>
          </h5>
          <p class="bucket-sub-title" style="margin-top:-15px">{{bundle.header}}</p>

          <div  ng-static-include="'/partials/product/product.html'"  
                ng-repeat="product in bundle.products|limitTo:4|orderBy:['categories.weight','-updated']"/>
        </article>


        <!-- PRODUCTS -->
        <div infinite-scroll='loadNextPage()'  
             infinite-scroll-distance='1'
             class="row wrapheight" >
     


            <article  ng-repeat="group in keys(infinite)"  ng-if="infinite[group].length" style="width:103%"> 
              <h5 class="article-group-title ">
                <span class="gray">{{group}}</span>
                <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}}"></i>
                <a ng-href="/products/category/{{category.find({name:group}).slug||''}}" class="btn btn btn-category green-1 bold">Voir Plus &nbsp;<i class="fa fa-angle-right"></i></a>
              </h5>

              <div  ng-static-include="'/partials/product/product.html'"  
                    ng-repeat="product in infinite[group]|orderBy:['-updated']" />
            </article>
        </div>
              

        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>


