


 <div class="container" tabindex="-1" ng-controller="HomeCtrl" >

      <!--                               -->
      <!-- CATEGORIES PRODUITS/BOUTIQUES -->
      <!--                               -->
                        
       <div  class="bucket post-bucket homepage-posts">
          <div class="bucket-header bucket-header-list show-subtitles-variant">
             <nav class="bucket-sort text-center">
                <h5 class="bucket-title active " >
                  <a class="bucket-header-title"><span class="bucket-header-title"> Mes produits préférés&nbsp;<i class="fa fa-heart-o pink smallx "></i></span> </a>
                </h5>
             </nav>
          </div>
       </div>

      <!-- PRODUCTS -->
  <div infinite-scroll='loadNextPage({love:true})'  
       infinite-scroll-disabled='scrollBusy'
       infinite-scroll-distance='1'
       class="row wrapheight" >

<!--        <article  ng-repeat="category in category.findAll()|filter:{type:'Category',active:true}|orderBy:'weight'" style="width: 103%;" > 
 -->
        <article  ng-repeat="cat in getAvailableCategories()" style="width: 103%;" > 
          <h4 class="article-group-title black no-border " ng-if="cat.active">
            <span class="gray">{{cat.name}} </span>
            <a ng-href="/products/category/{{cat.slug||''}}" class="btn btn btn-category green bold ">Voir Plus &nbsp;<i class="fa fa-angle-right"></i></a>                
          </h4>
          <div  ng-static-include="'/partials/product/product.html'"  ng-if="cat.active"
                ng-repeat="product in getProductsByCat(cat.name)|orderBy:['updated']"/>
        </article>


    </div>
</div>


