
<div tabindex="-1"  id="null" class="screen-content">
  <aside ng-include="getCover()" 
         class="  cover cover-home img-loaded" ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">

        <!--                               -->
        <!-- CATEGORIES PRODUITS/BOUTIQUES -->
        <!--                               -->
                          
         <div  class="bucket post-bucket homepage-posts">
            <div class="bucket-header bucket-header-list show-subtitles-variant">
               <nav class="bucket-sort">
                  <h5 class="bucket-title active" >
                    <a class="bucket-header-title"><span class="bucket-header-title"> Mes produits préférés&nbsp;<i class="fa fa-heart-o pink smallx "></i></span> </a>
                  </h5>
                  <p class="bucket-sub-title" style="">Produits les plus achetés et mes «J'aime»</p>
               </nav>
            </div>
         </div>

        <!-- PRODUCTS -->
        <div ng-controller="HomeCtrl" class="row wrapheight" ng-init="findAllUserLoves()">
          <article  ng-repeat="(group,products) in products|groupBy:'categories.name'"  style="width: 103%;"> 
            <h4 class="article-group-title black " >
              {{group}}
              <i class="{{category.find({name:group}).image||''}} {{category.find({name:group}).color||gray}}"></i>
            </h4>

            <div  ng-include="'/partials/product/product.html'"  ng-repeat="product in products|orderBy:['updated']"/>
          </article>
          <button class="btn btn-default btn-lg btn-block " ng-click="cart.addList(products)" ng-disabled="!products.length">
            Commander la liste complète
          </button>          
        </div>

              

        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>


