<div class="container-menu menu-small hide " app-affix="0"
    style="z-index:1">
  <ul>
    <li class="dropdown-header">Navigation</li>
    <li><a href="/">Le marché</a></li>
    <li ng-show="user.isAuthenticated()"><a href="/account/love">
      Mes produits </a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Alimentation</li>
    <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',active:true}|orderBy:'weight'" ng-if="!category.group">
      <a ng-class="getClass('/products/category/{{category.slug}}')"
         href="/products/category/{{category.slug}}" 
         ga-send="{category:'navigation',action:'navigation-left'}"
         tabindex="-1">{{category.name}}</a>
    </li>
  </ul>
  <ul>
    <li class="dropdown-header">Boissons</li>
    <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',group:'Boissons',active:true}|orderBy:'weight'">
      <a ng-class="getClass('/products/category/{{category.slug}}')"
         href="/products/category/{{category.slug}}" tabindex="-1">{{category.name}}</a>
    </li>
  </ul>
  <ul>
    <li class="divider"></li>
    <li class="dropdown-header">Autres</li>
    <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category',group:'Autres',active:true}|orderBy:'weight'">
      <a ng-class="getClass('/products/category/{{category.slug}}')"
         href="/products/category/{{category.slug}}" tabindex="-1">{{category.name}}</a>
    </li>
    <li>
      <a href="/wallet/create">Acheter une carte cadeau</a>
    </li>
  </ul>
</div>
