  <!-- old v. https://bitbucket.org/evaletolab/karibou/src/3ccbf5f009d25dd8e61b720e5dfb13160494b915/app/partials/product/product.html?fileviewer=file-view-default -->
  <!-- microformat http://schema-creator.org/product.php -->
  <div  class="block layout-item c1" 
        itemscope itemtype="http://schema.org/Product" 
        product-state="product" product-state-quantity=".cart-info-quantity">

            
      <!-- BY DIRECTIVE -->
      <div class="actions" >
          <!-- WHY THIS IS NOT WORKING HERE? TWO INSTANCES IN THE SAME PARENT SCOPE?? --> 
          <!-- <cart-button  ng-model="product" bt-class="btn-transparent green hidden-lg" bt-small/> -->

        <a class="btn btn-cart-add btn-cart-remove" 
             ng-click="cart.remove(product)" 
             block-on-click="{on:'fa-ellipsis-h',off:'fa-minus'}">
          <i class="fa fa-2x" ></i>
        </a>
        <div class="cart-info-quantity" ></div>
        <a class="btn btn-cart-add  pull-right" 
           ng-click="cart.add(product)" block-on-click>
          <i class="fa fa-2x"></i>
        </a>

        <div class="btn-group pull-right action-variant" >
          <a class="btn btn-cart-add dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-2x fa-plus"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><span>Choisir une option</span></li>
            <li ng-repeat="variant in product.variants">
              <a href="#" ng-click="cart.add(product,variant.title)">{{::variant.short}}</a>
            </li>
          </ul>                    
        </div>
      </div>


      <!-- PRODUCT LINK -->
      <a  ng-href="{{::shop.urlpath|test:'/shop/':''}}/products/{{::product.sku}}/{{product.slug}}" 
          shop="/shop/{{::product.vendor.urlpath}}" 
          class="link relative"   itemprop="url">

          <!-- PHOTO -->
          <img bg-src="{{product.photo.url}}" bg-small="true" class="product-photo">

          <!-- NOT AVAILABLE http://placehold.it/275x230/eeeeee/000000&text=indisponible -->
          <img ng-src="/img/product-not-available.gif" class="available">

          <!-- NOT IN STOCK http://placehold.it/275x230/eeeeee/000000&text=plus+en+stock-->
          <img ng-src="/img/product-stock.gif" class=" stock">


          <!-- PRICE-->
          <div class="price" itemprop="price">
            <!-- REGULAR -->
            <span class="off-discount small green bold ">Fr <span class="product-price"></span></span>
            <!-- DISCOUNT -->
            <span class="on-discount">
              <span class="red bold strike product-price"> </span>
              <span class="green bold small">Fr <span class="product-discount"></span></span>
            </span>                 
            <div class=" em product-part" style="margin-top:-3px;"> </div>
          </div>
          <!-- PRICE-->          

          <!-- BIO -->

          <!-- ADM LIST -->
          <div class="btn-group product-document" >
            <a class="btn btn-cart-plus btn-xs dropdown-toggle" data-toggle="dropdown">
              <i class="fa -fa-2x fa-file-text-o"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><span>Choisir un document</span></li>
              <li ng-repeat="doc in user.documents">
                <a href="#" ng-click="updateUserDocument(doc,product.sku)">{{::doc.title.fr}}</a>
              </li>
            </ul>                    
          </div>

        </a>

        <div class="vertical-divider product-bottom hidden-xs" >
          <div ng-show="product.details.bio" class="bio bold"><i class="fa fa-leaf"></i> bio</div>
          <div ng-show="product.details.natural" class="bio bold"><i class="fa fa-leaf"></i></div>

          <a class="title " itemprop="name" ng-href="{{::shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}/{{product.slug}}" >
            <span class="product-title"></span>
          </a>
          <div ng-click="love(product)" >
            <i class=" love off-love fa fa-heart-o"></i> 
            <i class=" love  on-love fa fa-heart pink1"></i> 
          </div>

          <!-- VENDOR-->
          <div class="row-fluid vertical-divider border product-vendor " >
            <div ng-show="product.vendor" >
              <span  ng-show="product.vendor.photo.owner" >
                <img ng-src="{{::product.vendor.photo.owner}}-/resize/100x/"  alt="160x160" class="shop-owner" >
              </span>
              <!-- CLOSE-->
              <div class="closed" >
                <i class="fa fa-info fa-2x"></i> 
              </div>

            
              <span class="shop-title-prefix"  >Vendu par</span>
              <a class="shop-title product-vendor-name" 
                 ng-href="/shop/{{::product.vendor.urlpath}}"
                 ga-send="{category:'navigation',action:'shop-product'}"></a>
            </div>              
          </div>
          <!-- VENDOR-->          
        </div>       
  </div>

