<div  tabindex="-1"  ng-controller="HomeCtrl" ng-class="{'user':user.isAuthenticated()}"
      style="margin-top: 50px;outline: none;">

    <!--                               -->
    <!-- TITLE -->
    <!--                               -->
    <div class="products-header hide" 
         backstretch="category.getCurrent().cover">
    </div>
                      

    <!-- PRODUCTS -->
    <div infinite-scroll='loadNextPage()'  
         infinite-scroll-disabled='scrollBusy'
         infinite-scroll-distance='1'
         class="container-fluid" >

<!--       <div class="col-xs-3 relative hidden-xs " ng-include="'/partials/product/product-navigation.html'">
      </div>
 -->
      <div class="col-xs-12 -col-sm-9 nopadding-xs">
        <article  ng-repeat="vendor in getAvailableShop()" >
          <div class="home-shop  " >
            <img ng-src="{{vendor.photo.owner}}-/resize/100x/"  alt="160x160"  >
            <a ng-href="/shop/{{vendor.urlpath}}" class="black">{{vendor.name}}</a>                
          </div>

          <div class="" style="width:103%">

            <div  ng-static-include="'/partials/product/product.html'"  
                  ng-repeat="product in getProductsByShop(vendor.urlpath)|orderBy:'updated'" />           
          </div>
        </article>
      </div>
      

    </div>            
</div>

   