<div class="product-listing" data-id="519fe001ea2dde02000000bc">
  <div class="photos">
    <a class="photo-container" rv-product-listing-on-click="showLoading" href="/sfbay/chalkhillcookery/dark-chocolate-macaroons-large/519fe001ea2dde02000000bc">
      <img class="photo" src="//goodeggs1.imgix.net/product_photos/WjZnTW6iSACwQMmRibXP_FK1A4732.jpg?w=380&amp;h=238&amp;fm=jpg&amp;q=41&amp;fit=crop">
    </a>
    <div class="requires-all-js quick-add">
      <div class="quantity-summary" rv-product-listing-class-show="basketItem.quantity | gt 0">
        <i class="icon icon-basket-added">
          <span rv-product-listing-text="basketItem.quantity">
          </span>
        </i>
      </div>
      <button class="remove btn transient-control" rv-product-listing-class-show="basketItem.quantity | gte 1" rv-product-listing-class-animate="animateReady" rv-product-listing-on-click="quickAdd.remove">
        <i class="icon icon-minus"></i>
      </button>
      <button class="add btn transient-control" rv-product-listing-on-click="quickAdd.add">
        <span>+</span>
      </button>
      <div class="quick-add-count transient-control hidden" rv-product-listing-class-hidden="showCount | negate" rv-product-listing-class-animate-new="animate | is new" rv-product-listing-class-animate-remove="animate | is remove" rv-product-listing-class-animate-scroll-up="animate | is scroll-up" rv-product-listing-class-animate-scroll-down="animate | is scroll-down">
        <div class="quantity">
          <div></div>
          <div></div>
        </div>
        <div class="label">added</div>
      </div>
    </div>
    <a class="photo-circle vendor-photo" rv-product-listing-on-click="showLoading" href="/sfbay/chalkhillcookery/dark-chocolate-macaroons-large/519fe001ea2dde02000000bc">
      <img class="thumb" src="//goodeggs2.imgix.net/vendor_photo/03qoMYwbRRWem2WP7lHP_matteo.jpg?w=76&amp;h=76&amp;fm=jpg&amp;q=41&amp;fit=crop&amp;crop=faces">
    </a>
  </div>
  <div class="listing-details">
    <a class="vendor-name" href="/chalkhillcookery">Chalk Hill Cookery</a>
    <div class="availability-container">
      <div class="next-available-day">
        <span class="product-availability-status next-foodhub-day" rv-product-listing-on-click="toggleAvailabilityExplanation">
          <div class="indicator"></div>sat</span>
        <span class="availability-explanation">
          Next available day for delivery
          <span class="question-mark">?</span></span>
      </div>
    </div>
    <h5 class="name">
      <a class="link" href="/sfbay/chalkhillcookery/dark-chocolate-macaroons-large/519fe001ea2dde02000000bc">
        Dark Chocolate Macaroons (Large)</a>
    </h5>
    <div class="pricing-details clearfix">
      <div class="icon icon-deal-tag" rv-product-listing-on-mouseenter="showDealDetail" rv-product-listing-on-mouseleave="hideDealDetail">
      </div>
      <div class="price-detail-box">
        <div class="flyout-box">
          <div class="flyout">
          </div>
        </div>
      </div>
      <div class="purchase-price">
        <div class="price usd split">
          <span class="dollars">
            13
          </span>
          <span class="cents">
            99
          </span>
        </div>
      </div>
      <div class="comparison">
        <span class="price-per">
          $13.99 
        </span>
        / 
        <span class="per-unit">
          8 oz
        </span>
      </div>
      <div class="purchase-unit">
        1 bag
      </div>
    </div>
  </div>
</div>