  <!-- old v. https://bitbucket.org/evaletolab/karibou/src/3ccbf5f009d25dd8e61b720e5dfb13160494b915/app/partials/product/product.html?fileviewer=file-view-default -->
  <!-- microformat http://schema-creator.org/product.php -->
  <div  class="block layout-item c1" 
        itemscope itemtype="http://schema.org/Product" 
        product-state="product" product-state-quantity=".cart-info-quantity">

            
      <!-- BY DIRECTIVE -->
      <div class="actions" >
          <!-- WHY THIS IS NOT WORKING HERE? TWO INSTANCES IN THE SAME PARENT SCOPE?? --> 
          <!-- <cart-button  ng-model="product" bt-class="btn-transparent green hidden-lg" bt-small/> -->

        <a class="btn btn-cart-add btn-cart-remove" 
             ng-click="cart.remove(product)" >
          <i ng-class="{'fa fa-ellipsis-h fa fa-2x':CartText, 'fa fa-minus fa fa-2x ':!CartText}"></i>
        </a>
        <div class="cart-info-quantity" ></div>
        <a class="btn btn-cart-add  pull-right" 
           ng-click="cart.add(product)">
          <i ng-class="{'fa fa-ellipsis-h fa fa-2x':CartText, 'fa fa-plus fa fa-2x ':!CartText}"></i>
        </a>

        <div class="btn-group pull-right action-variant" >
          <a class="btn btn-cart-add dropdown-toggle" data-toggle="dropdown">
            <i ng-class="{'fa fa-ellipsis-h fa fa-2x':CartText, 'fa fa-plus fa fa-2x ':!CartText}"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><span>Choisir une option</span></li>
            <li ng-repeat="variant in product.variants">
              <a href="#" ng-click="cart.add(product,variant.title)">{{::variant.short}}</a>
            </li>
          </ul>                    
        </div>
      </div>


      <!-- PRODUCT LINK -->
      <a  ng-href="{{shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}/{{product.slug}}" 
          shop="/shop/{{product.vendor.urlpath}}" 
          class="link"   itemprop="url">

          <!-- PHOTO -->
          <img bg-src="{{product.photo.url}}" bg-small="true" class="product-photo">

          <!-- NOT AVAILABLE http://placehold.it/275x230/eeeeee/000000&text=indisponible -->
          <img ng-src="/img/product-not-available.gif" class="available">

          <!-- NOT IN STOCK http://placehold.it/275x230/eeeeee/000000&text=plus+en+stock-->
          <img ng-src="/img/product-stock.gif" class=" stock">


          <!-- PRICE-->
          <div class="price" itemprop="price">
            <!-- REGULAR -->
            <span class="off-discount small green bold ">Fr {{::product.pricing.price| number:2}}</span>
            <!-- DISCOUNT -->
            <span class="on-discount">
              <span class="red bold strike"> {{::product.pricing.price| number:2}}</span>
              <span class="green bold small">Fr {{::product.pricing.discount| number:2}}</span>
            </span>                 
            <div class=" em" style="margin-top:-3px;">{{::product.pricing.part}} </div>
          </div>
          <!-- PRICE-->          
        </a>

        <div class="vertical-divider product-bottom" style="width:100%">
          <a class="title " itemprop="name" ng-href="{{::shop.urlpath|test:'/shop/':''}}/products/{{product.sku}}/{{product.slug}}" >
            {{::product.title}} <span ng-show="product.details.bio" class="green-2 bold"><i class="fa fa-leaf"></i> bio</span>
          </a>
          <div ng-click="love(product)" >
            <i class=" love off-love fa fa-heart-o"></i> 
            <i class=" love  on-love fa fa-heart pink1"></i> 
          </div>

          <!-- VENDOR-->
          <div class="row-fluid vertical-divider border product-vendor hidden-xs" >
            <div ng-show="product.vendor" >
              <span  ng-show="product.vendor.photo.owner" >
                <img ng-src="{{product.vendor.photo.owner}}-/resize/100x/"  alt="160x160" class="shop-owner" >
              </span>
              <!-- CLOSE-->
              <div class="closed" >
                <i class="fa fa-info fa-2x"></i> 
              </div>

            
              <span class="shop-title-prefix"  >Vendu par</span>
              <a class="shop-title " 
                 ng-href="/shop/{{product.vendor.urlpath}}"
                 ga-send="{category:'navigation',action:'shop-product'}">{{::product.vendor.name}}</a>
            </div>              
          </div>
          <!-- VENDOR-->          
        </div>       
  </div>

