<div tabindex="-1"  id="null" class="screen-content">
  <aside class=" cover cover-home cover-category img-loaded" ng-class="{'session':user.isAuthenticated()}">
	  <div class="cover-body hide">
	    <!-- HOME -->
        <img src="img/k-big.png" class="cover-logo " />
	     <div  class="cover-body-inner strong ">
	        <div class="cover-actions">
	          <a href="/signup" class="btn btn-success btn-lg btn-new-post">
	            <span class="icons icons-new-post"></span>Inscrivez-vous</a><span class="white">ou <a href="/login" class="white">Login</a></span></div>
	     </div>
	  </div>

  </aside>


   <section class="wrapper" tabindex="-1" ng-controller="ContentCtrl">
     <div class="wrapper-inner markdown">

			<markdown markdown-slug="{{article}}" ></markdown>
			<div class="clearfix">
				<hr/>
				<button class="btn btn-primary pull-right btn-xs" edit-markdown="{{article}}">Improve this page</button>
			</div>
		</div>
	</section>
</div>