<div id="welcome">
    <div class="btn-header-top">
        <a class="btn btn-md btn-outline " href="/" ng-click="onWelcome()">
            <i class="fa fa-close"></i> 
        </a>        
    </div>
    <header>
        <div class="container">
            <div class="row">
                <div class="" style="position:relative">
                    <div class="intro-text hidden-xs">
                        <span class="name ">Karibou marketplace</span>
                    </div>
                    <img class="img-responsive" src="/img/macbook-pro-anais.jpg" alt="">
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-gray">
                    <h3>Karibou, une place de marché qui souhaite favoriser l'économie locale et le savoir-faire d'individus passionnés qui se réunissent pour vous proposer des produits frais et savoureux!</h3>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- LE MARCHE -->
            <div class="row">
                <div class="col-lg-12 text-center text-gray">
                    <h3>Avec notre application, les boutiques sont disponibles en ligne.</h3>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 ">
                    <img src="img/portfolio/e1.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 ">
                    <img src="img/portfolio/e2.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 ">
                    <img src="img/portfolio/e6.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 ">
                    <img src="img/portfolio/e4.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 ">
                    <img src="img/portfolio/e5.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-xs-4 col-sm-2 portfolio-item">
                    <a href="/shops" class="portfolio-link " data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x hide"></i>
                            </div>
                        </div>
                        <img src="//placehold.it/400x400/eeeeee/18bc9c&amp;text=boutiques" class="img-responsive img-circle " alt="">
                    </a>
                </div>
            </div>
            <hr/>
            <!-- LES COURSES -->
            <div class="row ">
                <div class="col-lg-12 text-center icon-placing text-gray">
                    <h3>Vous commandez les produits que vous souhaitez et choisissez une date de livraison.</h3>
                    <i class="fa fa-mobile  fa-5x"></i>
                    <i class="fa fa-tablet fa-rotate-270 fa-5x"></i>
                    <i class="fa fa-desktop  fa-5x"></i>
                    <hr>
                </div>

            </div>

            <!-- LA LIVRAISON -->
            <div class="row">
                <div class="col-lg-12 text-center text-gray">
                    <h3>Vous habitez ou travaillez en Ville de Genève ? Nos cyclistes vous livreront à l'adresse choisie tous les mardi et vendredi.</h3>
                    <i class="fa fa-bicycle fa-5x "></i>
                    <hr>
                </div>
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-success" ng-click="onWelcome()">
                        <i class="fa fa-rocket"></i> Faites votre marché!
                    </a>
                    <hr class="" />
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center small hide">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/page/la-charte">La Charte</a> <a href="/page/conditions-generales">Conditions générales</a> <a href="/page/team">Contact</a> <a href="">Copyright &copy; Karibou</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<!--     <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary " href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
 -->
</div>