<section id="content" ng-controller="CategoryCtrl" class="container">
    <h2 class="text-center sexy" id="section-header">Gestion des catégories</h2>
    <br/>
    <div ng-include="'/partials/account/navigation.html'"></div>
      <div class="frame frame-white container">
      <div ng-show="FormErrors" class="alert alert-error">
        {{FormErrors}}
      </div>    
      <div ng-show="FormInfos" class="alert alert-info">
        {{FormInfos}}
      </div>
      <!-- FORM -->
      
        <form nonvalidate name="form" class="form-horizontal nomargin">
          <fieldset>
            <h3 class="box">Choisir une catégorie</h3>        
            <!-- SELECT -->
            <div class="control-group">
              <div class="controls">
                <select ui-select2 ng-model="categoryslug"  ng-change="selectCategory()" 
                  data-placeholder="Choisir une catégorie" style="width:300px">
                  <option></option>
                  <option ng-repeat="cat in categories" value="{{cat.slug}}">{{cat.name}}</option>
                </select>      
              </div>
            </div>
            <div ng-show="categoryslug">
              <!-- NAME -->
              <div class="control-group">
                <label for="name" class="control-label"><b>Nom</b>&nbsp;</label>
                <div class="controls">
                  <input name="name" ng-model="selected.name" type="text" required="true"  class="span6"/>          
                </div>  
              </div>

              <!-- SLUG -->
              <div class="control-group">
                <label for="name" class="control-label"><b>Slug</b>&nbsp;</label>
                <div class="controls">
                  <span class="gray">{{selected.slug}}</span6>          
                </div>  
              </div>

              <!-- GROUP -->
              <!-- 
              <div class="control-group">
                <label for="group" class="control-label"><b>Groupe</b>&nbsp;</label>
                <div class="controls">
                  <input name="group" ng-model="selected.group" type="text"   class="span6"/>          
                </div>  
              </div>
              -->
              <!-- IMAGE -->
              <div class="control-group">
                <label for="group" class="control-label"><b>Image</b>&nbsp;</label>
                <div class="controls">
                  <input name="group" ng-model="selected.image" type="text"   class="span2"/>          
                </div>  
              </div>
              <!-- COLOR -->
              <div class="control-group">
                <label for="group" class="control-label"><b>Color</b>&nbsp;</label>
                <div class="controls">
                  <input name="group" ng-model="selected.color" type="text"   class="span2"/>          
                </div>  
              </div>


              <!-- DESC -->
              <div class="control-group">
                <label for="des" class="control-label"><b>Description</b>&nbsp;</label>
                <div class="controls">
                  <input name="des" ng-model="selected.description" type="text"   class="span11"/>          
                </div>  
              </div>
              <!-- TYPE -->
              <div class="control-group">
                <label for="type1" class="control-label"><b>Type</b>&nbsp;</label>
                <div class="controls">
                  <label class="radio inline">
                    <input type="radio" name="type" ng-model="selected.type" value="{{config.shop.category.types[0]}}" checked="checked">
                    {{config.shop.category.types[0]}}
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="type" ng-model="selected.type" value="{{config.shop.category.types[1]}}" >
                    {{config.shop.category.types[1]}}
                  </label>
                </div>  
              </div>

              <div class="control-group actions">
                <input type="button" ng-click="categoryslug=null" value="Annuler" class="btn  btn-large"/>
                <input type="button" ng-click="delete(selected)" value="Suppprimer" class="btn  btn-large"/>
                <input type="submit" ng-click="save(selected)" value="Enregister" class="btn btn-success btn-large"/>
              </div>              
            </div>
          </fieldset>
        </form>
        <div ng-hide="categoryslug">
          <form nonvalidate name="form" class="form-horizontal nomargin">
              <!-- NAME -->              
              <div class="control-group">
                <label for="name1" class="control-label"><b>Nom</b>&nbsp;</label>
                <div class="controls">
                  <input name="name1" ng-model="category.name" type="text" required="true"  class="span6"/>          
                </div>  
              </div>

              <!-- GROUP -->
              <!-- 
              <div class="control-group">
                <label for="group1" class="control-label"><b>Groupe</b>&nbsp;</label>
                <div class="controls">
                  <input name="group1" ng-model="category.group" type="text"  class="span6"/>          
                </div>  
              </div>
              -->
              <!-- IMAGE -->
              <div class="control-group">
                <label for="group" class="control-label"><b>Image</b>&nbsp;</label>
                <div class="controls">
                  <input name="group" ng-model="category.image" type="text"   class="span2"/>          
                  <p>
                    <a href="http://twitter.github.io/bootstrap/base-css.html#icons">quelques exemples d'icons</a>
                  </p>
                </div>  
              </div>
              <!-- COLOR -->
              <div class="control-group">
                <label for="group" class="control-label"><b>Color</b>&nbsp;</label>
                <div class="controls">
                  <input name="group" ng-model="category.color" type="text"   class="span2"/>          
                </div>  
              </div>
              
              <!-- DESCRIPTION -->
              <div class="control-group">
                <label for="des1" class="control-label"><b>Description</b>&nbsp;</label>
                <div class="controls">
                  <input name="des1" ng-model="category.description" type="text"   class="span11"/>          
                </div>  
              </div>

              <!-- TYPE -->
              <div class="control-group">
                <label for="type1" class="control-label"><b>Type</b>&nbsp;</label>
                <div class="controls">
                  <label class="radio inline">
                    <input type="radio" name="type1" ng-model="category.type" value="{{config.shop.category.types[0]}}" checked="checked">
                    {{config.shop.category.types[0]}}
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="type1" ng-model="category.type" value="{{config.shop.category.types[1]}}" >
                    {{config.shop.category.types[1]}}
                  </label>
                </div>  
              </div>


              <div class="control-group actions">
                <input type="submit" ng-click="create(category)" value="Ajouter" class="btn btn-success btn-large"/>
              </div>              
            </div>

          </form>
        </div>
      

    </div>
</section>

        </div>
          
      </div>
    </section>
  </div>
</section>
