<div class="dashboard" ng-controller="AccountCtrl">
  <!-- MENU -->
  <nav class="navbar navbar-inverse navbar-fixed-top hidden-print" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bar"></span>
          <span class="fa fa-bar"></span>
          <span class="fa fa-bar"></span>
        </button>
        <a class="navbar-brand" href="" ng-click="options.showMenu=!options.showMenu;"><i class="fa fa-reorder white_ fa fa-2"></i> MENU</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Boutiques <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="shop in user.shops"><a ng-href="/shop/{{shop.urlpath}}">{{shop.name}}</a></li>
            </ul>
          </li>        
          <li><a href="/account">{{user.display()}} <span ng-show="user.isAdmin()" class="label label-danger">ADMIN</span></a></li>
          <li ng-if="user.isAuthenticated()"><a href="" ng-click="logout()">logout</a></li>
        </ul>
        <!-- FILTER CONTENT -->
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Filter" ng-model="options.filterTxt">
          </div>
        </form>        
      </div>
    </div>
  </nav>


  <div class="container-fluid" ng-init="findAllUsers()">
    <div class="row">
      <!-- SIDEBAR MENU -->
      <div class="col-xs-8 col-sm-4 col-lg-2 sidebar " 
           ng-include="'/partials/dashboard/dashboard-sidebar.html'" 
           ng-class="{'menu-off':!options.showMenu}">
      </div>
      <div class="col-xs-12  nopadding-xs">
        <h1 class="page-header">Gestion des utilisateurs </h1>

        <!-- FORM -->
          <table class="table  table-responsive ">
            <thead>
              <tr>
                <th>status</th>
                <th>name</th>
                <th><a href="" ng-click="orderByField='logged';reverseSort=!reverseSort">login</a></th>
                <th><a ng-click="orderByField='updated';reverseSort=!reverseSort">update</a></th>
                <th><a ng-click="orderByField='email.status';reverseSort=!reverseSort">validate</a></th>
                <th>address</th>
                <th>role</th>
                <th>shops</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in users|orderBy:orderByField:reverseSort|filter:options.filterTxt" ng-class="{'danger':u.status!==true}">
                <td>{{u.status}}</td>
                <td ng-class="{'danger':u.email.status!==true}">
                  <a  ng-click="modalUserDetails(u)" title="{{u.getEmailStatus()}}"
                      bs-modal="'/partials/admin/user.modal.html'">
                    {{u.displayName}}
                  </button>                  
                </td>
                <td>{{u.logged|dateLabelShort}}</td>
                <td>{{u.updated|dateLabelShort}}</td>
                <td ng-class="{'danger':u.email.status!==true}">{{u.getEmailStatus()}}</td>
                <td>{{u.hasPrimaryAddress()}}</td>
                <td>{{u.roles}}</td>
                <td>{{u.shops.length}}</td>
              </tr>
            </tbody>
          </table>


      <!-- FOOTER -->              
      </div>
    </div>
  </div>
</div>
