<div tabindex="-1" class="screen-content" ng-controller="AccountCtrl">
  




   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          

      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          
 


      <div class="well well-small">
      <!-- FORM -->
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>status</th>
                <th>name</th>
                <th>mail</th>
                <th>validate</th>
                <th>role</th>
                <th>shops</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in users">
                <td><i ng-class="{'icon-check green':u.status===true,'icon-check-empty ':u.status!==true}"></i> </td>
                <td>{{u.displayName}}</td>
                <td>{{u.email.address}}</td>
                <td>{{u.email.status}}</td>
                <td>{{u.roles}}</td>
                <td>{{u.shops.length}}</td>
              </tr>
            </tbody>
          </table>


        </div>


      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </section>
   </section>
</div>


