  <div class="modal-dialog">
    <div class="modal-content">
      <!-- START MODAL CONTENT -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{modal.name.givenName}} {{modal.name.familyName}}</h3>
      </div>
      <div class="modal-body">
        <h5 class="article-group-title " >
          Données personnelles
        </h5>          

        <ul>
          <li><b>{{modal.name.givenName}} {{modal.name.familyName}}</b></li>
          <li ng-repeat="phone in modal.phoneNumbers">{{phone.what}}: {{phone.number}}</li>
          <li><a ng-href="mailto:{{modal.email.address}}">{{modal.email.address}}</a></li>

        </ul>
        <hr/>
        <div ng-repeat="address in modal.addresses" class="col-xs-12">
          <strong>{{address.name}}, {{address.streetAdress}}/{{address.postalCode}}</strong>

          <img src="{{map.resolveStaticmap(address,address.note,13)}}" style="width:80%"/>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" confirm-delete="remove(modal,password)">
          Delete
        </button>
        <button class="btn" ng-click="modalDissmiss(dismiss())">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
