<div tabindex="-1" class="screen-content" ng-controller="AccountCtrl">
  




   <section class="wrapper paysage" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          

      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          
 
      <h3>Gestion des utilisateurs</h3>
      <div class="">
      <!-- FORM -->
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>status</th>
                <th>name</th>
                <th><a href="" ng-click="orderByField='logged';reverseSort=!reverseSort">login</a></th>
                <th><a ng-click="orderByField='updated';reverseSort=!reverseSort">update</a></th>
                <th><a ng-click="orderByField='email.status';reverseSort=!reverseSort">validate</a></th>
                <th>address</th>
                <th>role</th>
                <th>shops</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in users|orderBy:orderByField:reverseSort" ng-class="{'danger':u.status!==true}">
                <td>-</td>
                <td>
                  <a  ng-click="modalUserDetails(u)"
                      bs-modal="'/partials/admin/user.modal.html'">
                    {{u.displayName}}
                  </button>                  
                </td>
                <td>{{u.logged|dateLabelShort}}</td>
                <td>{{u.updated|dateLabelShort}}</td>
                <td ng-class="{'danger':u.email.status!==true}">{{u.getEmailStatus()}}</td>
                <td>{{u.hasPrimaryAddress()}}</td>
                <td>{{u.roles}}</td>
                <td>{{u.shops.length}}</td>
              </tr>
            </tbody>
          </table>


        </div>


      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>
      </section>
   </section>
</div>


