
<!-- HEADER -->
<div class="header">
  <span ng-show="config.shop.maintenance.active">
    <i class="fa fa-info-circle"></i>&nbsp;<strong>Livraisons interrompues</strong>
    <span i18n-render="config.shop.maintenance"></span>
  </span>
  <span ng-show="!config.shop.maintenance.active" clockdown="Prochaine livraison " class="white"></span>
  <button class="btn btn-cart pull-right" ng-click="toggleCart()" ><span>x</span> Close</button>
</div>

<!-- CONTENT -->             
<div class="cart-content" ng-controller="OrderCommonCtrl">     
  <table class="table " >
      <tbody ng-repeat="group in cart.items|groupBy:'vendorName' " >
        <tr >
          <td colspan="4" class="cart-header"><div>
            <img  ng-src="{{group[0].vendorImage| placehold:'50x50&text=l`équipe'}}" style="">              
            {{group[0].vendorName}}</div>
          </td>
        </tr>                

        <tr  ng-repeat="item in group|orderBy:'weight'" >
          <td class="col-md-8 small"><a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a>
            <div  class="ita gray smallx " ng-if="item.variant" title="Option du produit">
              {{item.variant.title}}
            </div>
          </td>
          <td class="col-md-2 nopadding-lr" style="text-align: center">
            {{item.quantity}}
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.add(item,item.variant.title, true)"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.remove(item,item.variant.title,true)"><i class="fa fa-minus"></i></button>

          </td>
          <td class="col-md-1 text-right">{{item.price*item.quantity|number:2}} </td>
        </tr>
      </tbody>
  </table>
</div>  

<!-- BOTTOM -->             
<div class="cart-bottom">
  <div class="cart-info">    
    <div class="col-xs-6 shipping gray" ng-class="{'pink':cart.hasShippingReduction()}">
      <i class="bold fa fa-bicycle  "></i> 
      {{cart.shipping()|number:2}} CHF
    </div>
    <div class="col-xs-6 total gray">
      Total
      <strong class="green">{{cart.total()+cart.shipping()|number:2}} CHF</strong>
    </div>
  </div>

  <a  href="/order" class="btn btn-cart-checkout btn-lg btn-block" ng-class="{'disabled':config.shop.maintenance.active}">
    Continuer la commande 
  </a>
  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="cart.empty();toggleCart();">
      Vider le panier
  </button>        
</div>
