<div class="cart-content" ng-controller="OrderCommonCtrl">     
  <!-- MESSAGE -->
  <div ng-show="config.shop.maintenance.active" >
    <div class="alert alert-warning nomargin small">
    <i class="fa fa-info-circle"></i>&nbsp;<strong>Livraisons interrompues</strong><br/>
    <span i18n-render="config.shop.maintenance"></span>                
    </div>
  </div>
  <div ng-show="!config.shop.maintenance.active" >
    <div class="alert alert-warning nomargin small text-center bold" 
         clockdown="Prochaine livraison "
         style="padding-left:10px"></div>
  </div>
  <!-- CONTENT -->             
  <table class="table " >
      <thead>
          <tr>
              <th>Produit</th>
              <th class="text-center">Qty</th>
              <th class="text-right padding">Total</th>
          </tr>
      </thead>
      <tbody ng-repeat="group in cart.items|groupBy:'vendorName' " >
        <tr >
          <td colspan="4" class="cart-header"><div>
            <img  ng-src="{{group[0].vendorImage| placehold:'50x50&text=l`équipe'}}" style="">              
            {{group[0].vendorName}}</div>
          </td>
        </tr>                

        <tr  ng-repeat="item in group|orderBy:'weight'" >
          <td class="col-md-8 small"><a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a>
            <div  class="ita gray smallx " ng-if="item.variant" title="Option du produit">
              {{item.variant.title}}
            </div>
          </td>
          <td class="col-md-1 nopadding-lr" style="text-align: center">
            {{item.quantity}}
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.add(item,item.variant.title, true)"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.remove(item,item.variant.title,true)"><i class="fa fa-minus"></i></button>

          </td>
          <td class="col-md-2 text-right">{{item.price*item.quantity|number:2}} </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td class="text-right padding" colspan="2">
              <strong>Soustotal: </strong><br/>
              <strong ng-if="!cart.hasShippingReduction()"><a href="/page/shipping">Livraison à <i class="bold green fa fa-bicycle  "></i>:</a> </strong>
              <strong ng-if="cart.hasShippingReduction()"><a href="/page/shipping">Livraison à <i class="bold green fa fa-bicycle  "></i>, tarif spécial!:</a></strong>
            <td class="text-right padding">
              <strong>{{cart.total()|number:2}} </strong></br>
              <strong ng-class="{'green':cart.hasShippingReduction()}"> {{cart.shipping()|number:2}} </strong>
            </td>
        </tr>

        <tr>
            <td>   </td>
            <td class="text-right"><h4><strong>Total: </strong></h4></td>
            <td class="text-right padding text-success"><h4><strong>{{cart.total()+cart.shipping()|number:2}} CHF</strong></h4></td>
        </tr>

      </tbody>
  </table>
</div>  
<div class="cart-bottom">
  <a  href="/order" class="btn btn-success btn-lg btn-block" ng-class="{'disabled':config.shop.maintenance.active}">
    Continuer la commande
  </a>
  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="cart.empty();toggleCart();">
      Vider le panier
  </button>        
</div>
