
<!-- HEADER -->
<div class="header">
  <i class="fa fa-calendar green-1"></i>  
  <span clockdown=" Livraison " class="white" clockdown-opts="{long:true}"></span>
  <button class=" pull-right close" ng-click="toggleCart()" ><i class="fa fa-close "></i> </button>
</div>

<!-- CONTENT -->             
<div class="cart-content" ng-controller="OrderCommonCtrl" ng-if="options.cart">     
  <table class="table " >
      <tbody ng-repeat="group in cart.items|groupBy:'vendorName' " >
        <tr >
          <td colspan="4" class="cart-header">
            <div>
            <img  ng-src="{{group[0].vendorImage| placehold:'50x50&text=l`équipe'}}" style="">              
            {{group[0].vendorName}}
            <span ng-hide="cart.isWeekdaysAvailable(group[0].vendorWeekDays)" class="pull-right orange"><i class="fa fa-clock-o "></i> indisponible {{cart.getShippingDay()|dateMomentDay}}</span>
            </div>
          </td>
        </tr>                

        <tr  ng-repeat="item in group|orderBy:'weight'" >
          <td class="col-md-8 small"><a href="/products/{{item.sku}}" >{{item.part}} - {{item.title}}</a>
            <div  class="ita gray smallx " ng-if="item.variant" title="Option du produit">
              {{item.variant.title}}
            </div>
          </td>
          <td class="col-md-2 nopadding-lr" style="text-align: center">
            <span style="margin-left: -13px;position: absolute;">{{item.quantity}} </span>
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.add(item,item.variant.title, true)"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-xs btn-default" ng-click="cart.remove(item,item.variant.title,true)"><i class="fa fa-minus"></i></button>

          </td>
          <td class="col-md-1 text-right">{{item.price*item.quantity|number:2}} </td>
        </tr>
      </tbody>
  </table>
</div>  

<!-- BOTTOM -->             
<div class="cart-bottom">
  <div class="cart-info">    
    <div class="col-xs-6 shipping gray" ng-class="{'pink':cart.hasShippingReduction()}">
      <i class="bold fa   " ng-class="cart.isShippingHypercenter()?'fa-bicycle':'fa-truck'"></i> 
      <span cart-price="shipping"></span> CHF
    </div>
    <div class="col-xs-6 total gray">
      Total   <!-- {{cart.total()+cart.shipping()|number:2}} -->
      <strong class="green"><span cart-price="total+shipping"></span> CHF</strong>
    </div>
  </div>

  <a  href="/order" class="btn btn-cart-checkout btn-lg btn-block" ng-disabled="!cart.getShippingDay()">
    Continuer la commande 
  </a>
  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="cart.empty();toggleCart();">
      Vider le panier
  </button>        
</div>
