<div class="" ng-if="selected.shop">
  <!--- SHOP HEADER -->
  <div class="card">
    <div class="card-header ch-alt m-b-20">
      <h2>
        Les commandes de {{selected.shop}} 
        <small>{{shopsSelectMap[selected.shop].address.streetAdress}}/{{shopsSelectMap[selected.shop].address.postalCode}} - {{getAmountTotal(selected.items,filters.f)}} CHF </small>

      </h2>
      <button class="btn bgm-red btn-float waves-effect"
              ng-click="selectOrderByShop();"><i class="zmdi zmdi-close"></i></button>
    </div>
    <div class="card-body card-padding hide" style="padding-top:0">
        <div class="pmo-contact">        
            <ul class="list-inline">
              <li>
                <i class="zmdi zmdi-phone"></i> 
                <a href="tel:{{shopsSelectMap[selected.shop].address.phone}}" class="green">{{shopsSelectMap[selected.shop].address.phone}}</a>
              </li>
            </ul>
        </div>          
    </div>
    
  </div>

  <!--- ITEMS FOR THIS SHOP -->
  <div class="" 
      ng-repeat="group in selected.items|filterBy:['vendor']|groupBy:'rank' " >

    <!-- USER DETAILS -->
    <div class="card" ng-if="group[0].when===filters.f">
        <div class="card-header ch-alt ">
            <h2>
              <span class="text-capitalize">{{group[0].customer.name.givenName}} {{group[0].customer.name.familyName}}</span>
              &nbsp;<span class="pull-right bold  label label-lg label-primary">sac {{group[0].rank}}</span>
              <small>Commande {{group[0].oid}}</small></h2>

        </div>
        <div class="card-body card-padding" style="padding-top:0;background-color:#f7f7f7">
            <div class="pmo-contact">        
                <ul class="">
                    <li ng-repeat="phone in group[0].customer.phoneNumbers"> 
                      <i class="zmdi zmdi-phone"></i><a href="tel:{{phone.number}}">{{phone.number}}</a>
                    </li>
                  
                    <li><i class="zmdi zmdi-email"></i> <a href="mailto:{{group[0].email}}">{{group[0].email}}</a></li>
                    <li class="hide">
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0 ng-binding">
                            {{group[0].shipping.streetAdress}},{{group[0].shipping.floor}},                           
                            {{group[0].shipping.postalCode}} -
                            {{group[0].shipping.region}}, <br>
                            Note: {{group[0].shipping.note}}
                        </address>
                    </li>
                </ul>
            </div>   

    <!-- ITEMS DETAILS -->
    <ul class="list-group" ng-if="group[0].when===filters.f" 
        style="margin-right: -15px;margin-left: -15px;margin-top: 15px;">
      <li class="list-group-item " 
          style="min-height:100px;padding:5px 10px"
          ng-repeat="item in group|orderBy:['rank','vendor']" 
          ng-if="item.when===filters.f">

        <div class="col-xs-11 nopadding">
          <div>
            <h5 class="gray">
              <span ng-class="(item.quantity>1)?'bold red':''">{{::item.quantity}}x</span> 
              {{::item.title}} ({{::item.part}}) <a ng-href="/products/{{item.sku}}"> [view]</a>
            </h5>
            <!-- VARIANT --> 
            <div ng-if="item.variant.title" class="small" style="margin-top: -8px;margin-left: 1px;">
              <span class="fa fa-warning red">option: </span><span>{{::item.variant.title}}</span>
            </div>
          </div>
          <div style="padding-top:10px">
            <div class="btn-group  no-shadow  " ng-hide="options.showWidget" style="margin:0;margin-top:5px">
              <button type="button" class="btn btn-warning btn-md no-shadow"
                      ng-class="{'btn-done':['fulfilled','failure'].indexOf(item.fulfillment.status)!==-1}"
                      ng-click="updateItem(item.oid,item,'failure')"
                      ><i class="fa fa-thumbs-down"></i> Annulez</button>


              <div class="input-group input-group-validate form-group">
                  <div class="fg-line dropdown" uib-dropdown>
                      <input type="number" type="number"  
                            class="form-control input-md input-validate" 
                            ng-class="{'input-done':['fulfilled','failure'].indexOf(item.fulfillment.status)!==-1}"
                            ng-model="item.finalprice" data-toggle="dropdown">&nbsp;


                      <div class="dropdown-menu text-center" style="margin-top:20px;padding:5px">
                          <h1>{{item.finalprice|number:2}}</h1>
                      </div>

                      <i class="cp-value" style="background-color: {{ fctrl.color }}"></i>
                  </div>
              </div>
                    
              <button type="button" class="btn btn-info btn-md no-shadow"
                      ng-class="{'btn-done':['fulfilled','failure'].indexOf(item.fulfillment.status)!==-1}"
                      ng-click="updateItem(item.oid,item,'fulfilled')"
                      ><i class="fa fa-check"></i> Validez</button>

              <!-- WRITE QUALITY -->
              <div class="btn-group admin-show-in dropdown" >
                <button type="button" 
                        class="btn-md btn btn-lightgreen no-shadowc dropdown-toggle " 
                        data-toggle="dropdown" 
                        title="{{item.fulfillment.issue}}">
                  <i class="fa fa-exclamation-circle " ng-class="item.fulfillment.issue? 'red':'green'"></i>
                </button>
                <ul class="dropdown-menu" >
                  <li ng-repeat="code in config.shop.issue.code">
                    <a href="#" ng-click="updateIssue(item.oid,item,code)">{{::code}}</a>
                  </li>
                </ul>
              </div>            

            </div>
          </div>        
        </div>
        
        <div class="col-xs-1  nopadding" style="height:90px;">
          <div class="bag-1 green-2 fa fa-check-circle fa-2x" ng-show="item.fulfillment.status==='fulfilled'"></div>
          <div class="bag-1 red fa fa-minus-circle fa-2x" ng-show="item.fulfillment.status==='failure'"></div>
        </div>         


   
      </li>
    </ul> 
                     
        </div>
    </div>

    

  </div>


</div>



