<!-- ORDERS VALIDATE WIDGET -->
<div  ng-controller="OrderWidgetCtrl" >
  <div ng-if="!item.sku">
    <br/>
    <div class="alert alert-success" role="alert">
      <strong>Sélectionnez un produit avec la souris ou votre doigt!</strong> <br/>
    </div>

    <div class="text-center">
      <i class="fa fa-hand-o-up fa-4x grayx"></i>
    </div>
    
  </div>
  <form ng-if="item.sku">
    <div id="calculator" >
        <div id="who" class=" " >
            <a class="white text-capitalize link bold" 
               ng-click="modalUserDetails(item.oid)" 
               bs-modal="'/partials/order/order.user.modal.html'">
              <span >{{item.customer.name.givenName}}</span> {{item.customer.name.familyName}} 
            </a>&nbsp;
            <span class="bag">SAC {{item.rank}}</span>
        </div>
        <div id="title">  

          <div > 
              <span ng-class="(item.quantity>1)?'bold red':''">{{item.quantity}}x</span> 
              <a ng-href="/products/{{item.sku}}">{{item.title}} ({{item.part}})</a> 
              <div ng-if="item.variant.title" class="small"><span class="fa fa-warning red">option: </span><span>{{item.variant.title}}</span></div>
          </div>

        </div>
        <div id="total">
        {{item.finalprice|number:2}}
        </div>
        <div id="operators">
<!--            <a href="" class="btn btn-default" ng-click=""><span class="fa fa-angle-double-left fa-1x bold"></span></a>
           <a href="" class="btn btn-default" ng-click="widgetPreviousItem()"><span class="fa fa-angle-left fa-1x bold"></span></a>
           <a href="" class="btn btn-default" ng-click="widgetNextItem()"><span class="fa fa-angle-right fa-1x bold"></span></a>
           <a href="" class="btn btn-default" ng-click=""><span class="fa fa-angle-double-right fa-1x bold"></span></a>
 -->           <a href="" class="btn btn-success white" 
                  ng-click="updateItem(item.oid,item,'fulfilled')"
                ><span class="fa fa-check fa-1x bold"></span> Validez</a>
               <a href="" class="btn btn-default" 
                  ng-click="updateItem(item.oid,item,'failure')"
                ><span class="fa fa-thumbs-down fa-1x bold"></span> Annulez</a>
        </div>
        <div id="numbers" class="clearfix">
           <a href="" class="btn btn-default" ng-click="passNum(1)">1</a>
           <a href="" class="btn btn-default" ng-click="passNum(2)">2</a>
           <a href="" class="btn btn-default" ng-click="passNum(3)">3</a>
           <a href="" class="btn btn-default" ng-click="passNum(4)">4</a>
           <a href="" class="btn btn-default" ng-click="passNum(5)">5</a>
           <a href="" class="btn btn-default" ng-click="passNum(6)">6</a>
           <a href="" class="btn btn-default" ng-click="passNum(7)">7</a>
           <a href="" class="btn btn-default" ng-click="passNum(8)">8</a>
           <a href="" class="btn btn-default" ng-click="passNum(9)">9</a>
           <a href="" class="btn btn-default" ng-click="passNum(0)">0</a>
           <a href="" class="btn btn-default" ng-click="passDec()">.</a>
           <a href="" class="btn btn-default" ng-click="clear()">C</a>
           
        </div>
  </div>
  </form>
</div>

