<!-- BY ORDERS -->
<div class="list-group">
  <div  class="hide">
      <h3>&nbsp;
        <a title="voir le détail par boutique" 
           ng-href="{{getDetailledOrderUrl(filters.f)}}" >{{filters.f|dateLabel}}</a>&nbsp;
        <a class="btn btn-xs btn-category "
           ng-href="{{getDetailledOrderUrl(filters.f)}}" >Détail des commandes</a>
      </h3>
  </div>

<!--   <div ng-repeat-start="order in orders|orderBy:['rank','when']|filter:options.filterTxt" 
       ng-show="groupByShippingDate(order.shipping.when, $index) && (!filters.f||filters.f===order.shipping.when)" >
       <h3>&nbsp;Commandes du {{order.shipping.when|dateLabel}}</h3>
  </div>
 -->  <div  class="list-group-item col-xs-12 col-sm-5" 
            ng-repeat="order in orders|orderBy:['rank','when']|filter:options.filterTxt" 
            ng-if="(!filters.f||filters.f===order.shipping.when)" >

    <!-- ORDER ID  -->

    <!-- ORDER TITLE -->
    <h4 class="list-group-item-heading">
      &nbsp;{{order.oid}}&nbsp;
      <a class=" text-capitalize" ng-click="modalUserDetails(order.oid)" bs-modal="'/partials/order/order.user.modal.html'">
        <span class="hidden-xs">{{order.customer.name.givenName}}</span> 
        {{order.customer.name.familyName}}</a>  
        <button class="btn btn-transparent bold red btn-xs" 
                ng-show="showCaptureButton(order)" 
                ng-click="orderCapture(order)"><span class="hidden-xs">{{order.payment.status}}</span> {{order.getOriginPrice()}}|{{order.getTotalPrice()}}CHF
        </button>

    </h4>
    <!-- ORDER SAC -->
    <span class="bag-1 label label-primary  label-lg">sac {{order.rank}}</span>
    

    <p class="list-group-item-text">
          <!-- ITEMS DETAILS-->
          <table class="table table-condensed smallx " id="detail-{{order.oid}}" style="">
            <thead>
              <tr><th class="col-product">Produit</th><th>Qté</th><th>CHF</th></tr>
            </thead>
            <tbody ng-repeat="group in order.items|groupBy:'vendor' " >
              <tr >
                <td colspan="4" class="order-header " ><div>
                  <!-- <img  ng-src="{{group[0].vendorImage| placehold:'50x50&text=l`équipe'}}" style="">               -->
                  {{group[0].vendor}}</div>
                </td>
              </tr>                

              <tr  ng-repeat="i in group|orderBy:'weight'" 
                   ng-class="{'strike grayx':(i.fulfillment.status==='failure'||order.fulfillments.status==='failure')}">
                <td title="{{i.vendor}}">
                  <a ng-href="/products/{{i.sku}}">{{i.title}}</a>
                  <mark ng-if="i.variant.title" class="small">option: {{i.variant.title}}</mark>
                </td>
                <td ng-class="(i.quantity>1)?'bold red':''">{{i.quantity}}</td>
                <td>{{i.finalprice|number:'2'}} CHF</td>                   
              </tr>
            </tbody>
            <tbody>
              <!-- info -->
              <tr ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                <td colspan="2">Soutotal</td><td >{{order|orderTotal}}</td>
              </tr>
              <tr ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                <td colspan="2">Livraison & Paiement</td><td >{{order|orderFees}}</td>
              </tr>
              <tr class="bold" ng-class="{'strike grayx':order.fulfillments.status==='failure'}">
                <td colspan="2">TOTAL</td><td >{{order.getTotalPrice().toFixed(2)}} CHF</td>
              </tr>

            </tbody>
          </table>
          <div class="col-xs-6  progress-container">        
            <div class="progress-bar " role="progressbar" order-progress="order"
              ng-class="{'progress-bar-danger':order.fulfillments.status=='failure',
                         'progress-bar-info':order.fulfillments.status!=='failure'}">
              <span class="sr-only-">({{order.getFulfilledStats()}}) {{order.getProgress()|number:0}}<b>%</b></span>
            </div>          
          </div>
        <div class="col-xs-6  nopadding">
          <span class="label label-title hidden-xs">{{order.fulfillments.status}}</span>
          <span class="label label-title" ng-show="!showCaptureButton(order)">
              {{order.payment.status}}|{{order.getOriginPrice()}}|{{order.getTotalPrice()}}CHF
          </span>
  <!--           <span class="label label-price pull-right">{{order|orderTotal}}</span>
 --><!--          <div class="input-group">
            <span class="input-group-addon hidden-xs">{{order|orderInitial}}</span>
            <span class="input-group-addon ">{{order|orderTotal}}</span>
          </div> -->

        </div>

        
    </p>
  </div>
</div>



