<!-- ORDERS BY SHOPS -->
  <!-- (!filters.f||filters.f===order.shipping.when) -->
  
      
  
    <div class="card"   
         style="margin-bottom:15px"
         ng-repeat="shop in shopsSlug"
         ng-show="isCollectableShopForDay(shop,filters.f)" >
        <div class="card-header ch-alt m-b-20">
            <h2>
              {{shopsSelectMap[shop].name}}                            
              <small>{{shopsSelectMap[shop].address.streetAdress}}/{{shopsSelectMap[shop].address.postalCode}} </small>
            </h2>


            <button class="btn bgm-default btn-float waves-effect no-shadow"
                    ng-class="{'bgm-green':isCollectedShopForDay(shop,filters.f)}"
                    ng-click="updateCollect(shop,true,filters.f)"><i class="zmdi zmdi-check"></i></button>
        </div>
        <div class="card-body card-padding" style="padding-top:0">
            <div class="pmo-contact">        
                <ul class="list-inline">
                  <li>
                    <i class="zmdi zmdi-phone"></i> 
                    <a href="tel:{{shopsSelectMap[shop].address.phone}}" class="green">{{shopsSelectMap[shop].address.phone}}</a>
                  </li>
                  <li> 
                    <i class="zmdi zmdi-time-interval" style="left:10px"></i>
                    <a ng-click="selectOrderByShop(shop)" class="green text-uppercase"> Préparations [{{countItemValidated(shops[shop],filters.f)}}|{{countItemAvailable(shops[shop],filters.f)}}]</a>
                  </li>
                </ul>
            </div>          
        </div>
    </div>

  

