  <!-- ITEMS BY SHOPS -->
  <!-- ITEMS -->
  <div class="" 
      ng-repeat="group in selected.items|filterItemsByShop:filters.s|groupBy:'rank' " >

    <!-- HEADER -->
    <!-- http://byrushan.com/projects/ma/1-5-2/angular/#/home -->
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>
              <span class="text-capitalize">{{selected.order.customer.name.givenName}} {{selected.order.customer.name.familyName}}</span>
              &nbsp;<span class=" bold  label -label-lg label-primary">sac {{selected.order.rank}}</span>
              <small>Commande {{selected.order.oid}} , <b>{{getAmountTotal(group)|number:2}} CHF </b></small></h2>
            <ul class="actions">
                <li>
                    <a href="">
                        <i class="zmdi zmdi-refresh-alt"></i>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown="">
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Tout valider</a>
                        </li>
                        <li>
                            <a href="">Tout invalider</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <button class="btn bgm-red btn-float waves-effect"
                    ng-click="selectOrder(selected.order)"><i class="zmdi zmdi-close"></i></button>
        </div>
        <div class="card-body card-padding" style="padding-top:0">
            <div class="pmo-contact">        
                <ul>
                    <li ng-repeat="phone in selected.order.customer.phoneNumbers"> 
                      <i class="zmdi zmdi-phone"></i><a href="tel:{{phone.number}}">{{phone.number}}</a>
                    </li>
                  
                    <li><i class="zmdi zmdi-email"></i> <a href="mailto:{{selected.order.email}}">{{selected.order.email}}</a></li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0 ng-binding">
                            {{selected.order.shipping.streetAdress}},{{selected.order.shipping.floor}},                           
                            {{selected.order.shipping.postalCode}} -
                            {{selected.order.shipping.region}}, <br>
                            Note: {{selected.order.shipping.note}}
                        </address>
                    </li>
                </ul>
            </div>   
                     
        </div>
    </div>
    

    <!-- BODY -->
    <ul class="list-group">
      <li  class="list-group-item " style="min-height:100px;padding:5px 10px" 
          ng-repeat="item in group|orderBy:['rank','vendor']" >
        <div class="col-xs-12 nopadding">
          <!-- TITLE -->
          <div>
            <h5 class="gray">
              <span ng-class="(item.quantity>1)?'bold red':''">{{::item.quantity}}x</span> 
              <a ng-href="/products/{{item.sku}}">{{::item.title}} ({{::item.part}}) </a>
            </h5>
            <!-- VARIANT --> 
            <div ng-if="item.variant.title" class="small" style="margin-top: -8px;margin-left: 1px;">
              <span class="fa fa-warning red">option: </span><span>{{::item.variant.title}}</span>
            </div>
          </div>
          <div style="padding-top:10px">
            <div class="col-xs-1 nopadding"> 
              <!-- WRITE QUALITY -->
              <div class="btn-group admin-show-in dropdown" >
                <button type="button" 
                        class="btn-md btn btn-lightgreen no-shadowc dropdown-toggle " 
                        data-toggle="dropdown" 
                        title="{{item.fulfillment.issue}}">
                  <i class="fa fa-exclamation-circle " ng-class="item.fulfillment.issue? 'red':'green'"></i>
                </button>
                <ul class="dropdown-menu" >
                  <li ng-repeat="code in config.shop.issue.code">
                    <a href="#" ng-click="updateIssue(selected.order.oid,item,code)">{{::code}}</a>
                  </li>
                </ul>
              </div>            
            </div>

            <div class="col-xs-11 pull-right text-right nopadding" 
                 ng-hide="options.showWidget" >

              
              <div class="input-group-validate text-right form-group">
                  <span  title="Le pourcentage au dessus ou dessous du prix d'origine" 
                         ng-show="selected.order.getPriceDistance(item)>0"
                         style="position:absolute;right:0;"
                         class="text-left grayx smallx link">{{selected.order.getPriceDistance(item)}}%</span>                
                  <div class="fg-line dropdown" uib-dropdown>
                      <input type="number" type="number"  
                            class="form-control input-md input-validate" 
                            ng-class="{'input-done':['fulfilled','failure'].indexOf(item.fulfillment.status)!==-1}"
                            ng-model="item.finalprice" data-toggle="dropdown">&nbsp;


                      <div class="dropdown-menu text-center" style="margin-top:20px;padding:5px">
                          <h1>{{item.finalprice|number:2}}</h1>
                      </div>

                      <i class="cp-value" style="background-color: {{ fctrl.color }}"></i>
                  </div>
              </div>


              <button type="button" class="btn btn-default btn-icon waves-circle waves-float no-shadow-border"
                      ng-class="{'btn-danger':['failure'].indexOf(item.fulfillment.status)!==-1}"
                      ng-click="updateItem(selected.order.oid,item,'failure')"
                      ><i class="fa fa-close"></i></button>


                    
              <button type="button" class="btn btn-default btn-icon waves-circle waves-float no-shadow-border"
                      ng-class="{'btn-success':['fulfilled'].indexOf(item.fulfillment.status)!==-1}"
                      ng-click="updateItem(selected.order.oid,item,'fulfilled')"
                      ><i class="fa fa-check"></i> </button>


            </div>
          </div>        
        </div>

        <!--
        <div class="col-xs-1  nopadding" style="height:90px;">
          <div class="bag-1 green-2 fa fa-check-circle fa-2x" ng-show="item.fulfillment.status==='fulfilled'"></div>
          <div class="bag-1 red fa fa-minus-circle fa-2x" ng-show="item.fulfillment.status==='failure'"></div>
          <div  title="Le pourcentage au dessus ou dessous du prix d'origine" ng-show="selected.order.getPriceDistance(item)>0"
                class="bag-2 grayx smallx link">{{selected.order.getPriceDistance(item)}}%</div>
        </div>
        -->         
      </li>
    </ul>




    <!-- FOOTER -->

    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>
              <span class="pull-right bold  label-lg label label-primary">sac {{selected.order.rank}}</span>
              <span class="text-capitalize">{{selected.order.customer.name.givenName}} {{selected.order.customer.name.familyName}}</span> 
              <small>Commande {{selected.order.oid}} , <b>{{getAmountTotal(group)|number:2}} CHF </b></small>
            </h2>

          <button 
            type="button" 
            class="btn bgm-red btn-float waves-effect" 
            ng-show="hasNextOrder(selected.order.oid,filters.f,filters.s)"
            ng-click="selectNextOrder()"><i class="zmdi zmdi-chevron-right"></i> </span></button>

        </div>
        <div class="card-body card-padding" style="padding-top:0">
          <ul >
            <li  ng-repeat="item in group|filter:{fulfillment:{status:'failure'}}" >
              <i class="zmdi zmdi-alert-triangle"></i> {{item.title}} annulé
            </li>
          </ul>
        </div>
    </div>
        

  </div>

