<!-- BY ORDERS -->
<div class="list-group">
  <div  class="hide">
      <h3>&nbsp;
        <a title="voir le détail par boutique" 
           ng-href="{{getDetailledOrderUrl(filters.f)}}" >{{filters.f|dateLabel}}</a>&nbsp;
        <a class="btn btn-xs btn-category "
           ng-href="{{getDetailledOrderUrl(filters.f)}}" >Détail des commandes</a>
      </h3>
  </div>

  <div  class="list-group-item col-xs-12 col-sm-5" 
        ng-repeat="order in orders|orderBy:['rank','when']|filterBy:['shipping.when']:filters.f" 
        ng-static-include="'/partials/order/order-lists-items-detailed.html'">

  </div>
</div>



