
<!-- PRODUCTS FORM -->
<table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
  <tr ng-repeat="product in $data">
    <td data-title="'SKU'" filter="{'title':'text'}">
      <a ng-href="/products/{{::product.sku}}">{{::product.title}}</a>
        &nbsp;<a ng-href="/products/{{::product.sku}}/edit" class="small link">[edit]</a>      
    </td>
    <td data-title="'Boutique'" filter="{'vendor.urlpath':'text'}"  >{{::product.vendor.urlpath}}</td>
    <td data-title="'Catégorie'" filter="{'categories.name': 'text'}"  sortable="'categories.name'">{{::product.categories.name}}</td>
    <td data-title="'Visible'" sortable="'attributes.available'">
      <input type="checkbox" ng-checked="product.attributes.available" ng-model="product.attributes.available" >              
    </td>
    <td data-title="'Stock'" sortable="'pricing._stock'">
      <input type="text" type="number" class="form-control"
             ng-model="product.pricing._stock"   >      
    </td>
    <td data-title="'Prix'">
      <input type="text" type="number" class="form-control"
             ng-model="product.pricing._price"   >            
    </td>
    <td data-title="'Promotions'" sortable="'attributes.discount'">
        <div class="input-group" ng-class="{'discount':product.attributes.discount}">
          <span class="input-group-addon">
            <input type="checkbox" ng-checked="product.attributes.discount" ng-model="product.attributes.discount">
          </span>
          <input type="text" class="form-control" type="number" ng-disabled="!product.attributes.discount" ng-model="product.pricing.discount">
        </div>      
    </td>
    <td data-title="'Home'" sortable="'attributes.home'">
      <input type="checkbox" ng-checked="product.attributes.home" ng-model="product.attributes.home" >        
    </td>
    <td data-title="'-'">
      <button type="button" ng-click="saveProduct(product);"
              ng-show="isProductDirty(product)"
              class="btn btn-primary btn-xs"><i class="fa fa-save"></i></button>

    </td>
  </tr>
</table>

{{vendors}}
