<!-- ORDERS BY SHOPS -->
<div  ng-repeat="(shop, items) in shops" ng-if="shops" >

  <!-- ITEMS -->
  <ul class="list-group" ng-repeat="group in items|filterBy:['vendor']:filters.s|groupBy:'rank' " >
    <li class="list-group-item list-group-item-transparent" 
        style="padding:30px 20px;font-size:130%"
        >
        <span  >
            <a class="text-capitalize link bold" 
               ng-click="modalUserDetails(group[0].oid)" 
               bs-modal="'/partials/order/order.user.modal.html'">
              {{group[0].customer.name.givenName}} {{group[0].customer.name.familyName}} 
            </a>&nbsp;
        </span>      
    </li>
    <li  class="list-group-item " 
         ng-repeat="item in group|orderBy:['rank']|filter:options.filterTxt" 
         ng-class="getOrderItemStatusClass(item,'list-group-item-')" >
      <h4 class="list-group-item-heading"> 
          <span ng-class="(item.quantity>1)?'bold red':''">{{item.quantity}}x</span> <a ng-href="/products/{{item.sku}}">{{item.title}} ({{item.part}})</a> 
          <div ng-if="item.variant.title" class="small"><span class="fa fa-warning red">option: </span><span>{{item.variant.title}}</span></div>
      </h4>
      <span class="bag-1 " ng-click="selectItem(item,shop,$event)">
          <span class="label" 
                ng-class="isItemValidated(item)?'label-primary':'hide'">sac {{item.rank}}</span>
      </span>
      <span class="bag-2 label " 
            ng-class="isItemValidated(item)?'label-price':'hide'"
            ng-hide="options.showWidget">{{item.finalprice|number:'2'}}CHF</span>
      <div class="list-group-item-text clearfix">
        <div class="col-xs-10 col-sm-6 col-md-4 nopadding">
          <form class="form-inline   input-group " ng-hide="options.showWidget">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm "
                      ng-click="updateItem(item.oid,item,'failure')"
                      ><i class="fa fa-thumbs-down"></i> Annulez</button>
            </span>
            <input type="text" type="number"  
                   class="form-control input-sm" 
                   ng-model="item.finalprice" 
                   ng-disabled="getInputDisabled(item)" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-sm "
                      ng-click="updateItem(item.oid,item,'fulfilled')"
                      ><i class="fa fa-check"></i> Validez</button>
            </span>
          </form>

        </div>
      </div>
    </li>
  </ul>
  <!-- ITEMS TOTAL -->
  <p ng-show="(!filters.s||filters.s===shop)" class="gray small">Total commandé : {{getAmountTotal(shop)|number:2}} CHF</p>
</div>

