        <!-- Address form -->
        <div class="control-group">
          <label for="type1" class="control-label"><b>Livraison</b>&nbsp;</label>
          <div class="controls">
            <label class="radio">
              <input type="radio" name="type" ng-model="address.type" value="true" checked="checked">
              Principale
            </label>
          </div>  
        </div>

        <!-- full-name input-->
        <div class="control-group">
            <a href ng-click="user.addresses.splice($index, 1)" class="pull-right"><i class="icon-remove"></i> Effacer</a>
            <label class="control-label"><strong>Libellé</strong></label>
            <div class="controls">
                <input id="full-name" ng-model="address.type" type="text" placeholder="ex. voisin, vacance, ..."
                class="input-xlarge">
                <p class="help-block"></p>
                
            </div>
        
            <label class="control-label"><strong>Nom complet</strong></label>
            <div class="controls">
                <input id="full-name" ng-model="address.fullname" type="text" placeholder="ex. {{user.displayName}}"
                class="input-xlarge" require>
                <p class="help-block"></p>
                
            </div>

            <label class="control-label"><strong>Rue, Numéro</strong></label>
            <div class="controls">
                <input id="address-line1" ng-model="address.streetAdress" type="text" ng-blur="updateMap(address)" placeholder="ex. Route de Chêne 210" class="input-xlarge" require>
                <p class="help-block"></p>
            </div>

            <label class="control-label"><strong>Code Postal</strong></label>
            <div class="controls">
                <select  class="input-xlarge" ng-model="address.postalCode" 
                         ng-options="postal in config.shop.location.list">
                </select>
                <p class="help-block"></p>
            </div>


<!--             <label class="control-label"><strong>Code Postal</strong></label>
            <div class="controls">
                <input  ng-model="address.postalCode" type="text" placeholder="code postal 1200" ng-blur="updateMap(address)"
                class="input-xlarge" require>
                <p class="help-block"></p>
            </div> 
 -->

            <label class="control-label"><strong>Carte</strong></label>
            <div class="controls">
	            <div class="google-map" 
		            center="centerProperty"
		            zoom="zoomProperty" 
		            markers="markersProperty"
		            latitude="clickedLatitudeProperty"
		            longitude="clickedLongitudeProperty"
		            mark-click="true"
		            draggable="false"
		            style="height: 250px; width: 60%">
	            </div>

            </div>

        </div>

