<div class="cover-table cover-user " backstretch="cover">
  <div class="cover-row">
    <div class="cover-body">
      <div class="cover-body-inner">
        <h1 class="cover-title">{{user.display()}}</h1>
        <div>
          <a href="/account/overview" class="btn  btn-profile btn btn-md btn-split">Mon profil</a>
          <a ng-if="!user.shops.length" href="/account/love" class="btn btn-profile btn btn-md btn-split">
            Mes coups de  <i class="fa fa-heart"></i></a>
          <a ng-if="user.shops.length" href="/admin/orders" class="btn btn-profile btn btn-md btn-split">
            Ma boutique  <i class="fa fa-home green"></i></a>
        </div>


        <div class="cover-resume categories hidden-xs hidden-sm" >
          <ul>
              <li>
                <a class="site-nav-list-item  " title="Tous les produits" 
                   href="/" tabindex="-1"><i class=""></i>&nbsp;Tous les produits</a>
              </li>
              <li  class="" ng-repeat="category in category.findAll()|filter:{type:'Category'}|orderBy:'weight'">
                <a class="site-nav-list-item  " title="{{category.name}}" 
                   ng-class="getClass('/products/category/{{category.slug}}')"
                   href="/products/category/{{category.slug}}" tabindex="-1"><i class=""></i>&nbsp;{{category.name}}</a>
              </li>
          </ul>
        </div>


<!--         <div class="cover-resume hide" >
              <div class="cover-resume-col" ng-click="showOverview()">
                <span class="bold">{{user.shops.length}}</span><br/><small>BOUTIQUE{{user.shops.length>1?'S':''}}</small>
              </div>
              <div class="cover-resume-col " ng-click="showOrder()">
                <span class="bold">{{user.orders.length}}</span></b><br/><small>ACHATS</small>
              </div>
              <div class="cover-resume-col" ng-click="showLove()">
                <span class="bold">{{user.likes.length}}</span><br/><small>LOVES</small>
              </div>
        </div> -->

          <!-- ADMIN -->
<!--         <div class="cover-resume shop-profile" >
          <div ng-show="user.isAdmin()">
            <a href="/admin/orders" class="btn btn-block btn-lg btn-transparent left">
              <i class="fa fa-fire "></i> Commande à traiter
            </a>
          </div>
        </div>
 -->


      </div>
    </div> <!-- cover body -->

  <div class="cover-row">
  </div>

  </div><!-- cover row -->



</div>



