<div class="cover-table cover-user site-user-sidebar">
  <div class="cover-row">
    <div class="cover-body">
      <div class="cover-body-inner">
        <h1 class="cover-title">{{user.display()}}</h1>
        <div class="cover-resume">
              <div class="cover-resume-col" ng-click="showOverview()">
                <b>{{user.shops.length}}</b><br/>
                <small>BOUTIQUES</small>
              </div>
              <div class="cover-resume-col" ng-click="showOrder()"><b>5</b><br/><small>COMMANDES</small></div>
              <div class="cover-resume-col" ng-click="showLove()"><b>{{user.likes.length}}</b><br/><small>LOVES</small></div>
        </div>

        <!--
        <div class="cover-actions" >
        </div> -->

      </div>
    </div>
  </div>
</div>



