
<section id="content" ng-controller="AccountCtrl" class="container">
  <header>
    <h1 id="section-header">Account Email</h1>
  </header>
  <div class="row">
    <div class="span3">
      <div ng-include="'/partials/account/nav.html'"></div>&nbsp;
    </div>
    <section id="section-content">
      <div class="span7">
            <div ng-show="FormErrors" class="alert alert-error">
              {{FormErrors}}
            </div>
            <div ng-show="FormInfos" class="alert alert-info">
              {{FormInfos}}
            </div>
      
            <h3>{{user.email.address}} <br/>with status {{user.email.status == true}}</h3>
            <input type="submit" ng-hide="user.email.status == true" ng-click="verify(user)" value="Verify" class="btn"/><span ng-show="e.status == 0" class="label label-success">Default</span>
      </div>
    </section>
  </div>
</section>
