
<section ng-controller="AccountCtrl" class="container" backstretch="{src:'img/welcome-wide.jpg'}">
  <div class="aeauth-form row login">
    <div class="box text-center">
      <header class=" ">
          <h3 class="sexy">Connectez-vous chez Kariboo</h3>
      </header>
      <div class="password-form form-horizontal ">
        <form nonvalidate name="form" class="form">
          <fieldset class="control-group">
            <div class="controls-">
              <input class="input-big block" ng-class="{'border-red': form.email.$invalid, 'border-green': !form.email.$invalid}"
                     required ng-model="email" type="email" name="email" placeholder="Votre email"/>                     
            </div>
          </fieldset>
          <fieldset class="control-group">
            <div >
              <input class="input-big block" required pattern=".{2,31}" ng-model="password" type="password" name="password" placeholder="Votre password"/>
            </div>
          </fieldset>
          <fieldset class="control-group">
            <div class="span6">
              <input type="submit" ng-click="login(email, password)" ng-disabled="form.$invalid || WaitText" value="{{WaitText || 'Login'}}" class="btn btn-primary btn-large  " style="width:100%"/>
            </div>              
            <div class="span6">
              <a href="/signup" class="btn  btn-large btn-block gray" style="width:100%">Create an Account?</a>
            </div>              
          </fieldset>
          <fieldset class="control-group">
              <p><small><a href="/account/recovery">Can't access your account?</a></small></p>
          </fieldset>
        </form>
        <hr/>
        <h4 class="gray">Or you can login using:</h4>
        <ul class="inline">
          <li ng-repeat="p in providers" class="provider-btn">
            <button ng-click="authenticate(p)" class="btn btn-large btn-block"><img ng-src="/img/auth/{{p.name}}.png"/></button>
          </li>
        </ul>
      </div>
      
      
    </div>
  </div>
</section>
