<li><a ng-hide="user.isAuthenticated()" ng-class="getClass('/login')" href="/login">Login</a></li>
<li><a ng-hide="user.isAuthenticated()" ng-class="getClass('/signup')" href="/signup">Sign Up</a></li>

<!-- signed -->
<li ng-class="getClass('/account')"><a ng-show="user.isAuthenticated()" href="/account/"><span  ng-show="user.isAdmin()"><b>root </b></span><span ng-bind="user.display()"></span></a></li>
<li><a ng-show="user.isAuthenticated()" href="" ng-click="logout()">logout</a></li>
<li><a ng-show="user.shops.length" href="#product-edit" data-toggle="modal" role="button"><i class="icon-plus"></i>&nbsp;Add</a></li>


