
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

  <div class="butter-bar active success back " ng-cloak ng-show="user.email.status !== true">
    <p class="butter-bar-message">
      Vous devez valider votre profile pour finaliser votre inscription.
    </p>
  </div>


  <aside ng-include="'/partials/account/cover.html'" class="cover cover-home img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          
      <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          

      <!-- ORDERS -->
      <div class="well well-small " style="width:100%;float:left;">
        <div ng-hide="user.orders.length" class="span12">
          <h5 class="article-group-title ">
            <span class="bucket-header-title">Vous n'avez pas de commande enregistré.</span>
          </h5>
        </div>
        
        <h5 ng-show="user.orders.length" class="article-group-title " >
          <span class="bucket-header-title">Vos commandes</span> 
        </h5>
      </div>          

      <!-- LOVE -->
      <div  class="well well-small " style="width:100%;float:left;">
        <div ng-hide="user.likes.length" class="span12">
          <h5 class="article-group-title ">
            <span class="bucket-header-title">Vous n'avez pas de produits préférés.</span>
          </h5>
        </div>
        
        <h5 ng-show="user.likes.length" class="article-group-title " >
          <span class="bucket-header-title">Vos coups de coeur</span> 
        </h5>
      </div>          
    
      <!-- SHOP LIST -->
      <div class="well well-small " style="width:100%;float:left;margin-bottom:100px">
        <div ng-hide="user.shops.length" class="span12">
          <h5 class="article-group-title ">
            Vous n'avez pas de boutique enregistré.
          </h5>
        </div>
        
        <h5 class="article-group-title " >
          <span class="bucket-header-title">Vos boutiques</span> 
        </h5>

          <ul ng-repeat="shop in user.shops" class="-unstyled " ng-show="user.shops.length" >
            <li class="block span12">              
              <p class="-well-small">
                <i class="icon-fire"></i>
                <a href="/shop/{{shop.urlpath}}">{{shop.name}}</a><span ng-hide="shop.status == true" class="help-inline"><i class="icon-ok"></i>&nbsp;</span>
                <span ng-bind-html-unsafe="shop.description"></span>&nbsp;
                <input type="submit" ng-click="deleteShop(shop)" value="Supprimer" class="btn btn-small"/>
              </p>
              
            </li>
          </ul>
      </div>
 



      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>
