
<section id="content" ng-controller="AccountCtrl" class="container">
  <h2 class="text-center sexy" id="section-header">Gérer votre mot de passe</h2>
  <br/>
  <div ng-include="'/partials/account/navigation.html'"></div>
  <div class="frame frame-white">
        <div ng-hide="user.hash" class="alert alert-block alert-error">
          You have not created a password yet. Create a password now
          to ensures that you don't loss access to your account.
        </div>
        <form name="form" novalidate="novalidate" class="form-horizontal">
          <fieldset>
            <h4 class="box ">Vos données personnelles</h4>        
            <div class="control-group">
              <label for="email" class="control-label"><strong>Email</strong></label>
              <div class="controls">
                <input required ng-model="user.email.address" type="email" id="email" name="email"/>
                <span ng-show="form.email.$valid" class="help-inline">
                  <i class="icon-ok"></i>
                </span>
              </div>
            </div>
            <div ng-show="user.hash" class="control-group">
              <label for="current" class="control-label"><strong>Current Password</strong></label>
              <div class="controls">
                <input ng-model="user.password.current" type="password" id="current"/>
                <p class="  small"><a href="/account/recovery">Forgot your password?</a></p>
              </div>
            </div>
            <div class="control-group">
              <label for="new" class="control-label"><strong>New Password</strong></label>
              <div class="controls">
                <input required pattern=".{4,31}" ng-model="user.password.new" type="password" id="new"/>
              </div>
            </div>
            <div class="control-group actions">
              <input type="submit" ng-click="updateUser(user)" ng-disabled="form.$invalid || waitText" value="{{waitText || 'Submit'}}" class="btn btn-success btn-large"/>
            </div>
          </fieldset>
        </form>
  </div>
</section>

