
  
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

  <div class="butter-bar active error back " ng-cloak ng-hide="user.hash">
    <p class="butter-bar-message">
      Vous n'avez pas encore crée votre mot de passe. Créer votre mot de passe maintenant
      pour ne perdre l'accès à votre compte.
    </p>
  </div>


  <aside ng-include="'/partials/account/cover.html'" class="cover cover-home img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          
      <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          

      <div class="well well-small">
            <form name="form" novalidate="novalidate" class="form-horizontal">
              <fieldset show="user.email.status==true">
                <h5 class="article-group-title " >
                  <span class="bucket-header-title box">Vos données personnelles</span> 
                </h5>

                <div class="control-group">
                  <label for="email" class="control-label"><strong>Email</strong></label>
                  <div class="controls">
                    <input required disabled="true" ng-model="user.email.address" type="email" id="email" name="email"/>
                    <span ng-show="form.email.$valid" class="help-inline">
                      <i class="icon-ok"></i>
                    </span>
                  </div>
                </div>
                <div ng-show="user.hash" class="control-group">
                  <label for="current" class="control-label"><strong>Current Password</strong></label>
                  <div class="controls">
                    <input ng-model="user.password.current" type="password" id="current"/>
                    <p class="  small"><a href="/account/recovery">Forgot your password?</a></p>
                  </div>
                </div>
                <div class="control-group">
                  <label for="new" class="control-label"><strong>New Password</strong></label>
                  <div class="controls">
                    <input required pattern=".{4,31}" ng-model="user.password.new" type="password" id="new"/>
                  </div>
                </div>
                <div class="control-group actions">
                  <input type="submit" ng-click="changePassword(user.email.address, user.password)" ng-disabled="form.$invalid || waitText" value="{{waitText || 'Submit'}}" class="btn btn-success btn-large"/>
                </div>
              </fieldset>
            </form>
      </div>

      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>
