<div tabindex="-1" class="screen-content" ng-controller="AccountCtrl">
  

  <aside ng-include="'/partials/account/cover.html'" 
         class="cover cover-home img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>

  <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner"  ng-init="checkPaymentMethod()">


        <!--                               -->
        <!-- PAYMENT                       -->
        <!--                               -->

        <div>
          <div>
            <h4 class="article-group-title black">Quelle méthode de paiement utiliser?</h4>
            <p class="help-block">Toutes les transactions sont effectuées via une connexion sécurisée.
            </p>
          </div>

          <div class="payment">     
            <ul class="list-group clearfix">
              <!-- THE ONES SAVED -->
              <li class="list-group-item clearfix"                             
                         ng-repeat="method in user.payments" 
                         ng-class="{'disabled':methodStatus[method.alias]}">
                <div class="col-xs-3 col-sm-2 nopadding " >
                  <img ng-src="/img/payments/{{pm[method.issuer.toLowerCase()]}}" class="img-thumbnail img-responsive" alt="" />
                </div>
                <div class="col-xs-9 col-sm-10 " >
                  <h4 class="list-group-item-heading ">{{method.number}} <span class="bold green" payments-date="{{method.expiry}}">{{method.expiry}}</span></h4>
                  <p class="list-group-item-text comment-text" >
                    <abbr  ng-show="methodStatus[method.alias]" title="{{methodStatus[method.alias]}}">Cette méthode de paiement n'est plus valide</abbr>
                    <button class="btn btn-xs btn-transparent hide"
                            ng-click="options.showPaymentOptions=true;">modifier</button>
                    <button class="btn btn-xs btn-danger pull-right"
                            ng-click="deletePaymentMethod(method.alias)">supprimer</button>
                  </p>
                </div>
              </li>
              <!-- END OF CARD -->
            </ul>
            <div ng-show="user.payments.length" style="padding:10px" class=" help-block">
              <a href="" ng-click="options.showPaymentOptions=true" >
                Ajouter une méthode de paiement?
              </a>
            </div>

            <div class="list-group clearfix" ng-show="!user.payments.length || options.showPaymentOptions">
              <!-- VISA - MC -AE -->
              <a href="" class="list-group-item" 
                         ng-class="{'active':options.showCreditCard==='vma'}" 
                         ng-click="options.showCreditCard='vma';">
                <div class="col-xs-3 col-sm-2 nopadding">
                  <img ng-src="/img/payments/vma.jpg" class="img-thumbnail img-responsive" alt="" />
                </div>
                <div class="col-xs-9 col-sm-10 " >
                  <h5 class="list-group-item-heading heading-center">VISA - MasterCard - American Express</h5>
                </div>
              </a>
              <!-- POSTFINANCE CARD -->
<!--               <a href="" class="list-group-item" ng-class="{'active':options.showCreditCard=='pf'}" ng-click="options.showCreditCard='pf';">
                <div class="col-xs-3 col-sm-2 nopadding">
                  <img ng-src="/img/payments/pfc.jpg" class="img-thumbnail img-responsive" alt="" /></div>
                <div class="col-xs-9 col-sm-10 ">
                  <h5 class="list-group-item-heading">Postfinance Card</h5>
                  <p class="list-group-item-text comment-text hide">
                    Nécessitera l'utilisation de votre lecteur de carte.
                  </p>

                </div>

              </a>
 -->            </div>

            <!-- new card -->
            <div ng-include="'/partials/order/payment-card.html'" 
                 ng-if="options.showCreditCard=='vma'"></div>

<!--             <div ng-include="'/partials/order/payment-postfinance-ecommerce.html'" 
                 ng-if="options.showCreditCard=='pf'"></div>
 -->
          </div>


          <div class="row col-xs-12">
            <hr/>
          </div>

        </div>


        <footer class="wrapper-footer wide" ng-include="'/footer.html'"></footer>
      </div>
   </section>
</div>
