
  
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  

  <div class="butter-bar active success back " ng-cloak ng-hide="user.shops.length">
    <p class="butter-bar-message">
      Vous n'avez pas encore crée votre boutique. Vous pouvez démarrer votre boutique après avoir lu la <a href="/charte" >charte</a>
    </p>
  </div>


  <aside ng-include="'/partials/account/cover.html'" class="cover cover-home img-loaded" >
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          
      <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          

      <h5 class="article-group-title " >
        <span class="bucket-header-title box">Ajouter une nouvelle boutique</span> 
      </h5>

      <div class=""  style="margin-bottom:40px;">
        <blockquote >
          <b>This is the rules of our community marketplace ...</b>
          <ol>
            <li>Vous êtes producteur d'aliment<pre>
              ...
            </pre></li>
            <li>Vous êtes revendeur d'aliment<pre>
              ...
            </pre></li>
            <li>Vous êtes un artisan<pre>
              ...
            </pre></li>
          </ol>
          <small>Kariboo </small>
        </blockquote>
      </div>        
      <form name="form" class="form-horizontal well well-small" style="margin-bottom:80px;">
        <fieldset>
          <!-- catalog -->
          <div class="control-group">
            <label class="control-label "><strong>Catalogue</strong></label> 
            <div class="controls small">
              <select  ng-model="shop.catalog " class="input-xlarge" required="true" >
                <option ng-repeat="cat in category.findAll() | filter:{type:'Catalog'}" value="{{cat._id}}">{{cat.name}}</option>
              </select>
            </div>
          </div>

          <!-- SHOP NAME -->
          <div class="control-group">
            <label for="name" class="control-label"><strong>Le nom de votre boutique</strong></label>
            <div class="controls">
                <input  ng-model="shop.name" type="text" required="true"  class="span6"/>          
                <p class="control-help">
                  <label for="cc" >I have read and I agree with the rules
                  <input id="cc" name="cc" type="checkbox" required="true"  ng-model="checked" class="btn"/></label>
                </p>
                <p class="small" ng-hide="user.email.status == true ">Pour créer une boutique vous devez avoir une <a href="/account/profile">adresse email valide</a>.</p>
            </div>
          </div>
          
          

          <!-- ACTIONS -->          
          <div class="control-group actions">
            <input type="submit" ng-disabled="form.$error.required || !checked" ng-click="createShop(shop)" value="Create a new shop" class="btn btn-success btn-large"/>
          </div>              
        </fieldset>
      </form>


      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>

