<section id="content" ng-controller="AccountCtrl" class="container">
    <h2 class="text-center sexy" id="section-header">Ajouter une nouvelle boutique</h2>
    <br/>
    <div ng-include="'/partials/account/navigation.html'"></div>
    <div class="frame frame-white container">
       <div class="box ">
          <p>You don't have a shop or you want a new one?</p>
          <blockquote >
            <b>This is the rules of our community marketplace ...</b>
            <ol>
              <li>Vous êtes producteur d'aliment<pre>
                ...
              </pre></li>
              <li>Vous êtes revendeur d'aliment<pre>
                ...
              </pre></li>
              <li>Vous êtes artisan<pre>
                ...
              </pre></li>
              <li>Vous offrez vos services<pre>
                ...
              </pre></li>
            </ol>
            <small>Delphine S.A.</small>
          </blockquote>
        </div>        
       <form name="form" class="form-horizontal container">
         <div>
          <div ng-show="FormErrors" class="alert alert-error">
            {{FormErrors}}
          </div>    
          <div ng-show="FormInfos" class="alert alert-info">
            {{FormInfos}}
          </div>
         </div>

         <fieldset>
          <!-- catalog -->
          <div class="control-group">
            <label class="control-label "><strong>Catalogue</strong></label> 
            <div class="controls small">
              <select  ng-model="shop.catalog " class="input-xlarge" required="true">
                <option ng-repeat="cat in category.findAll() | filter:{type:'Catalog'}" value="{{cat._id}}">{{cat.name}}</option>
              </select>
            </div>
          </div>

          <!-- SHOP NAME -->
          <div class="control-group">
            <label for="name" class="control-label"><strong>Le nom de votre boutique</strong></label>
            <div class="controls">
                <input  ng-model="shop.name" type="text" required="true"  class="span6"/>          
                <p class="control-help">
                  <label for="cc" >I have read and I agree with the rules
                  <input id="cc" name="cc" type="checkbox" required="true"  ng-model="checked" class="btn"/></label>
                </p>
                <p class="small" ng-hide="user.email.status == true ">Pour créer une boutique vous devez avoir une <a href="/account/profile">adresse email valide</a>.</p>
            </div>
          </div>
          
          

          <!-- ACTIONS -->          
          <div class="control-group actions">
            <input type="submit" ng-disabled="form.$error.required || !checked" ng-click="createShop(shop)" value="Create a new shop" class="btn btn-success btn-large"/>
          </div>              
        </fieldset>
      </form>
    </div>
</section>

