
<section ng-controller="AccountCtrl" >
  <div class="row">
    <form class="form-account mg-btm" novalidate name="identity">
      <h3 class="heading-desc">
        Créer un compte
      </h3>

      <div class="main-account">          
        <!-- FNAME -->
        <input required ng-model="reg.name.givenName" placeholder="Prénom" type="text" name="name1" class="form-control input-lg" />
        <span ng-hide="identity.name1.$invalid" class="accout-field-valid"><i class="icon-ok green"></i></span>
        <!-- NAME -->
        <input required ng-model="reg.name.familyName" placeholder="Nom" type="text" name="name2" class="form-control input-lg"/>
        <span ng-hide="identity.name2.$invalid" class="accout-field-valid"><i class="icon-ok green"></i></span>
        <!-- EMAIL -->
        <input name="email" placeholder="Email" required ng-model="reg.email.address" type="email" class="form-control input-lg login"/>
<!--         <span ng-hide="form.email.$invalid" class="accout-field-valid"><i class="icon-ok green"></i></span>
 -->
        <!-- PASSWORD -->
        <input class="form-control input-lg " required ng-minlength=6 ng-model="reg.password.new" type="password" name="password" 
          placeholder="Mot de passe (minimum 6 caractères)"/>
        <span ng-hide="identity.password.$invalid" class="accout-field-valid"><i class="icon-ok green"></i></span>
        <input class="form-control input-lg " required ng-minlength=6 ng-model="reg.password.copy" type="password" name="copy" 
          placeholder="Confirmer mot de passe"/>
        <span ng-hide="identity.copy.$invalid || reg.password.copy!=reg.password.new" class="accout-field-valid"><i class="icon-ok green"></i></span>

      </div>      

      <div class="account-footer">
        <div class="row">
          <div class="col-xs-6 col-md-6">
              <div class="left-section" ng-hide="user.isAuthenticated()">
                <a href="/login">J'ai déjà un compte.</a>
              </div>
          </div>
          <div class="col-xs-6 col-md-6 pull-right">
              <button type="submit" 
                ng-click="createAccount(reg)" ng-disabled="identity.$invalid || WaitText ||user.password.copy!=user.password.new"  
                ga-send="{category:'account',action:'register'}" 
                class="btn btn-lg btn-success pull-right  ">
                <i ng-class="{'icon-gear':WaitText}"></i>
                Submit
              </button>

          </div>
        </div>    
      </div>
    </form>
  </div>    

</section>
