
<section ng-controller="AccountCtrl" class="container login text-center" >
  <div class="row">
    <div class="">
      <form nonvalidate name="form" class="span12 form box">
        <header>
          <h3 class="sexy">Créer un compte</h3>
        </header>
        <fieldset>
          <div class="">
            <div class="control-group">
                <input required ng-model="user.name.givenName" placeholder="Prénom" type="text" name="name1" class="input-big block" />
                <span ng-hide="form.name1.$invalid" class="valid"><i class="icon-ok green"></i></span>
                <input required ng-model="user.name.familyName" placeholder="Nom" type="text" name="name2" class="input-big block"/>
                <span ng-hide="form.name2.$invalid" class="valid"><i class="icon-ok green"></i></span>
            </div>
            <div class="control-group">
              <div class="controls">
                <input name="email" placeholder="Email" required ng-model="user.email.address" type="email" class="input-big block"/>
                <span ng-hide="form.email.$invalid" class="valid"><i class="icon-ok green"></i></span>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input class="input-big block" required pattern=".{4,31}" ng-model="user.password.new" type="password" name="password" 
                  placeholder="Votre mot de passe"/>
              </div>
            </div>
          </div>
          <hr/>
          <div >
            <input type="submit" ng-click="createAccount(user)" ng-disabled="form.$invalid || WaitText" value="{{WaitText || 'Signup'}}" class="btn btn-primary btn-large "/>
          </div>
          <hr/>
          <div >
              <p><small><a href="/login">J'ai déjà un compte?</a></small></p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
