
<div tabindex="-1"  id="null" class="screen-content" ng-controller="AccountCtrl">
  



  <aside ng-include="'/partials/account/cover.html'" 
         class="cover cover-home img-loaded" 
         ng-class="{'session':user.isAuthenticated()}">
  </aside>


   <section class="wrapper" tabindex="-1">
      <div class="wrapper-inner">



      <!--                               -->
      <!-- NAVIGATION -->
      <!--                               -->                          
      <div  class="bucket post-bucket homepage-posts" ng-include="'/partials/account/navigation.html'"></div>


      <!--                               -->
      <!-- CONTENT                       -->
      <!--                               -->                          



      <!-- THANKS VALIDATE -->
      <br/>
      <div class="alert alert-success" role="alert">
        <strong>Merci d'avoir validé votre adresse email!</strong> <br/>
        Vous pouvez <a href="/">poursuivre vos achats</a> <span ng-if="cart.quantity()">ou finalisez <a href="/order">votre commande courante</a>.</span>
      </div>



      <!-- FOOTER -->              
        <footer class="wrapper-footer" ng-include="'/footer.html'"></footer>

      </section>
   </section>
</div>
